[2017-08-03 22:46] aaronpk opened #1 "Support custom OAuth servers in config"
I'd love to be able to change the OAuth server that this uses to a custom server. Given that it's using the generic OAuth client, it looks like you'd just need to add a few settings to the `config.yml` file.

The OAuth client [[1]](https://github.com/bnfinet/lasso/blob/master/handlers/handlers.go#L54) seems to take the following config values: `ClientID`, `ClientSecret`, `Scopes` and `Endpoint` wh

[2017-09-25 02:56] bnfinet commented on #1
implemented at https://github.com/bnfinet/lasso/commit/57e83cfdd5bf7c8f7c0c09a4098aab1f76dfafc1

[2017-09-25 02:56] #1 closed

[2017-12-02 20:12] aaronpk opened #6 "Catch error when redirect URL is not set"
I managed to crash Lasso by attempting the login flow without setting a URL to redirect to, e.g. just hitting `https://login.example.org/login` without `?url=....`

The error happens when it's trying to build the redirect URL [here](https://github.com/bnfinet/lasso/blob/master/handlers/handlers.go#L389).

[code]

[2017-12-04 15:27] aaronpk opened #8 "error: named cookie not present"
I'm seeing a lot of this in my logs:

[code]

I think it's coming from [this line](https://github.com/bnfinet/lasso/blob/master/handlers/handlers.go#L126) where it's logging the error and the return statement is commented out. That would suggest to me that it's not actually an error.

[2017-12-04 15:55] aaronpk opened #10 "runtime error: invalid memory address or nil pointer dereference"
If you provide a string with a space in it for the JWT, then it crashes with

[code]

e.g.

[code]

[2017-12-04 17:09] aaronpk commented on #8
I changed this to a debug in https://github.com/bnfinet/lasso/pull/11/commits/90d140c2ee3483fb1cfe5af496a8c89e60a062be

[2018-04-03 00:02] #10 closed

[2018-06-03 17:22] aaronpk opened #13 "Report an error when config is missing"
I managed to spend half an hour bashing my head against the wall trying to figure out what was failing. Turns out I had commented out the `generic` line in the config file, so none of my settings were being applied. Rather than erroring out, Lasso promptly redirected me to an OAuth URL with no host name, so was redirecting back to itself. It would have saved me a lot of time if it could have notic

[2018-08-18 17:47] aaronpk opened #16 "Return GitHub username instead of email address"
When configured for GitHub, the GitHub username should be returned instead of the user's email address

[2018-09-04 19:33] bnfinet opened #17 "separate config.yml_example_${provider} files for each of config.yml_example_oidc config.yml_example_github config.yml_example_google"
someone contacted us on IRC today and was slightly confused about the config setup.  By having separate example files it might be clearer

[2018-09-04 19:45] bnfinet commented on #17
testing

[2018-09-04 19:46] bnfinet opened #18 "test new issue (should announce on irc)"

[2018-09-04 19:46] #18 closed

[2018-09-05 22:18] gzzglc89 opened #19 "Error - no bucket for users"
When I try to authenticate a user I have this error:

ERRO[0014] no bucket for users
ERRO[0014] key required
2018/09/05 23:20:59 http: panic serving 127.0.0.1:57072: interface conversion: interface is nil, not string
goroutine 11 [running]:
net/http.(*conn).serve.func1(0xc420055600)
	/usr/lib/go/src/net/http/server.go:1491 +0x12a
panic(0x8a1c00, 0xc420012e40)
	/usr/lib/go/src/runtime/panic.go:458

[2018-09-05 23:00] bnfinet commented on #19
@aaronpk is this similar to the error you saw a few weeks ago?

@gzzglc89 my fuzzy recollection of @aaronpk's issue was that this occurred once the first time lasso was authenticated against and then it went away.  Is this the case with your error?

[2018-09-05 23:01] bnfinet commented on #19
FYI we're often in the IRC channel #lasso on freenode and can offer some support there

[2018-09-06 07:49] gzzglc89 commented on #19
@bnfinet I have this error every time I try to authenticate the user, not only the first time.

[2018-09-06 15:03] aaronpk commented on #19
I had this problem too at one point. IIRC I did something like delete the SQLite database and start over and it started working. I wasn't able to figure out the actual underlying issue.

[2018-09-07 11:07] #19 closed

[2018-09-07 12:11] bnfinet commented on #19
@gzzglc89 did that resolve the issue for you?

[2018-09-07 12:19] gzzglc89 commented on #19
@bnfinet it did not resolve but I'm using another way to authenticate so this is not needed

[2018-09-07 18:32] dmadams opened #20 "Error when getting token"
After receiving the id token Lasso is failing with the following error.

Logs:

`time="2018-09-07T18:11:26Z" level=info msg="OpenID userinfo body:  {\"sub\":\"*************************"}\r\n"
time="2018-09-07T18:11:26Z" level=debug msg="{  0 0 0}"
time="2018-09-07T18:11:26Z" level=debug msg="no domains configured"
time="2018-09-07T18:11:26Z" level=error msg="no bucket for users"
time="2018-09-07T1

[2018-09-07 18:52] bnfinet commented on #20
It would appear "no domains configured" is the issue.  Can you offer your configuration via hastebin?

[2018-09-10 02:44] i8ramin opened #21 "Invalid session state"
Hi. Trying to use this library and having some issues. Getting the following error message and not sure what it means.

[code]

Here is the repo I am working from: https://github.com/i8ramin/nginx-lasso

[2018-09-10 13:06] #21 closed

[2018-09-10 13:06] i8ramin commented on #21
never mind, issue on my end. resolved it.

[2018-09-10 13:09] bnfinet commented on #21
So glad to hear that you were able to get it working.  Could you elaborate slightly on the nature of the fix?  It might be helpful for others when encountering this error.

[2018-09-10 13:14] i8ramin commented on #21
I was hitting the wrong endpoint for the initial auth_request call. Here is the diff of the change -- https://github.com/i8ramin/nginx-lasso/commit/0c4e3e5c01447a2db9a56b8403d9d4779e3ebfee

So now the oauth2 handshake seems to be happening correctly, but I am facing another issue where I am not able to login or the system doesn't recognize that I am logged in, so I keep getting redirected to the o

[2018-09-10 16:21] bnfinet commented on #21
Thanks so much for adding that context.

[2018-09-20 08:11] QingsongYao opened #22 "get oauth2 401 Unauthorized in Github Enterprse 2.13"
In https://developer.github.com/enterprise/2.13/v3/oauth_authorizations/#more-info, I saw the token field is deprecated, not sure whether it has impact on this.

Logs
[code]

[2018-09-20 10:13] aaronpk commented on #22
It looks like the client ID or secret is missing. Double check that the client ID and secret are set in the config file. The example config file is a bit confusing as it has several examples of OAuth providers in it but you need just the one you're using, so make sure the others are commented out.

[2018-09-20 15:12] QingsongYao commented on #22
thanks, you are right, my token url was wrong.  Now, I am getting
oauth2: server response missing access_token

I am guessing https://github.com/LassoProject/lasso/blob/abe5646e267dd8859aa749e46ccc334044a2dad9/handlers/handlers.go#L498 always call github.com instead of github enterprise?

[2018-09-20 21:05] aaronpk commented on #22
Looks like yep, we'll need to add a config option to set the GitHub enterprise API URL.

[2018-09-20 21:20] QingsongYao commented on #22
Try with ```	userinfo, err := client.Get(genOauth.UserInfoURL + ptoken.AccessToken)
[code]

[2018-09-21 18:18] QingsongYao commented on #22
Found the root cause:
```level=error msg="no email found in jwt"```
If happens when user did not publish the email so that the API return null for email field.

[2018-09-21 18:29] bnfinet opened #23 "use username instead of email for github and github enterprise"
as per #22 there is an issue if user did not publish the email so that the API return null for email field

instead, use the `username` in the JWT

[2018-09-21 18:30] bnfinet commented on #23
thanks to @QingsongYao for discovering this bug

[2018-09-24 21:23] bnfinet opened #25 "set default URLs for github.com oauth flow"
add a github block to
https://github.com/LassoProject/lasso/blob/master/handlers/handlers.go#L58-L85

and add notes about defaults and using github enterprise to
https://github.com/LassoProject/lasso/blob/master/config/config.yml_example#L67-L78

this will move the #24 github default URLs up top next to where the google defaults are set

[2018-09-27 15:10] sciphilo opened #26 "User name not put into headers"
When I use this with Okta , while it authenticates, I am unable to get the username in the x-lasso-user header passed to my proxied server.  As far as I can see I'm following the instructions laid out in the wiki.  I'd just like to verify whether this 'should' work and whether anyone has any ideas what may be wrong here.

Thanks,
Phil

[2018-09-27 15:50] aaronpk commented on #26
Did you configure the generic OIDC provider in the Lasso config? Make sure the user info URL is set there: https://github.com/LassoProject/lasso/blob/master/config/config.yml_example#L80

Also make sure that this bit is set up as well: https://developer.okta.com/blog/2018/08/28/nginx-auth-request#bonus-who-logged-in

[2018-09-27 16:05] sciphilo commented on #26
Thanks for getting back to me.

Here's how I have lasso configured:

[code]

That all works- I can successfully authenticate.  It's this part which seems to not have any effect:

[code]

here's my nginx config:

[code]

My x-test header gets through fine.  But I see no X-Lasso-User in the proxied server, hence my fear that $auth_resp_x_lasso_user isn't populated.

[2018-09-27 18:50] bnfinet commented on #26
I've run into similar issues and it appears to be related to the scope of the variables in the nginx `location` blocks.

could you try copying
[code]
into the `location /` block just before the `proxy_set_header` directives?

[2018-09-27 18:53] bnfinet commented on #26
to verify that the `X-Lasso-User` header is being set you can browse directly to https://myserver:9090/validate after having logged in once

[2018-09-27 19:32] sciphilo commented on #26
Oh wow, that fixed it.  Thanks so much.  I needed the block you suggested in the location / block

[code]

[2018-09-27 19:32] #26 closed

[2018-09-27 20:09] bnfinet commented on #26
So glad that worked, feels like an `nginx` quirk that should be better documented.  My suspicion is that any variables set in a block below `/` (such as `/validate` in this case )  are not available to other locations that are above it.  However why it works for the `@error401` case doesn't seem to be consistent with that notion.  Perhaps there's a bug in the overall data structure that the `locat

[2018-09-27 21:11] bnfinet commented on #20
@dmadams were you able to resolve the issue?

[2018-09-27 21:29] sciphilo commented on #26
Out of interest: Are there other pieces of information (last name etc) that lasso surfaces back into nginx that we can pass on upstream in headers?

[2018-09-27 21:57] bnfinet commented on #26
No not currently though that could be an interesting feature.  Please feel
free to open an issue to suggest the enhancement.

On Thu, Sep 27, 2018, 2:29 PM Phil <notifications@github.com> wrote:

[2018-09-28 14:47] sciphilo opened #27 "Other data from IdP call to be made available in headers"
Feature request:

In the same vein as X-Lasso-user holds the email/user info and this can be passed back to nginx and upstream, it would be nice if any other information made available via the identity provider such as first name etc could also be made available to nginx.

[2018-09-28 16:45] sciphilo opened #28 "Alternate domain not respected"
In my Lasso config file I have:

[code]

and I've commented out the 'domains' part.  I hope this would allow users whose usernames are their emails and their emails are from different domains to login.  however it seems that lasso forbids this.  I can login fine if my email domain matches the domain of the server that lasso is protecting, but not if it's a alternate email domain (eg. gmail.com).

[2018-09-28 16:59] sciphilo commented on #28
Actually this is nothing to do with the domains assignment in the config file,  it's to do with a timeout when lasso calls Okta and I've installed my own cname in the okta preview.  Even though I have installed correct SSL certs it seems to timeout.

Here's a snippet of lasso log

[code]

Where myokta.cname.alias is a cname entry for an okta preview account.

I'm guessing this is due to slowness r

[2018-09-28 17:04] bnfinet commented on #28
because it has port `53` in there that might b a failed dns lookup for `myokta.cname.alias`

[2018-09-28 17:07] sciphilo commented on #28
When I run an nslookup from the lasso server on myokta.cname.alias it resolves ok.

[2018-09-28 17:17] sciphilo commented on #28
I can however sort my issue if I have the

user_info_url
and
token_url

settings pointed at the Okta preview url and the 'auth_url' pointed at my nicer named cname

Then it works as I'd want with the login page having the myokta.cname.alias url and the other urls being used behind the scenes.

[2018-09-28 21:35] bnfinet commented on #28
I've looked at the Oauth client [1] where the resolution is occurring.  There's a Context object [2] there however the full context config is not implemented in the Oauth code at this point [3].  That said, I don't see anything which would affect the dns resolution.

I strongly suspect that your browser is resolving the `auth_url` correctly while the lasso service is not seeing the CNAME resolutio

[2018-09-28 21:38] sciphilo commented on #28
Yeah, that would make sense.
I'm not running in Docker.

[2018-09-30 21:10] Skrylar opened #29 "IndieAuth has changed the name of their service"
Just an FYI, since reading the README and googling indieauth leads to a deprecation page.

[2018-10-02 20:39] #6 closed

[2018-10-02 20:43] #8 closed

[2018-10-02 21:35] #13 closed

[2018-10-09 20:46] bnfinet commented on #16
fixed!  thanks for your help testing @aaronpk

[2018-10-09 20:46] #16 closed

[2018-10-09 20:48] bnfinet commented on #23
@QingsongYao pretty sure the work on #16 fixed this, could you confirm?

[2018-10-09 20:54] QingsongYao commented on #23
Sure,  I will install and confirm it works. I wonder do we have a new docker image pushed or I will build one locally.

[2018-10-09 23:03] #29 closed

[2018-10-09 23:04] bnfinet commented on #29
thanks @Skrylar, @aaronpk just updated the README

[2018-10-10 00:07] bnfinet commented on #23
thanks so much @QingsongYao

the Docker build for https://hub.docker.com/r/bfoote/lasso/ is triggered by a push to the old repo at github.com/bnfinet/lasso

When we moved to github.com/LassoProject/lasso the trigger for the docker hub build apparently got severed.

I've setup https://hub.docker.com/r/lassoproject/lasso as a new Automated Build and also reestablished https://hub.docker.com/r/bfoote

[2018-10-10 00:07] #23 closed

[2018-10-11 19:50] bnfinet commented on #28
were you able to discover anything more @sciphilo ?

[2018-10-11 19:53] sciphilo commented on #28
No, I got it working as above with auth_url pointed to the non-okta-preview cname, and left the user_info_url and token_url settings pointed to the okta-preview url.  It works just fine then

[2018-10-11 23:44] bnfinet commented on #22
@QingsongYao would you be able to sanity check this...
https://github.com/LassoProject/lasso/blob/feature/config_fixes/config/config.yml_example_github_enterprise

Overall it should be much simpler now to configure Lasso for GitHub Enterprise

[2018-10-12 02:53] QingsongYao commented on #22
Yes. Verified that the new config works with latest docker and config. My userinfo url is something like
  user_info_url: "https://github_enterprise_url/api/v3/user?access_token=" which might be different than the one in the template.

[2018-10-19 18:10] #17 closed

[2018-10-19 18:10] #25 closed

[2018-10-19 18:14] #22 closed

[2018-10-29 11:30] pcros opened #35 "The name "Lasso" is already taken by our own library"
Hi,

I work for a french company, Entr'ouvert, and we developped, since 2003, a SAML library called Lasso : http://lasso.entrouvert.org/

It has been SAML 2 certified by the liberty Alliance consortium in 2006, it is packaged in Debian, Red Hat, etc. and used by third party projects such as mod_mellon, developed by Uninett in Norway.

It is also used by customers like Cisco, Bloomberg, Miracl and

[2018-11-02 21:27] cmollis opened #36 "redirect issue"
Hi-

So we use Okta internally here and I think this would be a nice addition to the toolbox, however it's somewhat difficult to test.  I tried to 'fake out' lasso a bit with nginx so I'm thinking that's my problem.

I think my lasso config is correct, because it seems to generate the proper redirect URL, but it doesn't actually redirect to Okta.

Here's my lasso config:

oauth:

  # Generic OpenI

[2018-11-02 22:15] bnfinet commented on #36
The config looks generally sound  as presented.

When you say "just doesn't finish the 302" which 302 do you mean?

it could be one of..
  302 to okta
  302 to ec2-18-234-210-151.compute-1.amazonaws.com:81/auth (lasso)
  302 to ec2-18-234-210-151.compute-1.amazonaws.com:80 (your service)

If you're seeing links posted back you have [`testing: true`](https://github.com/LassoProject/lasso/blob/maste

[2018-11-02 22:19] bnfinet commented on #36
also take a look at #28.  You may be running into an issue with CNAMEs and/or redirects and Okta's dev platform.

[2018-11-03 13:18] saveyour opened #37 "[FEATURE REQ] google authenticator?"
is there a way to use lasso to authenticate with the offline google authenticator tokens (like from the android app) ?

i see it has the ability to use google's OAUTH but it would be great if it could allow users to login by using the password generated from the app.

thanks!

[2018-11-03 13:28] cmollis commented on #36
ha!..  I had testing: true..   that fixed it :)..  now redirecting directly to Okta's login.   sorry for the (ultimately) dumb question.   Thanks for your help!

[2018-11-04 14:04] saveyour commented on #37
i would like to use google authenticator's 2FA feature without having to rely on passing data between the google servers and my servers. some users may not wish to have their personal google accounts associated with particular website they visit (via the SSO mechanism) so it would add much value by giving privacy-concerned people an option as well. thanks!

[2018-11-04 15:29] bnfinet commented on #37
You may care to look at Key Cloak..

https://www.keycloak.org/docs/3.3/server_admin/topics/authentication/otp-policies.html

After installing Key Cloak you'll have an hotp capable idp.  You can then setup lasso to use your Key Cloak as the oauth oidc provider.

There are a few other idps which might meet your criteria....

https://github.com/privacyidea/privacyidea/blob/master/README.rst

If you n

[2018-11-04 15:29] #37 closed

[2018-11-05 16:34] cmollis opened #38 "multiple redirects.. I think I know why.. but confirming"
so, over the weekend, i was able to get this (sorta) working with Okta.. I'm now getting the callback from okta..but it doesn't look like the JWT is set properly on the domain, so it goes into a redirect loop (with okta).  I think it's because I don't have an actual live domain for the lasso service so it doesn't set the JWT correctly (but I'm not sure).  Here is the output from lasso:

ERRO[0015]

[2018-11-05 22:09] bnfinet commented on #38
I'm going to close this and move us back to #36

[2018-11-05 22:09] #38 closed

[2018-11-05 22:12] bnfinet commented on #36
as per your note in #38 ...

if you go directly to where lasso is running and test...
https://ec2-18-234-210-151.compute-1.amazonaws.com:81/validate
it should return `200 OK`.  Is that the case?

What do you have for the `lasso.domains` config option?
this is the domain that the cookie will be set into (must match Okta callback URL)

What lasso protected URL are you trying to access?
(must be with

[2018-11-06 00:54] cmollis commented on #36
ok.  I think I've figured it all out.  I actually went back to my config.yml and removed all of the jwt block (so it looks like config.yml_example_oidc).   For whatever reason, this fixed the redirect issue.  Now it redirects to Okta, and back and then ultimately to my proxied host.   It's definitely good enough to demo to some folks at my client.  I've worked quite a bit with Okta's API and it's

[2018-11-06 15:17] cmollis commented on #36
thanks for your help with all of this.  Seems to be working pretty well with Okta.  However, I have a couple of questions regarding the JWT and session management. (and the jwt block in the config.yml wasn't the issue.. it's something to do with the session block.. but anyway).

so it *appears* that the maxAge of the jwt is actually in minutes.. I set the value to something pretty low (1), and che

[2018-11-06 16:54] mikebryant opened #39 "Can tagged builds be turned on?"
In the automated build configuration, add a section to match all tags. This would allow us to have builds of releases, instead of having to follow a moving target.

[2018-11-06 16:56] bnfinet commented on #39
Do you mean the docker automated build on docker hub?

On Tue, Nov 6, 2018, 8:54 AM Mike Bryant <notifications@github.com wrote:

[2018-11-06 16:59] mikebryant commented on #39
Yes

[2018-11-06 17:58] cmollis opened #40 "OAuth Provider logout?"
Can the OAuth provider logout be implemented?  For Okta, this would require the passing an id_token.. which could be obtained using the access_token obtained obtained here:

providerToken, err := cfg.OAuthClient.Exchange(oauth2.NoContext, r.URL.Query().Get("code"))

[2018-11-06 19:49] bnfinet commented on #39
I've adjusted the docker build settings to include tags
https://hub.docker.com/r/lassoproject/lasso/~/settings/automated-builds/

I'll close the issue after the next tag push and confirming the tagged docker image build for `lassoproject/lasso:0.2.13`

Just curious, have you noticed a regression or something in particular that informs your request?

[2018-11-06 19:53] mikebryant commented on #39
Oh, no, not noticed any issues. I'm wanting to use it for work purposes and we've got a policy about never using latest, always pinning versions for reproducibility.

I thought it was worth asking because with automated builds it's easy to enable :)

Thanks for changing this :)

[2018-11-06 19:58] bnfinet commented on #39
np, easily done.

While I've got your attention, can I ask if your org uses `HEALTHCHECK` in its docker infra?  I'm looking ahead at adding a `/healthcheck` endpoint (just ping/heartbeat initially).  Would HEALTHCHECK in the Dockerfile be of use to your org?

[2018-11-06 20:01] mikebryant commented on #39
We run kubernetes. An endpoint like that would be useful for kubernetes readiness or liveness probes, though the HEALTHCHECK command itself would be ignored by our infrastructure

[2018-11-06 20:56] bnfinet commented on #36
Could you please share your `jwt` config that was not working?

yep, that's a documentation bug.  Good catch!

That's correct the `jwt.MaxAge` setting is enforced by setting the timeout on the cookie (cookie MaxAge managed by the browser) and the jwt expiration claim (checked by lasso)

`lasso` does not currently implement a refresh token OAuth flow [1].  I'm not opposed to that addition but there

[2018-11-06 21:53] bnfinet commented on #39
its building as `lassoproject/lasso:v0.2.13`

I've adjusted the tags to be `lassoproject/lasso:0.2.13` instead as per..
https://stackoverflow.com/questions/25328166/docker-hub-automated-build-tagging

[2018-11-06 22:56] bnfinet commented on #39
works! https://hub.docker.com/r/lassoproject/lasso/builds/

[2018-11-06 22:56] #39 closed

[2018-11-07 15:13] mikebryant opened #41 "OIDC Discovery support?"
Instead of setting all the URLs individually, can we use OIDC discovery?

e.g. specify server url and then use `/.well-known/openid-configuration`

[2018-11-07 15:13] mikebryant commented on #41
https://openid.net/specs/openid-connect-discovery-1_0.html

[2018-11-07 16:41] cmollis commented on #36
Regarding JWT issue.. actually not a config issue.. not sure why it wasn't working (probably something I did), but it works now.  here it is:
jwt:
    # secret: a random 18 character string used to cryptographically sign the jwt
    # if the secret is not set here then..
    # look for the secret in `./config/secret`
    # if `./config/secret` doesn't exist then randomly generate a secret and stor

[2018-11-07 16:42] cmollis commented on #36
closing this one.  Thanks again.

[2018-11-07 16:42] #36 closed

[2018-11-07 16:54] bnfinet commented on #36
Would love to have the help.  If you'd like to hack on it, please open an
issue to discuss.  The use case I'm concerned about is "how to fire bob"
where you'd prefer just to turn off the account at the IdP.

On Wed, Nov 7, 2018, 8:42 AM cmollis <notifications@github.com wrote:

On Nov 7, 2018 8:42 AM, "cmollis" <notifications@github.com> wrote:

Closed #36 <https://github.com/LassoProject/lasso/is

[2018-11-08 20:20] bnfinet commented on #41
Seems like a good idea.  There's certainly broad support...

 * auth0 [1] https://YOUR_AUTH0_DOMAIN/.well-known/openid-configuration
 * keycloak [2] <root>/auth/realms/{realm-name}/.well-known/openid-configuration
 * okta [3] https://{yourOktaDomain}/oauth2/${authServerId}/.well-known/openid-configuration
 * https://accounts.google.com/.well-known/openid-configuration
 * https://login.salesforce.c

[2018-11-13 20:46] pmspire opened #42 "Too many redirects issue"
I looked through what appear to be related (closed) issues, but was not able to find a solution to my problem. I hope you can help.

I have Lasso (compiled binary, not docker container) running on one host, proxied behind NGINX with SSL, with its own hostname (`lasso.[domain].com`). I have a basic NGINX static site for testing with Lasso, running on a separate host, with its own hostname (`foo.[do

[2018-11-13 23:34] bnfinet commented on #42
I'm traveling atm but just quickly...

Could you try turning `allowAllUsers: true` to `allowAllUsers: false`.  If you're using a whitelist, then you don't want `allowAllUsers` on.

If that doesn't work I can take a closer look tomorrow

[2018-11-13 23:45] pmspire commented on #42
Hi Ben, thanks for responding. I tried `allowAllUsers: false`, but I still fall into the redirect loop.

I had set `allowAllUsers: true` with the thought that that, combined with `whiteList` entries, would let me authenticate a selected set of users from any domain, without setting anything under `domains`. Is using `allowAllUsers: false`, no `domains` section, and a `whiteList` section the right

[2018-11-13 23:51] bnfinet commented on #42
'domains' are the ones that you are managing and is required in this case.
It's where the lasso cookie will be set.

On Tue, Nov 13, 2018, 4:45 PM Paul Madden <notifications@github.com wrote:

[2018-11-14 00:59] pmspire commented on #42
Aha, that's the ticket. Now my (simplified) config works fine:
[code]
Thank you for the clarification. And thanks for Lasso!

[2018-11-14 00:59] #42 closed

[2018-11-14 01:49] bnfinet commented on #42
Glad that it's working.  Feel like there's either a documentation bug or
possibly a configuration bug here.  I'll look at that angle

On Tue, Nov 13, 2018, 4:59 PM Paul Madden <notifications@github.com wrote:

[2018-11-25 00:06] bnfinet commented on #35
Thanks for reaching out.

We are in the process of renaming "lasso" to "vouch" and will move the repository to https://github.com/vouch/vouch

If you or your customers who are using `nginx` should ever need to secure their private sites with OAuth2/OIDC please do consider letting them know about **vouch**.

[2018-11-26 07:45] pcros commented on #35
Hi,

Good news.

Thank you and long live Vouch!

[2018-11-27 04:08] #35 closed

[2018-12-21 13:03] mikebryant opened #43 "Passing original JWT through as a header"
Would it be possible to pass the original JWT (from the openid provider) back as a header from the validate request?

I'm trying to use nginx/lasso in front of the istio gateway, and if I could use lasso to do the openid redirection and pass on the jwt to istio, I could then use istio authorization.

[2018-12-21 13:37] mikebryant commented on #43
Alternatively, copying the claims, in particular `groups`, from the original JWT into the lasso jwt and providing an endpoint to get the lasso public key would be reasonable

[2018-12-29 16:53] joshkay opened #44 "502 Bad Gateway"
I have been trying to get this up and running for the last couple of days, but have been unsuccessful.  Can someone point out what I am doing wrong?

I am running lasso in docker and encounter a 502 error when I am redirected to the lasso login.  I am trying to authenticate using nginx.  It looks like the none of the upstream variables are being set properly, but I am quite new to this area.

[cod

[2018-12-29 18:42] bnfinet commented on #44
I won't be able to look at this closely until the new year but I'll try to
chime in...

502 probably means nginx can't see lasso upstream.

Is nginx in a separate container of it's own?  Can the nginx reach lasso
at...
http://127.0.0.1:9090/validate

Best of luck

On Sat, Dec 29, 2018, 8:54 AM Josh Kay <notifications@github.com wrote:

[2018-12-29 20:46] joshkay commented on #44
Thanks for the quick response!  No rush at all.

They are both running in separate containers.  How can I test if nginx can reach that url?

I can go to login.REDACTED_URL/login and it shows `/login no destination URL requested.`, so the reverse proxy seems to be working properly.

[2018-12-30 19:50] bnfinet commented on #44
Okay, took a quick look here, it looks like there's something wrong with your config.  Is `oauth.provider` set?

Did you start with one of the basic configs?
https://github.com/LassoProject/lasso/blob/master/config/config.yml_example_google

can you please post your (redacted) `config.yml`

[2018-12-30 22:21] joshkay commented on #44
I was trying to authenticate using oidc after following a tutorial.  I scrapped that config and tried from scratch using google auth.  It works properly when I set `allowAllUsers` to true, but when I set it to false with a whitelist for my google email it doesn't load with a `redirected you too many times.` error.

Seems like I'm having the same issue as https://github.com/LassoProject/lasso/issue

[2018-12-31 07:46] big-kahuna-burger opened #45 "Flexible structures?"
Any idea how to approach this with configurable storage/model/structures?
I've configured this almost all the way but I have problem with `user.Id` being int...

[2018-12-31 07:49] big-kahuna-burger commented on #41
It's not overriding the spec.
Its just using 1 endpoint to get what is configured with 3 values in config instead. Less error prune.

[2019-01-03 20:00] bnfinet commented on #45
`User.ID` is a primary key set from a sequence number generated by the db (`boltdb`) at..
https://github.com/LassoProject/lasso/blob/master/pkg/model/user.go#L34-L35

`User.Username` carries the text user handle (often an email address)

What's your desire for modifying user.Id?  What would you like to accomplish?

Happy New Year and Happy Hacking!

[2019-01-03 22:51] bnfinet commented on #44
I am personally running a config that is identical to the one that you have presented.

Does `lasso.domains[0]` represent a domain present in `oauth.callback_urls[0]`?  And, is the domain that lasso is running at present in `lasso.domains[0]`?  (should be since that's your callback).

The lasso jwt is getting set as a cookie into `lasso.domains[0]` so any site that is protected by lasso needs to b

[2019-01-04 02:18] big-kahuna-burger commented on #45
I haven't read whole source, got some error here related to being `impossible to marshal _something_ into _something_`, which I thought of as problem related to what I return from our OAuth2 `/userinfo` endpoint. Point being here, is that I've used generic oidc config with our own oidc provider.

Anyway, thanks for your help!

[2019-01-04 02:18] #45 closed

[2019-01-04 02:21] bnfinet commented on #45
can I ask which OIDC provider you're using?

[2019-01-04 02:38] big-kahuna-burger commented on #45
We are implementing it ourselves (myself to be precise) using `oauth2orize`. While it is ok to implement it with oauth2orize, my idea is to switch in future to panva's [node-oidc-provider](https://github.com/panva/node-oidc-provider), since it's OIDC compliant/certified.

[2019-01-04 04:05] joshkay commented on #44
Happy New Year to you too!  Thanks so much for all of the help so far.

My domain is essentially `domainname.com` and my callback url is `https://login.domainname.com/auth`.  So the domain is present in the callback_url.

The domain that lasso is running at is `https://login.domainname.com`.  Is that the correct setup?

[2019-01-04 04:17] bnfinet commented on #44
Is allowAllUsers set in your config?  It would appear that it is not.

[2019-01-04 04:19] bnfinet commented on #44
And to be clear, it no longer panics at startup, is that right?

[2019-01-04 05:44] bnfinet commented on #44
My guess is that there's some problem with setting and then reading the cookie back from the domain.

Is https://login.domainname.com behind the same nginx revproxy?  Does login.domainname.com enforce login to lasso? (it shouldn't)

If you go to https://login.domainname.com/validate what does it say?

Try changing your nginx config to use `proxy_pass http://127.0.0.1:9090` instead of `proxy_pass h

[2019-01-04 22:49] joshkay commented on #44
https://login.domainname.com is behind its own nginx revproxy.  Here's the server config for it:

[code]

If I go to https://login.domainname.com/validate it says `no jwt found in request`.

I tried changing the `proxy_pass` and adding `internal`, but that seems to change nothing.

I feel as though I am missing something very simple.  After setting testing to true I can see that it is just bouncin

[2019-01-04 23:06] bnfinet commented on #44
Yes that looks correct.

What browser are you using?

If you go into Developer Tools and look at the Cookies do you see a cookie named "LassoCookie" set into the Domain ".domainname.com"?

[2019-01-04 23:31] joshkay commented on #44
Using chrome.

Don't see that cookie.  Only lasso session on https://login.domainname.com

[2019-01-04 23:47] bnfinet commented on #44
With testing on, do you see a header to set the cookie?

[2019-01-05 00:03] joshkay commented on #44
When I first try go to https://domainname.com with test mode on I am greeted with the redirect to `https://accounts.google.com/o/oauth2/auth?client_id=REDACTEDhd=&redirect_uri=https%3A%2F%2Flogin.domainname.com%2Fauth&response_type=code&scope=https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fuserinfo.email&state=ScW4kVlOfRXYR0tYX3XGRkPXOAwMTO1X9DFoDqJAWIc%3D.`

There's a header to delete the cookie there:

[2019-01-05 00:32] joshkay commented on #44
Got it working!  There was an issue with my nginx config.

I added `proxy_set_header X-Lasso-User $auth_resp_x_lasso_user;` to my location.
I replaced my validate location with the one in the README.
I also set my proxy_pass to `proxy_pass https://login.domainname.com/validate;` instead of the IP.

Thank you very much for all of your help!

[2019-01-05 00:35] big-kahuna-burger commented on #44
@joshkay Could you share your complete config in a gist (nginx and lasso) with redacted domain names and variables for comparison?

[2019-01-05 01:52] bnfinet commented on #44
You are very welcome @joshkay .  Hope it's smooth sailing from here on.

Please do offer your correct config here (HT @big-kahuna-burger)

closing

[2019-01-05 01:52] #44 closed

[2019-01-06 09:41] AlekseiPipl opened #47 ""401 Authorization Required" and "no jwt found in request""
Hi guys,
I would be very appreciated for any help.
I'm using Kibana both with searchguard and nginx for security, and it's configured and working.
Now I want to use lasso for aouth Google authentication for this Kibana.

I followed the steps described here, created a web application in Google, created lasso conf file with all the needed credentials, configured nginx, but when trying to run the URL

[2019-01-06 09:53] bnfinet commented on #47
Your callback url will need to be in the xxx.com domain so that lasso can
set the jwt cookie into xxx.com

On Sun, Jan 6, 2019, 1:41 AM AlekseiPipl <notifications@github.com wrote:

[2019-01-06 12:04] AlekseiPipl commented on #47
I made some changes in conf files, now I don't have many of redirects, and also seems like the URL that I'm been redirected to, is OK. Buy still, no Google login page appears.
Now the conf file of lasso looks like this -
[code]

NGINX -
[code]

logs -
[code]

Now, when I'm heading to jopa-test.XXXX.com, I'v been redirected to -
[code]
which seems OK according to your readme file, but what could be

[2019-01-06 13:11] bnfinet commented on #47
You do not appear to be using lasso in your callback url.  Please adjust
that and try again.

On Sun, Jan 6, 2019, 4:04 AM AlekseiPipl <notifications@github.com wrote:

[2019-01-06 13:36] bnfinet commented on #47
Yes, you must redirect back to lasso so that lasso can verify the oauth and
get the user data (via the backed third leg request directly to Google) and
then issue a jwt cookie into your domain.

On Sun, Jan 6, 2019, 5:27 AM AlekseiPipl <notifications@github.com wrote:

[2019-01-06 13:37] AlekseiPipl commented on #47
Understood, tried it already, getting same error :(

[2019-01-06 13:39] AlekseiPipl commented on #47
[code]

[2019-01-06 13:44] bnfinet commented on #47
Can you please post your updated configs along with debug output.  That is
most helpful in this situation and is much appreciated.

You can also try setting 'lasso.testing' to true, which will force a click
through instead of redirection, which can help to slow things down a bit.

On Sun, Jan 6, 2019, 5:37 AM AlekseiPipl <notifications@github.com wrote:

[2019-01-06 13:46] bnfinet commented on #47
I don't see a request to '/auth' in your log

On Sun, Jan 6, 2019, 5:39 AM AlekseiPipl <notifications@github.com wrote:

[2019-01-06 13:53] AlekseiPipl commented on #47
Sure, thanks.
Here is lasso config:
[code]

NGINX -
[code]

debug lasso logs -
[code]

[2019-01-06 14:08] bnfinet commented on #47
I still don't see a request to '/auth' in your lasso log.

Is your oauth config consistent with your Google oauth console with regard
to the callback?  Why isn't the callback showing up in the logs?

On Sun, Jan 6, 2019, 5:53 AM AlekseiPipl <notifications@github.com wrote:

On Jan 6, 2019 5:53 AM, "AlekseiPipl" <notifications@github.com> wrote:

Sure, thanks.
Here is lasso config:

# lasso config

[2019-01-06 21:39] bnfinet commented on #47
@AlekseiPipl I apologize, I'm now looking at this on my laptop instead of on my phone at the odd hour. :)

You're saying you *never* get to Google for login?  That's a bit different of a problem.  I misunderstood that you were not getting forwarded *back* to your kibana instance after successful login.

I do not see a call to `/login` in your lasso logs.  There must be something wrong with either

[2019-01-06 21:44] AlekseiPipl commented on #47
Hey Benjamin!
Well, I made it work, apparently, there were iptables rules on this particular machine, that I was not aware of :(
So I want to apologise for wasting your time as well. It couldn't work , because the port was not opened.

I did though some changes and fixes in the nginx config file as well.

[2019-01-06 21:47] bnfinet commented on #47
oh I'm so glad to hear it!  Do let me know if there's anything else which I can help with.

I'm assuming you already saw the notice in the README of the coming name change.

closing

[2019-01-06 21:47] #47 closed

[2019-01-06 21:48] AlekseiPipl commented on #47
Yes, and thank you for this great tool!

[2019-01-16 23:01] bnfinet opened #53 "improved error handling for `/auth` endpoint"
as a follow up to PR #46

 * might be time to have `renderError` routine similar to `renderIndex` in handlers.go
 * look for `error_uri` callback parameter in addition to `error_description` and report to the end user's browser
 * same for the value of `error`

[2019-01-19 09:09] mmdriley opened #54 "Token secrets are generated insecurely"
If a token isn't explicitly provided, vouch generates one using a non-cryptographic random number generator seeded with the current time in nanoseconds:

https://github.com/vouch/vouch-proxy/blob/233ffeebc528823c89cd600927f3839e9f226beb/pkg/cfg/cfg.go#L384-L390

Vouch has only existed for 2 years, or about 2^56 nanoseconds, so this code could only ever have generated one of 2^56 secrets. That's pl

[2019-01-19 18:40] UniverseXXX opened #55 "Raspberry Pi 2/3 version"
Is there a docker container for armhf processor? If not, would you be able to generate it?
Thanks.

[2019-01-19 18:49] bnfinet commented on #55
Thanks for your interest.  Unfortunately I've never experienced Docker for arm.  And I've never had a Pi.  I've always done my small stuff on the Teensy or the ESP8266.

I'm very curious about your use case.  How would Vouch Proxy help you?

If you're interested in doing this development yourself I'd be happy to offer support on the `#vouch` irc channel or otherwise

[2019-01-20 02:02] bnfinet commented on #54
@mmdriley thank you for evaluating Vouch Proxy and bringing this to our attention.  I've implemented your suggested fix using the [library you suggested](1) in `v0.4.2` and have added a check for the current secret length.

Please do let me know if there is anything you feel should be adjusted further.

[1] https://github.com/theckman/go-securerandom/blob/master/securerandom.go#L86

[2019-01-20 02:02] #54 closed

[2019-01-22 17:10] UniverseXXX commented on #55
Thanks for the reply, @bnfinet I'm trying to find a reverse proxy with built in OAuth functionality. Unfortunately, at the moment only Caddy provide this via JWT plugin. However, there is an issue with Portainer which is not pulled through when JWT used. That's why I've tried to switch back to Nginx when I've seen the article about Nginx+Lasso solution on Medium. I might try to create a vouch-prox

[2019-01-22 20:47] bnfinet commented on #55
if you're willing to commit to supporting a `Dockerfile.armhf` setup in `vouch/vouch-proxy` i'd take the PR, though you may also prefer to keep your own repo for `UniverseXXX/vouch-proxy-docker-arm` which I'd be happy to link to from our README.  Of if you preferred we could setup `vouch/vouch-proxy-docker-arm` with you as maintainer.

I'll close this issue for now, though feel free to reopen if t

[2019-01-22 20:47] #55 closed

[2019-01-22 21:15] bnfinet commented on #40
@cmollis sorry for the delayed response

to clarify, you're suggesting that when visiting `/logout` vouch should 302 redirect the client to https://organization.url/login/signout along with the `providerToken` such as described in
https://openid.net/specs/openid-connect-session-1_0.html#RPLogout ?

[2019-01-23 13:26] fredericseiler opened #56 "Can't logout"
Hi,

I tried the following :

- delete VouchCookie
- go to vouch.mydomain.com/logout
- go to google.com/accounts/logout

But I still can access my app. Is there any way to logout ?

[2019-01-23 14:41] fredericseiler commented on #56
Windows 7 and Chrome 71.0.3578.98.

I'm logged into Chrome with my corp G Suite account, not my test account.

[2019-01-23 14:43] bnfinet commented on #56
is your corp G Suite account in the same domain as your test account?  Does the behavior change if you sign out of your corp G Suite account?

[2019-01-23 14:49] fredericseiler commented on #56
Let's call my corp account corp.com and my test account test.com.

I'm using test.com in Vouch and Google OAuth.

When you go to google.com/accounts/logout, you log out from every logged in google account (and broke the sync with Chrome).

[2019-01-23 14:55] bnfinet commented on #56
Hmm, I cannot reproduce the behavior.  Is this a change in behavior that you've notice between versions?

Could you please provide a redacted `config.yml` and the logs from your `vouch-proxy` session with debug enabled?  You could also try running with `vouch.testing: true` and see if that doesn't change the behavior.

[2019-01-23 15:04] bnfinet commented on #56
And your nginx.conf (redacted) would be helpful as well

[2019-01-23 15:24] fredericseiler commented on #56
I can't tell about any previous version, I just tried Vouch today.

Vouch vhost :
[code]

oauth.conf included in every secured vhost :
[code]

config.yml :
[code]
Logs are coming.

[2019-01-23 15:36] fredericseiler commented on #56
Common nginx settings for my vhosts (including Vouch) :
[code]

[2019-01-23 15:41] bnfinet commented on #56
your config looks generally correct to my eyes

things to try..
 * set `vouch.testing: true` and confirm you get redirected properly to `vouch.test.com` and then to `google`
 * try adding "internal" to your /validate block
 * remove `include proxy.conf;`
 * confirm that you can reach http://192.168.0.1:9090 and https://vouch.test.com from your nginx environment

[2019-01-23 15:59] bnfinet commented on #56
Do you see the same behavior with Firefox or any other browser?

[2019-01-23 16:26] fredericseiler commented on #56
If I disable my browser cache and go to vouch.test.com/logout and then back to myapp.test.com, the redirections are working : myapp > vouch/login > google/auth > vouch/auth > myapp

With the cache enabled, the first request is loaded from disk cache and subsequent xhr queries are redirected to Vouch and fails silently (canceled) when redirected to google.

So, my bad. Next step : tweaking nginx ca

[2019-01-23 16:35] bnfinet commented on #56
I can't reproduce the behavior you're describing.  I am prompted for
account selection with Google as is expected. Are you logged into the
browser?

On Wed, Jan 23, 2019, 8:26 AM Frederic Seiler <notifications@github.com
wrote:

[2019-01-23 17:00] fredericseiler commented on #56
I'm logged into the browser with user@corp.com but I'm testing Vouch with user@test.com, so I don't think it's an issue.

My steps (with cache disabled) :
1. New Chrome session
2. Go to myapp.test.com
3. 302 to vouch.test.com/login
4. 302 to Google/auth
5. Log in to Google with user@test.com
6. 302 to vouch.test.com/auth
7. 302 to myapp.test.com
8. Manually go to vouch.test.com/logout
9. "You have

[2019-01-23 18:30] bnfinet commented on #56
and, can you comment out `preferredDomain:` and try again please?

[2019-01-24 12:21] fredericseiler commented on #56
Nice catch !

When calling Google OAuth with the Host Domain `hd:` query string param, if you only have one user account registered with Google Account Chooser (AC) for the specified domain, it will be automatically used without using the AC.

Without the `hd:` param, the AC will only popup if you have at least 2 accounts (on different domains ?).

Is there a way to override the Google provider `a

[2019-01-24 13:42] fredericseiler commented on #56
With `preferredDomain: " "`, you have to type your e-mail and password :

![image](https://user-images.githubusercontent.com/954168/51679321-eb285300-1fde-11e9-976b-8f67f54b7896.png)

With `preferredDomain: "*"` ([as seen in the docs](https://developers.google.com/identity/protocols/OpenIDConnect#hd-param)), the autologin is back (because I only test with G Suite accounts, not Gmail accounts).

Ab

[2019-01-24 15:10] cmollis commented on #40
Hi.. yes, sorry for my delayed response.. so, yes, at least for the Okta implementation I think this would work.

[2019-01-24 16:07] fredericseiler commented on #56
Just figured out : I needed to use v3 of the userinfo api endpoint instead of v2.
[code]
With those settings, I can protect my apps with Google Account Chooser.

Thanks @bnfinet and the Vouch team !

For anyone interested, to log out of your app, add the following to your nginx vhost config file :

[code]

[2019-01-24 16:07] #56 closed

[2019-01-24 22:37] bnfinet commented on #40
Can you please take a look at #56 and see if the `/logout?url=https://organization.url/login/signout ` solution is sufficient for your case?

[2019-01-26 16:05] brettp commented on #42
I've run into the same problem of infinite redirects, but the solution here (setting the domains) doesn't resolve it. Any suggestions would be appreciated.

The initial redirect to /auth works and resolves the user, but it looks like the forward back to the original URL loses the JWT by the time it hits the /validate endpoint.

Here are relevant logs:
[vouch.log](https://github.com/vouch/vouch-pro

[2019-01-27 02:10] brettp commented on #42
It was a non-issue. I had misunderstood the domains options (see edit).

Sounds like we both missed our coffees this morning ☕️

[2019-01-28 21:31] vulcan25 opened #60 "Infinite re-directs when I set `allowAllUsers: false`."
I have included a config below which works with github as my auth provider.  I have tested this; once I authenticate with github, I am redirected back to my protected endpoint and everything is great.

**The problem:** I wish to define allowed users in the whitelist, so only a few friends can get access to my protected endpoint.  For this reason I change `allowAllUsers: false`.  The whitelist is a

[2019-01-28 21:53] bnfinet commented on #60
thanks for the detailed report

you may prefer turning on `vouch.testing: true` while you approach the problem which will both help you see what Vouch Proxy is doing as well as slow down the interactions with GitHub.

The config looks sound though the `oauth.scopes:` is suspect.  I think you'd want to remove that to set `- user` on your behalf.

And of course `logLevel: debug` might be helpful

Tr

[2019-01-28 22:35] vulcan25 commented on #60
Thanks for the prompt reply, I'll definately keep you updated.

As for the scopes thing, I didn't actually want the user scope, which appears to be the default.  I'm happy with just read-only perms on the user's github account.  I'm not sure if this would cause a problem when `allowAllUsers: false` is applied, but I can certainly test with this setting removed.

[2019-01-28 22:40] bnfinet commented on #60
Without the user scope, I don't think you get the username returned to
vouch.

On Mon, Jan 28, 2019, 2:36 PM vulcan25 <notifications@github.com wrote:

[2019-01-28 23:46] vulcan25 commented on #60
That doesn't appear to be the case.  With the 2 scope related lines commented out, and `allowAllUsers:false` I still have the redirect looping issue.  Also without removing the scope vouch seems to be getting access to the user info, infact with the ***broken config (aau:false)*** I get the following behaviour:

When I hit my protected endpoint with testing on, Vouch catches a redirect to `302 red

[2019-01-29 00:59] bnfinet commented on #60
`"not authorized for 172.31.41.62:9090"` doesn't look right

that comes from this block:
https://github.com/vouch/vouch-proxy/blob/master/handlers/handlers.go#L182-L184

That checks to confirm that the Host is authorized for one of the configured domains.

Please check that your nginx config is passing the Host header to Vouch Proxy properly

[2019-01-29 02:15] vulcan25 commented on #60
Got it...  I needed to set the host in two places.

From the README:

[code]
I'd obviously looked past the fact that the `proxy_pass` directive here contains a hostname, whereas in my case I was pointing to an IP:port combo.

So yes, this location block required the addition of:

    proxy_set_header Host login.example.com; # or vouch.example.com going by the doc's naming scheme.

Funnily enough I

[2019-01-29 02:54] bnfinet commented on #60
glad it's working now, happy to help

closing

[2019-01-29 02:54] #60 closed

[2019-01-29 17:07] popefinn opened #61 "authenticating to Gluu auth server and retrieving user info after successful login"
I'm using vouch-proxy to connect to a Gluu auth server using the following config:

[code]

I'm getting the following error:

DEBU[0007] /auth
ERRO[0007] Get : unsupported protocol scheme ""

after logging in at gluu

[2019-01-29 18:44] bnfinet commented on #61
hmm, that doesn't appear to be an Error in the Vouch Proxy code base.  I'm
guessing it's generated during the request for User info from Gluu.

Aha!.. Looks like `user_info_urls` should be `user_info_url`

I'm uncertain of the user info that Gluu auth server would return, but I'm
hopeful.  Please do let us know if you get Vouch Proxy working with Gluu.

On Tue, Jan 29, 2019 at 9:07 AM popefinn <no

[2019-01-29 21:14] davidgibbons opened #62 "panic: configuration error: oauth.auth_url not found"
Trying to set this up with google oauth and getting the following error:

This appears to be related to the commit just made for #61 f16e5345c261d78caa8dfc737bb32eb5ab92f68c

auth_url is not in the config.yml for google

[2019-01-29 22:07] bnfinet commented on #61
for 'too many redirects' try setting `vouch.testing: true` which will force 302 redirects to render as an HTML page

It looks like you're getting the user info back, which is good and it appears to be trying to set a JWT but then it can't find it on the next round trip.  Can you please check your nginx config as well as the `vouch.domains` where the cookie is getting set and make sure your Host he

[2019-01-29 22:34] bnfinet commented on #61
so glad to hear it!

[2019-01-29 22:34] #61 closed

[2019-01-29 23:38] davidgibbons commented on #62
Confirmed!

[2019-01-30 00:04] bnfinet commented on #62
Oh that's great, sorry for the regression!

[2019-01-30 00:04] #62 closed

[2019-01-30 09:12] martin2250 opened #63 "GitHub provider default scope is R/W"
Hi,

why does vouch default to requesting R/W access to all user data?
Read-only access seems to work fine. As long as OAuth is only used for authentication, I think this should become the default.
[code]

https://github.com/vouch/vouch-proxy/blob/22772be2fdeede59baf5af21b9cb35c517d86858/pkg/cfg/cfg.go#L444

Cheers!

[2019-01-30 20:31] halkeye commented on #63
Yea none of the data needed for writes is passed to the backend so :+1: from me

[2019-01-30 23:59] #63 closed

[2019-01-31 00:00] bnfinet commented on #63
thanks for the suggestion @martin2250

[2019-01-31 07:32] martin2250 commented on #63
sure thing!

[2019-01-31 18:19] bnfinet commented on #40
@cmollis really I'm curious if the 302 would suffice or if the providerToken is required in the 302 redirect

@aaronpk do you happen to know?

[2019-01-31 18:24] cmollis commented on #40
Yeah.. I think for okta logout, it looks like the id_token from the
original auth grant is required for logout

https://developer.okta.com/docs/api/resources/oidc#logout

On Thu, Jan 31, 2019 at 1:19 PM Benjamin Foote <notifications@github.com>
wrote:

[2019-01-31 18:42] bnfinet commented on #40
it looks like it will still clear the cookie at Okta, it will just throw an error.  Am I reading that right?

@cmollis without this in place are you unable to deploy Vouch Proxy in your environment?  How important is this feature to you?

[2019-01-31 18:44] cmollis commented on #40
ok..   actually, not a huge deal right now.  But thanks for checking on it.
  If I ever get a free minute, I definitely would like to help you guys out
with this.

On Thu, Jan 31, 2019 at 1:42 PM Benjamin Foote <notifications@github.com>
wrote:

[2019-02-03 14:18] jayb1122 opened #64 "How to make vouch to secure https?"
Unless I didn't see it, the README doesn't talk about how to enable secure https. If I wanted to provide my own certs, where would I put them? Btw, the latest NGINX complains about non-secure connections - suspect those are from using the vouch server section (running with Chrome, F12 and monitoring Network traffic). Great app! This was the only complete openid client solution I found that actuall

[2019-02-03 15:20] bnfinet commented on #64
I've put vouch proxy behind the same nginx instance serving the protected
sites.  The proxy pass directive of /validate uses the upstream config.

See the nginx docs for 'upstream' and 'internal'.

If you have a cert issued from letsencrypt it's pretty straight forward to
get that running.

On Sun, Feb 3, 2019, 6:18 AM jayb1122 <notifications@github.com wrote:

[2019-02-05 10:32] simongottschlag opened #65 "Cookie Domain not being imported"
Hi,

Sorry if this is me not understanding Go. I've been looking at an issue where my cookie.domain isn't being set for the cookies.

I've forked and built the project and added the following:
log.Debugf("temp debug - cookie: %v", cfg.Cfg.Cookie)

Which is returned like this:
time="2019-02-05T10:17:18Z" level=debug msg="temp debug - cookie: {VouchCookie  false true}"

I can see, at startup, that i

[2019-02-05 10:52] bnfinet commented on #64
Were you able to get nginx configured with https in front of Vouch Proxy?

[2019-02-05 11:06] simongottschlag commented on #65
This is the output:
[code]

When reading it from main it looks like this: (used %s instead of %v)
[code]

It really seems like I'm not getting the settings to other places other than cfg.go.

This is the config.yml:
[code]

[2019-02-05 11:17] bnfinet commented on #65
Thanks, could you please provide the nginx config for one of the sites
using the auth_request module

On Tue, Feb 5, 2019, 3:06 AM Simon Gottschlag <notifications@github.com
wrote:

[2019-02-05 11:22] simongottschlag commented on #65
Hi,

I updated the above with the nginx-configuration. Is something missing form it?

[2019-02-05 11:33] bnfinet commented on #65
My apologies, the edits don't trigger a notification via email so I assumed you had not posted the config.

You're using allowAllUsers without a domain.  Could you try setting that to false and setting 'vouch.domains: - example.com' and see if that works.

[2019-02-05 11:36] simongottschlag commented on #65
My bad! The issue with ADFS is that we're not receiving an email from the user info enpdoint, only getting a "sub". So I can't do that and still be able to login.

[2019-02-05 11:52] bnfinet commented on #65
That seems to be a common problem with oidc providers.  Everyone follows the spec but the userinfo json blob is always a bit different.

Vouch Proxy will not be able to construct a jwt if it's not able to parse the userinfo properly.

We haven't had any questions regarding ADFS support.  I can't find any mention of the json ADFS returns.  Could you post that from your logs or provide a link to a s

[2019-02-05 11:59] simongottschlag commented on #65
Hi,

Sure! No problem to help with this. But I'm still not understanding why we're not seeing the correct configuration in cfg.Cfg when called from (for example) main.go or cookie.go. I am able to print out viper.AllSettings() but then I'm not seeing the defaults.

The userinfo endpoint prints it like this:
[code]

The best thing would be if we could extract the id_token using implicit flow, or th

[2019-02-05 12:06] bnfinet commented on #65
Thanks for that.  I'll look at this closer later today.

On Tue, Feb 5, 2019, 3:59 AM Simon Gottschlag <notifications@github.com
wrote:

[2019-02-05 12:44] bnfinet commented on #65
Looks like lots of folks are struggling to get the userinfo endpoint to return more user info 😁

https://social.technet.microsoft.com/Forums/Lync/en-US/679a7998-3836-4526-9685-9386744f031c/the-access-token-in-the-request-doesnt-have-required-audience?forum=ADFS

[2019-02-05 12:56] simongottschlag commented on #65
Yep! Lots of issues with it unfortunately.

I've already tried combinations of keycloak-gatekeeper, envry/oidc-proxy (nginx+lua) and DEX. Gotten far but the last issue was keycloak-gatekeeper intercepting the Authorization-header which meant I'm not able to send basic auth to a backend after the authentication.

The issue I'm seeing right now (after the URLEncoding fix) is that I'm not getting the

[2019-02-05 15:04] jayb1122 commented on #64
Not yet. Not sure how to get my certs into the scratch-built container or where to place them. Maybe during Docker image build or perhaps using config file? Maybe I'm overthinking this...

    On Tuesday, February 5, 2019, 3:52:21 AM MST, Benjamin Foote <notifications@github.com> wrote:

Were you able to get nginx configured with https in front of Vouch Proxy?

—
You are receiving this because you

[2019-02-05 15:56] simongottschlag commented on #65
Hi,

Was able to fix the issue (at least for myself) with Cookie.Domain: https://github.com/vouch/vouch-proxy/pull/66

Here you have for the state to support ADFS as well: https://github.com/vouch/vouch-proxy/pull/67

Right now, I'm getting the following:
[code]

Which means we need to solve the issue with ADFS. I'll think about what the best way could be, but I know implicit works fine. (using it

[2019-02-05 17:53] bnfinet commented on #64
Is there a reason you can't use the same nginx reverse proxy?  I'd like to
better understand your use case.

On Tue, Feb 5, 2019, 7:04 AM jayb1122 <notifications@github.com wrote:

[2019-02-06 14:41] simongottschlag commented on #65
Hi,

I've created a new PR wich seems to be working with ADFS: https://github.com/vouch/vouch-proxy/pull/68

You should most likely take a look at the code, since I've just made a mess. :)

[2019-02-06 14:42] simongottschlag opened #69 "Validate tokens using JWKS"
Hi,

We should add functionality to validate the tokens received from the OpenID Providers. Either add jwks_uri or using the discovery document. I'm not sure they are validated as of now.

[2019-02-06 14:45] simongottschlag opened #70 "Forward OpenID Provider token to upstream"
Hi,

Is it possible to extract the token received from the OpenID Provider as a header to the upstream server? For example, if we've received an id_token it would be great to be able to inject it to the upstream Authorization-header.

This would be especially great with Kubernetes-dashboard, since they are using the id_token for authentication: https://github.com/kubernetes/dashboard/wiki/Access-c

[2019-02-06 15:15] bnfinet commented on #70
closing, please use #43

[2019-02-06 15:15] #70 closed

[2019-02-06 15:34] jayb1122 commented on #64
Hope this helps... Here are my nginx and vouch-proxy config.yml settings. Both are running as services in a docker swarm.

- Main Nginx server listens on ports 80 and 443
- Nginx redirects port 8443 (https) to vouch-proxy service at port 3012 (http)
- Oauth is configured use callback at https://192.168.56:8443/auth

Does this look correct for the case of deploying a vouch-proxy with a secure front

[2019-02-06 15:46] bnfinet commented on #64
That looks generally correct though personally I'd use `upstream`.  And I believe you'll want to use full fqdns for `server_name`
http://nginx.org/en/docs/http/server_names.html
https://nginx.org/en/docs/http/ngx_http_upstream_module.html

both `server_name` and your callback need to be in the domain you are protecting (`mydomain.com`)

[2019-02-06 16:19] bnfinet commented on #64
here's an example I like...

[code]

[2019-02-07 09:40] simongottschlag commented on #43
Hi,

I need this together with ADFS (to pass the authorization header to kubernetes dashboard) and created a PR which seems to be working OK together with ADFS:
https://github.com/vouch/vouch-proxy/pull/71

[2019-02-08 01:23] bnfinet commented on #65
@simongottschlag unfortunately I'm not able to reproduce the behavior that you are seeing with setting the domain for the cookie.

With `master`/`v0.4.9`, when I set `vouch.cookie.domain` it results in a cookie being offered which is in the `domain` I have specified.  I have tested this under a variety of scenarios on two servers.

[2019-02-08 01:27] bnfinet commented on #65
I notice now that the config that you have offered has...
{{{
vouch:
  logLevel: debug
  listen: 0.0.0.0
  port: 80
  AllowAllUsers: true
cookie:
  name: VouchCookieTest
  domain: example.com
  secure: false
  httpOnly: false
headers:
  jwt: X-Vouch-Token
  querystring: access_token
  redirect: X-Vouch-Requested-URI
session:
  name: VouchSession
}}}
which places `vouch` and `cookie` at the same in

[2019-02-08 03:50] bnfinet commented on #28
@sciphilo I'm going to close this issue, please do open it back up if you feel there is something actionable

[2019-02-08 03:50] #28 closed

[2019-02-08 05:37] simongottschlag commented on #65
@bnfinet yeah, I'm so sorry! This is my bad. Adjusted it and now is working.
I've removed the "cookie fix" and created on PR for all the changes that I'm using right now: https://github.com/vouch/vouch-proxy/pull/72

Is it OK that we close the other two and just work based on this one? Seems like I'm messing up GIT all the time :)

[2019-02-08 05:37] #65 closed

[2019-02-08 08:41] simongottschlag opened #73 "offer an alpine Dockerfile (in addition to existing scratch)"
Hi,

A suggestion would be to use alpine instead of scratch for the container, which means it will be a few MB larger but quay will support the security scan as well as make it possible (easier) to troubleshoot since cat / sh etc is there.

I've also noted that ENTRYPOINT doesn't support to change the initial command, so maybe change that to CMD instead.

I hit some issues when I had to troublesho

[2019-02-08 12:22] butsjoh opened #74 "Difference with pusher oauth proxy and how to validate a request directly from an application"
Hi,

We are experimenting with vouch to secure some of our internal services and are wondering the reasons behind your approach to build this library. After some searching we also found https://github.com/pusher/oauth2_proxy which is quite similar but seems to be more mature. Could you explain more the rationale around vouch proxy and maybe the differences with other solutions. We are just curious

[2019-02-08 12:26] bnfinet commented on #73
It should be just a couple lines using 'COPY --from' to add the binary to
Alpine.

If you cared to contribute a separate additional 'Docker.alpine' on a fresh
branch as a separate PR is probably find a home for it and setup the build
infra for an alpine.

https://docs.docker.com/develop/develop-images/multistage-build/

Here's the method..
https://docs.docker.com/develop/develop-images/multistage-

[2019-02-08 12:51] bnfinet commented on #74
When I started the code base more than two years ago https://github.com/bitly/oauth2_proxy/ was fallow and difficult to install.  I notice that Bitly has just archived the code base on Jan 23rd.  I'm glad to see pusher commit to taking over the code base!  But I haven't evaluated that solution in over two years.

The small Vouch Proxy roadmap at the moment is...
 * easy install, ease of use
 * tes

[2019-02-08 13:00] butsjoh commented on #74
Sorry i forgot to remove the "some concerns" from the title but i could share them anyways :) Although i am not sure this i a real concern for vouch but your opinion is welcome.

We know that it relies on nginx auth request module to work but are wondering what would happen to the service that should be protected if nginx would be configured badly (hack, mistake, whatever reason) and the request m

[2019-02-08 14:14] bnfinet commented on #74
I'd expect native SSL keys to become a config option for vouch proxy at some point and then adding a client cert to nginx with `proxy_ssl_certificate` would be an option.  That's slightly orthogonal to your ask but if vouch is going to have any part of verifying clients that will need to be in place first.  At that point perhaps client registration or offering an additional client token becomes so

[2019-02-08 14:20] aaronpk commented on #74
@butsjoh I think I understand your concern. Vouch/Nginx can be configured to pass thru the user ID in an http header to your backend. At that point your backend can allow the request only if it's set. So if for some reason your Nginx gets misconfigured and removes Vouch, the header will no longer be set and your backend can recognize its missing and not serve the page. Does that make sense?

[2019-02-08 14:21] butsjoh commented on #74
@aaronpk that is exactly what i meant :)

[2019-02-08 14:26] butsjoh commented on #74
@aaronpk My point was the moment my backend only check for "a header" it doomed to fail if the nginx gets misconfigured. I can easily fake a header with curl so all of a sudden the backend is open ... That's why i would like to have something to prevent that and hence the question :)

[2019-02-08 14:30] aaronpk commented on #74
IMO as soon as you add another check in your backend service you are probably better off not using Vouch and doing this entirely differently. The main reason for using Vouch is it lets you transparently add authentication in front of services that may not even have any concept of authentication themselves.

[2019-02-08 14:34] butsjoh commented on #74
I understand and hence also my initial hesitation to ask for it :)

But i can imagine in some situations that you might not be in control of the nginx layer where your service is hosted on and then i am forced to move the authentication to the app anyways. I know the use case is really specific and then vouch might not be the correct tool for this. But it would be interesting though if you would c

[2019-02-08 14:48] bnfinet commented on #74
@aaronpk thanks for clarifying, I misunderstood the concern

@butsjoh Your app could call the `/validate` enpoint of Vouch directly and confirm the JWT Cookie it receives.  Would that work for your use case?

[2019-02-08 14:50] butsjoh commented on #74
@bnfinet Can you give some pointers on how that would work? I was also thinking in the same way but am not sure what the flows (requests) for that would be.

[2019-02-08 15:00] bnfinet commented on #74
After the cookie (default name `VouchCookie`) is set in the `/auth` request it is then passed in the http headers of every request.  Your app would take all the headers of the request (or even the whole request) and send them as is to `/validate`.  If you get a response with http status code 200, then you're good, if you get 401 then it didn't validate.

I've done this but it's not the use case I

[2019-02-08 15:04] butsjoh commented on #74
Ok i will look into this and keep you posted. Will be for next week though.

[2019-02-08 15:12] butsjoh commented on #74
Just another question. In the config you can specify a secret token for the JWT. As far as i understand how this works is the value in the VouchCookie is the encrypted JWT token. Would there not be a way for the backend to verify or decrypt this token if the secret would be shared with the backend service? Or am i not understanding something :)

[2019-02-08 15:30] bnfinet commented on #74
That's what I understand too, though I've never done that with a secret and JWT from Vouch in an app.

I mention sending all of the headers to `/validate` since this is the current implied SLA between nginx and Vouch and is what I can say is forward compatible.  There are already a few `X-Vouch-*` headers that get passed at this point and there may be other aspects of validation that occur against

[2019-02-08 15:32] butsjoh commented on #74
Gonna try the following. I will try to decrypt the value of VouchCookie using https://jwt.io. If i fill the secret from the config then i should be able to read it. According to https://github.com/vouch/vouch-proxy/blob/233ffeebc528823c89cd600927f3839e9f226beb/pkg/jwtmanager/jwtmanager.go#L62 it seems to be possible.

[2019-02-09 08:36] butsjoh commented on #74
Ok, i am already able to decompress and unencrypt the cookie value to the JWT token for the backend. Now my goal is to replace the entire nginx auth request module and try to move that part to the backend. Could you confirm if the following steps would work.

1) A request hits the backend. It will try to read the VouchCookie and decrypt it to know if the already expired or not. In case its expired

[2019-02-09 08:38] butsjoh commented on #74
And just to be clear i do not expect vouch to support this at all :) It is just interesting to figure out if parts of it can be use in different use cases.

[2019-02-09 11:07] bnfinet commented on #74
Yes I'd expect that to work.

Essentially instead of nginx it would be your app performing the steps in
this diagram, which isn't much more than issuing a 302 /login after getting
the 401 from '/validate' (or your own validation fails):

http://bnf.net/presentations/2019/2019Q1-vouch/images/vouch_sequence_diagram.png

On Sat, Feb 9, 2019, 12:38 AM Buts Johan <notifications@github.com wrote:

[2019-02-09 22:06] simongottschlag commented on #74
Hi!

Read the thread and thought I could add some additional information. If your backend supports OpenID Connect (or the service mesh does, like Istio) you could pass a JWT as a header (Authorization: Bearer <JWT>). Lots of services work like this today, with Kubernetes Dashboard as an example.

There is an open enhancement request for this (https://github.com/vouch/vouch-proxy/issues/43) and I’v

[2019-02-10 09:01] butsjoh commented on #74
@simongottschlag Sorry but i am not getting your point. Probably it is my lack of understanding how all of this works. You say that my backend service should only expect a token coming in through a header? How can my backend validate then that this is a valid token/request? Is that what the openid connect support does? No idea how that works. Care to explain how that makes it more secure because f

[2019-02-10 09:56] simongottschlag commented on #74
Hi!

May have been my incoherence late at night (and maybe a few beers). What you can assume is that the token generated by an OpenID Provider is a cryptographically signed object with information about the request (at least the id_token is, access_token is a little different). By using OIDC, your backend knows where to find the public key that is used to verify the signature on the token. As long

[2019-02-10 22:21] simongottschlag commented on #74
If you want a great presentation about oauth2/OIDC - watch this: https://youtu.be/GyCL8AJUhww

[2019-02-11 09:09] simongottschlag commented on #74
Hi,

I can't speak for pusher oauth2_proxy or Dex, but I tried Dex together with ADFS since ADFS is weird is doing everything a little bit different it wasn't possible to extract the information needed to get Dex/ADFS/<insert oidc proxy name here> to work together. In my case, vouch-proxy fulfilled this. When it comes to ETAs, you have to wait for a reply for the maintainers.

The OpenID Provider

[2019-02-11 09:20] butsjoh commented on #74
Ok thnx. We like to understand the full picture before we take any action that might lock us in to solution A or B. I am starting to see the differences now between vouch and pusher oauth2_proxy.

I am assuming that your PR https://github.com/vouch/vouch-proxy/pull/71 will be needed in order to support more of the oidc abilities, if the backend service needs to get to more information (it needs th

[2019-02-13 01:19] bnfinet commented on #64
@jayb1122 did you have an opportunity to try this out?

[2019-02-13 01:21] bnfinet commented on #73
@simongottschlag do let me know if you'd like to work on this!

[2019-02-13 12:46] simongottschlag commented on #73
Hi!

I've created the PR: https://github.com/vouch/vouch-proxy/pull/75

I'm not 100% sure this is the right way, but at least a start.

[2019-02-14 02:27] bnfinet commented on #73
thanks @simongottschlag works great!

[2019-02-14 02:27] #73 closed

[2019-02-14 18:50] simongottschlag opened #76 "Possibility to cache validate with nginx"
Hi!

I think it should be possible to cache valid calls to validate. Not sure exactly how, but should be great to add an example of how to do it to offload vouch-proxy.

[2019-02-14 20:25] bnfinet commented on #76
I like this idea quite a bit and have thought the same.  Often I've used nginx cacheing in a micro-cache scenario in front of static assets.  Although 1ms for `/validate` is pretty quick if a barrage of requests were coming in it could have significant gains.

That said, my estimate is that the Nginx config can be the source of some confusion for those setting up `vouch-proxy` with the `auth_reque

[2019-02-15 12:19] simongottschlag commented on #76
Hi,

I was able to get it to work like this:
[code]

[2019-02-15 12:22] simongottschlag commented on #76
When it comes to a blog post or something like that, maybe it's just easier to add a comment to the readme pointing to this issue? Saying that we have an example and if someone wants to leverage it they can look here.

I've got an example running with HashiCorp Vault agent, Consul template and nginx for vouch-proxy in Kubernetes. If I have time I'll try to do a post about it - but won't have the t

[2019-02-18 14:48] rerime opened #77 "Does it work it with ADFS 2012R2 (Active Directory Federation Services)?"
Does it work it with ADFS  2012R2 or 2016 (Active Directory Federation Services)?
OAUTH 2.0?
Please provide documentation how to setup.

[2019-02-18 23:43] bnfinet commented on #77
@simongottschlag has recently contributed #68 for ADFS support.

I'm uncertain about support for ADFS 2012R2 specifically but I think it should work with an `oauth.provider: oidc` config such as...

[code]

@simongottschlag does that look right to you? ^^

See PR #68 and issue #65 for further discussion.

@rerime please do let us know if that works.  I'll leave this open for now.

[2019-02-18 23:54] bnfinet commented on #76
wow, so Vault/Consul template provides the Vouch Proxy and nginx config for k8s?  I'd love to read that blog post!!

@halkeye you might be interested in this ^^ (@halkeye has constructed helm charts for Vouch)

@simongottschlag yeah that's a good idea, I'll link to this issue from the README

[2019-02-19 00:25] bnfinet commented on #74
@butsjoh I believe you _do_ get logged out by the IdP (Google in this case) even if you don't provide the access token, but it will result in an error and it won't honor the 302 redirect request of a `post_logout_redirect_uri`

https://openid.net/specs/openid-connect-session-1_0.html#RPLogout

[2019-02-19 04:10] halkeye commented on #76
I just use the nginx-ingress annotations

https://github.com/vouch/vouch-proxy#running-from-docker

which essentially generates the above config for me though I havn't looked at the proxy cache before, because i'm only using it for pet projects on my homelab

[2019-02-19 07:41] simongottschlag commented on #76
Hi,

I'm doing it like this (example for kubernetes-dashboard, using Istio with mTLS):
[code]

[2019-02-19 07:50] simongottschlag commented on #77
Hi,

The following works:
[code]

Only tested with ADFS 2016 (v4). You can try the following:
[code]

[2019-02-21 14:27] rerime commented on #77
@simongottschlag All build are failed.
https://travis-ci.com/vouch/vouch-proxy/builds
Not sure where release/stable version.

[2019-02-21 17:13] bnfinet commented on #77
We're still getting the ci/cd infra and full coverage testing in place.  We
expect tests to fail for some time here, probably until 'v1.0.0'

On Thu, Feb 21, 2019, 7:57 PM rerime <notifications@github.com wrote:

[2019-02-25 07:09] bnfinet commented on #77
@rerime do you have any other questions?  If not could you please close this issue?

[2019-02-25 07:17] bnfinet commented on #74
@butsjoh are you still actively pursuing this integration?  How's that going?

[2019-02-25 07:18] #64 closed

[2019-02-25 07:42] butsjoh commented on #74
I have code that i can use on my backend to validate the incoming cookie set by vouch. See the following ruby code below (sorry not know about go that much) but it essentially is a reverse engineering of what your code does to encrypt and compress the cookie.

[code]

I did not implement this yet in my backend but the goal is to still replace the necessity for the nginx_auth_request module which s

[2019-02-25 08:00] dubit0 opened #79 "Allow multiple callback_urls for all backends"
In principle one vouch proxy instance can be used to authenticate users on different vhosts. Putting the nginx config for vouch in a separate file and including it for different vhosts adds a lot of convenience. Such setup currently almost works and only fails at the callback since only a single callback url can be specified in the vouch config. Only the google backend already allows for multiple

[2019-02-25 14:58] rerime commented on #77
I was trying to run oauth with Azure AD with the followng config file:
`oauth:
provider: oidc
client_id:
client_secret:
auth_url: https://login.microsoftonline.com/{tenant_id}/oauth2/v2.0/authorize
token_url: https://login.microsoftonline.com/{tenant_id}/oauth2/v2.0/token
scopes:
  - openid
  - email
# Set the callback URL to the domain that Lasso is running on
callback_url: https://myapp.example.

[2019-02-25 16:06] jayb1122 commented on #64
Thanks! With your help, I've deployed vouch proxy into a production swarm.

[2019-02-25 16:25] bnfinet commented on #64
I'm so glad to hear it!

On Mon, Feb 25, 2019, 9:36 PM jayb1122 <notifications@github.com> wrote:

[2019-02-25 23:40] bnfinet commented on #77
Is that the entire config?  Could you please take a look at the examples in the ./config directory of this code base.

[2019-03-06 12:10] rohithudupa opened #80 "Not able set additional claims to Ngnix proxy header"
Hello,

I have a OIDC authorization server OKTA, where I have created a claim called "sub" and it's been included to fetched along ID_Token as well as Access_Token. I am trying to set both user and sub as header attributes using following settings in ngnix server.

auth_request_set $auth_user $upstream_http_x_vouch_user;
auth_request_set $sub $upstream_http_x_vouch_sub;

proxy_set_header username

[2019-03-14 21:18] cyounkins opened #81 "/auth User is not authorized. %!s(<nil>) Please try again."
The string literal '%!s(<nil>)' is output where a reason is supposed to go.

It's also logged: `time="2019-03-14T21:07:06Z" level=error msg="<nil>"`

It appears to be happening here: https://github.com/vouch/vouch-proxy/blob/a83233064598b1a62ed8aff1ae07caa771f1f10c/handlers/handlers.go#L394

`VerifyUser(user)` is returning !ok but err = nil. I believe err is set to nil here: https://github.com/vou

[2019-03-14 21:29] cyounkins opened #82 "No whitelist or domains configured -> allow all"
https://github.com/vouch/vouch-proxy/blob/a83233064598b1a62ed8aff1ae07caa771f1f10c/handlers/handlers.go#L345

The above appears to allow all users when neither a whitelist or domains are configured. Given the purpose of Vouch, configurations like that are almost certainly unintentional. There is the `allowAllUsers` variable for that.

bnfinet if you agree this should change I'm happy to take a sta

[2019-03-15 20:36] jayb1122 opened #83 "open data/vouch_bolt.db no such file"
Previously I built my own vouchproxy image. However, today I did a docker pull of voucher/vouch-proxy:0.5.2 and encountered issues...

Using the configuration above results in the error shown below. If I mount ${NFS_PATH}vouchproxy/data containing a file called vouch_bolt.db, then the error goes away.

ERROR MESSAGE ---->
vouchproxy.1.yslza02z9gdv@moab-101    | time="2019-03-15T20:20:33Z" level=fa

[2019-03-17 11:14] msarti opened #84 ""no jwt found in request" and multiple redirects"
I'm trying to configure a local server with Ubuntu and Nginx and OpenId (Okta) authentication.
I configured two virtualhosts:
- test.sarti.lan (site to be protected)
- vouch.sarti.lan (reverse proxy to vouch)
The two hostnames are local and mapped in /etc/hosts (both server and client).
While authentication appears to work, the site goes into an infinite redirect loop and the call to "validate" pr

[2019-03-17 13:25] bnfinet commented on #84
Does it change behavior if you move 'default_server' from vouch to test?

Somehow the cookie is not getting set.  Set 'vouch.testing: true' and
see if that helps.

On Sun, Mar 17, 2019, 4:14 AM Marco Sarti <notifications@github.com> wrote:

[2019-03-17 17:32] msarti commented on #84
Nope, moving default_server to the test site make the same effect.

I'm already working with testing: true manually following the redirects. When redirect to the test.sarti.lan site I see in the log "no jwt found in request" entering in /validate.

[2019-03-17 17:37] bnfinet commented on #84
Since you are not using https, try setting 'cookie.secure' to false or
removing it from your config.

On Sun, Mar 17, 2019, 10:32 AM Marco Sarti <notifications@github.com> wrote:

[2019-03-17 17:46] msarti commented on #84
Great! It works. Thank you!

[2019-03-17 17:46] #84 closed

[2019-03-17 18:00] bnfinet commented on #84
Oh I'm so glad.  Cheers!

On Sun, Mar 17, 2019, 10:46 AM Marco Sarti <notifications@github.com> wrote:

[2019-03-19 17:38] bnfinet opened #85 "add `--config myconfig.yml` / allow alternate config to be used at runtime"

[2019-03-19 17:43] bnfinet commented on #80
Unfortunately this is not possible at this time.

Not all of the claims from the OIDC provider (OKTA) are not exposed by vouch to nginx.  Only the `user` which is set as a claim in Vouch's jwt is exposed.  `user` is populated by different backends in different ways (email for Google, username for github, url for indieauth)

[2019-03-19 18:03] bnfinet commented on #83
I am not able to reproduce the behavior that you are seeing.  Are you certain that your mount is properly mounted to `/data`?

No there is not initially, but it will be created if one is not present

Good catch!  That shouldn't be there and it isn't used.  I've removed it from the code base.

[2019-03-19 18:17] bnfinet commented on #81
I think what's happening is that `err` is never set and is default `nil`.

The whitelist is present, so it is tested but the user is not found in the whitelist.  The err should be set after not finding the user in the whilte list.  That happens here:
https://github.com/vouch/vouch-proxy/blame/a83233064598b1a62ed8aff1ae07caa771f1f10c/handlers/handlers.go#L332

The error is logged and rendered here.

[2019-03-19 18:23] bnfinet commented on #79
Yeah that seems like it'd be good.

`domains.Matches` in that block is specific to the `vouch.domains` config element.
https://github.com/vouch/vouch-proxy/blob/a83233064598b1a62ed8aff1ae07caa771f1f10c/pkg/domains/domains.go#L20

The test might be better against the originally provided URL stored in the session variable.

[2019-03-19 18:44] bnfinet commented on #82
hmm, should it default open or default closed?

Although I do tend to agree with you I'm reluctant to change the behavior.

There's general sense that the `domain/whitelist/AllowAllUsers` config options are confusing.  I expect that it'll get rewritten for `v1.0.0`.  Do you have any opinion on what that interface should look like?

In either case the current behavior should be documented, perhaps

[2019-03-19 19:31] halkeye commented on #82
I personally don't care which state it is, but I agree, allowAllUsers exists to allow all users, so it does't make sense.

My vote is pick a state, make sure the config errors if both are true on startup, and bump the major version or something.

[2019-03-19 22:59] cyounkins commented on #82
IMO Vouch should default to disallow all until properly configured with a whitelist OR `allowAllUsers` is set. This is a security product, and must be secure by default.

I understand. For the configurations where `allowAllUsers` is 'false' and no domains or whitelist are configured, the main question for me is whether administrators under that their configuration is equivalent to "allow all". If

[2019-03-19 23:36] cyounkins commented on #81
<img width="955" alt="Screen Shot 2019-03-19 at 7 33 50 PM" src="https://user-images.githubusercontent.com/346185/54648866-39595000-4a7e-11e9-92ed-8239f7dd650b.png">

[2019-03-19 23:51] bnfinet commented on #81
suweet!

Hey @cyounkins thanks for all your thoughts and contributions.  I'm playing a bit of catch-up after being gone for a few weeks on a trip.  I may not get this merged for a day or two here but I very much appreciate you poking your nose around and offering your code and thoughts.

[2019-03-24 19:41] vulcan25 commented on #82
I'll second this.  The default fallback behavour you raised in this issue really makes me uneasy.  Leave out some configuration options, and it defaults to wide open?!  I would expect this to be fixed with urgency, even if it breaks existing deployments.

Similarly I was quite surprised that the default oauth scope was `User` for the github provider (Not sure about other providers).  This means wh

[2019-03-24 21:24] bnfinet commented on #82
thanks @vulcan25

Could you open a separate issue for the github scopes issue?  I'm happy to work with you on exploring better default scopes.

[2019-03-24 22:17] vulcan25 commented on #82
@bnfinet Seems I spoke to soon regarding scopes;  Looks like you changed this to `read:user` as per https://github.com/vouch/vouch-proxy/issues/63

[2019-03-29 18:03] bnfinet commented on #83
@jayb1122 are you still experiencing a problem?

[2019-03-29 20:09] #80 closed

[2019-03-29 20:10] bnfinet commented on #27
similar to #80

[2019-03-29 23:29] #81 closed

[2019-03-30 00:22] #85 closed

[2019-03-30 06:27] artagel commented on #43
I'm working on a branch that will allow users to choose which claims they want to send through as headers to the downstream server in a proxy_pass.
I'm also working on additional functionality to allow users to specifically specify 'groups' they want to allow for specific domains, as I've found just passing groups to nginx and then trying to parse for access is problematic.

[2019-03-30 08:51] bnfinet commented on #43
What's an example of a group?

On Fri, Mar 29, 2019, 11:37 PM artagel <notifications@github.com> wrote:

[2019-03-30 10:25] artagel commented on #43
In many cases claims can be provided for group membership, such as ldap or active directory group memberships.  This would allow an admin to either send the groups down to the application as a header, or allow them to only allow access to an application of a user is a member of the correct group.

[2019-03-30 16:47] artagel commented on #40
Since logout is actually something we can get from .well-known, and is offered by providers, can't we just provide an option to redirect the user on logout?

[2019-03-30 17:14] bnfinet commented on #40
The vouch proxy logout url already allows a url argument to be passed which
will result in a 302 to a different logout facility.

/logout?url=https://myidp.com/logout

In the case of the idp (okta), they usually need a token passed back to
authorize the logout request.  It's the storage and retrieval of this token
which is the sticky parton the vouch proxy side.

Different idps do different things

[2019-03-30 17:19] artagel commented on #40
Right, but right now I'd need to set the url= in nginx?  Or is there a config option I missed in vouch?
My point was, considering that there's an issue in to implement discovery anyways, we'd be able to add functionality to handle this with a config option to allow the admin to choose how to handle logouts.

[2019-03-30 17:30] bnfinet commented on #40
Yep I hear you.  It should probably be more obvious or at least the url
parameter could be better documented.

Is it too onerous to leave it on the app or nginx side?

How are you using logout in your environment?  Could you describe your
setup and use case?

If we're diving into logout, I'd like to solve the token problem at the
same time if possible.

On Sat, Mar 30, 2019, 10:19 AM artagel <noti

[2019-03-30 17:34] artagel commented on #40
I'm prototyping 2 architectures right now.  One with keycloak, and one with adfs.  I haven't specifically looked if either of these require a token, but I'll check.
I'm doing some work on adding some functionality I need anyways, so I can help take a took at this. one too.

[2019-03-30 17:44] bnfinet commented on #40
That's awesome.  Thanks for the contributions!

In the case of the token storage need to keep multi deployed vouch proxy
node environments in mind.

I'll be in and out all weekend but I'll try to be responsive if something
come through.

Cheers!

On Sat, Mar 30, 2019, 10:34 AM artagel <notifications@github.com> wrote:

[2019-04-01 23:24] #83 closed

[2019-04-03 05:49] sathishbalasubramaniyan-okta opened #91 "/auth Invalid session state"
Getting a HTML page with this error:
/auth Invalid session state
after the OAuth provider (Okta) responds with an OAuth authorization code.

[2019-04-03 05:52] bnfinet commented on #91
Usually this is cookie related.

Could you please offer your redacted configuration for vouch proxy and
nginx as well as some logs.

On Tue, Apr 2, 2019, 10:49 PM sathishbalasubramaniyan-okta <
notifications@github.com> wrote:

[2019-04-03 06:24] sathishbalasubramaniyan-okta commented on #91
Thanks @bnfinet

Log from Vouch

INFO[0000] jwt.secret read from config/secret
WARN[0000] generating random session.key
INFO[0000] configuring oidc OAuth with Endpoint https://sathishb.okta.com/oauth2/default/v1/authorize
INFO[0000] starting Vouch                                branch=undefined buildhost=undefined buildtime=undefined listen="0.0.0.0:9090" semver=undefined version=undefined
INFO[00

[2019-04-03 06:28] artagel commented on #91
I believe I've seen this issue when I use vouchproxy over http instead of https, and I have the cookie: secure: true on.  If you turn secure: false, then I think it'll work.
That isn't a production solution though, the production solution is listen for your traffic on port 443.  Besides, you wouldn't want someone sniffing your JWT.

[2019-04-03 07:25] sathishbalasubramaniyan-okta commented on #91
Thanks @artagel that resolved the issue, this is a PoC, so wanted to avoid https to get it working quickly.

Now I am facing another issue. I am actually trying to protect an application http://app.greencapoktapoc.com:3838 with authentication. The behavior I am getting currently is when I try to access this application, I am able to access it directly. However when I try to access http://app.green

[2019-04-03 07:44] artagel commented on #91
For the cookie issue, Vouch doesn't control your browsers cookies, so it has no hook into the browser to tell it to clear your cookies.  The only thing I can find is that if you set your cookie expiry to 0, it should delete after the browser closes.

In cookies.go: `var defaultMaxAge = cfg.Cfg.JWT.MaxAge * 60`
So right now it defaults to JWT Age * 60.  There isn't a way to override this currently.

[2019-04-03 07:53] sathishbalasubramaniyan-okta commented on #91
Thanks again @artagel Will try out the cookie expiry later.

Regarding the other issue, http://app.greencapoktapoc.com:3838 results in no redirects in the network tab in developer's console. Tried this in Chrome Incognito as well. I am able to access the application. Only when I access app.greencapoktapoc.com, what you said happens - redirect to Okta for authentication and then redirect back to th

[2019-04-03 07:57] artagel commented on #91
Oh I see.   Where is app.greencapoktapoc.com running?  Is it on the same box as nginx?
In production you'd typically have them separate, so you'd only expose nginx on the outside, and proxy-pass to an IP address that isn't public, or if it is, restrict that server to only accept port 3838 from nginx ip.
If it is on the same server(hence resolving to the actual app server and nginx on the same host

[2019-04-03 08:36] bnfinet commented on #91
You are not using https but you have secure cookie set.  Try removing that
line from your settings.

On Tue, Apr 2, 2019, 11:24 PM sathishbalasubramaniyan-okta <
notifications@github.com> wrote:

[2019-04-04 05:41] sathishbalasubramaniyan-okta commented on #91
Hi @artagel @bnfinet thanks for the assistance. Managed to resolve both the issues. I blocked off access to port 3838 by adding an ACL rule to the host's VPC (its hosted in AWS). Now I cannot access port 3838 directly and NGINX serves the app without the port.

Also setting var defaultMaxAge = 0 in cookie.go clears the cookie when the browser is closed. Would be great if the cookie max age is made

[2019-04-04 05:41] #91 closed

[2019-04-04 05:54] bnfinet commented on #91
Glad it's working for you @sathishbalasubramaniyan-okta

`vouch.jwt.maxAge` is already a configurable option which effects both the jwt and the cookie...

https://github.com/vouch/vouch-proxy/blob/master/config/config.yml_example#L52

Try setting that to `0`.  TBH I'm not certain if it will work but its worth a shot.

Cheers!

[2019-04-04 05:57] artagel opened #92 "Add separate config option for cookie maxage"
Related to #91, Some users may want to have a separate maxage for the vouch cookie compared to the JWT age.
This is useful if you want the cookie to be deleted when a browser is closed, while retaining a logical JWT maxage.

[2019-04-04 05:57] artagel commented on #92
I can help add this.

[2019-04-04 06:08] artagel opened #93 "Vouch-Proxy High Availability"
How are you handling HA for vouch?
If I run this in a docker host scaled out to 3, for example...each would have it's own database, and since the database isn't capable of multi-access on a shared volume, we can't share it.

Would a user that hasn't "hit" that vouch instance simply redirect to the auth server and then redirect back since they have a single sign on cookie from that service, which w

[2019-04-04 06:18] bnfinet commented on #93
I think of it in the context of the nginx deployment.

if configured with the same secret, each deployed Vouch Proxy instance will be able to `/validate` properly and can support a deployed nginx or app.

Since the `/login` --> IdP --> `/auth` cycle is infrequent you can have just one or two instances of `vouch.yourdomain.com` running and it should be fine.

The DB really isn't used for much at th

[2019-04-04 06:18] #93 closed

[2019-04-04 06:22] artagel commented on #93
Yea, that makes sense, I figured it would work similarly.
I'm essentially scaling this internal app in a swarm, with 3 nginx LB to Vouch (also scaled to 3) as well as the other services I'm exposing throug nginx.  I'll be testing this fully soon, hopefully :)

[2019-04-04 06:39] bnfinet commented on #93
Best of luck!

The best visibility for a HA Vouch setup is log aggregation.  If you're running multiple Vouch Proxies in your environment and capturing the logs I'd love to hear how that's working out.  One of the goals with the logging branch is to capture metrics in consistent units and rely on structured logs a bit more.

I do see a point where a shared DB will be necessary (or at least desirab

[2019-04-05 03:06] jwhittem opened #94 "Document bearer token usage."
So I may have something misconfigured or perhaps vouch doesn't yet do this.  Maybe I'm not sending the curl correctly to test it.  I'm trying to test a curl to OKTA using a bearer token in the authorization header and I get:

time="2019-04-05T03:00:32Z" level=error msg="jwtParsed returned error, clearing cookie"
time="2019-04-05T03:00:32Z" level=error msg="token contains an invalid number of segme

[2019-04-05 03:52] bnfinet commented on #94
Vouch Proxy does not use a bearer token.  The jwt is stored in a cookie.  This will not work.

[2019-04-05 03:52] #94 closed

[2019-04-05 04:04] bnfinet commented on #94
Are you expecting an Okta issued bearer token to work against the '/validate' endpoint?

Vouch Proxy issues its own token (jwt) and maintains it's own keys for validation. There is no facility for validating a token from an IdP.

[2019-04-06 02:47] jwhittem commented on #94
@bnfinet yes, sir thanks for your help, I just wrote a little jwt verifier against okta.  We'll get the token from upstream, and just need to verify a few things.

[2019-04-06 12:59] artagel opened #95 "Allow users to specify which claims to store"
Add the ability for users to specify the claims they want to store that are coming back from the various auth providers.
Example:
vouch is configured as oidc provider through keycloak, which is tied to active directory.  A SSO sign-on sends back a claim for user groups.  The user groups are saved by vouch and can be later used in different ways for authentication, sending them as headers, etc.

[2019-04-06 13:02] artagel opened #96 "Create a globalwhitelist based on the user object, including claims"
If #95 is completed, we can change the "whiteList" config item to a globalWhiteList item, which would be able to validate a user based on anything in the user object.
That could be username, or any custom claim stored by the user.
This would allow a user to globally allow access if any user is in a group, for example.

[2019-04-06 13:08] artagel opened #97 "Allow /validate to returns headers with claims"
If #95 is implemented, we can provide a fully customizable interface for sending headers down to the proxies application.

[2019-04-06 13:12] artagel opened #98 "Allow /validate authorization per host based on claims in jwt"
With #95 implemented, we can allow users to be authenticated based on each post being proxied.  This would add a significant capability to vouch to allow per-application authorization, which is especially important when the proxies applications don't have the ability to do this on their own.  Additionally, this is in line with the beyondcorp model.

[2019-04-07 14:45] tgal opened #99 "Interoperability with OAuth2 Server Library for PHP"
When trying to get Vouch to talk to a Symfony app with this PHP library (see https://github.com/bshaffer/oauth2-server-bundle) after successful authentication Vouch aborts with this error message:

[code]

The email address (me@myemailprovider.com) in the OpenID userinfo body is the primary user id in the Symfony app and I am expecting it in the X-Vouch-User HTTP header.

Any hints what's wrong he

[2019-04-07 15:02] bnfinet commented on #99
Instead of returning a field named 'id', can you get it to return 'email'?
May need to put a number in the 'id' field too.

On Sun, Apr 7, 2019, 7:45 AM tgal <notifications@github.com> wrote:

[2019-04-07 16:01] tgal commented on #99
No, unfortunately it is not possible to remove the 'id' field or have it return an integer.

[2019-04-07 16:41] bnfinet commented on #99
Unfortunately this aspect of OIDC is not specified.  Everyone returns
slightly different user information.

Even if we turned 'id' from int to string there would be other changes
necessary.  It would necessitate establishing a new 'oauth.provider' and
getting the id copied to 'User.username'.

Its probably easier to hack the php library but if you cared to work on a
PR I would be happy to support.

[2019-04-07 18:09] tgal commented on #99
Thanks for your reply, after all it was possible to have PHP return the OpenID userinfo as 'email' and now it all works. Thanks for providing this excellent piece of software!

[2019-04-07 18:09] #99 closed

[2019-04-07 19:00] bnfinet commented on #99
Oh I'm so glad!

Would you be able to provide your config (redacted) for use with the php
library and psuedocode for any modification you needed to make to get it to
generate the email field?  I'd love to link to the thread from the README.

Thanks much!

On Sun, Apr 7, 2019, 11:09 AM tgal <notifications@github.com> wrote:

[2019-04-07 19:14] tgal commented on #99
It was not the PHP library's fault and least of all, Vault's. The PHP app's user_info_url endpoint now simply returns {"email":"me@myemailprovider.com"} instead of formerly {"id":"me@myemailprovider.com"}. It was a change in the way the PHP library was used. Thanks again!

[2019-04-08 12:06] andrewreid opened #100 "Too many redirects"
I apologise – I've read through just about all of the issues, perused the source and still can't nut this out. I think I'm losing my touch!

My nginx configuration is shown below. My internal "protected" app and vouch are behind the same nginx proxy:

[code]

My vouch `config.yml` is pretty straight-forward and it successfully interacts with Google:

[code]

When I hit my protected location, `clou

[2019-04-08 13:09] bnfinet commented on #100
Try two things quick..

Remove..

proxy_set_header Host cloud.reid.ee;

From the /validate block

And try v0.5.6

There may be a bug there in the most recent release.

I'll look at your config a bit closer later today from my machine.

On Mon, Apr 8, 2019, 5:06 AM Andrew Reid <notifications@github.com> wrote:

[2019-04-09 00:26] bnfinet commented on #100
@andrewreid the config looks generally with the exception of the `proxy_set_header Host cloud.reid.ee;` noted above.

Please use `v0.5.9` pushed today

[2019-04-09 00:32] bnfinet commented on #92
Sounds like a reasonable request.

Is there ever a situation where `vouch.cookie.maxAge` would be longer than `vouch.jwt.maxAge`?  That condition should probably be at least `log.Warn` but maybe `log.Fatal`.

Thanks much @artagel

[2019-04-09 00:34] bnfinet commented on #95
Thanks again for splitting these out @artagel and opening the issues

I'll post some comments to each

[2019-04-09 00:52] bnfinet commented on #97
This is certainly something we've talked quite a bit and that I'm fully in support of.

Were you able to look at the performance for `mappedClaims` and returning headers from `/validate` in #90?

The SLA we've set is "less than `1ms`" but my hope is to stay closer to the `0.5ms` we're at now (on reasonable hardware).

Really `/validate` performance should be a unit test with mocking of the IdP but

[2019-04-09 01:30] bnfinet commented on #98
Could this functionality be handled inside of the nginx config instead of being put in Vouch Proxy?  If the correct header were returned could it be interpreted by nginx?

How would be tell the user that they are Unauthorized for a particular domain?  What should happen then?

[2019-04-09 01:31] bnfinet commented on #96
We've been having a slow but extended conversation around `vouch.domains` and `vouch.whitelist` and `vouch.allowAllUsers` and what might be a clearer interface.  I'd like to clean that up to make it more understandable and approachable, probably in a `v1.0.0-pre` branch.

@aaronpk and @halkeye and @simongottschlag have chimed in on such in various issues and on the irc channel (`#vouch` on freenod

[2019-04-09 03:25] krishnam-ntnx commented on #100
getting errors during build for v0.5.9. I also have this too many redirects issue so checking if this newer version will fix it.
./main.go:31:21: cfg.Cfg.Logger undefined (type cfg.config has no field or method Logger)
./main.go:32:21: cfg.Cfg.FastLogger undefined (type cfg.config has no field or method FastLogger)

[2019-04-09 04:07] bnfinet commented on #100
Travis tests for v0.5.9 are passing including build.  That seems odd, like
the 'cfg' package was not updated. Have your updated your code base?  What's
your build command? You're running from docker or binary?

Please do keep us updated.

On Mon, Apr 8, 2019, 8:25 PM krishnam chinthaluri <notifications@github.com>
wrote:

[2019-04-09 09:28] andrewreid commented on #100
Thanks for your super speedy assistance, @bnfinet – I've solved my problem. Well, I should say, your commit solved my problem!

Of note, after upgrading to 0.5.9, the issue was not solved with nginx configuration change you suggested. With `proxy_set_header Host cloud.reid.ee` removed, vouch complained about the host `172.16.1.82:9090` not being in the allowed domains:

[code]

Changing my nginx c

[2019-04-09 12:49] artagel commented on #92
Yeah, I think you are right.  makes no sense to make a cookie that can live longer than the JWT.

[2019-04-09 13:00] artagel commented on #96
So, it seems to me that you already jumped the line over to authorization by adding the whitelist to begin with.  That is essentially an authorization function.
In my eyes, vouch provides a beyond corp style system, or at least it provides it partially right now.  It has the proxy piece, it has the authentication piece, but it is missing the authorization piece (for the most part).

I've tried sev

[2019-04-09 13:01] artagel commented on #97
No, I'll try to find a good way to measure the performance impact.

[2019-04-09 13:08] artagel commented on #98
I actually tried for several days to find a good way to handle this inside NGINX before I went back to adding this to vouch.  The answer is, without recompiling nginx with some special plugins, or using OpenResty nginx (which I wasn't so hot on adding that requirement), nginx cannot handle this.
The real problem is more complex claims, such as the way 'groups' are returned.  They are returned as a

[2019-04-09 13:10] bnfinet commented on #100
Hmmm.

Why isn't cloud.reid.ee getting passed by nginx?  Are you using just the IP
address in the browser?

On Tue, Apr 9, 2019, 2:28 AM Andrew Reid <notifications@github.com> wrote:

[2019-04-09 20:57] krishnam-ntnx commented on #100
I am running from the source. I was able successfully run the previous build. is there particular go version i need to use? i have "go version go1.10.1 linux/amd64"

drwxr-xr-x.  9 root root 4096 Apr  9 20:55 vouch-proxy-0.5.9
[root@ip-172-1-41-28 src]# cd vouch-proxy-0.5.9/
[root@ip-172-1-41-28 vouch-proxy-0.5.9]# go get ./...
# vouch-proxy-0.5.9
./main.go:31:21: cfg.Cfg.Logger undefined (type cf

[2019-04-09 21:32] bnfinet commented on #100
is your old source (`v0.5.8`) still at `~/go/src/github.com/vouch/vouch-proxy`?

what does
`cd ${GOPATH}/src/github.com/vouch/vouch-proxy && git tag | tail --lines=1` show?

[2019-04-09 22:11] krishnam-ntnx commented on #100
cd /root/go/src/github.com/vouch/vouch-proxy && git tag | tail --lines=1
v0.5.9

i am able to run the build now. i cleaned up the go installation and ran the build it worked. Thank you for your help. I will be testing the redirect issue that is the main one to solve :-)

[2019-04-09 22:18] andrewreid commented on #100
I'm assuming that without the `Host:` header explicitly set otherwise, nginx is using the hostname of the `proxy_pass` URL, which in this case is `http://172.16.1.82:9090`.

Is this simply the expected behaviour in this instance? Looking at `ValidateRequestHandler()` in [handlers.go](https://github.com/vouch/vouch-proxy/blob/7954ed863e05298739a7b702ba35345ef41477b0/handlers/handlers.go#L186), it s

[2019-04-09 23:19] bnfinet commented on #100
What is the requested URL in the browser?  What browser are you using?  What URL including host are you seeing in the nginx access logs and the vouch proxy log?

`proxy_pass` does not set the `Host` header, it only passes the request.  The original Host header will be passed unless you explicitly modify it with `proxy_set_header Host cloud.reid.ee`

[2019-04-09 23:48] andrewreid commented on #100
https://cloud.reid.ee/sonarr

Safari and Chrome.

nginx access log doesn't show a hostname in the default configuration, as far as I can tell, but vouch logs show the `Host` for the request. With `proxy_set_header Host cloud.reid.ee` set, I see corresponding hostname in the logs:

[code]

If I remove the `proxy_set_header` directive, on initial redirect to `/validate` by `auth_request`, I see comp

[2019-04-10 00:49] krishnam-ntnx commented on #100
i am still having redirects issue, just attaching logs , can you see anything here?

I am trying to integration with OKTA, using OAUTH

Here is my login and it keeps redirecting after getting http code 200 from the identity provider. Here is the log. If you need more information i can add but here is the log extract.

I have similar ngnix config as andrew,   application request is on devops.stage.

[2019-04-10 00:51] andrewreid commented on #100
@krishnam-ntnx is `stage.com` in `vouch.domains`? Can you share your `config.yml`?

[2019-04-10 01:03] andrewreid commented on #100
My apologies, I didn't see the attachment.

You've specified `domain:` not `domains:` (note the 's') in your config.yml. Try changing that and restarting vouch.

[2019-04-10 01:33] krishnam-ntnx commented on #100
okay corrected the domain part to domains, still the same problem.  I am attaching the logs and also my nginx config.
"no jwt found in request"

domains:
  - stage.com

[nginix_vouch.txt](https://github.com/vouch/vouch-proxy/files/3061595/nginix_vouch.txt)
[new_log_vouch.txt](https://github.com/vouch/vouch-proxy/files/3061582/new_log_vouch.txt)

[2019-04-10 01:35] bnfinet commented on #100
Instead of attachments could you please use hastebin.com or gists

On Tue, Apr 9, 2019, 6:33 PM krishnam chinthaluri <notifications@github.com>
wrote:

[2019-04-10 01:39] krishnam-ntnx commented on #100
Added logs and config here.
https://gist.github.com/krishnam-ntnx/5b2356e97f86949829d11534f8b383e9
https://gist.github.com/krishnam-ntnx/dc49a8452f87ce8fa94715e84444bb4d

[2019-04-10 02:51] krishnam-ntnx commented on #100
Any help here?  Validation is 100% successful but it goes into a loop after that.

I have the location set exactly like this after successful auth

location /kibana {
		proxy_pass http://mogul.reid.ee:8989;
		proxy_set_header X-Vouch-User $auth_resp_x_vouch_user;
		auth_request_set $auth_resp_x_vouch_user $upstream_http_x_vouch_user;
	}

not sure what is missing. I am not able to debug this proble

[2019-04-10 06:02] andrewreid commented on #100
Adding `logLevel: debug` might provide a bit more insight into what’s causing the redirect loop between `/validate` and `login` — it’s not immediately clear to me from the information you’ve provided.

[2019-04-10 10:28] krishnam-ntnx commented on #100
Attaching the debug log @andrewreid

https://gist.github.com/krishnam-ntnx/f252e943ec771dea4398bd3732f6812b

[2019-04-10 12:23] andrewreid commented on #100
I can’t see your vouch config right now on this device, but I have read references in other issues to problems with the cookie.

Have you tried removing all jwt/cookie config from your `config.yml` so vouch just uses its defaults?

[2019-04-10 12:29] krishnam-ntnx commented on #100
Here is my current vouch config file
https://gist.github.com/krishnam-ntnx/1b2a61adb8d25fb2b861bb8848c1ddb3

[2019-04-10 13:00] artagel commented on #100
I suspect it might be this line in your nginx config:
`return 302 https://login.stage.com/login?url=https://$http_host$request_uri&vouch-failcount=$auth_resp_failcount&X-Vouch-Token=$auth_resp_jwt&error=$auth_resp_err;`

Notice the url=https://?  Change that to $scheme://

[2019-04-10 13:02] artagel commented on #100
Also, what url are you trying to reach?
In your log it shows: https://devops.stage.com/, but you don't have that path exposed.  You only have /kibana and some others exposed.

[2019-04-10 13:05] krishnam-ntnx commented on #100
yes this is the path, https://devops.stage.com/, it should show be the welcome index.html of nginx. I have tried https://devops.stage.com/kibana as well same redirect issue.

I am looking at the return 302 path as you suggested, will get back to you after testing.

[2019-04-10 13:09] artagel commented on #100
I find it useful to watch the network tab in the debug area of the browser.  You'll be able to see if cookies get stored and push down in requests, etc.  Also, check to see if you have a cookie set in your browser for your domain.  It should be called VouchSession I believe.

[2019-04-10 13:52] krishnam-ntnx commented on #100
Still the same problem both VouchCookie and VouchSession are set properly, infact while in this loop when i go to /validate in new tab i get http200 ok.  I am not able to understand when there is successful auth why the loop is continuing without honoring location blocks which has auth_request_set data

"VouchCookie=H4sIAAAAAAAA_2zMzY6qMBgA0DcyUKlXl0qkfk0p8Q9aNje0JUOxrSSIDjz9ZPazPJvTzrRTRNvCUrgvEH

[2019-04-10 14:20] artagel commented on #100
Yeah, I saw the 200OK, which is actually good.  Do your nginx logs show any hints?

[2019-04-10 22:10] bnfinet commented on #100
@andrewreid OMG you're right, I had an entirely different understanding.  I'll update the README shortly.

[2019-04-11 03:50] krishnam-ntnx commented on #100
Thank you @bnfinet @artagel  and @andrewreid  for trying to help me out on this issue.
My issue got resolved
in the location = /validate
proxy_pass http://login.stage.com;
           #proxy_pass http://127.0.0.1:9090;

I used the domain i have set in the vouch config instead of ip address,  and redirect issue is solved. I am successfully logged in.

[2019-04-11 04:06] bnfinet commented on #100
Oh I'm so glad.  Hope it's smooth sailing from here.

On Wed, Apr 10, 2019, 8:50 PM krishnam chinthaluri <notifications@github.com>
wrote:

[2019-04-11 04:06] #100 closed

[2019-04-12 16:44] artagel commented on #95
After discussion on IRC, we want to accomplish the following:
1. Add custom claim support
2. Add it to the JWT instead of the user struct
3. pass them down to nginx using X-Vouch-IdP-Claims-"claim"
4. Add config item vouch.headers.claims

[2019-04-12 16:46] artagel commented on #98
Based on IRC conversation, we will try to offload this function.
I will try to make the functionality available as an alternative configuration via openresty.

[2019-04-13 06:26] apratina opened #101 "Invalid session state and no JWT found in request error"
I am seeing 2 issues:

1. With cookie_secure: true, I get error message invalid session state. After changing cookie_secure: false, it works fine. But I need to make it work with cookie_secure: true. Any suggestions on what am I doing wrong here?

2. Also it keeps throwing error as `no JWT found in request`. Any suggestions on what should I do to fix this?

Here is my setup details:

I have my ngi

[2019-04-13 06:33] artagel commented on #101
Your server isn't listening using SSL.
listen 8080; indicates this is http only.
A secure cookie will only work when using ssl, that is in the spec for that secure tag, to avoid secrets being leaked over plain http via cookies.

I suspect your no valid JWT error has something to do with your domain.  JWT is saved as a cookie based on the domain, if your browser doesn't know how to access it and pr

[2019-04-13 06:54] artagel commented on #97
After discussion on IRC, we want to accomplish the following:

1. Add custom claim support
2. Add it to the JWT instead of the user struct
3. pass them down to nginx using X-Vouch-IdP-Claims-"claim"
4. Add config item vouch.headers.claims

[2019-04-13 06:55] artagel commented on #96
After discussion on IRC, we will try to offload this to the proxy, I'll try to test this and write instruction doing advanced authorization with openresty instead of vanilla nginx.

[2019-04-13 09:26] bnfinet commented on #101
Please use hastebin.com and turn on testing as per the README

[2019-04-14 16:52] bnfinet opened #105 "AWS Cognito support"
from the #vouch irc channel...

Vouch Proxy is confirmed working with AWS Cognito

`oauth.user_info_url` must be set with upper case `I` for `oauth2/userInfo`

[code]

[2019-04-14 17:49] #105 closed

[2019-04-16 10:07] mmorsky opened #106 "Improve debug log in handlers/handlers.go"
Hi,

I've been playing with a test setup of Nginx/Vouch, it's a really nice tool and you have done great job with it! There's one minor thing that really threw me off while trying to debug why my setup was not working and it's a log line in `handlers/handlers.go#VerifyUser` function.

In the last `else` block, which I assume is the "everything is ok block" there's a log line "no domains configured

[2019-04-16 14:27] bnfinet commented on #101
@apratina did removing `vouch.cookie.secure` from your config have any effect?

[2019-04-16 18:00] bnfinet commented on #106
Thanks @mmorsky, yeah that is a confusing Debug message.

There's a discussion in #82 going on about that specific block of VerifyUser and the general configuration of Vouch Proxy.  Would you care to chime in on that thread?

I'm going to close this and will make note in 382 that this message should be changed.

[2019-04-16 18:00] #106 closed

[2019-04-16 18:01] bnfinet commented on #82
@mmorsky suggested in #106 an update to the Debug message from this block

[2019-04-17 09:42] mmorsky commented on #106
Ah, great! Thanks @bnfinet!

[2019-04-17 13:37] Nyoroon opened #108 "Provide compiled binaries"
Hello!

It would be very useful to have pre-compiled binaries for those who deploy it on bare-metal and VM.
Maybe build it with travis and push to github releases?

[2019-04-17 16:20] bnfinet commented on #108
Thanks for the suggestion.  Its a good idea.

To offer a static binary as a release we'd need to include the additional static files which get served by the webapp.

The `go generate` method outlined here seems like a viable path..
https://stackoverflow.com/questions/17796043/how-to-embed-files-into-golang-binaries

And of course storing the MD5 checksum

@halkeye setup travis for Vouch Proxy so h

[2019-04-18 16:44] LickABrick opened #110 "Run vouch-proxy as systemd"
Does anyone have a systemd file to run vouch-proxy as a service?
I've tried building my own, but I am not very familiar with creating systemd files.

[2019-04-18 16:46] artagel commented on #110
Not offhand, but I plan on adding some in some documentation and example updates I'm working on in the next week or two

[2019-04-18 16:53] LickABrick commented on #110
Damn your quick. I just posted this, took a shit and you already replied.
Glad to hear you're working on this, Vouch Proxy has been working pretty well for me :)

[2019-04-18 16:55] artagel commented on #110
Out of curiosity...Are you running a compiled binary or go run main.go, ./do.sh run?

[2019-04-18 17:00] LickABrick commented on #110
I did what is mentioned in 'Running from source'

[code]

[2019-04-18 17:09] artagel commented on #110
This will work in a pinch.
[code]
Warning, it runs as root.  If you want to run it as another user you can run it as a user: https://gist.github.com/torch2424/a2d4632831db4327b02d839147685007

[2019-04-18 17:09] bnfinet commented on #110
FYI - The preferred build method is currently

./do.sh build

Which will add the version and other meta data to the binary.

Glad to hear you're enjoying Vouch Proxy!

On Thu, Apr 18, 2019, 10:00 AM LickABrick <notifications@github.com> wrote:

[2019-04-18 17:25] LickABrick commented on #110
@artagel Thanks it works, you got a typo in ExecStart though, it needs to be /root/vouch-proxy/vouch-proxy

[2019-04-18 17:48] artagel commented on #110
Yeah I don't use the same path because I have several versions running.  But yes good catch.

[2019-04-18 18:40] bnfinet commented on #110
wow, pretty sweet!

I'll link to this thread from the README

[2019-04-18 18:40] #110 closed

[2019-04-18 20:53] bnfinet commented on #101
@apratina I'm going to close, please do reopen if your'e having problems and care to work the issue

[2019-04-18 20:53] #101 closed

[2019-04-19 00:21] #92 closed

[2019-04-19 09:34] artagel commented on #98
I'm closing this.  I have documented a way to offload the authorization function and keep vouch purely IdP.

[2019-04-19 09:34] #98 closed

[2019-04-19 17:03] bnfinet opened #111 "where should we store data for future retrieval besides the cookie?"

[2019-04-19 17:07] bnfinet commented on #111
related to #109

I'd like to document the use cases which we would use and discuss options.

@artagel could you help me to flesh out the thinking here.  You've already put quite a bit of good work into #109 but I'm spooked by the lack of iPhone support.

[2019-04-19 17:10] artagel commented on #111
<artagel> the cookie split is needed no matter what.  It'll give a warning, and split cookies if the browse 'does' support it..
<artagel>  with the custom claims support, the claims are an unpredictable size.
<artagel>  so, that is use case #1.  You can't control, for example, the size of the 'groups' a user is a member of, which is probably the primary use case for claims.
<artagel>  the second i

[2019-04-19 17:21] bnfinet commented on #111
how should we support iPhones with custom claims?

Use cases (things we'd like to store and maybe provide to nginx/an app)...

 * claims from idP stored in Vouch JWT
* IdP JWT
* logout token
* reauth token

what are we storing and who's going to use it when?  Will Vouch Proxy use it to interact with the IdP?  Will a VP client (nginx, app) use it?

[2019-04-22 11:56] pcaro commented on #43
+1

[2019-04-30 10:02] moritan opened #114 "User whitelist by domain ?"
Hello,
Is it possible to define user whitelist by subdomain ? or do i need to do a docker instance ( and a config by subdomain ?

if i set domain to example.com.
I would be great to define  a spécific whitelist for app1.example.com and another one for app2.example.com

maybe something like that  (but better ;-) )
[code]

What could be great, is to define whitelist in a separate file whitelist.lst

[2019-04-30 12:02] michal-rybinski opened #115 "Invalid session state (not "secure" related)"
Hi all,

I've set up a vouch in front of my services and are using AWS Cognito as an oath2 provider.
I managed to get it working with Benjamin's help and all works as expected, but from time to time I am encountering an "Invalid session state" issue which by the looks of it points to either unicode encode/decode problem or something else that is dealing with extracting data from cookies on the vou

[2019-04-30 12:17] michal-rybinski commented on #115
Immediately after the above message there is another one which shows that the plus sign have been provided in the referer string as properly urlencoded string:

`{"level":"info","ts":1556534349.125064,"msg":"|200|  205.705µs /auth","statusCode":200,"request":170,"latency":0.000205705,"avgLatency":0.003134225,"ipPort":"127.0.0.1:34346","method":"GET","host":"login.xxx.com","path":"/auth","referer":

[2019-05-02 13:54] eeebalu opened #116 "invalid character '<' looking for beginning of value"
Not sure what was the configuration problem. I have been struggling to get it working. Everything works great by commenting auth_request line in nginx configuration (https). I have valid certs and both vouch and application runs in the same server. Okta login works and finally it is always redirecting to invalid character '<' looking for the beginning of the value. In the Nginx log I am getting 40

[2019-05-02 14:04] eeebalu commented on #116
Everything runs in docker (application, vouch proxy and nginx) inside EC2.
Below is the nginx configuration,

upstream private-domain.company.com {
        server 10.90.139.44:3838;
}

server {
   listen 80 default_server;
   listen [::]:80 default_server ipv6only=on;
   server_name private-domain.company.com;
   return 301 https://$server_name$request_uri/;
}

server {
   listen 443 ssl;
   serve

[2019-05-02 14:16] nilava opened #117 "AWS Cognito Error"
oauth2: cannot fetch token: 405 Method Not Allowed

Getting this error everytime after logging in!

[2019-05-02 18:23] csckhw303 opened #118 "CallbackHandler throw "invalid state" error with the valid state"
Vouch-proxy works great in my POC project but I encountered a glitch as below in CallbackHandler function in handlers.go. When the function compare the state between the one in saved and from query string, the comparison is making a problem if the session string include url encoding characters like "=". For exmaple, the vouch-proxy randomly generated string
"Rp0mx-ijJdOmoci1vI3V7GbjnFwhwL4874LzjhU

[2019-05-02 18:26] bnfinet commented on #116
Please follow these instructions.

https://github.com/vouch/vouch-proxy#okay-i-looked-at-the-issues-and-have-tried-some-things-with-my-configs-but-i-still-cant-figure-it-out

We'll need to see the logs.  But please do use Hastebin which is much easier to reference by line and copy in order to offer support.

[2019-05-02 18:27] bnfinet commented on #116
and set `vouch.testing: true` too please

[2019-05-02 18:33] bnfinet commented on #117
does your `user_info_url` have a capitalized I in the `userInfo` endpoint as per..
https://docs.aws.amazon.com/cognito/latest/developerguide/userinfo-endpoint.html

[2019-05-02 18:34] nilava commented on #117
Yes, that's the first that i did

[2019-05-02 18:35] bnfinet commented on #118
thanks for the report

this is a dup of #115

[2019-05-02 18:35] #118 closed

[2019-05-02 20:14] bnfinet commented on #117
please follow these instructions to provide more information about what you're seeing
https://github.com/vouch/vouch-proxy#troubleshooting-support-and-feature-requests

[2019-05-03 04:25] #115 closed

[2019-05-03 04:27] bnfinet commented on #115
@michal-rybinski could you please upgrade to `v0.5.13` and (hopefully) confirm the fix

[2019-05-03 04:54] bnfinet commented on #95
fixed in #102

[2019-05-03 04:54] #95 closed

[2019-05-03 04:54] bnfinet commented on #97
fixed in #102

[2019-05-03 04:54] #97 closed

[2019-05-03 06:11] bnfinet commented on #111
rather than going to an RDBMS, maybe we can provide a mechanism to discover another vouch on your network and then pass data between them using the shared secret.

This seems a bit easier than going full RDBMS and reduces the attack surface.

[2019-05-03 10:11] michal-rybinski commented on #115
Unfortunately it is still there...

`$ sudo ./vouch-proxy -loglevel debug
{"level":"debug","ts":1556877791.5207422,"msg":"logLevel set to debug"}
{"level":"info","ts":1556877791.5208442,"msg":"jwt.secret read from config/secret"}
{"level":"warn","ts":1556877791.5209095,"msg":"generating random session.key"}
{"level":"info","ts":1556877791.521017,"msg":"configuring oidc OAuth with Endpoint https://

[2019-05-03 10:13] michal-rybinski commented on #115
and I did pull and build the newest version:

`# git pull
remote: Enumerating objects: 74, done.
remote: Counting objects: 100% (74/74), done.
remote: Compressing objects: 100% (30/30), done.
remote: Total 87 (delta 46), reused 68 (delta 41), pack-reused 13
Unpacking objects: 100% (87/87), done.
From https://github.com/vouch/vouch-proxy
   998906f..229f735  master     -> origin/master
 * [new tag]

[2019-05-03 10:56] bnfinet commented on #115
`go get: no install location for directory /1/vouch-proxy outside GOPATH`

What's at `$GOPATH/src/github.com/vouch/vouch-proxy`

Your build is looking for packages at `$GOPATH/src/github.com/vouch/vouch-proxy` which I suspect are the old packages.

Please do not push logs and config to gh issues. Please use hastebin as per these instructions from the README...

https://github.com/vouch/vouch-proxy

[2019-05-03 11:14] michal-rybinski commented on #115
sorry about not using hastebin, I've fixed the post now.
As for the issue, you are right, I wasn't aware that source needs to be in a certain place for go to pick it up and I was running it from a completely different directory. Once I've copied it across to the `$GOPATH/src/github.com/vouch/vouch-proxy` I was able to build it without this error what I assume is a good sign :)

I've done some more

[2019-05-03 11:23] bnfinet commented on #115
Oh I'm so glad to hear that.

Yeah go is a bit too opinionated on this aspect of build imho.

[2019-05-03 22:17] eeebalu commented on #116
nginx default.conf
[code]
vouch config.yml
[code]
Currently Hastebin is not working, so used gist logs
Here are vouch logs: https://gist.github.com/eeebalu/872ee98984c4ca8b5b4aa950ed54e0e9
Here are the ngnix logs: https://gist.github.com/eeebalu/39ee6ec1f4cadfbe948fc0fc37e54246

[2019-05-03 22:49] bnfinet commented on #116
as per the instructions in the README, please edit your comment and post your configs to gists as well

[2019-05-05 02:39] eeebalu commented on #116
Added the config files in gists. Can you please look and suggest?

[2019-05-05 03:19] bnfinet commented on #116
Thanks much for that.  I'm traveling through Tuesday and will look at it
first thing after I get back.

On Sat, May 4, 2019, 9:39 PM eeebalu <notifications@github.com> wrote:

[2019-05-06 18:14] eeebalu commented on #116
Thank you! We are running in EC2 and vouch-proxy, nginx, and actual application runs in the same EC2 inside Docker containers in different ports.
Looking forward for your suggestions...

[2019-05-07 20:59] csckhw303 commented on #69
Yes I agree. I don't think it is validating the token after checking existence of token yet.  Is validation function coming up soon?  I appreciate your implementation schedule for it.

[2019-05-11 11:38] eeebalu commented on #116
Hi can you please look into it when you get a chance?

[2019-05-11 20:34] marhoy commented on #55
I'm using vouch-proxy as a docker image on raspberrypi together with nginx (using balena).
I currently have to recompile docker image for ARM, so I would also be very happy of you enabled building arm-versions.

The image builds on a raspberrypi3 without any changes, so there's no need for a separate Dockerfile.

[2019-05-14 02:06] rayward opened #119 "Templates should be loaded relative to VOUCH_ROOT."
Many other files are loaded relative to this folder, such as the DB.

I'm packaging vouch and the `templates/` and `static/` folder aren't relative to where the binary lives (`/usr/bin`).

Vouch should respect this path.

[2019-05-15 11:04] ksaffarian opened #121 "Wrong auth-url"
Hey guys

I spent lots of time troubleshooting this issue!

The NGINX Ingress config that you suggested, is lacking one important part:
Instead of "nginx.ingress.kubernetes.io/auth-url: https://vouch.yourdomain.com" it should be "nginx.ingress.kubernetes.io/auth-url: https://vouch.yourdomain.com/**validate**"

If you do not set it like that, it goes to 30X redirect loop and does not open the main

[2019-05-15 11:05] ksaffarian opened #122 "Provide helm chart"
Hi

I noticed there is no helm chart for this package. As you have suggested the required configuration for NGINX Ingress on k8s, I would suggest to publish the proper helm chart too.

Thanks in advance

Kev

[2019-05-19 23:36] halkeye commented on #122
I have a helm chart @ https://halkeye.github.io/helm-charts/

[2019-05-19 23:38] halkeye commented on #121
Your right, I just double checked my setup and I've been doing it without the validate

[2019-05-19 23:58] halkeye commented on #121
Actually no, I don't think it should be, I read your thing backwards.

Its as per the docs, without the /validate

[code]

Unless you are using a different nginx setup, that looks right to me

[2019-05-21 21:13] bnfinet commented on #116
Sorry for the delay..

it would appear that your `userinfo` url is not returning userinfo, it's returning an HTML page.

Be sure that you've enabled an Authorization Server in Okta
https://developer.okta.com/authentication-guide/implementing-authentication/set-up-authz-server/
https://developer.okta.com/docs/api/resources/oidc/

The logs you posted do not appear to have `loglevel: debug` set thoug

[2019-05-21 21:16] bnfinet commented on #27
@sciphilo this was implemented in #97, feel free to reopen the issue if you feel otherwise

[2019-05-21 21:16] #27 closed

[2019-05-21 21:17] bnfinet commented on #117
@nilava did you resolve your issue?

[2019-05-21 21:57] bnfinet commented on #121
@ksaffarian are you seeing something different?

[2019-05-21 22:05] bnfinet commented on #121
@halkeye in looking a little bit closer at this are you sure @ksaffarian isn't correct?

as per
https://kubernetes.github.io/ingress-nginx/examples/auth/oauth-external-auth/#key-detail

I'd suspect we should be using
[code]
Which would imply that the README is wrong and should have `/validate` there.  If we don't include `/validate` in the URL, where does it get the `/validate` endpoint from?

[2019-05-21 22:11] halkeye commented on #121
I'm certainly not certain

[code]

[code]

So maybe if you explicitly set it, it doesn't use the auto generated _external_auth endpoint. But it does work for me

[2019-05-21 22:17] ksaffarian commented on #121
Hey team.
From README and general NGINX config, we want the server to redirect traffic to /validate.

Without /validate, my first visit of the page would redirect me (interestingly) to authentication page, i.e. /login, and consequently to the OIDC provider login form.
However, the redirect back from OIDC, went through a loop of /auth , /authorize , /login and end up a blank page after 4 loops. I c

[2019-05-21 22:26] bnfinet commented on #121
I see, I think I understand what's happening there in your config @halkeye and it has to do with the ambiguity of Nginx's `proxy_pass` directive and how it interacts with the  `auth_request /validate;` directive.

Essentially, `proxy_pass` will append `/validate` from the `auth_request` if the proxy_pass doesn't end with a `/` or any other explicit path.  Its a subtle behavior that we've encounter

[2019-05-21 22:28] bnfinet commented on #122
I'll add a link to @halkeye 's helm chart from the README

[2019-05-21 23:56] ksaffarian commented on #122
Thanks guys.

[2019-05-22 02:13] halkeye commented on #121
Yea I just checked. Apparently does work. I'm not sure what's recommended.
I guess the explicit url?

On Tue., May 21, 2019, 3:26 p.m. Benjamin Foote, <notifications@github.com>
wrote:

[2019-05-22 20:20] #43 closed

[2019-05-22 20:20] #74 closed

[2019-05-22 20:28] bnfinet commented on #74
@butsjoh this was implemented in #104, but the cookies got large with the additional IDs so they have been split up as per #109, therefor your ruby code will need to conform to `Vouch_1of3` naming convention for the cookies.

[2019-05-22 21:21] #121 closed

[2019-05-22 21:21] #122 closed

[2019-05-23 16:21] #117 closed

[2019-05-24 08:08] moritan commented on #116
hello,
did you try to add the header "X-Forward-Proto https" ?

vouch-proxy run on http but your public access is on https

an extract of my nginx conf ( the set upstream is to bypass docker initialisation problem) :

[2019-05-28 01:33] ptr727 commented on #40
Hi, sorry to jump in here, but I'm trying to add a logout option, at least so that I can easily test logging in again.
Any update on how to logout for an Okta login?

[2019-05-28 17:49] bnfinet commented on #40
@ptr727 is this comment helpful to you? ...
https://github.com/vouch/vouch-proxy/issues/40#issuecomment-478266562

Are you testing logging in with Vouch Proxy or with Okta?

if you're testing logout, or anything else.  Be sure to consider settting `vouch.testing: true` which may be of help in your development.

[2019-05-28 18:48] ptr727 commented on #40
I want to put a logout button on my website, and I will call whatever I need to to log the user out, i.e. next time they hit a protected site they need to login again.

I did try calling http://vouchserver/logout, but my user remained logged in.
I saw that comment, and I assumed that vouch is not (yet) supporting logout.

Or am I doing the logout operation wrong, should I call Okta isntead of Vouc

[2019-05-28 19:11] bnfinet commented on #40
When you say "my user remained logged in" do you mean, logged into Okta?

If so, you should figure out what your Okta logout endpoint is and then append it to your call to logout as the query string paramater `url` such as...
http://vouchserver/logout?url=http://yourokta/logout

[2019-05-28 19:24] ptr727 commented on #40
Ah, ok, I misunderstood the URL purpose, I thought that is the return redirect URL.
Will vouch add the session id as required by Okta to the URL?
See https://developer.okta.com/docs/api/resources/oidc/#logout

Should the logout URL not be part of the vouch configuration yaml?

I can't test this right now, so please excuse my questions without testing it first.

[2019-05-28 23:36] ptr727 commented on #40
Ok, matching the sentiment of the previous comments, it looks to me as if vouch needs to be responsible for adding the id_token parameter to the logout command.

I tried to point my logout link to:
http://vouch.home.insanegenius.net:9090/logout?url=https://dev-424935.okta.com/oauth2/default/v1/logout

And as expected I get a 400 bad request error:
Error Code: invalid_token
Description: The id toke

[2019-05-29 00:18] bnfinet commented on #40
That sounds about right.

Will you be submitting a PR?

[2019-05-29 18:15] torarnv opened #124 "include WWW-Authenticate header with "Bearer" for `/login` 302 redirect to IdP"
Looking at the readme, the `error401` location does a 302 redirect to the login page. Doesn't this mean that the user will see the login page with a 200 response? Shouldn't that be a 401 response, ideally with a WWW-Authenticate header with "Bearer"?  How else would an app (mobile app e.g.) that acts as a frontend to an API or a website, realize that the API is not directly available but needs aut

[2019-05-29 18:50] bnfinet commented on #124
The login page itself issues a 302 redirect to your configured IdP.  It does not offer a login facility of its own.

[2019-05-29 18:51] torarnv commented on #124
Ah, right, sorry. But from testing GitHub and Google's flow, their login pages return 200. Is this not part of the spec and the providers do as the please?

[2019-05-29 18:55] bnfinet commented on #124
That sounds prudent, though I'm perhaps not as familiar with this part of the spec as you are.  Sounds like they should be offering better security hygiene for this aspect of login for any configured OAuth application.

[2019-05-29 18:58] torarnv commented on #124
I'm very unfamiliar with this :) Which is why I was surprised to not find any clear way for an API client to detect that an auth proxy has been inserted in front of the origin server. I can see the same strange behavior with Cloudflare Access.

[2019-05-29 19:10] bnfinet commented on #124
@aaronpk do you have any opinion on @torarnv 's question?

@torarnv you could also pop into the #vouch irc channel on freenode where you're likely to find some opinions/suggestions on an implementation

If there were a best practice for signaling "auth required" it would make sense to include additional headers for Vouch Proxy's `/login` 302 redirect.

[2019-05-29 19:12] torarnv commented on #124
Thanks @bnfinet, I'll check the IRC channel!

[2019-05-29 21:24] torarnv commented on #124
Parallell discussion https://community.cloudflare.com/t/identity-provider-login-served-as-200-not-401-with-www-authenticate-header/86981

[2019-05-30 03:17] rayward opened #125 "Store PAccessToken and PIdToken in VouchCookie in decoded form."
It looks like there's already a lot of discussion around the size of the cookies, however it's not just the size of vouch's cookies which are the issue but together with cookies of applications themselves which can cause the 4096 'limit' to be exceeded.

It seems like a big contributor to the size of the  `VouchCookie` is that `PAccessToken` and `PIdToken` which are JWT's themselves (though I beli

[2019-05-30 19:47] torarnv commented on #124
I'm not entirely sue if including a `WWW-Authenticate` in anything but a 401 is "per spec". I think the bigger issue here is that after the 302, the IdP doesn't return a 401 or give any other means (as far as I can tell) of knowing that an auth is required.

[2019-05-30 19:56] bnfinet commented on #124
The spec you referenced includes....

3.  The WWW-Authenticate Response Header Field

If the protected resource request does not include authentication
credentials or does not contain an access token that enables access
to the protected resource, the resource server MUST include the HTTP
"WWW-Authenticate" response header field; it MAY include it in
response to other conditions as well.

So I thin

[2019-05-30 21:54] menathor opened #126 "Using same port as cockpit"
Hi guys

Just started playing around with vouch but running into conflicts with Cockpit (cockpit-project.org). Cockpit also uses port 9090 and is becoming a really popular option for gui-based server management. Maybe it's worth changing vouch's default port in light of that? Might avoid some headaches down the line. Just a suggestion :)

[2019-05-30 23:07] bnfinet commented on #126
Thanks for the suggestion and your interest in Vouch Proxy.

If Cockpit or another active project had a registered port with ICANN I could possibly see changing the port, but the overlap with Cockpit seems slight and it is not difficult to change the Vouch Proxy port.

Overall, I'd prefer not to change the port, which would disrupt existing setups.

https://en.wikipedia.org/wiki/List_of_TCP_and_UD

[2019-05-30 23:07] #126 closed

[2019-06-07 18:20] bnfinet commented on #116
@eeebalu feel free to reopen the issue if you care to work on the problem further

[2019-06-07 18:20] #116 closed

[2019-06-18 17:27] fsilvestre opened #127 "Verify preferredDomain with hostDomain for Google authentication's"
I'm tried to figured out why Vouch isn't validating host domain from Google users.
When i set preferred domain, i got the box of username prefilled with @domain.com but it still allow users to use their @gmail.com or another mail domain hosted by Google, allowing them to authenticate against the system.
Said that, i'm looked for a way to do it with HostDomain information and to use it i added hd f

[2019-06-20 01:16] bnfinet commented on #127
@fsilvestre did you set `vouch.domains` to the same domain you set as the `oauth.preferredDomain` as per...
https://github.com/vouch/vouch-proxy/blob/master/config/config.yml_example_google

If you'd like further support please follow the instructions in the README regarding posting your redacted configs.  Without your configs and logs its difficult to understand the expected behavior and what you

[2019-06-20 11:56] csckhw303 opened #128 "Login failure after Token expire"
I am getting error as below
![image](https://user-images.githubusercontent.com/22225680/59847385-54af5200-9330-11e9-93cf-56106b417ded.png)

"/login too  many redirects for https://example.com/login/loggedIn" after using the application for 15-20 min. Currently, Vouch token expires after 17 min and Salesforce(IDP) session expires 15 min.  Nginx & Vouch are running on the same aws ec2 instance. (It

[2019-06-20 18:52] bnfinet commented on #128
Could you please follow these instructions and please post your configs and logs to hastebin.com.  It's much easier to find needles in haystacks with a proper paste service.

And  be sure to set `vouch.testing: true`

https://github.com/vouch/vouch-proxy#im-getting-an-infinite-redirect-loop-which-returns-me-to-my-idp-googleoktagithub

[2019-06-22 01:11] macourteau opened #129 "WebSocket support"
I have a server configured exactly as described in the README. It works great when reverse proxying most servers, but it fails when a site requires websockets.

I created a minimal websocket server [here](https://github.com/macourteau/websocket-test) (a Docker image is also available [here](https://hub.docker.com/r/macourteau/websocket-test)). It works correctly if I reverse-proxy it without `auth

[2019-06-24 19:53] bnfinet commented on #129
@macourteau could you please post your redacted configs and logs including nginx as per
https://github.com/vouch/vouch-proxy#troubleshooting-support-and-feature-requests

I suspect that you should be able to detect the 200 returned from the `auth_request` sidecar (which is what I think you're seeing in the logs) and then issue the `upgrade` back to the browser as shown in...
https://www.nginx.com/

[2019-06-26 18:46] madworx opened #130 "Healthcheck command line option"
It would be nice to have a `-healthcheck` command line option to the ` vouch-proxy` command, to enable some sort of rudimentary healthcheck in a docker-compose environment.

Agreed that if the main pid of the container dies it serves as a quite solid indication that the application has failed, but I'm thinking more in the lines of software-lockups etc which could hopefully be detected with a `--he

[2019-06-26 18:47] madworx commented on #130
Unless this is something that goes against some unwritten thought pattern or idea around `vouch-proxy`, I'm available to implement such a functionality.

[2019-06-26 19:27] bnfinet commented on #130
thanks @madworx that seems reasonable, would happily accept a PR for a `HEALTHCHECK` addition to `Dockerfile` and `Dockerfile.alpine`

You've probably already seen the `/healthcheck` endpoint.  I'd suggest that `./vouch-proxy --healthcheck` make a client request of the `/healthcheck` endpoint and then exit with an error code on poor response
https://github.com/vouch/vouch-proxy/blob/master/handler

[2019-06-26 19:44] madworx commented on #130
Awesome. Yes, I did find it, but in a "docker-compose" context, the healthcheck would need to be a command possible to execute inside the docker container.

I'll get on working on it :)

[2019-06-26 19:47] madworx commented on #130
And I agree on your sentiment that it "could" attempt some other sanity checks, but alas, there's only so much you can validate outside of your own scope/domain.

All in all, I just feel that a HEALTHCHECK stating at least something is > no healthcheck :D

[2019-06-26 20:49] macourteau commented on #129
I figured I'd try to make a simpler setup from scratch to repro the issue, and WebSockets worked fine in that simpler setup. 🤦‍♂️

I rebuilt my entire setup from scratch, and everything works now - thanks! 🎉

[2019-06-26 20:49] #129 closed

[2019-06-26 21:11] bnfinet commented on #129
oh I'm so glad to hear it.

Did you need to do anything specific with your config?  Is there any aspect of your Nginx config which you would be valuable to share for others trying to protect a WebSocket service with Vouch Proxy?

[2019-06-27 00:40] macourteau commented on #129
Sure, here's my setup. I'm running [letsencrypt](https://hub.docker.com/r/linuxserver/letsencrypt/) as a reverse proxy, [vouch-proxy](https://hub.docker.com/r/voucher/vouch-proxy) for OAuth2 authentication, and [websocket-test](https://hub.docker.com/r/macourteau/websocket-test) as a demo websocket application.

It's likely that I don't need _everything_ in these configuration blocks, but this wor

[2019-06-27 00:55] bnfinet commented on #129
@macourteau thanks so much for providing your setup!

[2019-06-27 00:57] macourteau commented on #129
No worries, thanks for Vouch Proxy! 👍

[2019-06-27 15:08] pipersniper opened #131 "Docker-Compose with NGINX in front of App and Vouch containers"
Hi all,

Having trouble getting a dockerized setup working. My goal is to run docker-compose to stand up a single instance of NGINX to reverse proxy both Vouch and my web app. I got everything working with just NGINX and my web app prior to adding Vouch into the mix, at which point I seem to have broken things. When I browse to http://localhost, it appears to be redirecting me per the `location @e

[2019-06-27 15:19] bnfinet commented on #131
Could you please review the README regarding trouble shooting and modify your issue to use a paste service such as hastebin.com

And please set 'vouch.testing: true'

[2019-06-27 15:27] pipersniper commented on #131
I tried that at first but unfortunately the paste services I'm aware of are all blocked at my office - I'll have to do that this evening if I get a chance.

I moved the testing: true block inside of the vouch heading in the config.yml file and got the same output in the logs, for whatever that's worth.

[2019-06-27 15:29] bnfinet commented on #131
How about gists?  Something that provides like numbers and preserves spacing please.

[2019-06-27 15:59] pipersniper commented on #131
Ah - fair enough. Does this work?

[Gist](https://gist.github.com/pipersniper/2e0db74bdd42fad0127f53908b853d87)

[2019-06-27 16:48] bnfinet commented on #131
Thanks, that helps considerably with troubleshooting.

Have you configured it to resolve?

If http://vouch:9090  is not resolvable by your browser, you can try modifying the 302 redirect to reference http://localhost:9090, or modify your `/etc/hosts` file to set `vouch` to a local ip address (probably `127.0.0.1`)

If you're not seeing the vars from L19-22 set properly try copying those into the `

[2019-06-27 17:07] pipersniper commented on #131
You were right about the DNS thing, I just was struggling to wrap my head around how to send data to the vouch container with a redirect, since most configs I've written thus far are just `proxy_pass http://<container-name>:<port>`

I tried both options for configuring the redirect to resolve, it appears to resolve now (but the resulting page only says `404 page not found`) either way. For now, I'

[2019-06-27 17:20] bnfinet commented on #131
this line should reference `/login`, not `/validate/login`
https://gist.github.com/pipersniper/2e0db74bdd42fad0127f53908b853d87#file-proxy-conf-L29

[2019-06-27 17:35] pipersniper commented on #131
Would help if I could read :) Anyway, progress! With vouch.testing set to true, I got prompted to login with okta, and then forwarded on to the test site properly. Once I turned off testing I got stuck in a redirect loop. Looks like there are some issues  about this already logged, I'll take a look there first but might come back.

[2019-06-27 17:43] bnfinet commented on #131
glad to hear it.  I'd bet what you're experiencing now is issue is cookie related..
https://github.com/vouch/vouch-proxy#im-getting-an-infinite-redirect-loop-which-returns-me-to-my-idp-googleoktagithub

[2019-06-27 22:59] davidgibbons opened #132 "Support environment variables as well as a config file for setup"
Starting to look into using vouch to secure some internal resources at work and it would be so much easier to integrate into my workflow if it could take it's configuration settings as  environment variables.

We inject our secrets into the configuration via a third party tool as environment variables. In order to write out a valid config file i'm going to have to create a wrapper. Supporting thin

[2019-06-28 13:28] pipersniper commented on #131
Ok, so my oauth.callback_url is set to http://localhost/auth.

When I browse to http://localhost to start everything, the localhost network request has the Host header set to localhost.

The request initiated by the 302 redirect has the Host header set to localhost:9090.

Could the port number be messing with things? I'm wondering if I need to make a fake domain that I can resolve in order to test

[2019-06-28 15:25] bnfinet commented on #131
have you tried using developer tools in the browser to inspect the cookie?  What domain is the cookie getting set into (I'm guessing its `vouch`)  If its not `localhost` then `localhost` will never see the cookie and can't forward it along in the sidecar call to `/validate`

[2019-06-28 15:36] pipersniper commented on #131
Yeah, domain on the VouchSession cookie is set to localhost. Everything __looks__ right to me here - does anything jump out at you?
<img width="1920" alt="Screen Shot 2019-06-28 at 11 34 13 AM" src="https://user-images.githubusercontent.com/26089489/60353773-bc9d1280-9998-11e9-8162-ef538df1e9c4.png">

[2019-06-28 15:43] bnfinet commented on #131
that's the Session cookie used to store the URL which you will be forwarded to after successful login, not the Vouch cookie which stores the JWT.

Please post refreshed logs and config to a gist.

[2019-06-28 15:56] pipersniper commented on #131
Certainly: [New Gist](https://gist.github.com/pipersniper/3cde4501d83e5daf6bb3518bdaf354eb)

[2019-06-28 16:07] bnfinet commented on #131
Until you get Vouch Proxy running behind Nginx you'll need to have your `callback_url` as `localhost:9090/auth`
https://gist.github.com/pipersniper/3cde4501d83e5daf6bb3518bdaf354eb#file-config-yml-L18

[2019-06-28 22:44] bnfinet commented on #132
Thanks for the suggestion @davidgibbons and welcome back :)

There's been talk on occasion about adding environmental variable based configuration with an eye on supporting a 12 factor setup.

The configuration library in use is [spf13/viper](https://github.com/spf13/viper#working-with-environment-variables) which does have support for such right out of the box...
https://github.com/spf13/viper#wo

[2019-06-29 00:00] pipersniper commented on #131
That did it! Thanks so much for the help!

[2019-06-29 00:00] #131 closed

[2019-07-01 15:35] jayb1122 opened #133 "Does OAuth OpenID Connect Config.yml support multiple callback_urls?"
Running Vouch Proxy in a docker swarm where any of the swarm member VMs may be running or not. If callback_url is set to a specific VM that happens to be unavailable (for any reason), then the callback fails. I tried adding multiple callback_url entries but vouch proxy was unhappy. Using keycloak as the authentication server and it does support multiple entries as does Okta. Any ideas? Maybe I'm d

[2019-07-01 15:41] libussa commented on #133
Not in its current form, no
https://github.com/vouch/vouch-proxy/issues/79

[2019-07-01 20:28] bnfinet commented on #133
yes that's right, redundant with #79
@jayb1122 @libussa lets take the conversation there please

[2019-07-01 20:28] #133 closed

[2019-07-01 20:30] bnfinet commented on #79
As per #133 @libussa do you have working code?  Care to submit a PR?

If not @jayb1122 perhaps you'd care to work on this?

[2019-07-01 20:35] libussa commented on #79
@bnfinet I do, I just moved the if logic. I didn't however do what you suggested (against the originally provided URL stored in the session variable)

I can submit a PR if you still want it

[2019-07-03 20:03] davidgibbons commented on #98
@artagel  where did that get documented?

[2019-07-03 20:13] bnfinet commented on #98
@davidgibbons it's in #107 pending merge

[2019-07-16 18:24] bnfinet commented on #128
@csckhw303 I'm going to close this for now, please do reach out if you care to reopen

[2019-07-16 18:24] #128 closed

[2019-07-16 18:25] bnfinet commented on #127
@fsilvestre I'm going to close this issue, please do reach out if you'd like to reopen

[2019-07-16 18:25] #127 closed

[2019-07-17 18:50] bnfinet commented on #114
@artagel has documented how to accomplish this using OpenResty...
https://github.com/vouch/vouch-proxy#advanced-authorization-using-openresty

It's not quite as simple as a whitelist per domain but it can be done.

[2019-07-25 00:20] bjornicus opened #135 "AAD configuration question"
It seems like trying to use vouch with azure active directory doesn't quite work because, as far as I've been able to work out, it's failing trying to get the userinfo but doesn't realize it and tries to parse the response anyway.  Here is my vouch config:

[code]

and the relevant log snippet
[code]

the suspicious line (to me) is `{"level":"info","ts":1564012470.0837474,"msg":"OpenID userinfo bo

[2019-07-25 02:07] artagel commented on #135
Try using adfs instead of oidc as a provider.  Adfs has the same behavior where you can only use the token once.  Getting the user info is handled slightly different than a regular oidc provider.

[2019-07-25 03:19] bjornicus commented on #135
well, changing my provider to adfs makes it not work in a different way.  I'm now seeing an "Invalid session state" page (was also sometimes seeing a message about "Email  is not within a Vouch managed domain" on the page, and it's always in the log (below).  Not sure if the problem is actually domain related, or the fact that all of the profile fields seem to be empty (or something else).

[code]

[2019-07-25 04:06] bjornicus commented on #135
I also get similar (but at least the name field is populated) if I use oidc but the v1 (e.g /oauth2/authorize) endpoints.  Fortunately I've now got it building and running in a local docker container so I can see if I can get it working with some code changes.

[2019-07-25 04:24] bjornicus commented on #135
ah ha!  I some more googling finally revealed that the v2.0 userinfo endpoint is actually https://graph.microsoft.com/oidc/userinfo . (that stack overflow answer is 4 years old so I realized might be out of date).

I then I still had the vouch managed domain issue, but I apparently had a misunderstanding about the domains list in the vouch config.  The comment in the config says:
  # valid domains

[2019-07-25 12:51] artagel commented on #135
So, now it is working?
You should be able to see all your valid endpoints here: https://login.microsoftonline.com/{tenant}/.well-known/openid-configuration

[2019-07-25 16:01] nromanel opened #136 "Customize messaging?"
Hi,

Could you provide any guidance on customizing responses? Specifically looking to update the response when a user logs in but is not on the whitelist.

Thanks!

[2019-07-25 16:28] bnfinet commented on #135
@bjornicus if you would like to submit a PR (preferred) or suggest a specific change to the documentation wrt AAD I'd be happy to review it.

[2019-07-25 16:45] bnfinet commented on #136
Hi @nromanel

That certainly could be improved upon.

Currently the error is generated here..
https://github.com/vouch/vouch-proxy/blob/master/handlers/handlers.go#L481
With the call to `RenderIndex(w, msg)` and the `Msg` var is inserted into this template..
https://github.com/vouch/vouch-proxy/blob/master/templates/index.tmpl#L21

You could customize the templates in a fork or perhaps in a `Docke

[2019-07-25 17:17] nromanel commented on #136
Thanks for the quick reply! I'll start poking around.

[2019-07-25 17:17] #136 closed

[2019-07-25 17:19] bjornicus commented on #135
Thanks for the tip, I didn't know about teh .well-known list. Unfortunately it gives the original userinfo endpoint that does not accept a JWT, instead of the graph api one that does :(

Anyway, I think as far as documentation updates, it would be sufficient to add an AAD sample oauth config to the sample configs like this:

[code]

and a update the comment about domains to something like
[code]

[2019-08-03 05:51] scotie opened #138 "too many redirects using duckdns.org domains"
Hi,

I also have the most popular issue here.

`Too many redirects ` and `no jwt found in request`.

In my case the difference is  that I don't have a domain, rather I'm using duckdns.org service and I don't know if it will work at all so...

I've created 2 subdomains `mydomain.duckdns.org` and `login-mydomain.duckdns.org`

Here's my vouch config:

[code]

And my nginx config:

[code]

And finally

[2019-08-03 12:26] artagel commented on #138
If you look at the logs it is complaining about no domains. If you add domains to your vouch configuration it will likely work.
It looks like there may be a bug in the allow all users config item, where it doesn’t properly ignore the domain check if it is set. I can check when I have a computer in front of me. For now add the domains me try again.

[2019-08-03 14:25] artagel commented on #138
The code looks ok.  The readme explains how to better post configs in order for us to view them correctly.  Spacing and tabbing in yaml files is important.  Please follow the instructions here: https://github.com/vouch/vouch-proxy#okay-i-looked-at-the-issues-and-have-tried-some-things-with-my-configs-but-i-still-cant-figure-it-out

[2019-08-03 16:44] scotie commented on #138
Hi @artagel,

Thanks for the quick reply.

I did try switching the `allowAllUsers:` to `false` and adding domains in the following manner:
Once I've tryed only the top level domain, which is `duckdns.org`.
Once only `mydomain.duckdns.org` and `login-mydomain.duckdns.org`
And lastly all off them together.

All of those give me the same result, but no more complaints about domains not being found.

[2019-08-03 18:24] artagel commented on #138
It seems like maybe your jwt isn’t being set in the cookies. Try surging off secure cookie just to see if it works. If it does, you have http somewhere instead of https. Also, I like to watch the logon flow with developer tools network tab.  You can watch when the cookies are being set and if you send them on subsequent requests as well as track the redirects.

[2019-08-03 19:41] scotie commented on #138
Still get the same result.

Well, if I'm reading this correctly, then after I'm redirected from `octa `to `login-mydomain.duckdns.org` the cookie is set. I'm looking at the Cookies section in the network tab and see VouchCookie.

But when I'm redirected to `mydomain.duckdns.org` - there are no cookies.

I also tried changing the domain name in the cookie section of the `config.yaml`
to `duckdns.or

[2019-08-04 16:28] scotie commented on #138
Just to clarify, this is what I see:

![image](https://user-images.githubusercontent.com/16435978/62426460-de06c200-b6ed-11e9-9251-25f60878540d.png)

Shouldn't the cookie be a long string sepereted by 2 dots ?

P.S.
Just a thought... Is there a minimal supported `nginx` version?

Thanks

[2019-08-05 20:02] scotie commented on #138
Update.
Just upgraded to `nginx 1.17.2`, but still no change.

[2019-08-06 18:56] bnfinet commented on #138
@scotie have you read the README regarding troubleshooting?  How did that work?

Could you please post your configs and logs to a gist or paste service as requested.

[2019-08-06 19:02] bnfinet commented on #135
@bjornicus is AAD working for you now?

[2019-08-06 20:10] bjornicus commented on #135
Yes, with the oauth config I posted above it is working.

[2019-08-06 20:26] #135 closed

[2019-08-07 17:00] bnfinet commented on #119
fixed by #120

[2019-08-07 17:00] #119 closed

[2019-08-07 20:36] scotie commented on #138
Hi @bnfinet ,

I did try to think like a cookie, but it didn't help...

I tried playing around mostly with cookice and jwt settings in the config.yml
Tried switching to `google `instead of `oidc`, upgraded my nginx.

It seems that the cookie isn't there when I'm redirected from `login-mydomain.duckdns.org` to `mydomain.duckdns.org`

There are the config files and the logs
https://gist.github.com/s

[2019-08-07 21:41] bnfinet commented on #138
`vouch.cookie.secure: false` will only set the cookie into an http session yet you are serving vouch proxy from https://login-mydomain.duckdns.org
https://gist.github.com/scotie/17d990c74570c44079a6e43c1c12096c#file-config-yml-L21

If you have further trouble please set `vouch.testing: true` and post new logs and config.

[2019-08-07 23:07] #77 closed

[2019-08-08 05:04] scotie commented on #138
Hi @bnfinet ,

secure was set to false for testing as @artagel  suggested.

Here's the log with enabled testing and log-level debug:
https://gist.github.com/scotie/17d990c74570c44079a6e43c1c12096c#file-log-with-testing-set-to-true

I hope I'm doing it right with `testing: true`

After each request I'redirected to vouch static site and need to redirect manualy.
After signing in to okta and back to

[2019-08-08 05:07] bnfinet commented on #138
Did you change the config wrt cookie.secure?  What happened when you did?

On Wed, Aug 7, 2019, 10:04 PM scotie <notifications@github.com> wrote:

[2019-08-08 05:23] scotie commented on #138
You mean after setting cookie.secure to true?

I didn't notice any changes

[2019-08-08 05:25] bnfinet commented on #138
Please post your updated config.

On Wed, Aug 7, 2019, 10:23 PM scotie <notifications@github.com> wrote:

[2019-08-08 05:45] scotie commented on #138
Updated
https://gist.github.com/scotie/17d990c74570c44079a6e43c1c12096c#file-config-yml

[2019-08-08 05:48] bnfinet commented on #138
Get rid of the leading dot in vouch.domains for '.duckdns.org'

On Wed, Aug 7, 2019, 10:45 PM scotie <notifications@github.com> wrote:

[2019-08-08 06:08] scotie commented on #138
Sorry about that, I was playing with the settings yesterday.

Still the same result though:

https://gist.github.com/scotie/17d990c74570c44079a6e43c1c12096c#file-config-yml
https://gist.github.com/scotie/17d990c74570c44079a6e43c1c12096c#file-debug-log

[2019-08-08 22:14] bnfinet commented on #138
That log does not appear to correspond to your config.  Please re-run your vouch proxy session and provide new logs using your updated config.
https://gist.github.com/scotie/17d990c74570c44079a6e43c1c12096c#file-log-with-testing-set-to-true-L11

[2019-08-09 03:55] scotie commented on #138
You are looking at the wrong log.
I deleted all the irrelevant once

[2019-08-09 04:18] bnfinet commented on #138
@scotie I still see the log you referenced at
https://gist.github.com/scotie/17d990c74570c44079a6e43c1c12096c#file-log-with-testing-set-to-true-L11

[2019-08-09 04:29] scotie commented on #138
Sorry, I didn't commit the changes after deleting the old files.

This is the one
https://gist.github.com/scotie/17d990c74570c44079a6e43c1c12096c#file-debug-log

[2019-08-09 17:29] bnfinet commented on #138
That log shows `vouch-proxy` successfully forwarding you to Okta, recieving confirmation that you logged in at Okta, and then issues a cookie.

On the next request, the cookie is not presented by your browser.  What browser are you using?

Try clearing out all cookies for your domain from your browser.

[2019-08-09 18:09] reedstrm opened #139 "supporting openstax oauth, a non-openid-compliant oauth2 provider"
Thanks for vouch, I was able to get it working with our local, home-grown oauth2 provider, but hit two issues. (Bear with me, I'm new to golang)

Took me a bit to realize that I _had_ to provide one of the listed providers, since there's no default fallback for `getUserInfo()`. So, go ahead and use `oidc`.  This lead to the first, biggest problem, is that our code is oauth2, _not_ OpenID, so `vouc

[2019-08-09 19:06] scotie commented on #138
I've tried Chrome, Edge and even internet explorer.
Also tried Chrome with incognito.

Perhaps something in the nginx config not letting vouch set the cookie?

[2019-08-09 19:16] bnfinet commented on #139
thanks for diving into Vouch Proxy @reedstrm and sharing your experience

Testing `u.Username` before overwriting it seems like the correct behavior.  Care to offer a quick PR?

Not specific to this issue, but generally related, I've thought we should probably be using `u.Sub` or `u.Subject` instead of `u.Username` as per https://tools.ietf.org/html/rfc7519#section-4.1.2

wrt `ptokens.PIdToken` I

[2019-08-09 19:20] artagel commented on #138
On chrome you can open developer mode, watch the network tab, go through the cycle then watch to see if a cookie is returned and if you are providing it ok the next request.  Also, you can check your cookies on chrome for your domain and see if you have a vouch cookie set.

[2019-08-09 19:23] bnfinet commented on #138
Lets try with one browser first, use Chrome please.
Did you clear the cookies for the domain?  Did that have any effect?
Do you see the cookie getting set using Developer Tools?
Do you see the cookie in the next request?

[2019-08-09 20:14] scotie commented on #138
Cleared the cookies, here's the new log
https://gist.github.com/scotie/17d990c74570c44079a6e43c1c12096c#file-debug-log

Again, if I 'm looking at it right - I see a` Set-Cookie` header in the `Response Headers`
It is `vouchTestingCookie`, as I named it in the config file and it's followed by a long string.

When I go to /validate, I only see a header `Cookie` in the `Request Headers` which is call

[2019-08-09 21:09] bnfinet commented on #138
Are you able to log into Okta?

Why are you getting `/auth Invalid session state`?
https://gist.github.com/scotie/17d990c74570c44079a6e43c1c12096c#file-debug-log-L93

You are no longer getting a jwt cookie issued by Vouch Proxy.

Are you trying to use two separate browser windows at the same time?

[2019-08-09 21:47] reedstrm commented on #139
Sure, I'll cut a branch w/ just the don't clobber on it. As to the other, not sure I have sufficiently broad experience to generalize to "other oath2 implementations" I've really only worked with the one.
<wavy lines 3 hours later>
So, that wasn't too painful. I'll cut two PRs: one w/ the don't clobber and test for valid config provider name. The other w/ adding an OpenStax provider (note that's _

[2019-08-11 08:38] scotie commented on #138
I suspect I might have had a broken installation of golang, so I did a clean install of golang and latest version of vouch-proxy just to make sure it wasn't the issue.

So this is the new log:
https://gist.github.com/scotie/17d990c74570c44079a6e43c1c12096c#file-new-debug-log

The config hasn't changed.

Yes.

I don't know what happend, this seems ok now.

What do you think about this?

I have a fe

[2019-08-11 12:16] bnfinet commented on #138
Why does the VouchSession cookie get returned by /validate but not the
VouchTesting cookie?

Is that still the case?

Is your nginx config current in the gist?

On Sun, Aug 11, 2019, 1:38 AM scotie <notifications@github.com> wrote:

[2019-08-11 13:21] scotie commented on #138
It is the case still.

This is `login-mysomain.duckdns.org`
![image](https://user-images.githubusercontent.com/16435978/62834360-83241c00-bc53-11e9-83ad-e45c565583a8.png)

And this is `mysomain.duckdns.org`
![image](https://user-images.githubusercontent.com/16435978/62834366-9b943680-bc53-11e9-8ab5-078e3de1ad81.png)

Yes, allthough I did try to take the config from README.md as is, exept changing

[2019-08-11 13:28] bnfinet commented on #138
Remove all of your cookie config elements.  What happens now?

On Sun, Aug 11, 2019, 6:21 AM scotie <notifications@github.com> wrote:

[2019-08-11 13:39] scotie commented on #138
Don't see any changes except for the cookie name and now it's not secure.

[2019-08-11 13:47] bnfinet commented on #138
And if you set just 'voich.cookie.secure:true'
?

On Sun, Aug 11, 2019, 6:39 AM scotie <notifications@github.com> wrote:

[2019-08-11 15:47] scotie commented on #138
Still the same.
No Cookie on the request to /validate

[2019-08-11 17:36] bnfinet commented on #138
If you see the cookie getting set, why isn't it getting returned?  Is there
anything unusual about your browser or setup?

Please copy and paste the successive urls you're visiting in order for two
round trips as well as the log.

On Sun, Aug 11, 2019, 8:47 AM scotie <notifications@github.com> wrote:

[2019-08-11 19:45] scotie commented on #138
I don't think it's browser related.
I've tesed it on PC with Chrome, Edge and Internet explorer.
On Android with Chrome and Firefox.

Regarging my setup:
I'm running `nginx 1.17.2` on Raspberry Pi b+ ( 1st gen ).
I've reinstalled vouch today, so it sould be latest.
And, of course I'm using `duckdns.org` with Let's Encrypt certificate and with 2 subdomains:
`mydomain.duckdns.org`
`login-mydomain.du

[2019-08-11 22:15] bnfinet commented on #138
Please list all the urls you visit.  Copy and paste all the urls you see in
the browser into the gist or here for each step of the process of logging
in and then being forwarded back to your original URL.  Please provide a
log which corresponds to doing that twice.  Don't omit anything.

On Sun, Aug 11, 2019, 12:45 PM scotie <notifications@github.com> wrote:

[2019-08-12 14:58] yuanzhou opened #142 "Globus Auth"
Currently I'm exploring options to implement SSO for our organization. We have multiple systems running under the same main domain name with different sub-domains on AWS. Each system has its own login/logout implementations via Globus Auth. Some systems are WordPress sites with member management and the auth is handled using OpenID Connect plugin with Globus Auth. Some systems are Python web apps

[2019-08-12 19:32] reedstrm commented on #139
fixes in PRs  #140 and #141

[2019-08-16 01:58] Gauravshah opened #143 "supporting passing basic-auth"
**Describe the problem**
Is there a way to pass authentication info as http basic auth instead of just headers to downstream application ?

**Additional context**
We are moving from bitly oauth proxy to vouch. There are multiple applications that do not support headers based auth for example zeppelin. https://zeppelin.apache.org/docs/0.8.0/setup/security/shiro_authentication.html . It does support

[2019-08-16 04:19] artagel commented on #143
Not that I am aware of. Vouch doesn’t capture the credentials, that is the auth provider, so vouch wouldn’t have any way to pass down the basic auth. If somehow your auth app would pass back the basic auth to vouch, then you could pass it down using nginx.

[2019-08-16 04:26] aaronpk commented on #143
You would never want Vouch to pass credentials back, and in many cases that would be impossible.

But, you can configure nginx to set the HTTP Authorization header to the username returned by Vouch and a blank or hard coded password. Your backend would then look for the username part of HTTP Basic auth and it would work. This is doable right now with some nginx config, no code changes necessary. I

[2019-08-16 04:37] Gauravshah commented on #143
@aaronpk I should have explained better. I do not want to send back credentials. I want to send back username to downstream application so that it can identify who is authenticated. One way is to send via headers which vouch supports. Other way is to send via the Authorization header with a blank or dummy password.

Yes I also assumed that nginx should be able to read header sent from vouch and co

[2019-08-16 04:38] Gauravshah commented on #143
@artagel my question was instead of using `gaurav` as header , can it send `base64_encoded("gaurav:dummy")` so that at nginx I can use it as authorization header

[2019-08-16 04:50] aaronpk commented on #143
Yes great, I'm glad we're on the same page. I thought there was a base64 function available in nginx. If not, that seems like a good feature request for Vouch to handle!

[2019-08-16 05:00] Gauravshah commented on #143
Thanks @aaronpk I will look for some more time on nginx if not will open a separate issue with feature request tag.

[2019-08-16 05:14] artagel commented on #143
This is exactly why I created all the documentation around openresty. It’s nginx with lua scripts, and will give you the ability to mangle or change anything with a lot more power than nginx has.  Check out the openresty examples, and you can change them from authentication using a header to simply changing or adding a header once you encode it.

[2019-08-16 07:45] artagel commented on #143
Here is the lua module that would encode the string. https://github.com/spacewander/lua-resty-base-encoding

[2019-08-19 15:21] redm123 opened #144 "How to get Vouch Proxy to work with homegrown local OAuth service"
Hi

I'm trying to get vouch-proxy to work with some homegrown local OAuth service. Went through the docs a couple of times, looked through reports here, tried this and that. But no success so far. Meanwhile I'm starting to think that either I'm missing the obvious or my use case/our OAuth service is (currently) simply not supported.

See vouch config, nginx config, logs at https://hasteb.in/ivepiw

[2019-08-19 16:16] artagel commented on #144
In order for vouch to support a home-grown oauth provider that doesn't conform to a standard (like oidc), you'd need to add code to support that provider, ensure the user data can be gotten fro the right place, etc.

If you look at line 533 in[ handlers.go](https://github.com/vouch/vouch-proxy/blob/master/handlers/handlers.go#L533) you'll see the code is choosing which user function to call depend

[2019-08-20 10:07] redm123 commented on #144
Thanks for the answer. That was my thought, too. I was just not sure if maybe I'm just holding it wrong ;)

Looks pretty straight forward, so I might try to build a custom provider.

It seems the provider handling is mostly about getting the user info. Would it make sense to add support for some kind of generic provider? Like specify a URL in the config, possibly with some placeholders to fill in

[2019-08-20 16:15] artagel commented on #144
I'm sure if you submit a PR with a way to handle this in a generic way, it would be welcomed.

[2019-08-20 18:50] reedstrm commented on #144
In fact, I've got a PR to support our own local custom OAUTH provider. #141 The primary issue being different userinfo, as you pointed out. Hopefully, that'll help you by example. I didn't try to generalize, since I didn't have more than one data point. If you can come up with something that works for both yours and ours, that might be more general.

[2019-08-25 19:56] bnfinet commented on #138
@scotie any update?

if you're no longer working on this I'll close the issue

[2019-08-26 09:45] trulyliu commented on #105
How should I configure in AWS Cognito user pool?

[2019-08-26 19:17] scotie commented on #138
Yeah, sorry.
I won't have time to work on it in the near future.

[2019-08-26 19:17] #138 closed

[2019-08-27 08:05] trulyliu commented on #105
oauth:

  # Generic OpenID Connect
  provider: oidc
  client_id: your_app_clientid
  client_secret: your_app_client_secret
  auth_url: https://yourdomain.auth.eu-west-1.amazoncognito.com/oauth2/authorize
  token_url: https://client_secret.auth.eu-west-1.amazoncognito.com/oauth2/token
  user_info_url: https://client_secret.auth.eu-west-1.amazoncognito.com/oauth2/userInfo
  scopes:
    - openid

[2019-08-27 09:00] michal-rybinski commented on #105
Just wanted to respond but I see that you solved it yourself.
That's pretty much as I have it set up as well, good work.

[2019-08-27 18:19] dfresh613 opened #145 "SSL certificate verification for userinfo call to the IdP with self signed cert"
Hi, I have a test system I am using Vouch to perform OIDC authentication against. This system currently uses a self signed certificate. In production, it will not use self signed certificate.

Would it be beneficial to implement a flag which will allow vouch to skip verification of all certificates for self signed environments?

What is the best way to go about this? I assume we can update the htt

[2019-09-09 15:53] bretesq commented on #135
We're still having problems with AAD, even with the suggested change to user_info_url.

`
{"level":"error","ts":1568044230.9780664,"msg":"no jwt found in request"}
{"level":"info","ts":1568044230.9781075,"msg":"|401|   54.673µs /validate","statusCode":401,"request":4,"latency":0.000054673,"avgLatency":0.147964229,"ipPort":"172.17.0.1:54250","method":"GET","host":"nms.xxxxx.net","path":"/validate",

[2019-09-11 03:25] bjornicus commented on #135
```{"level":"warn","ts":1568044231.5060787,"msg":"domain not found in any domains [login.microsoftonline.com vouch.xxxxx.net nms.xxxxx.net xxxxx.net]"} {"level":"error","ts":1568044231.506086,"msg":"Email is not within a Vouch managed domain"}```

suggests maybe the account you are logging in with is not in the vouch config `domains` list.

[2019-09-11 21:58] bretesq commented on #135
Unfortunately, we are. All the domains are in the list, however, vouch isn't seeing any domain at all.

[2019-09-11 22:11] bnfinet commented on #135
@bretesq could you please file a proper bug report as is outlined in the README

[2019-09-13 22:23] bnfinet commented on #139
#141 has been merged!

[2019-09-13 22:23] #139 closed

[2019-09-13 23:25] bnfinet commented on #145
@dfresh613 thanks,

I do understand the use case.  I have run into the same issue myself on occasion.  However I do wonder if you can use http for your test environment and forego adding this feature.

If it were implemented I believe the client would need to have a properly configured context passed as shown here..
https://godoc.org/golang.org/x/oauth2#ex-Config--CustomHTTP

All of the `cfg.OAuth

[2019-09-13 23:28] bnfinet commented on #144
@redm123 I'm inclined to close this issue for the time being, it looks like your question has been answered.  If you would like to submit a PR I'm happy to review.

[2019-09-13 23:28] #144 closed

[2019-09-16 11:03] redm123 commented on #144
Oh, sorry for not reporting back. So I was able to make it work by hacking an own provider for the user info. Actually I found that our OAuth server is almost like ADFS. I just needed an additional `Authorization` header with client secret for the /token URL. And I get a flat JSON with some custom attributes (see above) instead of a nested id_token.
Not sure how useful that is for public consumpti

[2019-09-16 13:11] dzirg44 opened #148 "Infinity auth loop"
https://gist.github.com/dzirg44/86d4488663ab88b8e8b3913a777df996

**Infinity auth loop**
I have read all similar issues are connected with  such problem, but didn't find  solution.

**Current behavior**
cannot login , return back to the login page again and again

**Expected behavior**
Authorization without loop

**Desktop (please complete the following information):**
 - OS: MacOS
 - Browser: fir

[2019-09-16 13:20] bnfinet commented on #148
Your configuration is for 'oidc' but your urls are google.  You should use
the Google specific config.  Start with the minimum config for Google
example in the config directory of this repository.

For domains, you just need 'mydomain.io'.

On Mon, Sep 16, 2019, 6:11 AM Oleg Tsymbal <notifications@github.com> wrote:

[2019-09-16 13:22] bnfinet commented on #148
If you have further problems, please post your logs, with debug and testing
set to true

On Mon, Sep 16, 2019, 6:20 AM Benjamin Foote <google@bnf.net> wrote:

[2019-09-17 16:04] ssudame opened #149 "make OAuth IdP refresh token requests to keep the user logged in"
Does vouch_proxy refresh access token when it's getting close to expiration? Can it get refresh token (assuming offline_access in scope) - that can be used to refresh expiring access token.  What needs to be changed in the code to enable such feature?

[2019-09-17 18:23] dzirg44 commented on #148
@bnfinet thank you for your help. Yep , I used the wrong provider, my mistake I thought that I  can use google with oidc, because when I used oicd with alb (as an auth rule) i didn't have any problem.

Also, if you don't mind I have a question , how  can  I use nested items like teams ?
https://api.github.com/user/teams
I created the claim
[code]
but i don't have any ideas how I can access to this

[2019-09-18 12:35] bnfinet commented on #148
@dzirg44 Github teams is not supported at this time.  An additional call to the github api would need to be made and some config in Vouch Proxy would need to be setup to filter on teams but none of that has been implemented.  Do let me know if you're at all interested in working on this feature :)

https://developer.github.com/v3/teams/#list-user-teams

[2019-09-18 12:35] #148 closed

[2019-09-18 12:45] bnfinet commented on #125
Sorry @rayward I thought I had responded here along with applying the labels.  That seems like a fine idea. Would you be interested in working on this feature?

[2019-09-18 12:51] bnfinet commented on #149
Vouch Proxy does not make use of a refresh token.  I would support a PR if you cared to work on this but there's some other structural concerns...

Part of the problem is where to store a refresh token.  Right now VP is mostly stateless.  Every request relies on parsing the JWT Cookie to determine state.  If we held the refresh token for each user we would either expand the Cookie, possibly beyond

[2019-09-19 08:51] RyanGannon opened #150 "restrict accepted logins by GitHub organization"
Is it possible to restrict accepted logins by GitHub organization? That is, instead of restricting by email address domain or just allowing anyone on GitHub access to my site, can I set Vouch to only allow members of a specified GitHub organization to access my site?

I feel I'm missing something simple.

[2019-09-20 17:38] bnfinet commented on #150
To the best of my understanding, no it is not possible.

If github provided any Oauth claims in their token which indicated organizational status it should be possible to use Openresty to fiiter users
https://github.com/vouch/vouch-proxy#advanced-authorization-using-openresty

Github team membership is a separate api call
https://developer.github.com/v3/orgs/members/#check-membership

It's possibl

[2019-09-24 01:37] jessecooper commented on #94
Why dose vouch use the Cookie header instead of Authorization?  Since most oauth libs place the tokens in the Authorization header in a Authorization: <type> <token>` format this seems like it could cause some potential workflow issues.

[2019-09-24 01:53] aaronpk commented on #94
Vouch is meant to be accessed by browsers, which send a Cookie header.

[2019-09-24 08:08] RyanGannon commented on #150
Thank you. This answers my question.

[2019-09-24 08:08] #150 closed

[2019-09-24 12:19] jessecooper commented on #94
That statement should probably be documented in the README.

This will help people understand the direction of the project as well.

[2019-09-30 09:11] leshik opened #153 "Question: will it work for our case?"
Hi,

I'm trying to choose between `vouch-proxy`, `oauth2-proxy`, or writing our own custom solution. Please, help me understand if `vouch-proxy` will work for our use case (and if not, what should be done to implement the required functionality.)

We have many geographically distributed web servers, each on its own subdomain under `domain1` (thus, not a single `nginx` config), as well as the same

[2019-09-30 09:21] artagel commented on #153
Vouch is designed to be like an authentication gateway to other services.  So if you had, for example, an unauthenticated service sitting at service.domain1.com, you could put vouch in front of it, and have people authenticate to google and then if they are authenticated, proxy the connection to service.domain1.com.  At this point, on service.domain1.com, you'd restrict access on the IP level only

[2019-09-30 09:43] leshik commented on #153
@artagel thank you for the quick reply!

Initially, JWT is created by the backend API, then frontend gets it by GraphQL when a user logs in. Then frontend adds `Authorization: Bearer ...` header to every request. Besides Google Sign In, we also have non-oauth2 users who should be able to authenticate with a login/password pair (thus they also need JWT.) But we can change the implementation to make

[2019-09-30 10:51] artagel commented on #153
But your backend API is generating the JWT based on an authenticated session from google right(except non-oath2 users).  If you change your downstream systems to use some kind of user authentication or identification mechanism passed by vouch, then you are golden.  Otherwise, they'd have to authenticate again, which puts you back in your original problem.

So for example, vouch is validating your

[2019-09-30 10:56] artagel commented on #153
By the way, oauth2-proxy essentially works the same way as vouch, using NGINX to send an auth request to a third part auth service and then allowing the traffic down if the auth is successful...
So whichever product you choose, the problem is the same.  Vouch has more options and customization when it comes to being able to send additional info to downstream websites, IMO.

[2019-09-30 11:47] leshik commented on #153
Thank you for your thorough reply @artagel, we’ll definitely give vouch a try! I’ll let you know how it goes.

[2019-09-30 13:40] artagel commented on #153
No worries :)  Just remember if you are using a username or something similar in headers downstream to identify the user, you absolutely need to make sure that your downstream sites only allow traffic from your proxy, otherwise, someone could easily forge the headers and impersonate other users.
If your question is answered, you can close the issue.  You can always open another one if you get stuc

[2019-09-30 13:46] #153 closed

[2019-09-30 17:16] davidgibbons opened #154 "Auth invalid state when using Docker.alpine on kubernetes"
**Use a Paste Service**
https://gist.github.com/davidgibbons/85bf7350632843aec9644d8c1a1e603a

**Describe the problem**
I'm attempting to add vouch to an existing nginx sidecar in my kube setup. We're not using ingresses right now so just adding the annotations for an ingress isn't going to work.

I feel like i'm pretty close to things working in this setup however after being returned from okta,

[2019-09-30 22:24] bnfinet commented on #154
thanks @davidgibbons

As part of the `/login` flow the a "state" variable is generated and stored in a session cookie in the browser.  After logging in at the IdP (okta), a redirect to the `oauth.callback_url` is issued which includes the "state" var.  `/auth` reads the state variable from the session cookie and makes sure it matches the `state` variable which was handed back by the IdP.  My suspi

[2019-09-30 22:44] davidgibbons commented on #154
@bnfinet
I updated the gist with full logs, I didn't realize that they were being truncated due to using a selector.

vouch.domains is set to swagger.vevodev.com,
callback url is swagger.vevodev.com/auth

[2019-10-01 16:11] bnfinet commented on #154
We're talking about this on irc this morning, it might be a bug but we need a bit more information.

The session variable is definitely getting overwritten as all of the requests are redirected to `/login`.  That means any image/css request such as https://swagger.vevodev.com/static/css/main.css gets loaded.

a few questions first...

How is your browser even getting to a page which includes a req

[2019-10-01 17:02] davidgibbons commented on #154
There's a ELB doing SSL termination and then the kubernetes cluster maps from the ELB to the target port 8000.

I was really hoping to not have to setup additional domain names to get this to work, my goal was to make a setup pattern that was generic enough that I could use it in front of several different services, adding a vouch-swagger, vouch-app2 is going to be kinda ugly, but i can do it for

[2019-10-01 17:05] bnfinet commented on #154
this is the question I'm most interested in...

[2019-10-01 17:11] bnfinet commented on #154
All (or a subset) of your sites can 302 redirect to https://vouch.vevodev.com and as long as you set `vouch.domains[0]` to be `vevodev.com` you can use the same pattern in all of your nginx `server{}` blocks for an `$SITE.vevodev.com`.

[2019-10-01 17:13] davidgibbons commented on #154
That was my initial (working!) setup but then I was given the specs that they need to backend to different okta apps/groups for different user access.

[2019-10-01 17:16] bnfinet commented on #154
Could you please take a moment to answer my question :)

[2019-10-01 17:27] davidgibbons commented on #154
Oh sorry, I thought that was more of a rhetorical question. I really don't know. My best guess is that it was cached? I can delete and pull logs again using incognito.

[2019-10-01 17:36] bnfinet commented on #154
Is the behavior any different if you evade cache (shift + f5)?

[2019-10-01 18:05] davidgibbons commented on #154
Turns out the CSS requests were from the vouch testing mode.

I needed to add /static to the locations block in nginx.

[2019-10-01 18:05] #154 closed

[2019-10-01 18:11] bnfinet commented on #154
So glad to hear it @davidgibbons

Might add something to the documentation incase anyone else cares to setup nginx inline similar to your setup

[2019-10-04 10:08] leshik opened #156 "Allow scopes to be set for Google OAuth config"
I'm unable to set scopes (and other options) for Google provider. Others have something like `if len(GenOAuth.Scopes) == 0 { ... }` but for Google, it seems that it's hardcoded. Is this intentional and am I missing something?

[2019-10-09 14:09] molndal opened #157 "vouch nginx guacamole redirect with hash-mark # as URI separator"
Hi

I'v setup an nginx+vouch solution that works just fine for most of my websites but when trying to protect an apache guacamole 1.0.x i get a problem with redirecting back to the guacamole URI that has an hash sign as an URI separator and not as a fragment delimiter.

URL looks something like this: https://some.domain/#/client/ but vouch just redirects me to https://some.domain/

If I'm already

[2019-10-09 15:16] artagel commented on #96
Oh, we offloaded this using openresty.

[2019-10-09 15:16] #96 closed

[2019-10-09 15:20] artagel commented on #157
Can you provide logs and configs?
https://github.com/vouch/vouch-proxy#troubleshooting-support-and-feature-requests

I'd be interested in also seeing the redirects in the debugging tab of Chrome, to determine if you are being redirected to the proper url, and which url you send in the request.

[2019-10-10 06:54] molndal commented on #157
Hope this is what you need, I tried making them somewhat anonymous but wasn't really sure if I could cut out anything.

[vouch-guac-redirect-stripped.log](https://github.com/vouch/vouch-proxy/files/3710867/vouch-guac-redirect-stripped.log)
[config-stripped.yml.txt](https://github.com/vouch/vouch-proxy/files/3710876/config-stripped.yml.txt)
[chrome-log-stripped.txt](https://github.com/vouch/vouch-p

[2019-10-10 07:07] twelve34 opened #158 "ADFS custom claims sending X-Vouch-IdP-Claims-xx headers do not work"
Adding custom claims on ADFS and configure Vouch to send them didn't work.
After debugging  we found that into function handlers/handlers.go the customer claims are not found.

inside function:
handlers/handlers.go

`funcgetUserInfoFromADFS(r *http.Request, user *structs.User, customClaims *structs.CustomClaims, ptokens *structs.PTokens) (rerr error) {`
....
 `req, err := http.NewRequest("POST", c

[2019-10-10 07:39] molndal commented on #157
Here's the nginx configs, they are not running on the same nginx-instance.

[nginx-guac-conf-stripped.txt](https://github.com/vouch/vouch-proxy/files/3711100/nginx-guac-conf-stripped.txt)
[nginx-vouch-conf-stripped.txt](https://github.com/vouch/vouch-proxy/files/3711102/nginx-vouch-conf-stripped.txt)

[2019-10-10 08:42] molndal commented on #157
Not really related to the issue but I created an ugly workaround. The /#/client uri works when not doing redirects through vouch and nginx seems to remember a previous auth-request in the server context so i used vouch to auth this url: https://guacamole.somedomain/guacamolehost and I let nginx serve a html file with a meta http-equiv="refresh" content="0; url=https://guacamole.somedomain/#/client

[2019-10-10 14:32] artagel commented on #158
Give me a few days, I'm out of town.  But I'll take a look.

[2019-10-10 14:37] artagel commented on #158
I tested this at one point, I'll kick my lab VMs up again after the weekend and test it.
ADFS is freaking weird, so It doesn't surprise me that it is different.

[2019-10-10 17:20] bnfinet commented on #156
yep, looks like its hard coded.  Google OAuth was the very first implementation for VP, when most of what were concerned with from the IdP was can the user authenticate.

It's probably a quick fix, care to submit a PR?

[2019-10-10 17:33] twelve34 commented on #158
If you need more info or something to test let me know

[2019-10-10 18:11] bnfinet commented on #157
This is a limitation of the browser and http spec.  The browser does not send the "target" portion of the requested URI which includes the the `#` mark and everything afterwards.  Ngxinx's `$request_uri` variable does not represent the target because it never receives it in the request header.

https://stackoverflow.com/questions/940905/can-i-read-the-hash-portion-of-the-url-on-my-server-side-appl

[2019-10-10 18:11] #157 closed

[2019-10-10 18:16] bnfinet commented on #149
After some consideration we've decided to take this off the roadmap, at least for now.  We've discussed this on IRC and we're not sure of the utility of a refresh token vs. just asking the user to go log in again.  Because of the long lived nature of refresh tokens we see it as a potential exposure to carry the refresh token in VP.

I'm going to close this for now but please (anyone) do let us kno

[2019-10-10 18:16] #149 closed

[2019-10-10 18:21] aaronpk commented on #157
You might be able to get away with URL-encoding the `#` character, using `%23` instead.

But in any case, the technique of using `#` for single-page apps is extremely dated and serves no real purpose anymore and that software should be updated to use real URLs and the Session History Management API.

[2019-10-10 19:14] bnfinet commented on #130
@madworx thanks for the contribution!

[2019-10-10 19:14] #130 closed

[2019-10-11 01:44] artagel commented on #157
Also, I noticed that the app uses username and password in get params, which is also extremely dated. That means your nginx logs will log all these passwords.  That is no good.

[2019-10-11 08:34] leshik commented on #156
@bnfinet sure, I pushed the trivial fix in #159.

[2019-10-12 07:43] mnmdad opened #160 "Checking Site or SubDomain matches a Group in Claims"
I am using Okta.  Authentication is working perfectly.

We run a SaaS Platform with a subdomain for each Customer.  Further, we have a Group in Okta for each Customer.  So, we need to check the User is member of Group X when they try to access subdomain X.

I discovered that that **SiteInClaims** does not work for this because the Groups are stored in the PAccessToken, which is itself a jwt and me