[2019-10-13 15:04] artagel commented on #158
So here are a couple of things I've noticed:
In my testing, I don't get an 'email' address from ADFS.
[code]
I'm not sure if anyone else that uses ADFS sees the same thing.

The email is only passed down in the id token as far as I can tell:
[code]

The id token is also where the claims are passed.  So that means changing line 823 to ```if err = mapClaims(data, customClaims); err != nil {``` with

[2019-10-13 15:06] artagel commented on #158
@simongottschlag Do you have any comment on this?

[2019-10-13 15:09] artagel commented on #160
May I suggest you fork the repo and add a branch with your changes, then paste the branch link here so it can be reviewed?

[2019-10-14 05:55] molndal commented on #157
Thank you for the information, I will use the workaround, I know that username/password in uri is bad practice but I don't care about login for the application at all, apache have disabled the option of using no-auth since a couple of versions back. I agree the app seems a bit dated but it is the best one I have found for html5 rdp gateway and https://guacamole.apache.org/ released this version (1

[2019-10-14 09:24] simongottschlag commented on #158
@artagel I was debugging the mapClaims and saw that none of my claims were added at all previously. Since I don't use it myself I asked (https://github.com/vouch/vouch-proxy/commit/e24bd0276b1d57459fc9846266e745ad250415e2#r35000945) and changed it according to the discussion.

If I remember correctly, nothing were ever mapped with the way we did it before - but I may be mistaken here.

I'm always

[2019-10-14 14:44] artagel commented on #158
@simongottschlag I didn't have atallclaims set.
[code]
But still UPN maps to username, and not email. And the code validates email against domain.  You might have 'whitelist' enabled to allow a specific user?
If I map ldap claims in ADFS for email, then yes my validation is working.

[code]

Also, in this instance, mapclaims(data) is working for me.   We should probably add some reference somewher

[2019-10-14 14:45] artagel commented on #158
@twelve34 are you using atallclaims?

[2019-10-14 17:51] twelve34 commented on #158
@artagel I didn't use atallclaims.
We added custom claims into our ADFS configuration and the result is that these custom claims (Groups and department) are seen into the access_token and not into the id_token
Example (somewhat anonymised)

[code]

[code]

[2019-10-14 18:17] bnfinet commented on #158
@artagel no real objections, thanks.  That's consistent with how some of the others providers are handled at this point.

I'll add just the caveat that I have wondered for some time if we should move to using `sub` instead of `username`, which conforms to the OIDC spec, probably as a `v1.0.0` breaking change.  I suspect we'd still have to check for "sub" and fall back for a few of the providers.

[2019-10-14 18:47] artagel commented on #158
@twelve34 so the point is if you simply turn on allatclaims then you should see the claims in the ID token and it will map your claims properly.
https://blogs.technet.microsoft.com/piameruo/2017/10/22/custom_idtoken/

[2019-10-15 11:47] twelve34 commented on #158
@artagel allatclaims did indeed the trick,  now ID token contains all the custom claims. So we can revert back to use ID token

[2019-10-16 22:23] #79 closed

[2019-10-16 22:23] #156 closed

[2019-10-16 22:28] bnfinet commented on #158
@twelve34 good to close?  Sounds like yes :)

[2019-10-17 06:32] twelve34 commented on #158
@bnfinet No, after add allatclaims the custom claims are indeed into the ID token but mapclaims(data) doesn't fil the custom cleams headers.

after changing it to ID token it works
[code]

`{"level":"debug","ts":1571293585.9531293,"msg":"response header","all headers":{"X-Vouch-Idp-Claims-Department":["TestDepartment"],"X-Vouch-Idp-Claims-Given_name":["twelve"],"X-Vouch-Idp-Claims-Groups":["group1

[2019-10-17 17:20] artagel commented on #158
@twelve34 I don't think that's right.  On my test environment, I get the claims once I add the allatclaims config.

[2019-10-17 23:13] sshantt opened #164 "How can I change the default 9090 port that vouch-proxy runs on?"
How can I change the default 9090 port that vouch-proxy runs on?

[2019-10-17 23:16] sshantt commented on #164
Nevermind.. Found it

[code]

[2019-10-17 23:16] #164 closed

[2019-10-18 06:24] twelve34 commented on #158
@artagel first of all thanks for your help.  There must be something in my ADFS configuration. attalclaims did indeed the trick that it add the customClaims to the ID token but I think there must be another config part that forces to place the custom claims also outside the ID token into the reply.
Can you share the value of data before entering the mapClaims function ?

[2019-10-18 20:17] ryan-boyle opened #165 "/auth Invalid session state: stored %!s(<nil>), returned even with successful 200 status code"
**Describe the problem**
I am trying to use Vouch to integrate Nginx web application into my Okta authentication, but I can not seem to get past this issue. I am using ssl, with cookies turned on, so I can't seem to see where this issue could be coming from. Any direction would be much appreciated!

**Expected behavior**
To be directed to my protected.domain.com

**Desktop (please complete the fol

[2019-10-18 22:30] bnfinet commented on #165
@ryan-boyle could you please follow the instructions in the README regarding troubleshooting and posting your configs and logs

kind regards

[2019-10-21 04:00] soulchips commented on #114
As a work around, i'm running 2 vouch servers on one instance but using different ports. So 9090 will map to x.domain.com and a config with its own whitelist while 9091 will be the same but the config has a different white list.

I found this pretty easy to set up. the only other thing i had to do was tell nginx which subdomains should use which ports

[2019-10-22 10:11] ffdybuster commented on #128
I have a similar problem. I'm using vouch-proxy together with [dex](https://github.com/dexidp/dex/). The site that is protected regularly reloads (once per minute), so after `jwt.maxAge` minutes, dex's login screen appears. Now I have multiple tabs of this open, so I end up with a different login screen in every tab. If I log into one of them, I get `/auth Invalid session state.`. I can try to log

[2019-10-22 17:23] bnfinet commented on #128
@ffdybuster please follow the instructions in the README and open a new issue

[2019-10-23 10:18] ffdybuster opened #167 "Problem when multiple tabs all end up on the upstream provider's login page"
**Describe the problem**
While testing vouch-proxy with dex (using its LDAP provider) I experienced the following:

 1. I have a page which automatically reloads. This is protected by vouch-proxy.
 2. I usually have multiple tabs of it open. So eventually, the JWT expires and all tabs end up on dex' login screen.
 3. If I sign in on one of them, I get `/auth Invalid session state`. Trying to log i

[2019-10-23 10:19] ffdybuster commented on #128
@bnfinet I created a new issue, but I don't have the setup anymore, so I don't have logs. Feel free to close #167 if you really want the logs.

[2019-10-28 20:04] ioMatrix commented on #40
Was there any movement on this? I am also using Okta and need the logout function to work. The token seems to be a required element to send in GET request.

[2019-10-28 20:12] bnfinet commented on #40
no, no change, if you'd be interested in working on this feature please do let us know

[2019-10-29 09:20] mirzakhany opened #168 "Support multiple clientId"
We use vouch to proxy requests to our services and keycloak as openid provider with ingress.
Is it possible to handle more than one client  with single installation? For example with passing clients specific configs with nginx annotations?

[2019-10-29 11:30] mashirozx opened #169 "Multi domain OAuth with GitHub？"
**First read the README**
Feature Requests

**Describe the problem**
OAuth provider: GitHub

Github can only set one callback URL for each client ID, so the `domains` block in config file won't work (maybe?). But assume there is <http://a.com> and <http://b.com>, I want to use the same OAuth system on both site, can we set two Github client ID for each domain in one vouch progress? Vouch detect th

[2019-10-29 16:34] bnfinet commented on #165
@ryan-boyle would you like to continue with this issue?  If not, could you please take a moment to close it.

[2019-10-29 16:53] artagel commented on #168
What do you mean by more than one client?  Like multiple websites?

[2019-10-29 17:09] bnfinet commented on #169
Vouch Proxy does not have such a feature at this time.  Only one [oauth.provider](https://github.com/vouch/vouch-proxy/blob/master/config/config.yml_example_github#L18-L24) can be configured for each running instance of Vouch Proxy.  You are right, since GitHub only allows one `callback_url` which is set in GitHub's oauth config (or rather,  If provided, the redirect URL's [host and port must exac

[2019-10-29 17:09] #169 closed

[2019-10-29 17:13] bnfinet commented on #168
@halkeye is there a way in which multiple VP instances could be configured for the same Nginx ingress?  I'm guessing no.

[2019-10-29 17:16] halkeye commented on #168
Uh? I'm think you can set different auth request services per location/server block. I'm far from an expert though.

How would a single instance know which client id to use? If it's per domain wouldn't it make sense to install multiple instances then?

[2019-10-29 17:44] bnfinet commented on #168
@mirzakhany VP only supports one configured [oauth config](https://github.com/vouch/vouch-proxy/blob/master/config/config.yml_example_oidc#L18-L31) at this time.  However you can set multiple `callback_urls` and multiple `vouch.domains`.  As long as each `yourdomainA.com` has a corresponding `vouch.yourdomainA.com` and that VP is configured with a list of `callback_urls` which includes `vouch.your

[2019-10-29 17:47] halkeye commented on #168
oh! in k8s? its up to your ingress provider, but yea, its an annotation done per ingress

[2019-10-31 05:00] artagel commented on #158
Ok, I pushed a fix after testing this again with some detail and some sleep :)

[2019-10-31 12:27] mirzakhany commented on #168
Imagine that you what protect many applications in a cluster. So for now we should install an instance of vouch for each of them if they use different clientId.
I look for a way that we can deploy one vouch (that may replicated) and pass configurations from ingress anotations.

For example if vouch can watch for ingres resources and if find an ingress resource with a special lable or annotations t

[2019-10-31 15:52] halkeye commented on #168
That does sound like a great feature, but unless something drastically changed since I last looked at the code, vouch knows nothing about k8s.

[2019-11-03 04:39] ioMatrix commented on #40
I modified the vouch-proxy logout function to send the id token. However, there is no test for other auth provider options so it would be sending it when not required if used in a non-okta situation which probably isn't what the dev wants.

For what it's worth, here is the hacked function. When I have more time, I can probably add checks for Okta specific urls etc.

`handlers.go

func LogoutHandle

[2019-11-04 20:41] gbajaj opened #173 "Social Login/Authentication using Kubernates built in nginx and Vouch"
**Describe the problem**
I have a Web application deployed using Kubernetes with built in nginx support.
I want to enable Social Auth using vouch, however I failed to find out any step by step guidance on how and where to update the configuration for such a setup? Could some please point me to a such a link with instructions.

I am using Google Login as OAuth Provider

[2019-11-04 21:07] bnfinet commented on #173
@gbajaj there is no article or HOWTO for Kubernetes to the best of my knowledge.

I expect to write a blog post in Q12020 that will outline some of what you're seeking after the deployment of a separate project that uses VP for login.  If you would like to assemble example configs and such I'd be happy to support your efforts.

The basic tools are in place to accomplish what you'd like including

[2019-11-06 17:13] twelve34 commented on #158
Thanks I did some testing and work fine now.

[2019-11-06 17:13] #158 closed

[2019-11-06 18:18] #165 closed

[2019-11-06 18:30] bnfinet commented on #168
@mirzakhany I like the concept, though we'd have to be really clear about how the configs would work, with a particular eye towards not breaking existing setups.

Please also consider #132 / #134 if you go down this route.

And I can imagine having an `include` directive in the `config.yml` such as `vouch.include: config.d/otherconfig.yml` or ``vouch.include: config.d/otherconfig.yml`.

Cheers.

[2019-11-06 18:49] bnfinet commented on #40
thanks @ioMatrix, that looks promising

Could you please submit a PR or publish the branch with this code?

[2019-11-11 10:57] sameershivle opened #174 "Support custom landing page in case of errors and during logout"
**Current behavior**:
OOTB vouch-proxy redirects to the indexTemplate file with appropriate message during any error or after logout (if no landing page is provided as part of logout call).

**Expected behavior**:
Is there a way to configure vouch-proxy to not use the default indexTemplate file (called by renderIndex()) and instead have my custom indexTemplate file? I want a different customized l

[2019-11-11 13:48] lifeofguenter opened #175 "Feature request: whitelist by other scopes?"
Would be great if one could whitelist users by something other than their username?

[2019-11-11 13:54] artagel commented on #174
Just update templates/index.tmpl, you can customize it as much as you want.

[2019-11-11 13:55] artagel commented on #175
You can do advanced whitelisting based on any claim you want using the openresty examples.

[2019-11-12 05:33] jar349 opened #176 "Allowing emails from one domain to protect a site from another"
I have a site that I wish to protect: `https://protectme.ruiz.house` and I have vouch at `https://vouch.ruiz.house`, but I wish to allow anyone with a gmail account from the following domains:
- `johnruiz.com`
- `ruiz-family.com`

The [documentation](https://github.com/vouch/vouch-proxy/blob/master/config/config.yml_example#L19-L25) says that the configured vouch domain must serve `https://vouch.$

[2019-11-12 06:00] artagel commented on #176
You can try adding the different domains to your domains list and see if it works.
I'm not 100% certain that you need to actually serve vouch on each, that is a cookie thing.
If you end up needing to, then you could terminate each of those subdomains for vouch to the same vouch instance.

[2019-11-12 06:18] jar349 commented on #176
I tried adding my email address to the whitelist and that worked.

[2019-11-12 06:21] artagel commented on #176
Nice ;)

[2019-11-12 06:30] jar349 commented on #176
Finally, out of curiousity, I went ahead and added `johnruiz.com` and `ruiz-family.com` to the vouch domain list and that works.

I'm going to close this because there are no longer any issues.  However, I suggest that you might want to update the documentation in the example configuration file.

Thanks for your help!

[2019-11-14 16:31] Herdinger opened #178 "Add arm and arm64 docker images."
I'm currently running vouch and an ARM homeserver and have to build it myself. Which makes updating a bit cumbersome.
Should be as easy as using buildx instead of push and build.

[2019-11-18 20:42] bnfinet commented on #178
thanks @Herdinger, would you care to submit a PR with such a Dockerfile?  Perhaps names `Dockerfile.arm` and `Dockerfile.arm64`?

[2019-11-18 20:47] bnfinet commented on #174
I'm curious why you would care to do that.  Are you using Nginx and the `auth_request` module?  If VP returns a 200 (or any 20x) Nginx will allow the original request through to the protected back end service.

[2019-11-18 20:57] Herdinger commented on #178
I didn't realy look into it because of time constraints, but it seemed like the only changes would be to your ci rather than the actual dockerfiles. I'll look into it, especially since there might be alternatives with go's native cross compilation.

[2019-11-20 07:15] groundswel opened #179 "Too many redirects vouch nginx on same server."
Sorry but I am also new to the entire authentication field but I am getting a too many redirect errors. My vouch and nginx servers are running in the same box. The goal is to authenticate a user via vouch and then nginx will let the user go to any url served by nginx as proxy. My nginx and vouch config is here https://gist.github.com/groundswel/ed298d078105009dd6946c67bc457050

I am trying through

[2019-11-20 08:49] artagel commented on #179
Please follow the directions in the readme about the info to provide for help.
A quick look, and I think your callback url is incorrect.

[2019-11-20 13:07] groundswel commented on #179
Thanks for your response. May I know why the callback url is wrong and what it should be? I want user to be redirected to that url after successful login. I tried to explicitly define the proxy block in Nginx.conf (see commented lines) to proxy the request to a backend server but it still gives me too many redirect errors. Please let me know if there is additional information I can provide to help

[2019-11-20 14:21] artagel commented on #179
Check the examples, it should be your vouch  url.  That’s how Vouch takes the next steps to validate you and issue the cookie. Then once vouch validates, it sends a 200ok for the /validate request, and then it will allow the request to the downstream app.

[2019-11-22 07:07] groundswel commented on #179
Thank you that was indeed it. Ultimately I ended up using a Nginx configuration similar to the one described in  https://github.com/vouch/vouch-proxy/issues/64.

[2019-11-22 07:07] #179 closed

[2019-11-23 00:08] bnfinet opened #180 "Integrate with other Web Servers and Ingress controllers besides Nginx"
Meant to be a catchall/discussion ticket

Hopefully some of these "implimentations" are just documentation

Somewhat inspired by https://github.com/caddyserver/caddy/issues/2894

[2019-11-25 18:56] groundswel opened #181 "How to use vouch cookie for AWS API Gateway?"
From chrome browser I can see that there is a cookie called VouchCookie that is set up (on successful login) with what seems to be a JWT token string.  However since it is httponly by default (and I don't want to change vouch default configuration to make it less secure) - is there any way I can use the JWT token in my application (Specifically to authorize against AWS API Gateway)?

[2019-11-25 19:16] bnfinet commented on #181
The VouchCookie JWT is specific to Vouch Proxy and won't be useful for authorizing to any other service, including AWS.

If you're just looking to protect access to AWS API Gateway calls you could build into your app a sidecar forward of the cookie/headers from your application to the Vouch Proxy `/validate` endpoint and Vouch Proxy will return `200 OK` if Vouch Proxy sees that jwt as valid (or it

[2019-11-25 21:05] groundswel commented on #181
Thanks for your response. May I know how to add the X-Vouch-user header to the upstream proxy request from nginx? I already have this in the /validate section in nginx configuration but on the 10.0.2.30 server I don't find anything in the request headers except VouchCookie. :

auth_request_set $auth_resp_x_vouch_user $upstream_http_x_vouch_user

and

[code]

[2019-11-25 21:27] bnfinet commented on #181
Assuming vouch is running at vouch.yourdomain.com you can use developer tools to see if vouch.yourdomain.com/validate returns `X-Vouch-User`

You should inspect the headers that are received by your service at http://10.0.2.29:9443 to check for `REMOTE_USER`

Alternatively, you could log the value of `$auth_user` at nginx.
https://docs.nginx.com/nginx/admin-guide/monitoring/logging/

For any furth

[2019-11-25 22:38] groundswel commented on #181
Thanks based on your pointers I was able to get the REMOTE_USER to work with the following two lines in / location

[code]

Seems like a known issue that variable scopes are limited to the block within which they are defined in nginx.

Reference: https://github.com/vouch/vouch-proxy/issues/26#issuecomment-425215810

I will continue to investigate your other suggestion regarding using a custom auth

[2019-11-25 22:38] #181 closed

[2019-12-04 15:31] olefemmy opened #182 "Unable to get vouch-proxy up and running - access to the homepage keeps downloading a 'download' file."
I expect to be redirected to auth0 login, but that does not happen

OS: Docker version 19.03.5, build 633a0ea838
Browser Chrome, Firefox, IE

# Vouch Config is the following:

vouch:
   logLevel: debug

  testing: true

  listen: 0.0.0.0
  port: 9090

  domains:
  allowAllUsers: true

  jwt:
    secret:
    issuer: Vouch
    maxAge: 240
    compress: true

  cookie:
    # name of cookie to store t

[2019-12-04 17:30] bnfinet commented on #182
@olefemmy please use a paste service or a gist as per the README.  It is impossible to determine if your configs are properly formatted when they are pasted as such.

https://github.com/vouch/vouch-proxy#troubleshooting-support-and-feature-requests

[2019-12-05 00:18] olefemmy commented on #182
Thanks @bnfinet - I have decided to use my own authentication with nginx, so I don't have to get this working again. Thanks for your help though.

[2019-12-05 00:18] #182 closed

[2019-12-05 00:18] olefemmy commented on #182
Used a different method

[2019-12-10 14:54] betagan opened #183 "Headers for (namespaced) claims are truncated"
**TLDR**
given a claim `custom:roles` with value `administrator`
**expected** result: a header `X-Vouch-IdP-Claims-custom:roles` with value `administrator`
**actual** result: a header  `X-Vouch-IdP-Claims-custom` with value `roles: administrator`

**Context**
when we add custom claims in the vouch-proxy config.yml like
[code]

vouch-proxy will pass these on to the application via headers. This wor

[2019-12-10 17:59] bnfinet commented on #183
thanks @betagan that's an interesting corner case

Thanks much for the PR #184

Can I suggest expanding the replacement beyond colon to all non alphanum characters?  And could you please update the documentation in the relevant portion of the configuration file to explain the transposition?
https://github.com/vouch/vouch-proxy/blob/master/config/config.yml_example#L95-L97

FYI I looked at the [JWT

[2019-12-11 08:11] betagan commented on #183
I've given it more thought and we should replace all characters that are not allowed as part of a HTTP header field name. The RFC 822 states in 3.1.2.

I'll take the time to update the PR later.

[2019-12-11 18:23] hwshadow opened #185 "Azure AD userinfo ID claim"
started getting this message today.

tracked it down to the fact that Azure userinfo endpoint started returning an `id` field that looks like `\"id\":\"alphanumeric-alphanumeric-alphanumeric-alphanumeric-alphanumeric\"` rather than what vouch is expecting (int)

 https://github.com/vouch/vouch-proxy/blob/ded2e2580345a0edd27aed5f2043e692e947845c/pkg/structs/structs.go#L23

Wonder how it was decided

[2019-12-11 19:01] hwshadow commented on #185
don't see that documented in https://tools.ietf.org/html/rfc7519#section-4.1 either.

Looks like we just have a collision?  `User.ID` is used internally to save the user to the bolt database https://github.com/vouch/vouch-proxy/blob/ded2e2580345a0edd27aed5f2043e692e947845c/pkg/model/user.go#L41.

**resolution options i can think of:**
- namespace `ID` away to `INTERNAL_VOUCH_PROXY_ID` (something t

[2019-12-11 19:06] bnfinet commented on #185
thanks @hwshadow

in order to get a quick fix out there would it be enough to turn set `ID` as `string`?  Are you in a position to test that change and then cut a PR?  I'm not in a position to test Azure AD.

Maybe @artagel or @simongottschlag would be able to test such a fix.

thanks again

[2019-12-11 19:14] hwshadow commented on #185
yes @bnfinet i could test, i have it deployed as a docker container, wouldn't know how to build that but if I could get a docker container I would be happy to test :)

[2019-12-11 19:22] bnfinet commented on #185
if you run `./do.sh` it will show you how to build the docker container

[2019-12-11 19:37] hwshadow commented on #185
so it does mess with the model.
[code]
i could make that work but it just seems dirty.
seems like I should just namespace it away, so I will implement that and test.

[2019-12-11 19:43] bnfinet commented on #185
and what happens when you change the model?  The db is actually only used for accounting at this point, it isn't a source of information which is used to set the cookie or return headers or any other data.

[2019-12-11 19:46] hwshadow commented on #185
I assume voltdb cared about ID being an int, because of `u.ID = int(id)`.  Not familiar with volt, though.  I will try it. :)

[2019-12-11 19:59] hwshadow commented on #185
taking out the Int type conversion produces this
[code]
so I have bypassed that with
[code]
it build so I will test it.  Still think changing namespace of ID is a better fix :)

[2019-12-11 20:03] hwshadow commented on #185
looks to have resolve the issue.  will commit a pr shortly.  thx.

[2019-12-11 20:08] hwshadow commented on #185
@bnfinet https://github.com/vouch/vouch-proxy/pull/186

[2019-12-11 20:51] bnfinet commented on #185
thanks @hwshadow

could you please pull my changes and test locally against Azure AD?

[2019-12-11 20:59] hwshadow commented on #185
sure, at lunch.  after i get back into the office :>

[2019-12-11 20:59] bnfinet commented on #185
tyt, life is too short to miss lunch :)

[2019-12-11 22:19] hwshadow commented on #185
merged, rebuilt, and still seems to work fine.  i'll keep you updated if I see any issues, don't expect any from such a change though.  regards o7

[2019-12-11 23:03] mrducky4 commented on #185
I have the same problem. Last week it worked, today it fails in same way as described here.

hwshadow said "Still think changing namespace of ID is a better fix :)".  I agree.
With the change of ID from int to string, does it open up the chance for the same failure when some other userinfo endpoint returns an "id" value that is not a string?

[2019-12-12 00:02] hwshadow commented on #185
@mrducky4 i believe most primitives can marshal into a string in golang so probably not, I could be wrong, but if memory serves strings are very forgiving.  As it stands now, this fork currently resolved my issue :) .

[2019-12-12 00:06] hwshadow commented on #185
https://play.golang.org/p/L6lisFvLalS ha my memory is wrong, so yes it would introduce the same failure @mrducky4.  to mitigate that we could change the type to `interface{}` and then type assert on read.  namespace change is better though.

[2019-12-12 00:18] hwshadow commented on #185
@bnfinet if i prepare a fork that implements the namespace change, is that ok? :)

[2019-12-12 04:02] bnfinet commented on #185
When you say "namespacing", are you saying we'd create a new `Oauth.Provider` for Azure AD?

I think the generalized case of `id` as both `int` and `string` for OIDC is worth solving if possible.

It looks like there may be a solution by using the `json.Number` type..
https://stackoverflow.com/questions/24480835/decoding-json-int-into-string

I've mocked something here..
https://play.golang.org/p/

[2019-12-12 04:14] hwshadow commented on #185
No, not quite that drastic c:  Just changing the name of the variable the DB id gets dumped into, Azure doesn't collide with it; everyone loves the name ID :).  I can let this issue stew a bit, see if any other solutions come to mind. Just doing my part. :) thx again for this project, it is great!

RE: That is an interesting solution; never used json.Number before, that is pretty cool.

[2019-12-12 04:17] hwshadow commented on #185
"I think the generalized case of id as both int and string for OIDC is worth solving if possible."

You have a very good point here though, and my solution doesn't address this. I think you are on the right track.  Sorry I dont use the ID value in my implementation, but someone very well could want to!  Good looking out.

[2019-12-12 04:21] artagel commented on #185
Fun, looks like Azure AD changed something overnight ;)

[2019-12-12 06:28] mrducky4 commented on #185
I'm having trouble understanding what the vouch user object ID field is really supposed to be for. In user.go it looks like it is just a unique generated sequence number, maybe for a key in the database?
Then in structs.go the user ID value is populated from the "id" value in the userinfo from the identity provider. Why should the identity provider id be used for the same thing as the sequence num

[2019-12-12 18:09] gpanula opened #187 "Cookie replay attack?"
**Describe the problem**

After logging out, you can still pass vouch's validate handler with the captured cookie.

**Expected behavior**

vouch should not allowed a logged out session to re-use a cookie to log in.

**Additional context**

Steps to replicate
1) log into a site (vouch /login)
2) capture the cookie that stores the jwt (cooke: name in config.yml)
  -- easiest method is using develope

[2019-12-12 18:19] bnfinet commented on #185
Yeah I think you're right.  Why have the collision at all.

Some of the early aspirational thinking for Vouch Proxy was the database as an audit log, perhaps viewable via a web app or cli.  Being able to relate the id field back to IdP would be helpful for auditing.

In all actuality, should probably rip out the database all together since it provides such little functionality at this point.

[2019-12-12 18:34] bnfinet commented on #187
Vouch Proxy is the issuer of the jwt which is carried in the cookie.

The `/logout` endpoint does not mark the jwt as 'invalid' in any way, it just removes the cookie from the browser.

There is no outside validation of the jwt, even though that jwt may contain sub tokens derived from an IdP.  Those sub tokes are not validated. It would be onerous to do such on each request.

Your best bet is to t

[2019-12-12 18:43] #174 closed

[2019-12-12 18:44] #173 closed

[2019-12-12 18:47] bnfinet commented on #187
related #40 #111

[2019-12-12 20:18] gpanula commented on #187
Thank you very much for the quick reply and clarification.  That makes sense.   I was traveling down the wrong path of attempting to use vouch's user authentication for session management.

related
http://cryto.net/~joepie91/blog/2016/06/13/stop-using-jwt-for-sessions/

[2019-12-12 20:38] bnfinet commented on #187
Thanks, that link has good advice IMHO.

You can always immediately invalidate all tokens by changing the `vouch.jwt.secret`.  This is the suggested practice for the "firing an employee" use case when using cookies that last for any appreciable length of time.

[2019-12-12 21:34] CodechCFA commented on #138
Ran into this exact same issue. I had to explicitly set the cookie domain in the config for it to stop infinite redirecting.

[code]

After that, all of my domains started working, such as `prometheus.mysubdomain.mydomain.com`

[2019-12-12 22:19] hwshadow commented on #185
A little off topic, but personally ID rather push audit logs out of vouch, towards a broker for aggregated audit logs.  But that is because i think about having hundreds of vouch proxies XD.  I agree though a web based auditing portak would be pretty cool.

[2019-12-12 23:43] eddjlam opened #188 "Decrease size of the vouch cookie"
Is there a way to decrease the size of the vouch cookie? currently it's at 2.4KB and i do not see any documentation about this.

[2019-12-13 00:11] bnfinet commented on #188
My headers are about 2K including the Vouch Proxy cookie.

Nginx is generally fine out of the box for 4K on total size of request headers and can be configured for much higher than that if desired.
https://stackoverflow.com/questions/686217/maximum-on-http-header-values
http://nginx.org/en/docs/http/ngx_http_core_module.html#large_client_header_buffers

Is 2.4KB a problem for you?  Are you running

[2019-12-13 00:56] eddjlam commented on #188
My headers are approaching 8K with the addition of the vouch proxy.  while nginx and apache can be updated to accept a larger header size i'm not sure this is the correct solution as what happens when i have multiple vouch proxies each with a diffferent vouch header that gets appended the size will continue to grow.

[2019-12-13 01:19] bnfinet commented on #188
how many Vouch Proxies do you expect to run to service a single domain?  I'd be curious to hear your use case for that?

The JWT stored in the cookie is compressed prior to encryption.

Perhaps you could utilize the `vouch.cookie.domain` config option to ensure that the cookie is being stored in a specific domain.

If you'd like to look at specific strategies to your setup please post your configs

[2019-12-13 18:24] bnfinet commented on #185
@hwshadow are you still up for creating a PR which namespaces `User.ID`?  I think that's where we're settled.

Thanks again

[2019-12-13 22:48] hwshadow commented on #185
Yeah I can do that, about to go on vacation for a week.  But ill take my cheapo laptop with me and try and crack that out.  I won't have anyway to validate Azure AD while I am gone, but pretty confident we know what is happening there :)  I'll drop you a line when I am done.

No problem, than you for stewarding this project~

[2019-12-15 18:06] hwshadow commented on #185
K, working on this right now~ might take me to a little bit to test it.  This laptop doesn't have a full unix stack on it and downloading packages/tooling on "highway 4G" is less than optimal *lol*

[2019-12-15 19:24] hwshadow commented on #185
i think this will do https://github.com/vouch/vouch-proxy/compare/master...hwshadow:feature/namespace_for_azure, someone want to download and build it, see if i broke anything?

[2019-12-15 19:44] hwshadow commented on #185
fixed :)

[2019-12-15 21:15] mrducky4 commented on #185
Thanks @hwshadow , I looked at the changes. I think in handlers.go it should be `user.DBID = oxUser.DBID` and `user.DBID = ghUser.DBID`.
In structs.go, why did you change User.ID from int to json.Number? How does that fit with Azure giving us an id value that is a string?

And does anybody know if any other identity provider includes an id value that may or may not be a string? We're trying to mak

[2019-12-15 21:37] hwshadow commented on #185
oh you are right!  why my build env must not be working go should have complained about that. ill fix. sorry driving through the mountains atm.

i switched ID to json.Number because it is not a standard claim, figured it wouldn't hurt to ingest if we want, not used anywhere though so not opposed to removing it :)

json.Number will cover INTs and STRINGs so that should be like 99% of ID values, i c

[2019-12-15 22:42] hwshadow commented on #185
of note, i ran into this while doing a coverage test

[code]

looks like its because full package names are in use.
[code]

could also again be my windows env, about to be out of battery so i will follow up again later o7

[2019-12-16 02:12] lcgkm opened #189 "ADFS: relying party identifier configuration"
I found vouch-proxy use RedirectURL as relying party identifier by default.
Could we configure the relying party identifier in config.yml by ourselves?
[code]

[2019-12-16 15:27] mrducky4 commented on #185
I am trying a simpler solution, which aims to just ignore any "id" value from the userinfo endpoint. I made a one line change in structs.go:
[code]

[2019-12-17 01:03] mrducky4 commented on #185
Ok, now I think my idea does work. I don't understand the build process, so I was editing the wrong copy of the source file before. I clone the repository, run ./do.sh goget; ./do.sh build, and I end up with an additional separate copy of the entire repository. I don't know why there are two copies. It is very confusing.
[code]
This is the change that is very simple and ignores any potential "id"

[2019-12-17 07:45] mkostyuk commented on #185
If you are okay to ignore "id" completely it will possibly be better to implement the following change.
[code]
This way is advised in a doc for json package: https://golang.org/pkg/encoding/json/

[2019-12-17 12:41] mrducky4 commented on #185
@mkostyuk thanks, that is a better way to ignore the "id" field in the userinfo json.

[2019-12-18 19:41] bnfinet commented on #189
for context..

URIs as object identifiers: relying party identifier
https://docs.microsoft.com/en-us/windows-server/identity/ad-fs/technical-reference/how-uris-are-used-in-ad-fs

If the RPI is a URI is it okay to have it be https://vouch.yourdomain.com/auth?

Is that a problem for you?

[2019-12-18 19:43] bnfinet commented on #188
@eddjlam I'm inclined to close this conversation for now, if you'd like to look at this closer, please do post to the thread and we can open up the conversation again

[2019-12-18 19:43] #188 closed

[2019-12-18 22:17] mrducky4 commented on #185
I hesitate to make a pull request for this one line change, since I don't even understand the build process. But if you think it would be useful, I'll give it a try. @bnfinet and @hwshadow do you agree that one line change, updated in @mkostyuk 's comment is a good way to fix this?

[2019-12-18 22:20] hwshadow commented on #185
I am currently in the mountains skiing, but I can address within the next day c:

[2019-12-19 07:49] lcgkm commented on #189
However, the relying party identifier is usually a UUID, not a URI.
![image](https://user-images.githubusercontent.com/5523451/71154651-f7f90980-2276-11ea-96c7-98cdc3dea075.png)

[2019-12-19 08:00] lcgkm commented on #189
RedirectURL is not equal relying party identifier.
It's hard to talk with our ADFS admin. They don't allow us add RedirectURL as relying party identifier.

[2019-12-19 18:10] bnfinet commented on #189
@simongottschlag what do you think of this suggestion?

[2019-12-19 18:16] bnfinet commented on #185
yeah that looks great, I'll push a fix in just a bit

[2019-12-19 19:23] #185 closed

[2019-12-19 19:29] bnfinet commented on #185
Thanks for putting in the time on this @hwshadow and for bringing your laptop with you on vacation to work on VP.  Enjoy the skiing!

I'm glad it ended up being such a simple fix (ht @mkostyuk).

I think at some point we will rip out the DB, I know of no known users and the use case of auditing can be better accomplished (at this point) by a good logging platform such as ELK stack.

[2019-12-19 19:36] bnfinet commented on #183
@betagan friendly nudge, do you have any time in these busy days to improve this PR?

No real rush but I figured I'd ask since I was poking my nose at the Vouch issues and PRs.

[2019-12-19 21:02] hwshadow commented on #185
Thanks everyone, I'll dogfood it with Azure when I get back.  Expect this to work though, regards.

[2019-12-20 07:39] simongottschlag commented on #189
@bnfinet @lcgkm I haven't had the problem since we usually manage ADFS ourselves. I don't see it as a problem making it configurable - I just hadn't thought about it when implementing it.

Maybe make sure to use redirectUri if none is defined in the configuration, to keep backward compatibility?

[2019-12-23 09:41] idavollen opened #190 "Does Vouch Proxy support SAML2"
Can Vouch Proxy be used together with KeyCloak that also support _SAML2_ and normal _username/password_ authentication mechanisms?

[2019-12-23 17:45] bnfinet commented on #190
VP does not use SAML2, only OAuth / OIDC.

However, there's no reason you can't configure KeyCloak to offer both OIDC and SAML2 in order to support multiple KeyCloak clients...
https://www.keycloak.org/docs/latest/securing_apps/#supported-protocols
https://stackoverflow.com/questions/54848040/can-oidc-and-saml-work-together-with-keycloak

Does that answer your question @idavollen ?

[2019-12-25 11:04] idavollen commented on #190
@bnfinet thanks for your reply.

I know that KeyCloak can be configured as either as Identity Provider [IdP] or Service Provider [SP] in SAML2. for instance, if my KeyCloak works as SP, under a IdP-Inited SAML2 SSO, the corresponding external IdP will usually POST a SAMLRequest containing SAML Assertion to  the AssertionCustomerAccess on my company, https://www.mycompany.com/saml/sp/profile/post/a

[2019-12-26 18:52] bnfinet commented on #190
Vouch Proxy uses the OAuth authorization flow such as https://www.oauth.com/oauth2-servers/server-side-apps/example-flow/

VP does not speak SAML and does not pass information on to the IdP.  To login, the end user's browser is 302 redirected to the OAuth login endpoint at the IdP (Keycloak).  None of the content from the initial request is carried in that 302 redirect.

[2019-12-26 18:55] #190 closed

[2019-12-28 16:58] svrooij commented on #124
Vouch proxy doesn't support application access. The login flow is meant for the use in browsers. Having the 401 converted to a redirected is a perfect implementation of the authentication.

What you want is have nginx force the existence of a valid jwt token. The plus version of nginx has support for this [see here](https://docs.nginx.com/nginx/admin-guide/security-controls/configuring-jwt-authent

[2019-12-29 06:31] llmuculusll opened #191 "ADFS Sample Configuration OR Any doc"
Hi,
Can you provide ADFS Sample Configuration or any documentation that guide how to configure Vouch-Proxy for ADFS?

[2019-12-29 16:03] dontoverthinkit opened #192 "Is vouch-proxy honouring logLevel?"
Hi,

firstly thank you for putting this cool util together - makes it easy for me to protect a number of sites that I use just for my own self hosted stuff.

I *think* that vouch-proxy is not honouring the log level setting and/or there are direct log debug statements being written without checking the log level.

I have had a look through the internet, the README's, poked through the source code

[2019-12-30 11:53] idavollen opened #193 "Can Vouch be used for securing APIs"
OAuth2 grant type _client_credentials_ and _password_ can be used for scenario, protecting company's APIs from external access. I am wondering if Vouch can be used in this use case and whether the same settings for vounch in nginx.conf be used?

[2019-12-30 22:12] rcastberg opened #194 "issue with android"
i have successfully  manager to implement  vouch proxy and have manage  to test with chrome on my desktop and tested  .

unfortunately both on my Android phone and chrome book I get passed to the account page when I try to log into a website.

has anybody managed to work arond this problem?

[2019-12-30 22:44] ngardiner commented on #194
I have worked around this issue by using a different browser than chrome on Android (firefox, edge, the built in webkit browser or opera may work).

[2019-12-31 13:12] rcastberg commented on #194
I am able to log in with incognito mode, but it would be nice to be able to do this directly in chrome.

[2020-01-02 03:02] bnfinet commented on #191
@simongottschlag would you be able to add an example to the configs directory...

https://github.com/vouch/vouch-proxy/tree/master/config

[2020-01-02 03:05] bnfinet commented on #192
Yep, looks like it only checks for `loglevel` set to Debug
https://github.com/vouch/vouch-proxy/blob/master/pkg/cfg/cfg.go#L209-L215

[2020-01-02 03:16] bnfinet commented on #193
The short answer is "No".

Vouch Proxy can be used to protect any http request including api calls, as long as those calls come from a browser which has authenticated via https://vouch.yourdomain.com/login and had the Vouch cookie set there.

Vouch Proxy cannot (or cannot easily) secure server to server api calls since it currently wants to set the cookie.

Another option is to have your api servi

[2020-01-02 03:24] bnfinet commented on #194
@rcastberg could you please provide your configs and logs as per the README

And, how many Google accounts do each of your devices have configured?

[2020-01-04 03:53] bnfinet commented on #192
@dontoverthinkit would you be able to test the feature branch I just pushed as `bug/192_loglevel` ?

[2020-01-05 01:37] dontoverthinkit commented on #192
@bnfinet More than happy to, having a look now

[2020-01-05 01:45] dontoverthinkit commented on #192
@bnfinet - I am running vouch-proxy via docker container (on UNRAID not that that matters) - is there any way to grab a docker container off that branch? Or would I need to pull the source and build a container from the branch?

[2020-01-05 01:45] bnfinet commented on #192
@dontoverthinkit thanks for that.. the Travis tests didn't pass for that branch (though they did pass locally for me).

You're welcome to test now if you like however I may ask you to test again once I've fixed those.

I suspect it's something to do with my local environment being `golang 1.13` based and the tests configured for `1.10`.  I've poked at it a bit here but I'll have to leave it for th

[2020-01-05 01:46] bnfinet commented on #192
yes you'd need to grab source and build.  You can build the container locally with `./do.sh dbuild`

[2020-01-05 01:47] dontoverthinkit commented on #192
ok thank you - prob take me a little bit to get build environment set up as I don't code these days, but happy to do so, will keep you posted.

[2020-01-08 13:53] jessetandor opened #195 "Config Wrong?"
Hi, I'm trying to load up vouch via docker and im getting:

**{"level":"fatal","ts":1578490957.7688384,"msg":"Fatal error config file: While parsing config: yaml: unmarshal errors:\n  line 1: cannot unmarshal !!seq into map[string]interface {}"}**

What I'm running to get this errors: https://hasteb.in/onopakum.yaml

Thanks.

[2020-01-08 15:10] bnfinet commented on #195
Could you please read the README regarding troubleshooting and submitting
issues.

On Wed, Jan 8, 2020, 5:53 AM jessetandor <notifications@github.com> wrote:

[2020-01-08 15:31] jessetandor commented on #195
Yes, I just did. I've put everything in hastebin (https://hasteb.in/onopakum.yaml). My problem isn't related to anything already mentioned - I haven't got it running yet.

So I guess to be more direct:
1- How can i pass the config file directly to docker. I'm assuming the arg **-v /Users/jesse/Desktop:/config/ \**  is incorrect?

2- Also what is the **arg -v ${PWD}/data:/data \** - is it mandatory

[2020-01-08 17:27] bnfinet commented on #195
Where on your local filesystem is the config file?  Instead of `-v /Users/jesse/Desktop:/config/` you should put the config in a separate directory and use `-v /path/to/the/vouch/config/directory:/config`

re: `-v ${PWD}/data:/data` `${PWD}` is the environmental variable "Print Working Directory"  and `/data` is the data directory which contains the database.
I'm fairly certain `-v ${PWD}/data:/da

[2020-01-08 19:39] bnfinet commented on #194
@rcastberg I use VP with Android every day.  I feel like if there were a real issue here we'd be getting more reports of problems.

Can I ask you to please provide configs and logs as requested?  I suspect this is config related and perhaps a documentation issue.

However without understanding more about your setup I'm inclined to close the issue.

[2020-01-08 19:42] #193 closed

[2020-01-09 07:53] rcastberg commented on #194
Thanks, i will try to get the logs and config posted at some point today.

[2020-01-09 08:32] rcastberg commented on #194
Configs and log : https://gist.github.com/rcastberg/bcad6b5ef3f00395197961df270a4a47
There doesn't seem to be much information in them.

A note that i only get forwarded to the accounts page on android if i use chrome as the browser, if i use firefox or an incognitio tab i can use vouch proxy as normal.

[2020-01-09 09:32] ngardiner commented on #194
I also see the same behaviour in Chrome on Android. The browser will open
the Accounts page of the Settings menu in Android, with no apparent way to
progress (going back to Chrome just redirects to Accounts again). I have
installed other browsers for the purpose of getting around this.

On Thu, Jan 9, 2020 at 7:32 PM rcastberg <notifications@github.com> wrote:

[2020-01-09 18:44] jessetandor commented on #195
That really helped @bnfinet . It's now running locally but have connectivity issues, will close though, thanks.

[2020-01-09 18:44] #195 closed

[2020-01-09 19:18] bnfinet commented on #195
thanks much @jessetandor!  I'm glad it's working.

Best of luck with Vouch Proxy!

[2020-01-09 19:21] bnfinet commented on #194
@rcastberg try commenting out `preferredDomain:` and then try again

Can i ask how many Google Accounts this device is logged into?  And are any of them **not** in the `preferredDomain`?

[2020-01-09 19:27] jessetandor opened #196 "Nginx - Vouch - Okta connectivity"
I'm having some issues getting my local page to authenticate with Okta. Ive setup vouch as well per the okta documentation (unsure if that is even up to date) plus the config provided here. I've provided both below and getting the same problem.

- Running Nginx on OS X and vouch from docker (same machine)
- Using the same self-signed Cert for both server blocks (Common name *.jesse.test)
- I've tu

[2020-01-09 20:01] bnfinet commented on #196
welcome back @jessetandor :)

This domain does not appear to be valid: `pipedrive.okta-emea`.  What happens when you go directly to https://pipedrive.okta-emea/oauth2/default/v1/authorize ??

Are you familiar with `dig` and other tools that help diagnose dns lookup issues?  That's a good place to start with these sorts of issues.

For future items it would be helpful to me if you provided the logs

[2020-01-09 21:31] jessetandor commented on #196
Ok, will provide separate file's next time.

In okta, the only address i see for the OpenID app is 'Issuer: https://pipedrive.okta-emea.com'.

It seems ill need to do some digging on Okta's side cause from their docs:

"If you have a developer account, you can use the default authorization server that was created along with your account, in which case the full URL looks like this - https://${yourO

[2020-01-09 21:40] aaronpk commented on #196
I believe with a non-developer account you'll need the "API Access Management" feature enabled for your organization.

[2020-01-10 11:38] jessetandor commented on #196
I setup a Dev account to make life easier and got these:

[code]
Going to https://dev-708129.okta.com/oauth2/default/v1/authorize results in bad request so it does seem to be working. I also confirmed the app from Okta's side and it's running.

[2020-01-10 13:49] rcastberg commented on #194
Only one account is logged in on android.

Removing prefered domains seems to have fixed the issues. Thanks

[2020-01-10 17:44] bnfinet commented on #194
I'm glad it's working for you.  The relatively new feature of tight integration between Android system accounts and Chrome mobile for Google accounts has caused a variety of problems for many web based applications.

[2020-01-10 17:44] #194 closed

[2020-01-10 17:46] bnfinet commented on #196
Please offer your complete configs and logs as requested.  Most of the time this is alignment between the configured domains.  The README portion "think like a cookie" might be helpful.

[2020-01-11 10:43] llmuculusll commented on #191
@simongottschlag  any new news about example or document?

[2020-01-12 10:52] jessetandor commented on #196
Here are my current settings:
https://hastebin.com/hemikamece.nginx

Logs and error's are the same as above.

[2020-01-12 13:53] bnfinet commented on #196
What problem are you currently having?  What has changed since the last
time you posted?

On Sun, Jan 12, 2020, 2:52 AM jessetandor <notifications@github.com> wrote:

[2020-01-12 15:47] jessetandor commented on #196
The only change is that im using an Okta Dev account and updated endpoint's. So vouch is giving me a 302 when i aceess mypage.jesse.test, im assuming because of this:

[code]

[2020-01-12 18:40] bnfinet commented on #196
You need to proxy-pass the $host header in the nginx validate block.  See
the nginx config in the README

On Sun, Jan 12, 2020, 7:47 AM jessetandor <notifications@github.com> wrote:

[2020-01-13 08:17] jessetandor commented on #196
Ok, by that you mean adding
[code]
to the local page's section: location=  /vouch-validate...?

Also do i need this :

    location / {
      proxy_pass http://127.0.0.1:9090;
      # be sure to pass the original host header
      proxy_set_header Host $http_host;

Current config: https://hastebin.com/rapoheqaya.nginx

[2020-01-14 08:11] jessetandor commented on #196
I would appreciate it if anyone can tell what I'm doing wrong here. Thanks..

[2020-01-14 13:45] bnfinet commented on #196
What happened when you added the host header?

 Take a close look at the differences between your nginx config and the
ones in the repo and the README.  If you still have problems, turn on
debug.  After that, post full logs and configurations.

On Tue, Jan 14, 2020, 12:12 AM jessetandor <notifications@github.com> wrote:

[2020-01-14 18:37] jessetandor commented on #196
Im abit confused on what you suggested tbh:

You have the proxy_set_header Host $http_host; flag in two separate locations. One under ' location = /validate ' and the other blocked out under # Vouch Proxy can run behind the same Nginx reverse proxy....

I have the same error after adding the host header to both sections as I've seen from your README.

Please, look at my config and specify where th

[2020-01-14 19:20] bnfinet commented on #196
That configuration looks correct to me.

Please do turn on debugging and post your VP config and logs.

Benjamin Foote
bnf Systems LLC
Linux and Cloud Consulting
http://bnf.net
ben@bnf.net
@bnf

Currently working on:
Vouch Proxy
an SSO solution for nginx using the auth_request module
https://github.com/vouch/vouch-proxy

On Tue, Jan 14, 2020 at 10:38 AM jessetandor <notifications@github.com>
wrote

[2020-01-15 13:50] tsandor opened #197 "Return the refresh token from Google Oauth2"
I wonder if there's a way to retrieve and expose a vouch endpoint that could request for a new access token (if the previous is expired) using the refresh token Google can send when access_type is offline.

Sources:
 - https://developers.google.com/identity/protocols/OAuth2WebServer#offline
 - https://tools.ietf.org/html/rfc6749#section-6

[2020-01-15 14:05] bnfinet commented on #197
What's your use case?  Whenever we've discussed refresh token we've come
down on the side of not wanting to be exposed to handling refresh.  The
thinking it's that it's not onerous to have the end user periodically authn
at the IdP.

On Wed, Jan 15, 2020, 5:50 AM Tamas Sandor <notifications@github.com> wrote:

[2020-01-15 16:06] jessetandor commented on #196
Im getting a 302 from Vouch but when I actually click on the link presented - it does take me to Okta..

SS: https://ibb.co/QbZqjBh

Vouch for nginx config - https://hastebin.com/mazenumoxu.nginx
Local site nginx config - https://hastebin.com/iturijalex.nginx
VP Config - https://hastebin.com/pidetexazu.shell
VP Logs - https://hastebin.com/gujivojeta.rb

Thank you.

[2020-01-15 23:08] bnfinet commented on #196
@jessetandor thanks, a few things I notice...

* it looks like you never log in at okta, since the logs don't include a call to `/auth`
  * are you able to log into Okta?
  * what happens after you log into Okta?
 * the logs include `domain login.jesse.test not found in any domains []`.  What happens when you add `jesse.test`?
 * your logs include your secrets in the clear, you should change those

[2020-01-16 08:51] jessetandor commented on #196
I see, apologies!
I did not read the #testing: true section thoroughly. This show's the redirect page (302).

With that turned off, the config seems to be correct - I am taken straight away to the Okta login page. Now after logging in, I am seeing `Err too many redirects` - and then a few seconds late I get :
[code]

Clearing my cookies does fix the problem of presenting the Okta login page again,

[2020-01-16 12:58] bnfinet commented on #196
Glad to hear it.

Did you update your config as per the log message?  What happened?

Every time you post to this thread from here on out could you please post
fresh logs and configs if there has been any change.

On Thu, Jan 16, 2020, 12:51 AM jessetandor <notifications@github.com> wrote:

[2020-01-16 13:35] jessetandor commented on #196
Seem's its working now. The key was using
[code]
with
[code]
Since in the VP documentation - you've put ** OR ** in the Vouch section it would suggest it's one or the other. Perhaps this can be changed or a note can be put there to help others :)

[2020-01-16 18:55] #196 closed

[2020-01-16 18:58] bnfinet commented on #183
@betagan any chance of moving this forward?  Your help is very much appreciated.

If not, just let me know and I'll mark it as "help_wanted"

[2020-01-17 07:38] simongottschlag commented on #191
@bnfinet @llmuculusll

The vouch-proxy configuration looks like this for us:
[code]

We are using the release `0.6.10` right now. We are using the same ADFS client for vouch-proxy and Kubernetes.

Our nginx configuration looks like this:
[code]

We are running vouch-proxy, nginx and kubernetes-dashboard in Kubernetes - in the same namespace.

[2020-01-19 22:12] svrooij commented on #178
We are running a Github workflow for this [see here](https://github.com/svrooij/sonos2mqtt/blob/master/.github/workflows/docker-release.yml).

It just takes the normal Dockerfile and builds the image using buildx for multi architectures.

Really easy (once configured correctly).

[2020-01-20 15:48] tsandor commented on #197
When Google responds with the access token it expires after a few minutes. I thought I can refresh the token using the refresh_token silently and not sending the user back to /login.

[2020-01-21 16:24] bnfinet commented on #197
The Google access token expiration should not have any bearing on the Vouch Proxy token expiration.  You should only need a few seconds to validate the return to `/auth` and to then fetch the user information.  Then you've cleared Google authn and it's on VP's side.

I'm going to close this for now.  If we find a clear need/desire for refresh token support then perhaps we'll revisit this feature o

[2020-01-21 16:24] #197 closed

[2020-01-26 11:26] eikehartmann opened #198 "When domains configured, access via email on different domain should not be possible."
**Problem**: Came across some lines of code that look like the check of email against configured domain(s) is not tight enough (`strings.Contains`), which is provable by a simple test written around the involved methods.

**Expected behaviour**: When I have `vouch.github.io` configured in `vouch.domains`, I would want to authorise only `test@vouch.github.io`, but _not_ `vouch.github.io@example.com

[2020-01-27 18:42] rmak-cpi opened #200 "Logic to support boolean claim values is causing all claim values to be treated as strings"
First of all, thanks to all the contributors who help to create and maintain vouch-proxy, it has definitely made my job easier! So in the spirit of contributing in whatever minor way I can, I would like to report that the following logic at https://github.com/vouch/vouch-proxy/blame/master/handlers/handlers.go#L213 intended for supporting boolean claim values:
[code]
seems to be causing all claim

[2020-01-28 10:13] UniverseXXX opened #201 "Add support for Apple auth provider [Enhancement]"
Would you be able to add "Sign In with Apple" auth provider?
Details - [https://developer.apple.com/sign-in-with-apple/get-started/](https://developer.apple.com/sign-in-with-apple/get-started/), [https://developer.apple.com/documentation/signinwithapplejs](https://developer.apple.com/documentation/signinwithapplejs)

Thanks.

[2020-02-01 23:01] layanto opened #203 "Configuration for Gitea"
Vouch stated support for Gitea (https://github.com/vouch/vouch-proxy/pull/170) but I can't get it to work. Following Gitea oauth docs (https://docs.gitea.io/en-us/oauth2-provider/), I have configured vouch provider as follows:
[code]

I don't think Gitea oauth provides user information. If I left out user_info_url from vouch config.yml, I get panic error.

Appreciate help from anyone who managed t

[2020-02-02 10:53] layanto commented on #203
Looks like support for Gitea is not working until Gitea supports oauth user info (https://github.com/go-gitea/gitea/issues/8534). Maybe should update couch's readme to not claim support for Gitea and reference Gitea's GitHub issue.

[2020-02-02 20:11] layanto commented on #203
Until Gitea supports user info, maybe consider adding Gitea as a separate provider without user info similar to IndieAuth, Google and ADFS?

[2020-02-02 20:17] bnfinet commented on #203
Thanks for the recon.

Did you try with 'github' provider?

On Sun, Feb 2, 2020, 12:11 PM Jeffrey Layanto <notifications@github.com>
wrote:

[2020-02-02 20:19] aaronpk commented on #203
According to the Gitea docs, the URL to return the current user is `/user`

https://try.gitea.io/api/swagger#/user/userGetCurrent

If their response from that URL isn't compatible with the current set of things that Vouch understands, it would be relatively simple to create a PR for Vouch to read that format.

[2020-02-02 20:21] aaronpk commented on #203
It looks like Gitea made their `/user` URL return `login` and `avatar_url` just like GitHub, so you should be able to use the GitHub provider and configure it with the Gitea routes

[2020-02-02 20:56] layanto commented on #203
I will try with GitHub provider later today. But I saw this comment from one Gitea maintainer (I think) that suggested it won't work - https://github.com/go-gitea/gitea/pull/8962#issuecomment-553430770
But maybe that comment was referring to the implementation of the PR and not necessarily meant vouch with GitHub provider won't work.

[2020-02-02 21:19] aaronpk commented on #203
Ignore that, they're talking about the internal implementation of their new userinfo endpoint.

I just tried it with the following config and it worked:

[code]

[2020-02-02 21:52] bnfinet commented on #203
Awesome!

I'll adjust the README to point here next time I'm updating VP.

On Sun, Feb 2, 2020, 1:19 PM Aaron Parecki <notifications@github.com> wrote:

[2020-02-02 22:05] aaronpk commented on #201
This would actually be pretty challenging due to the way Apple's OAuth implementation works. There are two things that may be dealbreakers for this.

* Apple does not use static client secrets, they need to be regenerated every so often. That means some not insignificant amount of code to add to this project beyond just configuring new endpoints like other OAuth providers
* Apple does not return a

[2020-02-02 22:05] layanto commented on #203
Tried this and it worked - meaning I can get to my protected app. But how do I check if the user info is retrieved correctly? I checked the header and couldn't find anything relating to the logged in user.

[2020-02-03 21:25] layanto commented on #203
Confirmed working. I can access Gitea username via $auth_resp_x_vouch_user. Thanks @aaronpk.

[2020-02-03 21:25] #203 closed

[2020-02-05 15:03] mhf-ir opened #206 "ADFS error: MSIS9604"
Config:
[code]

Debug log:
[code]

![Screenshot from 2020-02-05 18-30-00](https://user-images.githubusercontent.com/1172526/73853225-c697c580-4845-11ea-8eba-44263a41ec21.png)

[2020-02-05 15:08] bnfinet commented on #206
Could you please read the readme and use a paste service.

On Wed, Feb 5, 2020, 7:03 AM Muhammad Hussein Fattahizadeh <
notifications@github.com> wrote:

[2020-02-05 15:09] bnfinet commented on #206
And turn on testing

On Wed, Feb 5, 2020, 7:08 AM Benjamin Foote <ben@bnf.net> wrote:

[2020-02-06 16:34] mhf-ir commented on #206
This is gist:
https://gist.github.com/mhf-ir/ef96979f4dbb4138a3c95236f0edcb20

Problem is Vouch/nginx server not set cookie for domain like: ".example.tld" for all subdomains.
After going to app to many redirects will be appear in browser.

I cant find any option to tell vouch proxy to set cookie for all subdomains.
Like: ".example.tld"
VouchCookie always set cookie for domain: **example.tld** tha

[2020-02-06 22:52] artagel commented on #206
Check out the config example. Set the domain in your cookie area as the main domain.  Sub domains are included automatically.

[2020-02-07 06:56] mhf-ir commented on #206
You mean:
[code]

[2020-02-07 07:52] artagel commented on #206
Yes. That’s exactly right.

[2020-02-07 10:59] mhf-ir commented on #206
Nothing changed:

https://gist.github.com/mhf-ir/5798263536c402a471078e8b498db79e

[2020-02-07 11:15] mhf-ir commented on #206
Cookie seems be send but validate 302 to login page :

Req:
[code]

Res:
[code]

[2020-02-07 17:42] #198 closed

[2020-02-07 17:55] bnfinet commented on #198
thanks @eikehartmann

nice catch!

[2020-02-07 18:04] bnfinet commented on #192
@dontoverthinkit I've just pushed an updated branch

could you pull the new code, build and test?  With `docker` installed it should be pretty simple to pull and build

[2020-02-07 18:15] bnfinet commented on #200
@rmak-cpi sorry for the delay in getting back to you

A PR is preferred.  Are you in a position to cut one?

thanks for the kind words about VP

[2020-02-07 18:19] bnfinet commented on #206
@mhf-ir pleaes post your full logs and updated VP config and nginx config and **please turn on testing** :)

[2020-02-07 18:39] bnfinet commented on #150
@RyanGannon FYI - @eikehartmann has submitted a PR which supports GitHub orgs and teams

If you were in a position to help test it would be much appreciated :)

[2020-02-07 19:50] eikehartmann commented on #198
👍

[2020-02-08 07:03] gregparsons commented on #138
Can we reopen this one? I have the same dynamic dns scenario, config files nearly stock from the repo, and the same exact problem. I can start a new issue if that's better.

https://hasteb.in/gayopule.http

I have a single server with docker. Two containers. One with Nginx, one with Vouch, accessible via the machine's local IP and via external https. I'm using Okta for authentication and successfu

[2020-02-08 10:11] mhf-ir commented on #206
Logs with testing mode: https://hasteb.in/dejuzusa.pl
Images:

- https://ibb.co/ryyLZCY
- https://ibb.co/XzF6z7C
- https://ibb.co/4J6FR3x
- https://ibb.co/kHxhHXN
- https://ibb.co/xGL0d9s
- https://ibb.co/pdfz2zJ
- https://ibb.co/pKtQWx5
- https://ibb.co/V3G3SkT

[2020-02-08 16:24] gregparsons opened #207 "Vouch + DynDns + Okta + Docker to authenticate simple HTML site (requesting config help)"
https://hasteb.in/gayopule.http

In attempting to protect a single html page, Nginx/Vouch enter an infinite loop of 302s. Login to Okta is successful (evidenced by "OpenID userinfo body" in the Vouch log). My configs are nearly stock from the repo, but thank you in advance for whatever fine tune I'm missing. Upon login I'm expecting to see a single web page at the root--which loads fine with "auth

[2020-02-09 00:42] gregparsons commented on #207
Problem solved. All worked fine once I clarified to myself a DynDns domain is

in its entirely. So Vouch, in my example above, wasn't on the same domain as the host I was trying to protect (even though it kinda looks like it with both ending in dyndns.org).

@CodechCFA's [comment](https://github.com/vouch/vouch-proxy/issues/138#issuecomment-565196911) on issue 138 was my clue. As soon as I went ba

[2020-02-09 00:42] #207 closed

[2020-02-09 00:52] gregparsons commented on #138
I got around a [similar problem](https://github.com/vouch/vouch-proxy/issues/207#issue-562042677) by getting a DynDns wildcard domain (as @CodechCFA alludes) so Vouch was on the on the same domain. I did still need to explicitly list the that DynDns subdomain in the config (per [above](https://github.com/vouch/vouch-proxy/issues/138#issuecomment-565196911). This doesn't necessarily solve the probl

[2020-02-09 00:57] aaronpk commented on #138
Vouch relies on the ability to share a cookie between the Vouch domain and the application it's protecting, it will not work if Vouch is on a completely different domain. One way to do this is to use different subdomains off of a domain you control. Depending on your other Vouch config settings, you might need to tell Vouch what domain to set the cookie on so that it will be visible by everything

[2020-02-10 15:00] rmak-cpi commented on #200
Hi @bnfinet, sorry for the delayed response. I was hoping to come up with some test coverage for the code that I have changed which turned out to be a bit more challenging than I anticipated. I should be able to come up with something by the end of this week (2/14) if not sooner.

[2020-02-10 18:37] rmak-cpi commented on #200
Hi @bnfinet, I have created https://github.com/vouch/vouch-proxy/pull/209 as an attempt to address this issue.

[2020-02-13 13:51] jbwtan opened #210 "Add Support to set the SameSite attribute on the cookie to mitigate CSRF attacks"
As I understand Vouch currently, there is no way to stop the browser sending the VouchCookie if a malicious link to the same domain the Vouch cookie is set to in vouch.domains, vouch config.

If we could set the SameSite on the cookie then we could ensure that only links in a browser to the protected resource server work on a subdomain (because only a subdomain will be allowed to send the VouchCoo

[2020-02-13 14:27] jessetandor opened #211 "Nginx not redirecting to Vouch correctly"
Hello,

I'm back with another problem and hoping for some clarity. My current config does not seem to redirect to the vouch login page (302) and I'm unsure why. The URL I am getting is `https://login.vouch.okta/login?url=https://kafka-ui.tll-m3.company.dev/dev-tln-ite-cluster/topic&vouch-failcount=&X-Vouch-Token=&error=`

Nginx Config: Ubuntu Default and pointing to a folder where the two nginx fi

[2020-02-13 14:41] bnfinet commented on #210
yep, that seems like a good idea

[2020-02-13 14:41] bnfinet commented on #210
@jbwtan are you in a position to submit a PR?

[2020-02-13 14:48] jbwtan commented on #210
@bnfinet first time contributing but yes I can give this a go. Do i need to know anything else before submitting a PR?
I was thinking of allowing a configuration value for config.yml e.g:
vouch:
  cookie:
    sameSite: Strict|Lax|None

[2020-02-13 14:52] bnfinet commented on #211
@jessetandor IIRC from the last ticket you submitted you don't have access to the DNS settings for your domain, is that correct?

If you are restricted to one domain then you will need to configure VP for a passthrough setup.

see this config..
https://github.com/vouch/vouch-proxy/blob/master/examples/nginx/single-file/nginx_with_vouch_single_server.conf

[2020-02-13 15:08] bnfinet commented on #210
yeah that sounds fine, and please add a default (I'm assuming `Strict`) to `cfg.go`.

And i should ask, do you see a way that adding default `Strict` could break existing setups?  Perhaps we should at the very least push a log message at `log.Warn` level as the default is set.  Maybe it should link to this issue.

and, @jbwtan thanks for helping to improve VP!

[2020-02-13 15:29] jbwtan commented on #210
Adding a default value would potentially break existing setups. Chrome <= Ver79 treats cookies without the SameSite attribute as SameSite=None.

From February onwards "will treat cookies that have no declared SameSite value as SameSite=Lax cookies. Only cookies with the SameSite=None; Secure setting will be available for external access"
https://blog.chromium.org/2019/10/developers-get-ready-for-n

[2020-02-13 16:25] bnfinet commented on #210
gotcha, yeah that sounds like the right way to handle it

[2020-02-16 17:49] llmuculusll commented on #206
I have exact the same problem. any workaround?

[2020-02-19 05:30] sahuguet opened #215 "Redirect Issue with Auth0"
**Describe the problem**

I have managed to get nginx and vouch-proxy working fine with google as a provider.

I am now trying to use  Auth0 instead of Google.
When I turn on `vouch.testing`, I am getting an infinite sequence of redirects I have to go through manually.
When I turn off `vouch.testing`, I get either:
* `ERR_TOO_MANY_REDIRECTS`
* `invalid character 'T' looking for beginning of value`

[2020-02-19 18:18] jbwtan1 opened #216 "Amend nginx/vouch handler to not validate OPTIONS requests"
**Expected behavior**
IIRC when a browser performs an OPTIONS request as part of a CORS request, it intentionally does not send a vouch cookie. I believe that vouch will still try and validate the request and check if the jwt is present so the OPTIONS request will always fail.
A clear and concise description of what you expected to happen.

I expect vouch to allow OPTIONS requests to the applicati

[2020-02-19 18:32] bnfinet commented on #216
If you're running into OPTIONS issues I think the best place to handle that is Nginx...

[code]

[2020-02-19 18:36] bnfinet commented on #215
@sahuguet please do post your `nginx` config and VP logs

[2020-02-19 20:16] sahuguet commented on #215
Log file at https://hasteb.in/ilamasen.json .

Nginx configs at https://hasteb.in/ifanaxej.bash

[2020-02-20 08:35] svrooij commented on #187
Microsoft adds a random guid to every issued token, I think it's in the `jti` (json token id) claim. Then you would be able to keep a list of "revoked" tokens. Items on that list could be cleared after the maxage of the token has passed since adding it to the list.

The list would be kept relatively small since you can clear the items after the set max age. The flow could then be:

1. Is the JWT v

[2020-02-20 10:25] jbwtan1 commented on #216
Thanks @bnfinet . Agree nginx sounds like a good place to handle this. Want me to create a PR to update the example nginx config? I imagine that most users would want this check in case an OPTIONS request ever hits the reverse proxy. so could be sensible to add your if-request-equals-options check as an uncommented example?

[2020-02-20 16:18] sahuguet commented on #215
I kept the exact same Auth0 configuration for vouch-proxy.
On the Auth0 side, instead of SAML, I switched to username/password and now things work fine.
So, this might be an issue on the Auth0 side and not the vouch-proxy side.

to be continued …

[2020-02-20 20:28] bnfinet commented on #216
@jbwtan1 I've added a link to this issue from the README

Thanks for making VP better!

[2020-02-20 20:28] #216 closed

[2020-02-20 20:30] bnfinet commented on #215
Thanks @sahuguet

VP doesn't speak `SAML`, only `OAuth`/`OIDC` so this is likely to be the issue.

[2020-02-20 20:38] bnfinet commented on #206
@mhf-ir the logs show `vouch.cookie.secure: false` but your config as posted does not show that.

Try changing that first.  If you're using `https`, then you want  `vouch.cookie.secure : true` (which is the default)

If you still have problems, please post your updated VP config and nginx config and with logs from a run with that config.

Don't worry about the screenshots for now.

[2020-02-20 20:41] mhf-ir commented on #206
Thanks for response, I will try now

[2020-02-20 20:46] mhf-ir commented on #206
Here is my config: https://paste.ubuntu.com/p/GnZpB64BCJ/

[2020-02-20 20:59] bnfinet commented on #206
thanks, and how about the VP logs for a full round trip when using those configs?

[2020-02-20 21:04] mhf-ir commented on #206
Heres VP logs: https://paste.ubuntu.com/p/gJzmcwdhtg/

[2020-02-20 21:05] mhf-ir commented on #206
it's seems `ERROR	no Username found in jwt` is a probelm

[2020-02-20 21:10] mhf-ir commented on #206
i check profile email and openid for adfs server:
![Screenshot from 2020-02-21 00-39-21](https://user-images.githubusercontent.com/1172526/74978841-b0435980-5442-11ea-8ff7-9b23ef666609.png)

[2020-02-20 21:24] sahuguet commented on #215
It should not matter.

The point is to be able to authenticate via OAuth/OIDC, irrespective of what's behind it.
My understanding is that Okta, Auth0, etc. are wrapping some OAuth/OIDC authentication on top of anything you want, e.g. private database, other IdPs, etc.

I am trying to achieve the same using Okta and vouch-proxy. I will tell you how it goes.
I am also going to ask Auth0 is there is

[2020-02-21 09:27] martinwaite opened #217 "versioned alpine builds do not exist"
**Describe the problem**
Section 'Running from Docker' in the overview page on Docker Hub states that versioned alpine images are available as voucher/vouch-proxy:x.y.z_alpine.  This does not appear to be true.

[2020-02-21 17:14] sahuguet commented on #215
I used a `authlib.flask.client` to run a client against my Auth0 set-up.
I can authenticate properly. Here is a the info I am getting:
[code]

1. There is no trace of SAML. `vouch-proxy` should be happy :-)
2. is there something missing that `vouch-proxy` is expecting?
3. is the format of `sub` incorrect? In your unit tests, you use `:` as a separator, not `|`.

[2020-02-21 17:38] jbwtan commented on #210
i'm sure you're very busy but is there any way this feature could be prioritised higher given this is a potential security issue? Happy to chip in where I can

[2020-02-21 18:05] bnfinet commented on #206
Your logs include
`2020-02-20T20:59:40.363Z	ERROR	jws: invalid token received`

@simongottschlag that's from
https://github.com/vouch/vouch-proxy/blob/master/handlers/handlers.go#L820

@simongottschlag I believe that error should be returned. Instead `nil` is returned which means it bubbles through to continuing with user creation.

[2020-02-21 18:31] simongottschlag commented on #206
@bnfinet yeah, sounds like a miss from my side.

@mhf-ir have you tried enabling allatclaims?

[2020-02-21 18:35] bnfinet commented on #217
thanks @martinwaite do you have particular need for these?  I don't use the Alpine based builds.

Since you're the first to notice this I'm inclined to drop support.

Is there a reason you're looking for a particular version?  Are you having problems with the `latest` alpine build?

[2020-02-21 19:25] mhf-ir commented on #206
@simongottschlag ye i try to check all check boxes but nothing changed

[2020-02-21 19:43] simongottschlag commented on #206
@mhf-ir seems like you’re not seeing any tokens. Any errors that you can see in eventviewer on ADFS?

What ADFS version are you running? Have you verified that the shared secret is correct?

@bnfinet does Golang work with SNI (Subject Name Indication) by default or do you need to configure anything for it? We usually disable it for most setups on ADFS - but it is default. Maybe that could be the i

[2020-02-21 21:17] bnfinet commented on #206
@mhf-ir could you please pull the branch at https://github.com/vouch/vouch-proxy/tree/bug/206_return_ADFS_errors then build, run and post an updated log

[2020-02-21 21:40] sahuguet commented on #215
Looking at the logs, I think that — for some reason — the user never gets created and this is what's causing the loop.

[code]

vouch gets the info from Auth0, i.e. `{"sub":"samlp|cornelltech|as3465", ...}`.
But this either is not enough, or vouch expects an email address.
When trying to create the user, it fails (`key required`).

1. should Auth0 return something else? What's the minimum that vou

[2020-02-21 23:12] martinwaite commented on #217
I'm using the alpine build as the base of a new container that uses confd to build the config file from environment variables. Having the versioned build would give me better traceability - but it's not a must have. I can probably get the version number from the vouch-proxy executable.

[2020-02-24 20:06] sahuguet commented on #215
While waiting for the Auth0 team to tell me how to fix the mapping (see https://community.auth0.com/t/mapping-saml-attributes-from-idp-to-auth0-profile/38390), I have managed to make vouch-proxy work for my case:

1. I have added a new field to the `User` struct:
[code]

2. I have changed the PrepareData to populate the field accordingly.
[code]

@bnfinet
Assuming Auth0 does not provide a good ans

[2020-02-25 04:13] sahuguet opened #219 "How is JWT encoded in the cookie?"
I finally managed to get vouch-proxy to work with Auth0 sitting on top of SAML (see https://github.com/vouch/vouch-proxy/issues/215).
Now I am trying to have my downstream app to consume some information from JWT.

I assume that the JWT is stored in the cookie.
But when I try to base64 decode the content of the cookie, I am getting garbage.

Is Vouch using a special encoding?

[2020-02-27 15:17] sahuguet commented on #215
I created a new rule inside Auth0 to enrich the claim with some missing attributes.
I won't need to mess up with `PrepareUserData`, I think.

[2020-02-27 15:17] #215 closed

[2020-03-03 00:23] bnfinet commented on #219
@sahuguet the Cookie is not just base64 encoded but I'm going to ask you to do your own digging here.

I think you can answer your own question best by taking a look at the code for `/validate` in `handlers.go` and work your way to `cookie.go` and `jwtmanager.go`

VP relies on this package for JWT management.
http://github.com/dgrijalva/jwt-go

[2020-03-03 00:23] #219 closed

[2020-03-08 01:15] rogerscuall opened #220 "Looking for some help with AWS Cognito."
**Describe the problem**
Trying to use vouch with AWS Cognito, the pool is already working with other applications and the authentication looks to be successful according to the logs in CloudWatch.

**Expected behavior**
User to get authenticated with access to the service protected by vouch.

**Desktop (please complete the following information):**
 - Browser: Chrome, or Firefox

**Smartphone (pl

[2020-03-08 01:28] bnfinet commented on #220
Please double check your urls in your oauth config.  IIRC one of them must
be capitalized.  I think it's the user info one.

On Sat, Mar 7, 2020, 5:15 PM Roger Gomez Olivares <notifications@github.com>
wrote:

[2020-03-08 19:58] rogerscuall commented on #220
That worked, I actually had a typo in user_info_url.

[2020-03-08 19:59] #220 closed

[2020-03-08 20:35] rogerscuall opened #221 "returning claims from user_info as X-Vouch-IdP-Claims-* headers"
**Describe the problem**
After the user was authenticated and can go to the protected service, the only information we have about the user is the header **x-vouch-user**. Can we get any other information assuming the external provider is sending that information?

**Expected behavior**
In this specific case, other information is requested, for scope is: OpenID, email, profile.
The auth response he

[2020-03-08 22:24] bnfinet commented on #221
Take a look at the config examples for how to pass claims as headers...

https://github.com/vouch/vouch-proxy/blob/master/config/config.yml_example#L95-L103

On Sun, Mar 8, 2020 at 1:35 PM Roger Gomez Olivares <
notifications@github.com> wrote:

[2020-03-09 15:07] rogerscuall commented on #221
Hi @bnfinet , thanks for your help.
I followed your link, now the vouch config looks like this:
https://gist.github.com/rogerscuall/bc1c44e5ff3033399d1af7eeed70e630
The ingress looks like this:
https://gist.github.com/rogerscuall/2945c48fc2190638b3544083f29c9995
The logs in vouch look like this:
[code]
But still not getting the header with the groups.
https://gist.github.com/rogerscuall/ddc1909993

[2020-03-11 17:43] radoslav-stefanov opened #222 "Maximum number of protected domains"
Hi guys,

Is there a limit of how many domains can be protected with vouch proxy if I am explicitly whitelisting them?

Thanks!
R

[2020-03-11 19:49] bnfinet commented on #211
@jessetandor I'm going to close this for now.  Feel free to repost to this thread if you need further support.

[2020-03-11 19:49] #211 closed

[2020-03-11 20:23] bnfinet commented on #221
please post your logs with `loglevel: debug` and `testing: true`

[2020-03-11 20:25] bnfinet commented on #222
I don't know what the limit is.  I don't know of anyone who has configured VP for more than a handful of domains.  Please do post back here if you find a limit.

[2020-03-11 20:25] #222 closed

[2020-03-11 20:27] bnfinet commented on #206
@mhf-ir any progress?

[2020-03-11 22:32] rogerscuall commented on #221
One more time thanks.
This is the log:
https://hastebin.com/meyicuside.rb
On line 59 there is a JWT token decoding that will return something like this:
[code]

[2020-03-11 22:49] bnfinet commented on #221
If properly configured the `CustomClaims:map[]` should be getting populated (lines 153 and 121)

In the config `headers` should be a sub element of `vouch`.  You have it on the same level as `vouch` and `oauth`

[2020-03-12 02:52] rogerscuall commented on #221
You are completely right, my mistake. I can see now that in the vouch logs this line at the very beginning:
`2020-03-12T02:33:36.485Z	DEBUG	viper settings map[vouch:map[testing:true headers:map[claims:[cognito:groups]]`
I have applied the changes you requested but still the same issue, config looks like this:
https://hastebin.com/ihinedijus.m
Logs look like this:
https://hastebin.com/nesixuleto.pl

[2020-03-12 05:20] #217 closed

[2020-03-12 05:21] bnfinet commented on #217
I fixed this as a docu-bug.  If anyone would like to support a versioned alpine based build at Docker Hub I'd be happy to link to it from the README.

[2020-03-12 06:16] bnfinet commented on #210
Just came across this.. "Cookies with SameSite=None must also specify Secure, meaning they require a secure context."
https://web.dev/samesite-cookies-explained/

I think there should be a `log.Error` or perhaps fatal if `none` is specified but `secure` is not set.

It's tempting to just set secure (and explain to the user with log.warn) but since TLS is always handled by `nginx` I think making su

[2020-03-12 18:27] therealpaulgg opened #223 "Can't make CORS work with my page"
**Use a Paste Service**
Vouch logs:
https://hasteb.in/basasara.rb

Vouch Config:

https://hasteb.in/ruvuzaco.yaml

Nginx Config for Vouch is identical to the one in the main README

My config for my static resource includes 'Access-Control-Allow-Origin':

[code]

Chrome Console logs:
https://hasteb.in/ebabesup.nginx

**Describe the problem**
(I am using Gitea as my oauth provider)
I travel to docs

[2020-03-12 18:35] bnfinet commented on #223
Please search the issues for OPTIONS

On Thu, Mar 12, 2020, 11:28 AM Paul <notifications@github.com> wrote:

[2020-03-12 18:38] therealpaulgg commented on #223
I have tried this solution. put it on docs and static nginx config under location /validate. No dice.

[2020-03-12 18:47] bnfinet commented on #223
Please post your full nginx config

Does it work for non CORS sites?

On Thu, Mar 12, 2020, 11:38 AM Paul <notifications@github.com> wrote:

[2020-03-12 18:57] therealpaulgg commented on #223
Yes. I am able to access the static resource and docs resource through the browser, but when docs tries to load the static resource through a async get request, it fails.

Nginx config for docs:

https://hasteb.in/fisufubi.nginx

Nginx config for static:

https://hasteb.in/qumeyani.nginx

Nginx config for Vouch:

https://hasteb.in/uyadelob.php

Nginx config for Gitea (if relevant):

https://hasteb

[2020-03-12 19:34] bnfinet commented on #223
please post full VP logs with `loglevel: debug`

[2020-03-13 02:05] therealpaulgg commented on #223
here's a logfile since I restarted the server and tried to test again:

https://hasteb.in/ularirej.yaml

Not sure if you need older logs than this, I can't include my entire logfile as its too long

[2020-03-13 16:38] bnfinet commented on #223
`domain 127.0.0.1 not found in any domains []`

Why aren't your requests showing up as requests for `docs.vilagesocial.app`?  Looks like Host header is not being forwarded to VP properly.

have you tried setting `vilagesocial.app` in `vouch.domains`?  What happens?

These are XHR requests, yes?  Are you setting `withCredentials`?
https://developer.mozilla.org/en-US/docs/Web/API/XMLHttpRequest/with

[2020-03-13 17:19] bnfinet commented on #215
@sahuguet can you document what missing attributes you've added?  I'm sure others would benefit from your work here.

[2020-03-13 19:48] sahuguet commented on #215
To make things work, I had to create a custom rule with Auth0:
[code]

You can get the magic `urn` from the Auth0 user profile panel.

[2020-03-14 01:41] therealpaulgg commented on #223
Ok, I kinda gave up. Not totally sure what the issue is. I'm using SwaggerUI as a React component (https://www.npmjs.com/package/swagger-ui-react) in this docs app, and when I thought about what you said about XHR requests, I noticed on their site that they say that OAuth redirection handling is not supported. I just put the JSON resource on the same domain as my docs site and called it a day.

If

[2020-03-14 01:41] #223 closed

[2020-03-16 18:55] bnfinet commented on #210
@jbwtan while testing #214 I came across this issue:
https://github.com/golang/go/issues/36990

Do you have any thoughts on `http.SameSiteDefaultMode` vs `http.SameSite(0)`?

[2020-03-16 21:52] jbwtan commented on #210
@bnfinet thanks for looking into the issue. good spot. I think the right approach for backwards compatibility would be to not write a same site attribute at all (and which should be how things are right now). In that case if http.SameSite(0) doesn't write an attribute at all then I would opt for that even though it feels like a workaround for the implementation of SameSiteDefaultMode. I don't thin

[2020-03-17 14:35] GauravAshara opened #224 "Vouch Proxy with Nginx and Keycloak throwing 'no jwt found in request' error"
Please check my configuration with below link

Here are my logs.
Vouch  : https://hasteb.in/egagixog.http
Nginx :  https://hasteb.in/obetemeb.nginx
logs : https://hasteb.in/pidakeqa.yaml

[2020-03-17 14:57] bnfinet commented on #224
your nginx config is not aligned with your VP config..

* no `auth_request` module being used
* `/auth` endpoint forwards to 8080 not 9090
* `callback_url: http://localhost/auth` is http but will get forwarded to https
* no error block to catch the 401 redirect

plus its unusual to do this all through `localhost`.  You're better off IMHO mapping a domain to 127.0.0.1 using `/etc/hosts`

Please re-

[2020-03-17 15:00] bnfinet commented on #224
this might be a good starting point for you nginx config...

https://github.com/vouch/vouch-proxy/blob/master/examples/nginx/single-file/nginx_with_vouch_single_server.conf

[2020-03-17 23:16] aroden-crowdstrike commented on #210
Nginx hack to add `SameSite=None` to the tail of `vouch.cookie.secure=True` to make CORS work on latest chrome

[code]

[code]

[2020-03-18 15:29] aroden-crowdstrike commented on #210
Recommendations based on the CHANGING operation of chrome/ff/safari in recent versions releasing ~this week.

Anyone using vouch to add auth to an API without same-origin front-ends (think localhost:80) is going to be annoyed by the defaults of `SameSite`

My recommendations for this project
 * when `secure=True` add default of `SameSite=None`; most expected behavior from users but has existing ri

[2020-03-18 19:39] mjnaylor8 opened #226 "Home Assistant config help - auth does not redirect back"
I am trying to get Vouch working with my home assistance instance.  The 302 redirect works fine to the homeassistant login but I do not get redirected back after the login and continue to Homeassistant.
I have got it working fine using Okta which suggests I have the config correct?
Vouch is running on Docker @ vouch.thenaylors.co.uk
Homeassistant is running @ homeassistant.thenaylors.co.uk with a

[2020-03-18 20:00] bnfinet commented on #226
please upgrade your VP and post your (redacted) VP config

This line implies that the HA is forwarding back to VP.  Are you able to login to HA?
`ERROR	/auth Invalid session state: stored zMD548Obx9OsRLynb59YMc7f9BYfRYxW, returned  ,`

[2020-03-18 22:10] talltechdude commented on #226
@mjnaylor8, if you are using the Supervisor based version of HomeAssistant, I've developed some plugins that may make your life easier. Check the start of my repo here: https://github.com/talltechdude/hassio-addons.

Its got a standalone Vouch plugin and also Vouch integrated into Nginx Proxy Manager community plugin. You can have a look at the various config files and see if they help at all.

[2020-03-19 18:05] oferrigni opened #227 "CustomClaims Groups joins on " " and not "," starting in 0.6.16"
**Describe the problem**
When using custom claims, "groups", groups are returned joined by a " " and not by a ",". This results in an unusable headers as our groups can have " " in them. This appears to have changed from 0.6.15 to 0.6.16.

**Expected behavior**
Either the header delimiter should be configurable or default to ","

[2020-03-19 18:06] oferrigni opened #228 "Cookie split panics when "_" in the name"
If you have a cookie that has "_" in its name, vouch-proxy will panic during the cookie split.

[2020-03-19 18:32] mjnaylor8 commented on #226
@bnfinet Thanks.  Updated VP.  Tried with Nextcloud locally hosted and this config works OK too however still no joy with HA.  I can log into HA.
My redacted VP config is here
https://hasteb.in/analuqim.yaml
Is there some config needed in HA.  I have looked in the HA documentation on authentication and can't see anything needed to the config.  Maybe I missed something?
@talltechdude not using that

[2020-03-20 19:17] bnfinet commented on #228
@oferrigni you submitted a PR that updates the documentation concerning this bug with #225

What's your proposed solution?

[2020-03-20 20:28] bnfinet commented on #227
This is probably a dup of #200 addressed by #209 (HT @rmak-cpi)

@oferrigni would you be able to test #209 and see if it fixes your issue

If it does, could you please mark this as dup (close) and lets continue the discussion there

also in the mix of claims is #221 though that's probably a separate issue.

[2020-03-20 20:44] bnfinet commented on #200
Sorry for the delay @rmak-cpi.  I need to figure out how best to test this PR, and really how best to test custom claims going forward.

My gut is telling me is time to start building a set of good mocks for each IdP's return values for `oauth.user_info_url`.  The tests you created in #209 are a step in that direction.  But that's a bit of a heavy lift.

@artagel would you be in a position to eval

[2020-03-20 21:19] bnfinet commented on #210
@aroden-crowdstrike what do you think of not adding an attribute at all by default.  @jbwtan that's what you're suggesting, yes?

And, in order to not break existing setups would it be worth it to implement the logic detailed here..
https://www.chromium.org/updates/same-site/incompatible-clients

[2020-03-20 23:39] jbwtan commented on #210
Hi @bnfinet. Yep thats what I'm suggesting as my understanding is that existing versions of vouch-proxy will not have a SameSite attribute defined in any way. So by setting sameSite = http.SameSite(0) as per the link golang/go#36990 you kindly shared, no attribute will be declared and therefore shouldnt break existing setups

[2020-03-21 15:02] p-doyle opened #229 "Vouch Proxy Cookie too large for protected app"
[Vouch config](https://hasteb.in/bugukiru.yaml)
[Nginx config](https://hasteb.in/facimusi.nginx)

**Describe the problem**
The authentication flow works fine and I am redirected back to the original URL, https://subdomain.mydomain.com:8444.  When in Firefox, nothing at all returns and the page is blank.  When in Chrome, the page just displays [this](https://hasteb.in/mosopiyo.yaml), which seems to

[2020-03-21 15:16] bnfinet commented on #229
What happens when you put the 'auth_request' directive in the server block
as per the README?

If that doesn't work please post your VP log and describe/show the request
from the browser as seen in developer tools.

And try the samesite stuff in #210.  That failed request mentions samesite.

On Sat, Mar 21, 2020, 8:02 AM p-doyle <notifications@github.com> wrote:

[2020-03-23 19:02] mmohaveri commented on #114
@bnfinet Are you interested in a PR adding this functionality? I personally need this feature and don't want to switch my whole stack from Nginx to OpenResty because of it.

[2020-03-23 19:19] bnfinet commented on #114
The 'vouch.domains' option is a whitelist provided the configured idp
returns an email address.  The email is checked to be within a domain.

The original use case was/is that anyone who can authenticate to a Google
Apps for business group (configured by domain) is authorized.

Are you proposing something different than this?

On Mon, Mar 23, 2020, 12:02 PM Mahdi Mohaveri <notifications@github.com

[2020-03-23 20:21] bnfinet commented on #114
sorry @mmohaveri I was replying via email and didn't realize you were responding into an old thread.

Are you saying you need the subdomain functionality?  Each user would be associated with a specific subdomain (or host)?

[2020-03-24 07:50] psmod2 opened #230 "Accessing the user_info_url"
Hi,

Just started with vouch - in the config I see `user_info_url` is specified, however is it possible for me to request that URL directly?

https://github.com/vouch/vouch-proxy/blob/master/config/config.yml_example#L164

At the moment, I'm getting the cookie and hitting the user_info url with the PAccessToken myself - wondering if I can do that directly on Vouch's side?

Thanks.

[2020-03-24 08:43] psmod2 opened #231 "Log out with Okta"
Hi,

I'm trying to perform a logout however however a few questions/really not clear what needs to be done from my side and what is handled by vouch:

- I'm using Okta which states the logout url is `https://{oktaBaseUrl}/logout?id_token_hint=${id_token}`. Is that id_token provided by vouch or do I need to specify.
- I presume the URL i need to hit is `https://{myvouchproxy}}/logout?url={URL above

[2020-03-24 09:41] mmohaveri commented on #114
Yes, I would prefer to have the option to whitelist specific users for specific domains while using Nginx.

[2020-03-24 14:36] muralisathenapalli opened #232 "Redirect login page if user not found in whiteList"
Hi,

Trying to whitelist the users to access the application. the option is working great for users that are there in whiteList.
If a user is not listed under whiteList, vouch proxy is displaying that **" the user is not under whitelist and try again later"**.  it's not redirecting back to the login page.

![image](https://user-images.githubusercontent.com/62054421/77437558-d0cc4e00-6e0a-11ea-8a4d

[2020-03-24 17:57] bnfinet commented on #232
You could capture the `401 Unauthorized` response from https://vouch.youdomain.com/auth in Nginx and then 302 redirect the browser.

However you should be aware that this has the potential to setup an infinite redirect loop with some IdP's.

[code]

I'm uncertain if this should be the responsibility of VP.  Where possible I'd prefer to leave the routing decisions in Nginx.

There's a case for incr

[2020-03-24 18:00] bnfinet commented on #114
What IdP are you using?

You could use multiple VP instances side by side, using one whitelist per
instance, pointing each nginx `server{}` stanza at the appropriate instance.

On Tue, Mar 24, 2020 at 2:41 AM Mahdi Mohaveri <notifications@github.com>
wrote:

[2020-03-24 18:04] bnfinet commented on #231
please see #40

[2020-03-24 18:04] #231 closed

[2020-03-24 18:09] bnfinet commented on #230
What are you trying to do?  Why do you want to request `user_info_url` directly?

VP does access `user_info_url` to get the user info.  When you say "wondering if I can do that directly on Vouch's side?" what are hoping to get?

For anything specific to your setup please submit configs and logs.

[2020-03-24 18:20] bnfinet commented on #226
are you still getting errors such as...
`ERROR	/auth Invalid session state: stored zMD548Obx9OsRLynb59YMc7f9BYfRYxW, returned ,`

This is saying that HA is not passing the state variable back to VP which it received from VP in the request to https://homeassistant.thenaylors.co.uk/auth/authorize (state is a nonce).

Please post updated logs.

[2020-03-24 18:21] #224 closed

[2020-03-24 18:35] bnfinet commented on #221
Until #183 and #184 are resolved `cognito:groups` will not work.  The `:` in the string screws up the header.

However I'm not sure that's what you're seeing here.  It feels like we should be able to see the groups coming out of the JWT.

[2020-03-24 18:41] bnfinet commented on #114
related #175

[2020-03-24 18:44] #168 closed

[2020-03-24 18:45] #142 closed

[2020-03-24 18:46] #143 closed

[2020-03-24 18:52] bnfinet commented on #232
as per #160 VP probably should return `403 Forbidden` when the user is authenticated at the IdP but not authorized (not on whitelist or not in the domain, etc..).

[2020-03-24 19:09] rogerscuall commented on #221
Nope, I still get the `CustomClaims:map[]` empty. If I decrypt the JWT I can see:
[code]
But the field with the group that is sent back to the protected service is missing.

[2020-03-25 00:08] psmod2 commented on #230
I was hoping to get the user's name e.g. first name.

[2020-03-25 00:13] bnfinet commented on #230
Yes VP can.  If your IdP returns the name as a claim you can map the claim to an http header which can be populated and added to the request which is forwarded to your app...
https://github.com/vouch/vouch-proxy/blob/master/config/config.yml_example#L95-L103

[2020-03-25 00:18] psmod2 commented on #230
So are those claims the same as the scopes I have defined in my oauth

[code]

The name is basically found in the profile section - so would I therefore do:

[code]

[2020-03-25 08:04] tangel0v opened #233 "Type of OAuth Flow"
## Question about type of OAuth flow

Hi to all, thanks for your great work. I only have a question to do: Which type of OAuth flow does support _vouch-proxy_ ? Implicit? Codegrant? Codegrant + PKCE?

I am trying to setup it with an ADFS server and I don't have found any documentation about it.

Thank you very much again!

[2020-03-25 09:43] psmod2 commented on #231
I've read that comment however I'm still unsure whether I need a nginx config something like:

[code]

Is there an existing example for Okta if this is required?

[2020-03-25 09:51] bnfinet commented on #231
That is not implemented, I'm hoping someone will submit a PR after further discussion.  If you have any further questions please ask it in that thread.

[2020-03-25 09:52] bnfinet commented on #233
It's code grant

https://oauth.net/2/grant-types/authorization-code/

On Wed, Mar 25, 2020, 1:04 AM tangel0v <notifications@github.com> wrote:

[2020-03-25 10:08] bnfinet commented on #230
Is Okta configured to send given_name?

This looks like a good place to start...

https://developer.okta.com/docs/guides/customize-tokens-returned-from-okta/add-custom-claim/

[2020-03-25 11:11] tangel0v commented on #233
Thank you very much! I will close this issue.

[2020-03-25 11:11] #233 closed

[2020-03-26 04:46] muralisathenapalli commented on #232
@bnfinet  Thanks for the quick response.
I did add the /auth block as you suggested and tried to redirect the user to the login page. but it's not working. so I decided to enable logging in VP, which shows whenever the user does not exist in the whitelist, VP is handling the request with status code 200 rather than 401. Hence Nginx is not triggering @autherror block. please have a look at below VP

[2020-03-26 09:02] psmod2 opened #235 "Okta Logout - Not deleting the cookie"
Hello,

I'm implementing my logout button with Okta (with the help of comments posted here) I'm able to get the redirect, however its not removing the vouch cookie - although it one called removes VouchSession.

Vouch Proxy sits between nginx - where I have the location:

[code]

Then the request thats made on my front end, hits this URL:

[code]

Where `pIdToken` is obtained from the vouch cookie

[2020-03-26 12:54] mjnaylor8 commented on #226
Hi - still have the same problem HA does not return back to Vouch.
Here is the log from Vouch.  This was done on a new session using Firefox with all cookies and history purged.
https://hasteb.in/odikalet.lua
I have checked the HA logs too and there is nothing there either.
Could it be something in the NGINX config in Content-Security-Policy headers?

[2020-03-26 13:00] bnfinet commented on #226
That's a regression.  Your prior log did include a return to /auth and
showed an Error (no state).

Assuming your VP config is the same this is on the HA side.  If it has
changed then please post it.

On Thu, Mar 26, 2020, 5:54 AM Michael Naylor <notifications@github.com>
wrote:

[2020-03-26 14:10] mjnaylor8 commented on #226
I have recreated the /auth.  It was not part of the HA login process but from navigating to https://vouch.thenaylors.co.uk/auth.
So problem is still there.  I have a hassbian pi somewhere.  I'll see if that gives a similar error and if not then will look more into my the HA implementation on Debian.

[2020-03-26 16:38] mjnaylor8 commented on #226
Further review.... tried Hassbian - same problem.  Tried using vouch infront of another app - same problem.
The URL generated by vouch is
https://homeassistant.thenaylors.co.uk/auth/authorize?client_id=https%3A%2F%2Fvouch.thenaylors.co.uk&redirect_uri=https%3A%2F%2Fvouch.thenaylors.co.uk%2Fauth&response_type=code&state=j5x54W7kAcZQno4btL126mrzYMO4GdE

However the login url for HA is
https://homeas

[2020-03-26 16:52] bnfinet commented on #235
@psmod2 from here on out I'd ask you to please send your full nginx and VP configs (debug, testing) and fresh logs whenever you file an issue as well as any time where you have made any adjustments to your configs.

[2020-03-26 17:01] bnfinet commented on #226
this URL includes port `:8123` is that reflected in your VP config?

this URL includes

[2020-03-26 17:06] mjnaylor8 commented on #226
Hurray!  Thank you @bnfinet .
So very important that the url in vouch also includes any port number.
This now works fine.

[2020-03-26 17:07] #226 closed

[2020-03-26 17:07] mjnaylor8 commented on #226
and a thank you to all who created vouch!

[2020-03-26 17:08] bnfinet commented on #226
glad it's working for you @mjnaylor8 and thanks for the kind words

[2020-03-26 17:24] mjnaylor8 commented on #226
It might be worth updating the homeassistant config example to include port 8123.  Generally the NGINX setup for HA is either
location / {
 proxy_pass https://ipaddress:8123;
}
or
location / {
   return 301 https://$host:8123/;
}

[2020-03-26 17:27] bnfinet commented on #226
Feel free to submit a PR

On Thu, Mar 26, 2020, 10:24 AM Michael Naylor <notifications@github.com>
wrote:

[2020-03-26 17:35] mjnaylor8 commented on #226
GitHub newbie with lots to learn. Nothing like being retired and @home at this weird time.
Will look up how to do so and will!

Thanks (again) Michael
Sent from my iPhone

On 26 Mar 2020, at 17:27, Benjamin Foote <notifications@github.com> wrote:

﻿

Feel free to submit a PR

On Thu, Mar 26, 2020, 10:24 AM Michael Naylor <notifications@github.com>
wrote:

—
You are receiving this because you were

[2020-03-26 23:47] psmod2 commented on #235
Will do.

Heres my vouch config:

[code]

And here's the nginx config:

[code]

[2020-03-26 23:51] psmod2 commented on #235
And here are the logs:

[code]

[2020-03-27 00:10] bnfinet commented on #235
please read the README wrt how to file an issue

[2020-03-27 00:26] psmod2 commented on #235
Closing question - issue was down to an incorrect logout redirection url, so it wasn't about the delete the cookie as it was going to some other domain.

[2020-03-27 00:26] #235 closed

[2020-03-27 13:29] #230 closed

[2020-03-27 23:44] bnfinet commented on #229
@p-doyle any progress?  If not I'm inclined to close the issue

[2020-03-28 13:14] p-doyle commented on #229
Moving the auth_request didn't change anything.

Here is the vouch log: https://hasteb.in/ilexuxid.json

Here are the headers from the Network tab in Chrome's dev tab.  https://hasteb.in/ogobotac.yaml
Is that what you were looking for from the dev tools or was there something else?

Thank you for looking into this.

[2020-03-28 13:40] mmohaveri commented on #114
Currently I'm using Gitea

Yeah, that's definitely possible, but a little too much for a simple whitelisting.

[2020-04-02 02:25] arghyanator opened #237 "getting invalid_grant with AWS cognito"
Hello,

I need some help in figuring out the issue with integrating a Nginx proxied web site and authentication with AWS cognito for the app using Vouch (vouch, app and nginx are all running on same instance).

I am getting invalid_grant. However, in the logs I do see a token with username, etc.

Vouch config: https://hasteb.in/kamejiqi.yaml
Nginx configs: https://hasteb.in/arayiyoy.nginx, https:/

[2020-04-02 03:06] bnfinet commented on #237
Please turn on `testing` as per the README and post full logs.  It's hard for me to see coming through nginx and what's not.

You have `vouch.cookie.secure: false` but you're using https.  That should be true.  That might be enough to get the cookie/jwt in place and for `/validate` to return 200.

Are you trying to pass claims or tokens back to your app?  That does not appear to be configured.

[2020-04-02 04:11] arghyanator commented on #237
Hello @bnfinet ,

Thank you for the quick response. I tried again after setting `vouch.cookie.secure: true ` and `testing` to true.

New logs - https://hasteb.in/agadicud.yaml

I currently dont have an app - just trying to see if I can protect an html page behind the nginx server (instead of using .htpasswd - use cognito for authentication).

Thank you,
Arghya

[2020-04-02 04:19] arghyanator commented on #237
<img width="1140" alt="Screen Shot 2020-04-01 at 9 12 50 PM" src="https://user-images.githubusercontent.com/20214427/78210205-503acc80-745e-11ea-8837-7ea1b0875854.png">
this is the cognito app client settings.
Thank you,
Arghya

[2020-04-02 04:31] bnfinet commented on #237
that log does not show the `/auth` endpoint (`callback_url`) getting hit whereas your prior log does.  What happens when you log into cognito?

[2020-04-02 04:47] bnfinet commented on #237
try this config..
https://hasteb.in/yunopere.yaml

the README includes a section "think like a cookie" that may be helpful

[2020-04-02 15:11] mindfuucker opened #238 "Docker won't run because config file could not be found"
Running the docker command in an empty folder results in the following fatal error message: [link](https://hasteb.in/duxaxuhu.json).

Having the folders pre-made also results in the same result.

Running docker version 19.03.

[2020-04-02 15:16] bnfinet commented on #238
Can you please be a bit more specific?  What docker command are you running?

Where is your config file?

On Thu, Apr 2, 2020, 8:11 AM mindfuucker <notifications@github.com> wrote:

[2020-04-02 15:28] mindfuucker commented on #238
The command from [here](https://github.com/vouch/vouch-proxy#running-from-docker), excluding the -d.

In the container?

[2020-04-02 15:35] bnfinet commented on #238
Can you please tell me specifically what you typed into your terminal?

What OS?

Did you create a config file?  Where is it?

On Thu, Apr 2, 2020, 8:28 AM mindfuucker <notifications@github.com> wrote:

[2020-04-02 15:44] mindfuucker commented on #238
[This](https://hasteb.in/rexuviya.nginx)

Ubuntu 19.10

Where does the Docker installation states that? I did not manual create some sort of config file. Do I need to drop the a .yml file in there?

[2020-04-02 15:59] bnfinet commented on #238
Yes, you'll need to create a config.  That's why the conf directory is
mapped in as a volume with '-v'.

Why don't you take a bit of time to try to get VP running with an oauth
provider.  I'm hopeful that you'll be able to get VP running based on
what's in the README and linked resources.  If not, please provide detailed
accounts of your attempts.

If you feel there's an improvement to be made to

[2020-04-02 16:26] mindfuucker commented on #238
Thank you for being patient with me.

I will close this case.

[2020-04-02 16:26] #238 closed

[2020-04-02 18:56] mindfuucker opened #239 "Google Oauth callback_url"
I've successfully setup vouch at vouch.domain.nl with docker and put it behind my reverse proxy (Nginx) with some nice HTTPS certificates.

Vouch will be used at three domains, vouch.domain1.nl, vouch.domain2.nl and vouch.domain3.nl. They all have certificated and point to the same local internal location: 127.0.0.1:9090.

For testing purposes I've put my torrent client Deluge on deluge.domain1.nl

[2020-04-02 21:35] bnfinet opened #240 "upgrading to go 1.13 requires flag.Parse and zap.logger refactoring"
As of go 1.13 Flag.Parse can no longer be called during `init()`.
https://github.com/golang/go/issues/31859

The tests are failing on 1.13 due to an error related to this change (flag -loglevel specified but not used).

Where this gets into filing-an-issue-worthy refactoring is that zap.logger's log level is configured during `cfg.init` and other VP packages initialize a package variable with `var

[2020-04-02 22:53] bnfinet commented on #239
as per the README "be sure to direct the callback URL to the /auth endpoint"
https://github.com/vouch/vouch-proxy#installation

for further support please turn on `testing` and repost full logs (also as per the README)

[2020-04-03 10:52] mindfuucker opened #241 "Whitelist case-sensitive?"
For my configuration I'll refer to this Issue: [Link](https://github.com/vouch/vouch-proxy/issues/239).

My friend called Sytze tried to enter my whitelist-protected subdomain. His email is Sytze@domain.com.
I've put sytze@domain.com in the whitelist and Vouch barred him from entering.

Why is the whitelist case-sensitive for email addresses? I can understand it for usernames.

[2020-04-03 11:12] bnfinet commented on #241
How hard is it for you to enter his preferred email address or to whitelist
a few permutations?

According to the RFC the username (host local portion) is case sensitive.

https://stackoverflow.com/questions/9807909/are-email-addresses-case-sensitive

I agree in practice that email addresses tend to be case insensitive.
However the email address in this case is what's returned by the IdP and
the I

[2020-04-03 11:17] mindfuucker commented on #241
Hello @bnfinet,

It's not hard to do, it's just not something I expected. I've searched the Github Issues but couldn't find someone with the same problem.

I will make a pull request for the example config showing multiple permutations.

[2020-04-03 11:17] #241 closed

[2020-04-03 11:19] bnfinet commented on #239
@mindfuucker Is this issue resolved?

[2020-04-03 11:21] bnfinet commented on #241
No thank you.  I don't think a PR is necessary.

On Fri, Apr 3, 2020, 4:18 AM mindfuucker <notifications@github.com> wrote:

[2020-04-03 11:23] mindfuucker commented on #241
Then you can reject it.

[2020-04-03 11:25] #239 closed

[2020-04-03 22:17] arghyanator commented on #237
I am all set.
Since I dont have a DNS system for my testing right now, I am using local `/etc/hosts` file to set `<serverIP> mytestdomaindunamis.com regular.mytestdomaindunamis.com vouch.mytestdomaindunamis.com` (which are all running on the same testing instance).

regular = my app or web page (on TCP:80)
vouch = vouch  (on TCP:9090)

vouch config.yml - https://hasteb.in/ejobukod.yaml
nginx confi

[2020-04-04 21:36] mindfuucker opened #243 "Application 1 functions perfectly, Application 2 fails"
Hi,

I've been using Vouch together with Gitea perfectly for application1 on deluge.domain1.com

Using application2 should be as simple as copy-paste from the app1 nginx config. So I did.

The thing is: application2 keeps me redirecting in a loop even after a successful verification by Gitea.

**Docker output:** [link ](https://hastebin.com/cefitazexe.sql)
**Nginx config app1:** [link](https://has

[2020-04-06 16:56] bnfinet commented on #243
please post your VP config

[2020-04-07 16:40] #237 closed

[2020-04-07 16:41] arghyanator commented on #237
I am all set - I have updated the issue with the working cognito app client configuration and configuration files (nginx as well as vouch config). Closing the issue - thank you for your help and guidance.

[2020-04-07 17:00] bnfinet commented on #237
You're very welcome.  Thank you for sharing your working configuration.

On Tue, Apr 7, 2020, 9:41 AM arghyanator <notifications@github.com> wrote:

[2020-04-08 20:22] #228 closed

[2020-04-08 20:49] bnfinet commented on #210
#214 is merged

@jbwtan thanks for the contribution!

[2020-04-08 20:49] #210 closed

[2020-04-08 21:46] #240 closed

[2020-04-11 08:56] vishalg opened #244 "Segmentation fault when no domain is set in config."
**Logs**
[here](https://hastebin.com/kilunadifu.rb)

**Describe the problem**
vouch-proxy fails to start and exits with a segmentation fault. I have previously been running with the same config upto version 0.8.0 using the docker image from docker hub. Since 0.9.0 (includin 0.9.1) it has stopped working. I then rebuilt binary locally and get the same error

**Server**
- OS: Ubuntu 18.04.1 x86_64,

[2020-04-11 17:08] reverendpaco opened #245 "Question on Refresh Tokens"
I have surmised by reading through Vouch's repository that Vouch issues cookie JWT tokens that it creates, even if Vouch ultimately uses another OpendId identity provider to do the auth.

What I'm curious about is how refresh tokens are handled?  Using Cognito as an example, which returns the refresh token along with authorization token, does Vouch maintain internal state and periodically call the

[2020-04-11 20:04] #244 closed

[2020-04-11 20:05] bnfinet commented on #244
thanks for the report @vishalg sorry for the regression

Could you please test `v0.9.2` and confirm the fix?

[2020-04-11 20:16] bnfinet commented on #245
Refresh tokens are not handled.

Whenever we've discussed refresh token we've come down on the side of not wanting to be exposed to handling refresh.  The thinking is that it's not onerous to have the end user periodically authn at the IdP.

For revocation of the JWT you can use the `/logout` endpoint as per the README, or if you need to remove access for a user immediately (how to fire bob) then

[2020-04-11 20:17] #245 closed

[2020-04-11 20:20] bnfinet commented on #229
@p-doyle my apologies those `hasteb.ins` are no longer active.

Are you still working this issue?  Could you please try again with the most recent version of VP and repost your config and logs.

[2020-04-11 20:40] bnfinet commented on #206
@simongottschlag could you test this branch, then I'll merge https://github.com/vouch/vouch-proxy/tree/bug/206_return_ADFS_errors

Then I'll close this issue

[2020-04-11 20:43] bnfinet commented on #206
@simongottschlag to answer your earlier question, nginx handles the https termination so SNI isn't part of the equation. VP only talks http.

[2020-04-12 06:16] vishalg commented on #244
Confirmed v0.9.2 fixes the issue. Thank you @bnfinet for the quick turn-around.

[2020-04-14 08:37] d875167 opened #246 "no jwt found in request"
Hi

I'm trying to setup my site with following config https://github.com/vouch/vouch-proxy/tree/master/examples/nginx/multi-file but it keeps redirecting after authenticating with azure.
Any idea what can be wrong?

Nginx and docker container for vouch are running on the same host.
config https://hasteb.in/amohepas.yaml
nginx app1 https://hasteb.in/aximobaj.nginx
nginx vouch https://hasteb.in/viva

[2020-04-14 10:12] bnfinet commented on #246
Your 'vouch.domains' should be mydomain.com

Please do let me know if that doesn't work for you.

On Tue, Apr 14, 2020, 1:37 AM d875167 <notifications@github.com> wrote:

[2020-04-14 12:08] d875167 commented on #246
Thanks that solved the problem.

Where can I find an example of nginx config for logout?
"https://vouch.mydomain/logout?url=https://login.microsoftonline.com/common/oauth2/v2.0/logout" just logs me out at azure but app1 stays accessible.

[2020-04-14 12:14] bnfinet commented on #246
Which browser? Try doing a hard refresh Shift+f5 of app1.  I suspect you're
seeing a local cached copy.

If not please post logs of the logout.

On Tue, Apr 14, 2020, 5:08 AM d875167 <notifications@github.com> wrote:

[2020-04-14 13:00] svrooij commented on #178
@bnfinet is there a way we can help with this issue?

The above Github workflow would do the trick, not sure about travis though. Mayba as a way in between is keep the regular image and start with Github actions to build and push an **arm and arm64** image next to your current image.

[2020-04-14 13:24] bnfinet commented on #178
I'm not an arm user so I'm not in a position to test such a flow.

Could you please submit a PR and describe how you have tested it and what further setup is required.

And, would you be willing to support any arm related questions for some period of time?  I'm thinking three years.

If you can make it easy on me I'm happy to add it. :)

[2020-04-14 13:49] bnfinet commented on #178
I'm more hoping someone can chime in on docker related arm issues, help determine if it's a platform issue.  If it's a code and config related issue then there wouldn't be an expectation.

For the various IdPs it's been helpful to have the original PR submitter be available to answer the occasional question concerning OAuth/OIDC setups.

[2020-04-14 14:52] svrooij commented on #178
@Herdinger can you maybe comment on this question?

Maybe we can do it together, supporting those arm related questions?

[2020-04-14 17:41] p-doyle opened #248 "Unable to build any release since 0.7.1"
This is what I get when running `go build` for every version after 0.7.1:

[code]

I've tried downloading the releases manually as well as using `go get` to get the latest release.  Any idea what I could be doing wrong...?

[2020-04-14 18:12] bnfinet commented on #248
what version of go are you using, what is your build environment?

[2020-04-14 18:21] p-doyle commented on #248
Ubuntu 18.04.4
go 1.10.4

[2020-04-14 18:23] #246 closed

[2020-04-14 18:25] bnfinet commented on #248
you'll need a more recent Go

on the path to fixing logging and other cleanup an upgrade of Go was necessary

see #240

[2020-04-14 18:25] #248 closed

[2020-04-14 18:58] p-doyle commented on #229
Updated to 0.9.2

[Nginx Config](https://hasteb.in/amovosay.nginx)
[Vouch Config](https://hasteb.in/juzefumo.yaml)
[Chrome Dev Headers](https://hasteb.in/olizugux.yaml)
[Vouch Log](https://hasteb.in/hojoquye.json)

[2020-04-14 19:57] bnfinet commented on #229
with debug and testing please (see the README)

[2020-04-14 20:11] p-doyle commented on #229
Sorry about that, see https://hasteb.in/vihikuza.pl

[2020-04-14 20:55] bnfinet commented on #229
can you please repose the chrome response

It appears that VP is working as expected.  Is there anything else about your nginx setup that is noteworthy?  Are there other proxies involved?  Are your buffers set odd?

It might be worth trying to adjust your buffers..
http://nginx.org/en/docs/http/ngx_http_core_module.html#large_client_header_buffers
http://nginx.org/en/docs/http/ngx_http_proxy_modul

[2020-04-15 14:29] ibotheperfect opened #249 "Can not use google auth2.0"
Hi.
I installed vouch-proxy via docker and configured my server and vouch config properly.
When I try to use it, after I login nginx returns below error

`2020/04/15 14:22:12 [error] 9789#9789: *3 upstream prematurely closed connection while reading response header from upstream, client: xxx.xxx.xxx.xxx, server: vouch.mydomain.com, request: "GET /auth?`

and vouch log show this

`{"level":"error",

[2020-04-15 14:41] bnfinet commented on #249
That looks like a dns error (Port 53).  Can the container which runs VP
resolve the URL?  Looks like it can't reach 8.8.4.4.

On Wed, Apr 15, 2020, 7:30 AM Ibrahim Ercan <notifications@github.com>
wrote:

[2020-04-15 14:52] ibotheperfect commented on #249
My host that container run on can connect to 8.8.4.4. How can I test if container connect?

[2020-04-15 15:04] bnfinet commented on #249
That's a bit outside of the support we usually provide here.  Try running
another container, maybe just bash, and see if it can curl one of the URLs
(even for 404 error).  If not you'll need to manage your firewall or docker
dns config or something like that.

Or you can use the alpine based VP image and then docker exec into see if
you can resolve the domain.

On Wed, Apr 15, 2020, 7:53 AM Ibrahi

[2020-04-15 15:11] redterror commented on #183
Piling onto this, Auth0 uses URLs for their claim namespace:

https://auth0.com/docs/tokens/guides/create-namespaced-custom-claims

So a custom claim would be of the form `http://example.com/my-claim`.

[2020-04-15 15:16] ibotheperfect commented on #249
I tried to ping with alpine base container and realized it really can not connect outside. I added below iptables rules and problem solved. thanks
`iptables -A POSTROUTING -t nat  -s 172.17.0.0/16 ! -o docker0 -j MASQUERADE`

[2020-04-15 15:29] #249 closed

[2020-04-15 15:53] bnfinet commented on #249
So glad it's working for you!

On Wed, Apr 15, 2020, 8:30 AM Ibrahim Ercan <notifications@github.com>
wrote:

[2020-04-16 20:57] #192 closed

[2020-04-16 21:05] bnfinet commented on #76
@simongottschlag I think this is close-able since the documentation is in this issue above.  Let me know if that's not the case

[2020-04-16 21:10] bnfinet commented on #243
@mindfuucker feel free to repost here and I'll reopen the issue

[2020-04-16 21:10] #243 closed

[2020-04-16 21:14] bnfinet commented on #53
and return 403 when a user has cleared the IdP but they are not valid for VP (not on whitelist, not in domain, etc)

[2020-04-16 23:39] #178 closed

[2020-04-16 23:49] bnfinet commented on #178
It worked!  `voucher/vouch-proxy:latest-arm` is now available.

@svrooij thanks much for setting up the build

[2020-04-17 12:35] svrooij commented on #55
Great news guys see #178

There is a new github actions that builds the arm images, **arm64** and **arm/v7** for now.
See https://hub.docker.com/layers/voucher/vouch-proxy/latest-arm/images/sha256-8fce5b3e329f2d9f52e2e4d8b323a540dde88599a614835f704e6a95975041b5?context=explore tagname `voucher/vouch-proxy:latest-arm`

[2020-04-17 12:36] svrooij commented on #178
Glad I could help!

This will make my home automation one step less complex to rebuild.

[2020-04-17 13:35] p-doyle commented on #229
This is what is displayed in Chrome https://hasteb.in/depewecu.yaml  In Firefox its just a blank page.

I tried removing client_max_body_size but that did not change anything,  I'll look into the buffers and status code.

Thanks for the help.

[2020-04-17 17:22] bnfinet commented on #229
what is `Server: Acadia Server - v2.0`?

[2020-04-20 12:39] p-doyle commented on #229
I really have no idea.  Its not related to the proxied webpage or anything else I have running.  I tried searching online for it but couldn't find anything....

[2020-04-20 13:30] p-doyle commented on #229
It looks like the issue is with the proxied web server being unable to handle the size of the vouch cookie... If I add `proxy_set_header Cookie "";` inside the location in the nginx config it works fine.  Sending a manual request directly to the web server with a large cookie returns a blank response.

I realize the issue isn't technically with Vouch but Is there anyway to reduce the size of the v

[2020-04-20 15:49] bnfinet commented on #229
What is the proxied app?

On Mon, Apr 20, 2020, 6:30 AM p-doyle <notifications@github.com> wrote:

[2020-04-20 18:32] p-doyle commented on #229
Its the webpage for a 3rd party water treatment controller.  Unfortunately I don't have access to the code or anything else that might help troubleshoot that further.

[2020-04-20 20:19] ansuz07 opened #250 "KeyCloak + Vouch Proxy = "We are sorry... Invalid"
Struggling to get this set up properly.

Running both KeyCloak and Vouch Proxy in Docker, with everything configured.  When I log in to my protected site, I am correctly forwarded to the KeyCloak Auth page, where I can successfully login.

However, I am brought to a page that just says "We are sorry... Invalid Request"

Logs from both containers are less than helpful:

Vouch Proxy:

{"level":"debu

[2020-04-20 23:07] bnfinet commented on #250
please read the README for how to file an issue to receive support

[2020-04-21 14:08] ansuz07 commented on #250
Forgive my ignorance, but how do I run this command:

./do.sh bug_report yourdomain.com [yourotherdomain.com]

if Vouch is running in Docker?  Thanks

[2020-04-21 16:52] bnfinet commented on #250
Folks have used the voucher/vouch-proxy:alpine-latest image to run do.sh.
If you aren't able to do that, please post your logs and configs in the
manner described.

On Tue, Apr 21, 2020, 7:09 AM ansuz07 <notifications@github.com> wrote:

[2020-04-21 17:38] ansuz07 commented on #250
Thanks.  As an FYI, the do.sh is throwing an error in the Alpine Image:

/do.sh: line 122: syntax error: unexpected "(" (expecting "}")

Here are the logs as requested:

Vouch Logs:  https://gist.github.com/ansuz07/bdf0cf86f476c7f504a8d1ed3654a514

Keycloak Logs:  https://gist.github.com/ansuz07/af9e90a900c7da51a482c1fade8ee636

Nginx Config:  https://gist.github.com/ansuz07/e65e567d79d6fd7f0b968f

[2020-04-21 18:22] bnfinet commented on #250
"We are sorry... Invalid Request" must be on the KeyCloak side.

Your vouch config should have only two top level keys.. `vouch` and `oauth`.  However that's unrelated to your problem.

From your logs the round trip for OAuth/OIDC login is never completed with a request to the `callback_url`'s  `/auth` endpoint.

By "successful login" you're saying that KeyCloak provides some indication to you tha

[2020-04-21 18:31] ansuz07 commented on #250
Yes - when I open up the admin panel in KeyCloak, the user is successfully logged into my "Vouch" session.

The issue does seem to be with the round trip, but I can't find anything on the "invalid_request" error, and without a description I have no idea what is actually causing the issue...

[2020-04-21 18:45] bnfinet commented on #250
Yes, but you're saying you click on "Login" and then are presented with "We are sorry".. before any other indication of successful login in the browser, is that correct?  What URL is in the browser at that time?

[2020-04-21 19:05] ansuz07 commented on #250
Here is the flow:

- access paperless.redacted.com in my browser
- Vouch successfully redirects me to the KeyCloak login screen, with the following URL:  https://auth.redacted.com/auth/realms/LannisterSSO/protocol/openid-connect/auth?client_id=Vouch&redirect_uri=https%3A%2F%2Fauth.redacted.com%2Fauth%2Frealms%2FLannisterSSO%2Fprotocol%2Fopenid-connect%2Fauth&response_type=code&scope=openid+email+p

[2020-04-21 19:18] bnfinet commented on #250
The KeyCloak community does seem to respond well to folks on the message boards.  I'd suggest posting about your problem there.
https://keycloak.discourse.group/

I'm going to close this for now but please do post back here if you have a problem once you get to the VP `/auth` step.

[2020-04-21 19:18] #250 closed

[2020-04-21 19:22] bnfinet commented on #229
How about trying to remove the Vouch Proxy Cookie in nginx before passing it to the app..
https://librenepal.com/article/remove-specific-cookies-with-nginx/

[2020-04-21 19:30] ansuz07 commented on #250
As an FYI, I figured out what was wrong - my callback_url was set to the KeyCloak URL, not the Vouch URL.  Once I set it to https://vouch.redatcted.com/auth it is redirecting properly.

[2020-04-21 19:31] p-doyle commented on #229
Ah wow that is perfect.  I had searched for something like that but must not have used the right wording so had to settle for removing the entire cookie...  Thanks!

[2020-04-21 19:37] bnfinet commented on #250
I'm so glad you were able to get it to work properly.

[2020-04-21 19:39] bnfinet commented on #229
My pleasure.  Closing for now, but please do let us all know if that solution does not work.  I'm sure others will run into this issue.

[2020-04-21 19:39] #229 closed

[2020-04-21 19:47] bnfinet commented on #189
@lcgkm I know this is an old thread but I wanted to clarify that I'd be open to a PR

[2020-04-21 19:55] #191 closed

[2020-04-21 19:57] bnfinet commented on #206
I've [merged](https://github.com/vouch/vouch-proxy/commit/d62cfc121e8f6e6711a67a2d352240e55f313456) the branch.  Closing.

[2020-04-21 19:57] #206 closed

[2020-04-22 00:07] #183 closed

[2020-04-22 00:18] bnfinet commented on #183
okie dokey

@betagan thanks for the contribution, I've refactored to something more robust in `v0.10.0`

These become dashes since they are not allowed as per the RFC: "(),/:;<=>?@[\]{}"
https://greenbytes.de/tech/webdav/rfc7230.html#rfc.section.3.2.6

nginx doesn't like underscores so they become dashes too
http://nginx.org/en/docs/http/ngx_http_core_module.html#underscores_in_headers

And we app

[2020-04-22 00:21] bnfinet commented on #221
hope this is fixed by #183 `v0.10.0`
@rogerscuall could you please test

[2020-04-22 14:01] rogerscuall commented on #221
Thanks, I have tried it but I still get the `CustomClaims:map[]` empty on the logs and only the headers for X-Forwarded-Host, X-Vouch-User, and Cookie related to Vouch. I still don't see the additional header even though the logs have `vouch:map[allowallusers:true domains:[dev.myexample.com] headers:map[claims:[cognito:groups]]`

[2020-04-22 14:46] bnfinet commented on #221
Could you post a fresh log with debug and your current nginx conf?  I'm
curious about the header syntax VP is suggesting in the logs.

On Wed, Apr 22, 2020, 7:02 AM Roger Gomez Olivares <notifications@github.com>
wrote:

[2020-04-22 20:08] bnfinet commented on #200
thanks again for the fix @rmak-cpi

[2020-04-22 20:08] #200 closed

[2020-04-22 20:09] bnfinet commented on #227
@oferrigni this should be fixed in `v0.10.1`, do let me know if that is not the case

[2020-04-22 20:09] #227 closed

[2020-04-23 21:03] redterror commented on #183
@bnfinet any chance we could add `.` to the disallowed list?  Nginx's docs say `Valid names are composed of English letters, digits, hyphens, and possibly underscores (as controlled by the underscores_in_headers directive)` per [ignore_invalid_headers](http://nginx.org/en/docs/http/ngx_http_core_module.html#ignore_invalid_headers).  I suspect other webservers strip periods as well.

In my example,

[2020-04-23 22:02] bnfinet commented on #183
oh that's a good catch.  Just pushed `v.0.10.2` which transforms `.` to `-` as well.  Thanks for the suggestion.

wrt "Valid names are composed of English letters, digits, hyphens" makes me think this should be even more restrictive.

[2020-04-28 03:54] TroyPang opened #252 "Host name could not be resolved (Host not found) problem using Vouch in Kubernetes."
Hi,

I'm new to Vouch and using Vouch in Kubernetes along with nginx-ingress. I follow the instruction in README page and assign annotations in ingress:
[code]
The host name for this ingress is the entry of nginx (e.g. entry.ourdomin.test). For test purpose, host name and certificate is self-signed. The problem is when access the entry host name in broswer, nginx will return 500 error, and logs in

[2020-04-28 06:48] innermatrix opened #253 "Allow deployment on path other than /"
I am deploying an app that is using vouch proxy for authentication, and the app has to be reachable form behind a firewall that restricts outbound ports. Therefore the usual approach of "run app on `foo.example.com`, run vouch on `foo.example.com:9090`" doesn't work, because `:9090` is blocked by the firewall. The failing sequence is:

 1. UA requests `foo.example.com`
 2. `nginx` subrequests to `

[2020-04-28 08:30] fbartels commented on #253
Why not use a dedicated domain for vouch?

[2020-04-28 08:42] airbornemint commented on #253
Adds more work every time I deploy the app on a new domain, when it could be fixed once for everyone forever in vouch.

Imagine that I am creating an app that allows users to deploy it on a custom BYO domain. The usual steps for this are "register your domain and create a DNS record to point your domain to your instance of the app". But now if the app uses vouch I have to ask people to create an a

[2020-04-28 10:34] b3j0f opened #254 "Avoid cookie in response header"
Is there a way to avoid cookies in request response without configuring nginx ?

[2020-04-28 13:48] bnfinet commented on #254
I think the short answer is "no" but I'm not sure I understand the question.  Could you expand on that?

Do you mean the response to the browser from `/auth`?  Do you mean the downstream request passed after `/validate`?  Could you please provide some context including describing the problem that your are trying to solve.

[2020-04-28 13:50] bnfinet commented on #254
see #229 for how to remove the cookie in nginx post `/validate`

[2020-04-28 13:57] bnfinet commented on #253
@airbornemint thanks, PRs welcome

[2020-04-28 14:28] b3j0f commented on #254
I think my short answer is "thanks" for the answer :-)

Once I am authenticated, I want to retrieve the jwt token only through the response header "X-Vouch-Token"

I already use the config property header `jwt` in this way, and do not add configuration to cookie.

Once I am authenticated, I see both headers `Set-Cookie` and `X-Vouch-Token`

According to configuration, is it possible to avoid the h

[2020-04-28 17:41] grglnd opened #255 "Debug logging is enabled when logLevel is set to info"
Running vouch-proxy in Docker using the latest image built 2020-04-23T22:16:45.871740867Z.

When setting the vouch.logLevel to **info**, the process logs at a debug level.  If vouch.logLevel is set to warn, the process correctly sets the log level to warn.

I've tried overriding the config by passing the level on the cmd line, which results in the same behavior, for example:

The following will lo

[2020-04-28 21:07] #255 closed

[2020-04-28 21:07] bnfinet commented on #255
@grglnd thanks for the report!

[2020-04-29 02:01] airbornemint opened #256 "404 instead of proper error page on error to /auth"
URLs of the form `https://<vouchHost>/auth/#state=<anything>&error=<errorID>&error_description=<errorDescription>` generate a raw 404 error instead of a proper error page.

I got into this situation via

 * Vouch configured with Okta
 * Okta configured to use LinkedIn as IdP
 * User accesses my app hosted with nginx subrequest auth
 * nginx subrequest goes to Okta
 * Okta redirects to LinkedIn
 *

[2020-04-29 07:40] tangel0v opened #257 "Error: unexpected end of JSON input"
Hi to all. We are not be able to extract the information of the token received from a ADFS 2019 platform. We are using _oidc_ as OAuth provider instead of adfs because it didn't work with our configuration.

After receiving the token, the logs show the following information and we received an error in our browser with the phrase "unexpected end of JSON input":

{"level":"debug","ts":1588088738.494

[2020-04-29 17:36] bnfinet commented on #257
@tangel0v thanks for the kind words

Please do post your full logs in the manner described in the README. (`testing`,`debug`)

[2020-04-29 17:39] bnfinet commented on #256
@airbornemint thanks for the report

This is related (perhaps duplicate) of #53

[2020-05-01 09:55] lothi opened #259 ""no jwt found in request" and multiple redirects hopto.org"
I am having the same issue as it has been described before in issue #84:
["no jwt found in request" and multiple redirects #84](https://github.com/vouch/vouch-proxy/issues/84), however there is one major difference in my setup to issue #84. I am using ssl in my configuration, and therefor the resolution from issue #84 will not work for me.

My virtual host configuration:
- XXXXXXXXXXX.hopto.org (a

[2020-05-01 12:25] bnfinet commented on #259
Please read the readme on how to properly post an issue

[2020-05-01 12:35] lothi commented on #259
@bnfinet , thanks for the quick response. I updated the original issue post according to the README. All relevant config and log files are now redacted and available on [gist.github](https://gist.github.com/lothi/95b61449542efa3196be33bf04f3aa83)

[2020-05-01 17:41] bnfinet commented on #259
Thanks for that.

`vouch.domains` should be `hopto.org`.  If that doesn't work try `vouch.cookie.domain` as `hopto.org`

above you show

vouch will need to be within the `hopto.org` domain in order to set the cookie that holds the JWT

[2020-05-01 17:44] bnfinet commented on #254
You should be able to manage the headers which are passed downtream from vouch to the app using Nginx.

But the cookie holds the JWT which then offer the token (I think you mean the IdP's token) downstream, so VP needs to see the cookie.

[2020-05-01 17:55] bnfinet commented on #252
@TroyPang This seems like a dns issue within your cluster and not related to Vouch Proxy.  If you feel that there's a VP issue I'd need to see your VP logs and config.

[2020-05-01 19:58] lothi commented on #259
Sorry, my bad, that was a documentation bug in my original posting.
Both app server and vouch are in the same domain, hopto.org.
[code]
My suspicion is, that there is something wrong with the domains configuration, but everything is in the hopto.org domains so it should really work, but it doesn't.  Have I missed anything in the vouch configuration ?

[2020-05-01 20:02] bnfinet commented on #259
yes, `vouch.domains` should be `hopto.org` and just `hopto.org` not the sub domains

[2020-05-01 20:59] bnfinet commented on #40
@airbornemint thank you for submitting PR #258

There are a number of issues to address..
* [1] the token to be sent to Okta is session specific.  It does not make sense to carry it as a configuration element.
* [2] the elements that you would like to add to the config and oauth struct are divergent from OIDC
* there are no tests submitted with the PR

[1] https://developer.okta.com/docs/reference

[2020-05-01 21:05] airbornemint commented on #40
Re point 1: I am not sure what you mean — the token is coming from JWT, not from Config.

Re point 2: I didn't check the logout spec (my bad) so I didn't realize that the two keys were dictated by the spec (as opposed to vendor extensions by Okta. Since they are not vendor extensions, we can definitely take them out of the config, and I'd be happy to do so.

Re point 3: I can do that (after you're

[2020-05-01 21:19] bnfinet commented on #40
oops, my bad, yes indeed, that looks good

[2020-05-02 06:36] lothi commented on #259
Unfortunately this did not fix the problem. ```ERROR	no jwt found in request``` still persists.

Steps I took to further analyse / eliminate the problem:
- New Nginx configuration based on [Example Nginx with ssl](https://github.com/vouch/vouch-proxy/blob/master/examples/nginx/single-file/nginx_with_vouch_ssl.conf).
- Replaced  ```server_name protectedapp.yourdomain.com;``` with ```server_name pro

[2020-05-02 13:24] bnfinet commented on #259
VP appears to be working.

What are you seeing in your browser with developer tools?  Is the cookie getting set in the browser at /auth?  Is it getting returned on the next request?  Have you tried a different browser?

Is there any other proxy or an odd nginx config at play?

[2020-05-02 15:33] tangel0v commented on #257
Hi to all and sorry for my late answer, here are the full logs: https://hasteb.in/osomazob.lua with testing and debug.

Thank you very much

[2020-05-02 18:19] lothi commented on #259
I'm very pleased about that

Re browsers: Checked with Safari, Firefox and Chrome.

They all behave exactly the same:

- /auth request: only VouchSession cookie is set.
- /auth respones: VouchSession and VouchCookie (domain hopto.org) is set.
- next response: Only VouchSession, no VouchCookie anymore.

Since VP is obviously working, and all browsers behave the same way, it all points to nginx.
I'm

[2020-05-03 11:00] lothi commented on #259
Next update:

Created a new Nginx config file which is in essence identical to the provided vouch [example here.](https://github.com/vouch/vouch-proxy/blob/master/examples/nginx/single-file/nginx_with_vouch_ssl.conf)

And here the [Nginx.conf gist](https://gist.github.com/lothi/0bf4d1cad27bc5ec10ed6ab22e4f8ad2)

There is no other proxy or no other Nginx configuration in place anymore.

Unfortunate

[2020-05-03 19:13] bnfinet commented on #259
are you running this on a pi? I notice that your path to VP includes `/home/pi/go`

What version of nginx are you running?  What OS?

Have you tried setting your nginx buffers (proxy, header) to be larger?

[2020-05-03 20:55] lothi commented on #259
yes, nginx and vp are running on a pi.
```"Raspbian GNU/Linux 9 (stretch)"```

```nginx version: nginx/1.10.3```

Changed the proxy_buffer values in the context below to:
[code]
But this did not make any difference.

Here the /auth request:
[code]

and the /auth response:
[code]

And then the next link in testing mode is  ```https://protectedapp.hopto.org ```.
Clicking on it redirects to ```https:

[2020-05-04 18:51] bnfinet commented on #40
@airbornemint `v0.11.1` is a refactoring of `/login` and `/logout` to mitigate url redirection attacks

Could you please refactor your changes to the new setup (`logout.go`).

Thanks again for the contribution.

[2020-05-04 19:08] bnfinet commented on #259
After you have been issued the `jwt` (in the cookie) you should be able to pass `/validate`

What are the headers being sent to the https://protectedapp.hopto.org request?

Have you tried adjusting header or cookie related nginx vars such as...
http://nginx.org/en/docs/http/ngx_http_core_module.html#large_client_header_buffers

[2020-05-04 19:12] bnfinet commented on #257
`Error unmarshaling claims` implies that this is not readable JSON, which is correct since `OpenID userinfo body: ` implies that the body is empty.

Have you confirmed the `user_infor_url`?

[2020-05-05 01:46] TroyPang commented on #252
@bnfinet Thanks for reply. I think you are right and this is fixed by trying to assign IP address to a wildcard public domain name. Nothing abnormal shows in VP logs since traffic can not reach Vouch under DNS problem.

[2020-05-05 01:46] #252 closed

[2020-05-05 09:12] airbornemint commented on #40
@bnfinet Thanks; I'll work on that and the unit test for my code over the next couple of days.

[2020-05-05 19:01] airbornemint commented on #40
@bnfinet Refactored on v0.11.1, addressed point #2 above, test added, ready for review.

[2020-05-05 19:42] lothi commented on #259
Well, it seems not to pass validation, because I always straight go to [https://vouch.hopto.org/login](https://vouch.hopto.org/login) no matter what.

My plan to go forward:

1. Check if it is possible to log the Cookie names in Nginx' access.log, if yes, it should give me some clues.

2. Move Nginx away from the pi and if problem still persists, look into tuning the large_client_header_buffers.

[2020-05-05 19:44] bnfinet commented on #40
thanks much @airbornemint

I'll take a look in the next day or two.

[2020-05-06 05:38] tangel0v commented on #257
Yes, another OAuth applications are working against that user_info endpoint.

In ptokens, the token is valid if you decrypt them.

[2020-05-06 05:53] bnfinet commented on #257
Why isn't user_info_url returning anything to VP?

On Tue, May 5, 2020, 10:38 PM tangel0v <notifications@github.com> wrote:

[2020-05-06 16:31] Coderrob commented on #132
@bnfinet there are some PR's in the Viper repo related to this. Ran into this issue while diving into whether a physical config file was a requirement to load just environment variables. It is, at least for the current 1.6.3v of Viper.

I did come across an open PR in Viper https://github.com/spf13/viper/pull/723/files that addresses this by creating a physical file. Not ideal, when the Viper libr

[2020-05-06 16:39] bnfinet commented on #132
thanks much @Coderrob

I think I'm hearing that the `.defaults.yml` strategy outlined in #134 is still the best, most viable option (at least with using `spf13/viper`).  Do I have that right?

[2020-05-07 21:17] lothi commented on #259
OK, here are some updates:

1. Migrated Nginx from pi to run on local machine in Docker, but left VP on pi. Still no jwt header.
:-(

2. Then migrated VP also to local machine / Docker , et voila : I've got an jwt header and finally I've got the entire authentication working.

Apart from the more powerful machine with more resources, what were the differences between PI and Docker ?
- compared the

[2020-05-07 21:25] bnfinet commented on #259
What were the various permutations/setups wrt to domain names?

Benjamin Foote
bnf Systems LLC
Linux and Cloud Consulting
http://bnf.net
ben@bnf.net
@bnf

Currently working on:
Vouch Proxy
an SSO solution for nginx using the auth_request module
https://github.com/vouch/vouch-proxy

On Thu, May 7, 2020 at 2:18 PM lothi <notifications@github.com> wrote:

[2020-05-09 07:35] lothi commented on #259
OK, @bnfinet  your questions is quite a valid one.
I could not believe that it was working in a docker setup on my local machine and not on the pi.
So I started to migrate back to the pi, step by step with verification after each step.

1. vouch-proxy on pi, niginx on local docker - result OK
2.  vouch-proxy on pi, niginx on pi - result OK !!!!!!!!

It was working !!!!

I do have a jwt and logging

[2020-05-11 09:18] bnfinet commented on #259
I'm glad that it's working for you now.

[2020-05-11 09:18] #259 closed

[2020-05-11 21:25] prateek2408 commented on #215
hey @sahuguet -- I am facing a similar issue, I followed all the steps and now I get /login too many redirects for requested URL for https://xx.xxxcom/ -

where exactly I need to add this custom rule ?

[2020-05-11 22:10] bnfinet commented on #40
@airbornemint I've made a few comments on files but overall it looks good, just a few implementation details.

If I'm reading the code correctly, when the provider's logout url is configured, if the request comes as https://vouch.example.com/logout?url=https://myapp.example.com/login it will 302 to https://providerurl/logout?post_logout_redirect_uri-=https://myapp.example.com/login.  Is that corre

[2020-05-11 22:16] bnfinet commented on #215
@prateek2408 this thread appears to have some information on the mappings..
https://community.auth0.com/t/mapping-saml-attributes-from-idp-to-auth0-profile/38390

[2020-05-12 02:37] sahuguet commented on #215
I tried to add a mapping, but it did not work.
<img width="1055" alt="Screen Shot 2020-05-11 at 10 34 58 PM" src="https://user-images.githubusercontent.com/355907/81632334-f7a10c80-93d7-11ea-8504-e27c4c86ea2e.png">

Then I created a rule and it did work.
<img width="1087" alt="Screen Shot 2020-05-11 at 10 34 31 PM" src="https://user-images.githubusercontent.com/355907/81632293-e48e3c80-93d7-11ea-8

[2020-05-12 16:22] bgehman opened #260 "Broken nginx/single-file examples"
**Describe the problem**
The [nginx/single-file](https://github.com/vouch/vouch-proxy/tree/master/examples/nginx/single-file) examples are not valid nginx config files.  Seems all the single-file nginx examples suffer the same problem: `server` blocks are supposed to be inside the `http` block.

Let me know if you want a PR, thanks!

**Expected behavior**
Valid (parseable) nginx.conf examples.

**

[2020-05-12 16:29] bnfinet commented on #260
sure that'd be welcome

[2020-05-12 17:49] #260 closed

[2020-05-13 17:25] pavankoppolu opened #262 "502 Bad Gateway"
I have been trying to get this up and running for the last couple of days, but have been unsuccessful. Can someone point out what I am doing wrong?

I am running oktasso in docker and encounter a 502 error when I am redirected to the Okta login. I am trying to authenticate using nginx. It looks like the none of the upstream variables are being set properly, but I am quite new to this area.

`Recre

[2020-05-13 17:49] bnfinet commented on #262
please read the README wrt how to ask for help and post an issue

[2020-05-14 17:43] bnfinet commented on #221
@rogerscuall any progress on this one?  If you are no longer working this issue could you please close it.

[2020-05-15 00:21] airbornemint commented on #40
That is correct. Thanks for the feedback, will review shortly.

[2020-05-15 04:08] toxuin opened #264 "Unauthorized users can access protected resources without authentication"
**Problem description**

After single successful log-in through an IdP, seems like the resulting JWT is stored in internal cache and is "found" for all the subsequent requests to the same protected resource - even with no VouchCookie - resource just opens.

Either I've done something terribly wrong or a defect in JWT cache mechanism was introduced between versions [0.11.3 and 0.12.0](https://githu

[2020-05-15 04:41] bnfinet commented on #264
Please upgrade to v0.12.3 and check again.  The was an additional check
added to cacheing.  I suspect this resolves this issue.

On Thu, May 14, 2020, 9:08 PM Toxuin <notifications@github.com> wrote:

[2020-05-15 05:13] toxuin commented on #264
Yes, this indeed has resolved the issue. Thank you!

[2020-05-15 05:13] #264 closed

[2020-05-15 05:38] bnfinet commented on #264
So glad to hear it's working properly.  Sorry for the regression.

On Thu, May 14, 2020, 10:13 PM Toxuin <notifications@github.com> wrote:

[2020-05-15 17:17] bgehman commented on #262
[code]

I think that means that the client (web browser), does not trust the SSL cert that you have defined in nginx:

[code]

You can probably get more details on the client/browser side about what it doesn't like about the server's cert.

[2020-05-15 17:41] #221 closed

[2020-05-15 18:50] #53 closed

[2020-05-15 18:50] #256 closed

[2020-05-15 21:14] bnfinet commented on #40
@airbornemint thanks for the code!  Much appreciated.

#258 is merged

[2020-05-15 21:14] #40 closed

[2020-05-15 21:16] bnfinet commented on #254
closing

do let me know if you have any further questions

[2020-05-15 21:16] #254 closed

[2020-05-16 20:55] bnfinet commented on #257
@tangel0v any progress on determining why that return is blank?

If there were any issue with VP I'd expect to see other reports of similar ADFS problems.  Unfortunately I'm not in a position to test ADFS personally.

[2020-05-17 10:22] tangel0v commented on #257
Hi @bnfinet I paused the tests during a week because of my workload but I have restarted it yesterday. I already don't know why the answer is blank but I'll provide you any information I get

[2020-05-18 09:38] betagan opened #266 "allowAllUsers does not skip domain validation anymore / no more open callback urls?"
Hi,

the recent commit [85e98f66040be47a21aea8e67f7d33756811fc93](https://github.com/vouch/vouch-proxy/commit/85e98f66040be47a21aea8e67f7d33756811fc93) broke our existing config because it removes the possibility to skip domain validation by setting allowAllUsers. It now dies with

Was this an intended change? Asking because the config still tells you not to specify a domain if you set allowAllUse

[2020-05-18 10:22] bnfinet commented on #266
Hmm, can you please post a VP config?  The 'allowallusers' use case should
still work but it's not as well tested as 'domains'.

The URL validation is a security concern.  The README has some information
regarding /login and /logout url validation.  Can you please let me know if
it is clear?

Sorry for the regression.

On Mon, May 18, 2020, 2:38 AM Betagan <notifications@github.com> wrote:

[2020-05-18 10:46] bnfinet commented on #266
Oh this isn't the login/logout commit, this is the callback validation.  Yes please post a config.

Are users restricted to the domains in the callback(s)?  What happens when you use those domains in vouch.domains?  Does that meet your use case?

[2020-05-18 21:16] bnfinet commented on #266
Upon further inspection there is probably a bug here related to the `/login` work, but it may be `oauth.provider` specific.

[2020-05-19 08:21] betagan commented on #266
Hey,

thanks for looking into this. we use the following config which worked just fine up until we updated to the latest release of vouch proxy last week.

[code]

When we add the commented out domains section, it works again. However, we liked the previous behaviour where we didnt have to specify that.
We are using the OKTA OIDC provider if that's important to know.

In the commit I linked in my

[2020-05-19 12:38] bnfinet commented on #266
Thanks,

To confirm you only use one callback_url, correct?

On Tue, May 19, 2020, 1:21 AM Betagan <notifications@github.com> wrote:

[2020-05-19 17:29] bnfinet commented on #132
@davidgibbons or @Coderrob if you cared to kick the tires on this it would be much appreciated

Still have to update the README and `config.yml` so the best guide to env var naming is the `cfg_test.go` file or the struct in `pkg/cfg/cfg.go` and `pkg/cfg/oauth.go`

I'll add a few more tests for config overriding (ENV overwrites config file, etc) in the coming days but this is feeling pretty solid.

[2020-05-20 16:27] bnfinet commented on #266
I ask because in your OP you mention...

Which made me think you were using `oauth.callback_urls` not `oauth.callback_url`

[2020-05-21 20:39] kennyparsons opened #268 "Separate Cookies for subdomains"
**Describe the problem**
I'm currently using google as my oauth provider. It works as expected, but I was curious if it's possible to have separate cookies for subdomains of the same domain. For example, I protect `app1.example.com` and `importantapp.example.com` with [this config](https://gist.github.com/kennyparsons/f9267a610da16bf84a11c354c9a42423). When I successfully authenticate for `app1.ex

[2020-05-21 20:56] bnfinet commented on #268
VP relies on sharing the cookie across the protected domain (`example.com`).

I'd suggest running separate VP instances restricted to your domain and changing the `vouch.cookie.name` and the `vouch.jwt.secret` to be distinct to each.  VP uses about 10M of memory, pretty slim by modern standards.

[2020-05-21 20:56] #268 closed

[2020-05-21 21:50] #132 closed

[2020-05-21 23:29] kennyparsons commented on #268
Any good ideas on how to implement multiple instances? I’m fine with multiples. Easy enough. Would I just need multiple sever blocks for voucher? Like login1.example.com and login2.example.com?

[2020-05-22 04:46] jeremyhermann opened #269 "versioned Alpine Docker images voucher/vouch-proxy:alpine-x.y.z"
We were using a configuration like this that worked until a new version of the vouch-proxy alpine build was released today. Now we get an error message saying that we can't set both `allowAllUsers` and `domains`.

We want users with any email address, who have authenticated with our Okta deployment, to be able to access the site, which seems to be what the `allowAllUsers` is for. However, when we

[2020-05-22 09:38] bnfinet commented on #269
What happens when you remove 'domains'?

[2020-05-22 12:21] jeremyhermann commented on #269
When we remove domains and add cookie.domain, we get this in the logs

`but it’s blowing up when it called from kibana-proxy…

{"level":"error","ts":1590120898.1728528,"msg":"http: panic serving 10.1.2.175:52948: runtime error: index out of range [1] with length 1\ngoroutine 9 [running]:\nnet/http.(*conn).serve.func1(0xc0002540a0)\n\t/usr/local/go/src/net/http/server.go:1767 +0x139\npanic(0x9d9580

[2020-05-22 12:39] jeremyhermann commented on #269
Can you also publish the 0.11.3, 0.12.4, 0.14.1(and ideally all other) versions of the alpine docker build with version tags so that we can pin a version that we have tested and know works? Thank you

[2020-05-22 13:00] bnfinet commented on #269
please post your logs and configs in the manner outlined in the README

[2020-05-22 13:32] jeremyhermann commented on #269
I uploaded the docs to a [gist](https://gist.github.com/jeremyhermann/56ea3c81d5a1b14abb3a1e36bff84a3d). Please let me know if you need anything else.

The most helpful thing for us in the very near term would be access to older version tagged alpine docker builds so that we can pin to a version that we know works with our configuration

Thank you

[2020-05-22 13:51] bnfinet commented on #269
Are those your full logs with debug?  Immediate panic?

Please post how you are starting the container.

Unfortunately I'm not an Alpine user.  If your organization would care to
host x.y.z images I'd consider linking to them from the README.

Or possibly I would take a PR similar to what was done for the '-arm' build.

In general the Docker images could use a better testing setup.

On Fri, May 22

[2020-05-22 16:19] bnfinet commented on #266
I believe this is fixed in master though you'll likely need to add `vouch.cookie.domain: example.com`

Please do test and let me know what you find.

[2020-05-22 16:22] bnfinet commented on #266
@betagan ^^

[2020-05-22 18:13] bnfinet commented on #269
@jeremyhermann I have tested the latest `voucher/vouch-proxy:alpine` and it works well for me with a similar configuration to the one you have posted.

If you continue to have problems please describe how you are running the image and any other context about your operating environment.

I'll look at versioned Docker Hub builds for alpine but I can't promise you that it will occur in the near term.

[2020-05-23 02:26] bnfinet commented on #269
@jeremyhermann I have established a new build via Docker hub for versioned alpine repositories starting with
[voucher/vouch-proxy:alpine-0.15.5](https://hub.docker.com/repository/docker/voucher/vouch-proxy/tags).

I'll leave this issue open for the time being in hopes of working your other issue related to your Docker environment.

[2020-05-23 02:45] jeremyhermann commented on #269
Thank you!

[2020-05-23 02:50] jeremyhermann commented on #269
To confirm that I understand how the configuration works. If I want to accept all users who have authenticated with our IdP (in this case Okta), I should set `allowAllUsers: true ` and not set `domains`. Is that correct?

[2020-05-23 10:30] bnfinet commented on #269
Yes that's correct.

On Fri, May 22, 2020, 7:50 PM Jeremy Hermann <notifications@github.com>
wrote:

[2020-05-24 17:42] alexisuk24 opened #271 "After successful login, &lasso-failcount=&X-Vouch-Token=&error=# added to URL"
I am using Google Auth

Versions after 0.12.2 (e.g. 0.12.3 and above) are adding the following string to the URL post successful login:

&lasso-failcount=&X-Vouch-Token=&error=#

This is causing some of my websites to return 404 not found or 500 errors.

Version 0.12.2 and prior does not add these tokens to the querystring.

Is this a bug?  If this is a feature, how can I suppress this behavior?

[2020-05-26 13:17] thalesvalias opened #272 "400 Bad Request - vouch with keycloak"
I apologize if this is too trivial and I might be missing obvious stuff here, but I've been struggling to get this stack working for a while (I started running in circles).

So I have Nginx with Vouch, Keycloak as my IdP, and a protected Java application. Nginx, Vouch and my application are deployed on a Linux remote server (Linode), while Keycloak is on an AWS ec2 instance.

Everything seems to w

[2020-05-26 15:47] bnfinet commented on #269
@jeremyhermann are you using more than one `callback_url`?

There is no way to set more than one cookie domain.

[2020-05-26 16:00] bnfinet commented on #271
@alexisuk24 Please update your Nginx config to match the README's 302 redirect.  The name of the project and associated variables were changed in [v0.4.0](https://github.com/vouch/vouch-proxy/tree/v0.4.0#you-should-change-your-config-to-the-new-name-as-of-v040).  Support for the name `lasso` and associated settings is deprecated.

You're seeing the current behavior because of [this change](https:/

[2020-05-26 17:24] bnfinet commented on #272
@thalesvalias
- Be sure to include `proxy_set_header Host $http_host;`
- from the README..

    the `Host:` header in the http request, the `oauth.callback_url` and the configured `vouch.domains` must all align so that the cookie that carries the JWT can be placed properly into the browser and then returned on each request

Since you only have one `oauth.callback_url`, that's the only domain that

[2020-05-26 17:47] notgwj opened #273 "Can't build release"
I'm trying to install from the release tar.  I've had success with previous versions (currently running 0.7.1 and trying to update to the current release).

./do.sh goget fails as follows:
[code]

[2020-05-26 18:02] notgwj commented on #273
Downloading though git doesn't seem to fix it either:

[code]

[2020-05-26 18:06] notgwj commented on #273
`rm -rf ~/go` seems to have fixed it.  Maybe the docs could mention this?

[2020-05-26 18:06] #273 closed

[2020-05-26 18:24] thalesvalias commented on #272
Thanks for your reply.

So I added Host header to the other requests and simplified my config.yml:

[Nginx](https://hasteb.in/itiwobun.nginx)
[Full logs](https://hasteb.in/luhanifi.swift)

The same issue so far. This is the last response I get on /auth step (not sure if I can post here the complete redacted request and response, let me know if I can)
[Last response](https://hasteb.in/mogaquva.yaml

[2020-05-26 18:27] bnfinet commented on #272
`dial tcp 3.9.19.30:8180: connect: connection refused`

VP can't contact the IdP.  Is this a firewall issue?

[2020-05-26 18:34] bnfinet commented on #272
`ERROR	no destination URL requested` why is that?

[2020-05-26 18:52] toxuin commented on #175
I really don't like the idea of switching my whole ingress controller just to be able to do this. Is there a reasoning why this does not belong to vouch's core functionality?

[2020-05-26 18:59] bnfinet commented on #175
Nope, the issue is still open.  I think this would be a good feature.

@toxuin is this something you are interested in working on?

[2020-05-26 19:03] toxuin commented on #175
It's good to know it's on the roadmap! 👍
I wish I would know go at a level that would be worthy of this project. I'll see what I can do, but don't get your hopes up 😄

[2020-05-26 21:00] thalesvalias commented on #272
@bnfinet hey, yeah, you were right. The firewall was blocking my IdP and it was leading to the other errors. After making sure I have turned my firewall off, I could see the real issues and they were on the IdP side (The user was not set correctly there, missing some key information like email; then the email domain must be in the vouch domain). Finally I could get it working all the way (before o

[2020-05-26 21:02] bnfinet commented on #272
So glad it's working for you.  Do let me know if you have further issues.

On Tue, May 26, 2020, 2:00 PM Thales Valias <notifications@github.com>
wrote:

[2020-05-26 23:41] rlex commented on #108
Maybe just pack static files in same .tar.gz/.zip/whatever? That's gonna be enough for configuration management systems.

[2020-05-26 23:48] halkeye commented on #108
I don't remember this issue at all. Go releaser is pretty good for uploading files to the releases tab, but yea the static templates that are external certainly make things more complicated

Goreleaser should be able to do it

[2020-05-27 00:35] rlex commented on #108
Definitely will be better than just source and docker images, i think.

Plus might be easier to customize. Looking at git history, templates are pretty stable and rarely changed?

[2020-05-27 01:44] alexisuk24 commented on #271
Hi @bnfinet - I have always used vouch: in my config.yml and am using Docker Hub container voucher/vouch-proxy so do not have visibility into the nginx configuration.  Is this container maintained by this project or a 3rd party?  I'm open to further investigation and understand the reluctance to call this a bug.

[2020-05-27 02:10] alexisuk24 commented on #271
Also, when comparing 0.12.2 and 0.12.3, it appears that replacing
`urlparam := r.URL.Query().Get("url")`
with
`urlparam := r.URL.RawQuery`
`urlparam = strings.Split(urlparam, "&vouch-failcount")[0]`
`urlparam = strings.TrimPrefix(urlparam, "url=")`
might have something to do with it?

https://github.com/vouch/vouch-proxy/compare/v0.12.2...v0.12.3

[2020-05-27 04:17] bnfinet commented on #271
Yes you are right.  There was a change and that is why you are experiencing
this error/bug.  If you change your nginx config I expect you will not
experience the error/bug.

On Tue, May 26, 2020, 7:10 PM alexisuk24 <notifications@github.com> wrote:

[2020-05-27 14:41] #272 closed

[2020-05-28 16:30] jal25jal25 opened #274 "Feature request: Do not log secrets from environment variables at all log levels"
**Summary**

When specifying configuration via environment variables, the values of `VOUCH_SESSION_KEY` and `VOUCH_JWT_SECRET` are output to the log, regardless of the log level specified in the environment. This is too big a security risk for us, and we would like to be able to have it only happen at debug level, if at all.

**Suggested explanation**

I believe this behaviour is due to this line

[2020-05-28 17:36] bnfinet commented on #274
@jal25jal25 nice catch.

Option 2 would be better.  IIRC moving `Logging.configure()` will mess up the ability to set `logLevel` from the command line.

PR would be most welcome.  Thanks for that.

Env var support dropped a few weeks ago.  I did not account for this case.

Is env var support working out fine otherwise?  Are you using the binary or docker?

[2020-05-28 18:20] jal25jal25 commented on #274
Thanks @bnfinet - Understood. I'll look at creating a PR for option 2.

We are using AWS ECS, so getting all configuration from the environment is ideal. We believe everything is working so far with the env vars in our sandbox environment, but we know we won't be able to move it any further with these secrets hitting the logs.

Thanks for your help.

[2020-05-29 17:53] kennyparsons opened #276 "Use Vouch on a specific locations in nginx"
**Describe the problem**
I've successfully been able to add vouch proxy to my subdomains to protect them with google oauth. The guides all walk through how to add this protection at `/` location level. I am trying to protect a different path. For example, I currently protect blog.example.com with vouch. All works as expected, But, I dont want to make the whole blog protected (it's a public blog),

[2020-05-29 18:26] bnfinet commented on #274
fixed in `v0.15.6`

thanks for the PR @jal25jal25

In addition to that I added..
- a check to see if the logLevel was changed, if so call setLogLevel($VOUCH_LOGLEVEL)
- moved some of the debug logging to be later
- removed extraneous logging of `.defaults.yml` contents

[2020-05-29 18:26] #274 closed

[2020-05-29 18:39] bnfinet commented on #276
Welcome back @kennyparsons

Try passing the `Host` header as the README shows for `/validate` (in your `/vouch-validate`)

If that does not work, please post full logs and configs as per the README.

[2020-05-29 20:01] jal25jal25 commented on #274
Many thanks for the quick turnaround @bnfinet !

[2020-05-30 21:20] Sharpz7 opened #277 "No Redirect_URI"
**Describe the problem**
I am using google OAuth and trying to get Vouch to authorize my code-server all in a docker-compose file. With Testing on, I get this 302 redirect.

[code]

It does not contain a redirect_uri, and that causes google to say "400: No redirect_uri"

**Configs and Logs**
Docker-compose logs from when I click the 302 redirects.
https://hasteb.in/zijamuvi.coffeescript

With test

[2020-05-31 14:22] prupp commented on #277
Same Issue here. Did setup vouch-proxy and nginx according to the docs.
As soon as vouch-proxy redirects to Google OAuth, Google responds with "400: No redirect_uri".

I have set the redirect URI in docker-compose with OAUTH_CALLBACK_URL as well as Authorized Redirect URI in Google Console.
As @Sharpz7 mentioned, vouch-proxy won't pass redirect URI as parameter to Google, which probably causes thi

[2020-05-31 14:46] Sharpz7 commented on #277
I actually have managed to add the redirect Uri manually, Google then lets
you sign in, but then the auth says it is invalid

On Sun, 31 May 2020, 15:22 prupp, <notifications@github.com> wrote:

[2020-05-31 15:11] bnfinet commented on #277
Hmm, that's not good.

Does it work if you use OAUTH_CALLBACKS=http://....??

[2020-05-31 15:26] bnfinet commented on #277
And try 'v0.15.5' with OAUTH_CALLBACK_URL

[2020-05-31 15:36] prupp commented on #277
@bnfinet Thanks for your answer, using OAUTH_CALLBACK_URLS instead of OAUTH_CALLBACK_URL works. Same goes for 'v0.15.5', google auth just works with OAUTH_CALLBACK_URLS. OAUTH_CALLBACK_URL leads to Error 400: invalid_request.

[2020-05-31 15:43] bnfinet commented on #277
Okay, think I know what's going on.  Definitely a bug and regression.

Sorry to have you banging your head against the wall for eight hours
@Sharpz7

I'll get a fix in but I won't be able to do it today.

On Sun, May 31, 2020, 8:36 AM prupp <notifications@github.com> wrote:

[2020-05-31 18:01] Sharpz7 commented on #277
Will your fix break the your current suggestion to get it working?

On Sun, 31 May 2020, 16:43 Benjamin Foote, <notifications@github.com> wrote:

[2020-05-31 18:08] bnfinet commented on #277
No you should be safe to deploy with one url for OAUTH_CALLBACK_URLS and
then receive the fix.

On Sun, May 31, 2020, 11:02 AM Adam McArthur <notifications@github.com>
wrote:

[2020-05-31 18:36] Sharpz7 commented on #277
Okay. Im using 0.15.5 with OAUTH_CALLBACK_URLS and it is working fine.

On Sun, 31 May 2020 at 19:08, Benjamin Foote <notifications@github.com>
wrote:

[2020-05-31 18:44] Sharpz7 commented on #277
I am using OAUTH_CALLBACK_URLS on latest, but now the cookie on mcaq.me has content "delete"? I can get to google and authenticate, but then stopped at https://vs.mcaq.me/login?to=%2F#

[2020-05-31 18:57] bnfinet commented on #277
Please post logs and config.

On Sun, May 31, 2020, 11:45 AM Adam McArthur <notifications@github.com>
wrote:

[2020-05-31 18:58] Sharpz7 commented on #277
Okay, so on the latest, OAUTH_CALLBACK_URLS works fine.

A few things to note:

On your "single file" with SSL nginx example, this is here
[code]

This actually creates problems when the app *uses* one of these paths, and it is not needed

Also, in the debug options, config options like "whitelisted email" and "domain" are shown, but the callback is not, this put me completely off the trail xD.

T

[2020-06-01 21:27] #277 closed

[2020-06-01 21:27] bnfinet commented on #277
I've added the OAuth config to the debug logging, thanks for the suggestion.

Could you explain "and it is not needed".

If you are configuring one fqdn (app1.yourdomain.com) to serve both the protected app and vouch then there is no way to get around the overlap issue.  You may be able to disambiguate the `/login` etc paths with a fancy `proxy_pass` setup but that would be some nginx-fu.  If you

[2020-06-01 21:31] Sharpz7 commented on #277
By "not needed" I mean that other "configs" don't have that part of the
config and work fine

On Mon, 1 Jun 2020, 22:28 Benjamin Foote, <notifications@github.com> wrote:

[2020-06-01 21:33] bnfinet commented on #271
@alexisuk24 any progress?  What happens when you update your nginx config?

[2020-06-01 21:34] bnfinet commented on #266
@betagan have you had an opportunity to test the fix?  If you are no longer working this issue could you please close.

[2020-06-01 21:35] bnfinet commented on #262
@pavankoppolu if you are no longer working this issue could you please close it?

[2020-06-01 21:39] bnfinet commented on #257
@tangel0v have you had an opportunity to test this further?

You may be able to get an indication by running the Alpine image in k8s and then curl'ing the `user_info_url`.

[2020-06-01 21:39] bnfinet commented on #269
@jeremyhermann any progress?  If you are no longer working this issue could you please close it.

[2020-06-01 22:00] jeremyhermann commented on #269
all set. thank you!

[2020-06-01 22:00] #269 closed

[2020-06-02 15:24] alexisuk24 commented on #271
Hi @bnfinet, yes I found the reference to lasso and replaced it with vouch, I no longer see the additional querystring entries post authentication.  Thanks.

[2020-06-02 15:24] #271 closed

[2020-06-03 12:23] tangel0v commented on #189
Maybe I can open an PR to you with this @bnfinet as I have been stuck in my other issue and if I fix this, I'll fix my problem too.

[2020-06-03 17:22] bnfinet commented on #189
@tangel0v are you saying #257 is related to this issue?

Thanks for the offer of a PR, that's always appreciated.  However...

If ADFS sets the RPI to `$MY_PRECIOUS_APP` when `oauth.scopes` includes `$MY_PRECIOUS_APP/openid` would it be better to just document this?  Would that be sufficient to satisfy the feature request?  That'd be better than adding a new knob to Vouch Proxy IMHO.

[2020-06-04 06:07] tangel0v commented on #189
Not exactly. I was facing this issue in my configuration therefore I tried to use the standard oidc.

Putting the Redirect URL as Relying Party Trust ID just works (in ADFS versions 2016 and 2019 at least), but it brokes all our RP IDs naming convention: that's the reason why I was trying to use oidc.

[2020-06-04 07:38] prateek2408 commented on #69
Hello,

Are there any updates on this one, I would be needing this feature as current all JWT tokens are being accepted.

[2020-06-04 18:19] bnfinet commented on #69
I see this being implemented after #41

@prateek2408 are you interested in working on this feature along with #41?  PRs welcome.

[2020-06-04 18:21] bnfinet commented on #189
@tangel0v makes sense, a PR would be welcome

[2020-06-05 04:11] prateek2408 commented on #69
@bnfinet - I can definitely work on this one.

[2020-06-05 17:43] bnfinet commented on #69
That's wonderful @prateek2408.  Do let me know if I can be of assistance.

[2020-06-06 11:13] yaws-k commented on #266
Hi,
Probably I had the same issue (and misunderstanding of the configuration?).
Please let me confirm  I could understand correctly.

I'm using 0.15.7 (Latest docker image) with Okta. The configuration is on [my gist](https://gist.github.com/yaws-k/2467a10f9b3d7cd00cd212a6a329cd88).
I recently started using vouch-proxy so I don't know how it worked before.

The [config.yml_example_oidc](https://gi

[2020-06-07 13:36] prateek2408 opened #278 "Vouch returns 200 for invalid JWT's as well"
Support

**Describe the problem**
If you try to give an invalid JWT token for the first time vouch-proxy complains and gives an error which is legitimate.  Returns 401 which good.

However if you retry the same request, it passes and says that the JWT was found in the cache so returns 200 (OK) which should not be the case.

Logs-
Request 1- https://hasteb.in/vecaselu.sql -- Proper Respose
Request

[2020-06-07 21:09] #278 closed

[2020-06-07 21:11] bnfinet commented on #278
@prateek2408 thanks for the detailed report, please do test `v0.15.8` and confirm the fix

If you should encounter a bug of this nature again please do reach out on non-public channels.

[2020-06-09 18:31] #262 closed

[2020-06-09 18:37] bnfinet commented on #108
This action may be the mechanism to publish the binaries with each release.  Still need to bundle the other files.
https://github.com/skx/github-action-publish-binaries

[2020-06-10 23:03] bnfinet commented on #180
Looks like integration with `Traefik` should be really straight forward, though VP would need to offer the 302 redirect to `/login` explicitly.  VP would need to return the fqdn `https://vouch.example.com/login`

https://docs.traefik.io/middlewares/forwardauth/

[2020-06-11 23:56] bnfinet commented on #276
@kennyparsons any progress?  If you are no longer working this issue could you please close it.

[2020-06-12 00:27] yaws-k commented on #266
It seems my understanding was correct since @bnfinet changed the label.
I'll have a look at config file examples this weekend to add descriptions about `vouch.cookie.domain`.

[2020-06-12 00:30] kennyparsons commented on #276
Sorry. I will work on this. Got a bit tied up.

[2020-06-12 00:30] #276 closed

[2020-06-12 00:38] bnfinet commented on #266
@yaws-k yes that's right

Sorry I should have replied explicitly.  It's on my list to review/update the docs regarding that but I won't be able to pay attention to this until next week.  PRs are of course always appreciated.

Thanks much.

[2020-06-12 00:52] yaws-k commented on #266
@bnfinet
Thank you for the clarification. Then I'll send a PR for config examples as a kind of candidate. Please review them if they are accurate when you have time. (They need to be checked since I'm not familiar with the golang and I don't have all environments for testing.)

[2020-06-16 11:30] kundanupadhyaya opened #280 "Vouch Proxy log file"
Where does the log file of vouch proxy get generated in linux server ?
The question is very trivial one but i could not locate the generated log file.

[2020-06-17 02:22] airbornemint opened #281 "Vouch proxy fails if URL is correctly escaped in nginx conf"
Consider the following nginx configuration, which works:

[code]

and the following, which doesn't:

[code]

These two URLs are the same except that:

 * The first one is not a valid URL according to [RFC 3986 § 2.2](https://tools.ietf.org/html/rfc3986#section-2.2), but it works in Vouch
 * The second one is a correct percent-encoding of the first URL and is valid according to the RFC, but it does

[2020-06-17 22:57] bnfinet commented on #280
The log is not written to a file.  The log is written to stdout.  The logging library is [uber's zap](https://github.com/uber-go/zap).

This is the standard practice for a [twelve-factor app](https://12factor.net/logs).

[2020-06-17 22:57] #280 closed

[2020-06-17 23:37] bnfinet commented on #281
Welcome back @airbornemint. Thanks for the detailed report.

I agree that this could be improved.  We need to preserve support for existing Nginx configurations.  This has been described in the README since `v0.4.0` as..

[code]

That feels more correct to me.  If it's not to the right of `url=` then it's hard to claim that it should be interpreted as part of the final destination URL.  That is wh

[2020-06-18 03:04] airbornemint commented on #281
The `p3=3` example was poorly stated in my original message. My point was:

 * I proposed two solutions:
   * Solution #1 = treat every non-vouch URL param as if it belongs to the destination URL and
   * Solution #2 = only treat non-vouch URL params immediately following the `url` param as belonging to the destination URL
 * Solution 1 is easier to implement
 * Solution 2 is less permissive
   *

[2020-06-18 15:31] richjyoung opened #282 "improve "Too many redirects" error after multiple unsuccessful login cycles"
I have a setup using the following domains:

login.domain: Vouch proxy
iam.domain: Keycloak IAM
home.domain: Private static content

Under normal circumstances all of the above works fine, sessions and token refresh works great.

If a user visits home.domain, is redirected through login.domain to iam.domain, and then cancels the login process by navigating away, this causes no issues the first tim

[2020-06-21 13:49] trasba opened #284 "Problems using user_auth.lua"
**Describe the problem**
I tried to use the examples from the lua folder namely vouch-proxy/examples/OpenResty/lua/**user_auth.lua**

**Expected behavior**
Well it should work :grin:

**Additional context**
Honestly I am not a pro using OpenResty so I am sure the failure is in my area :wink: I am just trying to understand what I've done wrong or where my brain took the wrong path

Anyhow I am usin

[2020-06-22 19:45] kosplay opened #285 "acess_token in requestedURL hash segment support?"
First, appreciate your valuable input.
I'm aware that 'Vouch Proxy relies on the ability to share a cookie between the Vouch Proxy server and the application it's protecting. ' And it is the first line of the doc.

Any consideration in implementing passing access_token in requestedURL as hash fragment? Any concern to share if that isn't consider?
Lots of Angular apps use this https://www.npmjs.com

[2020-06-23 19:44] bnfinet commented on #282
@richjyoung right now `errTooManyRedirects` is hard coded at 3...

https://github.com/vouch/vouch-proxy/blob/master/handlers/login.go#L81-L85

That should probably be increased to something more like 5 or 8.

What do you think?

The solution you can offer your user right now is "wait five minutes and try again".  The session variable will timeout at five minutes and the errTooManyRedirects fail co

[2020-06-23 20:02] bnfinet commented on #285
Currently you can pass a URL to `validate` as https://vouch.yourdomain.com/validate?access_token=${TOKEN} and it will return `200 OK` or `401 Unauthorized`.  @kosplay does that satisfy your need?

Some of the conversation in #157 discusses the limitations of hashes.  They are never transmitted to the server by the browser.
https://github.com/vouch/vouch-proxy/issues/157#issuecomment-540706500

The

[2020-06-23 20:23] bnfinet commented on #281
@airbornemint thanks for the code and the clear documentation of the intention in the tests

Forgive me but I'm still trying to understand what is different in the logic you have produced versus plucking everthing between `url` and `vouch-failcount`.  Is it the formality that is better?
https://github.com/vouch/vouch-proxy/blob/dfbd013f1043ba9548b3cedee466b9993210a3c4/handlers/login.go#L112-L113

[2020-06-23 20:34] airbornemint commented on #281
For one, the logic I submitted works correctly when the `url` param is encoded to be RFC-compliant (that is, its `://` is percent-escaped). For two, the logic I submitted works regardless of whether the `vouch-failcount` param is immediately after the `url` param.

If you'd like, I can add specific unit tests to demonstrate that, but examples would be:

 * (reason 1) `http://host/login?vouch-failc

[2020-06-23 20:36] bnfinet commented on #281
We should consider the use of semicolon as param delimeter in the spirit of RFC compliance..
https://stackoverflow.com/questions/3481664/semicolon-as-url-query-separator#3481710

[2020-06-23 20:38] bnfinet commented on #281
thanks for the explanation @airbornemint I'll make some minor adjustments and merge (probably not today)

[2020-06-23 20:40] airbornemint commented on #281
Accepting semicolons as delimiters is an easy change; want me to make it before you merge?

[2020-06-23 20:50] bnfinet commented on #281
@airbornemint yeah that'd be great!

[2020-06-23 21:31] airbornemint commented on #281
Done, also added an additional unit test that differentiates this from the previous code.

[2020-06-24 08:20] richjyoung commented on #282
If the user manually visits the /logout endpoint this seems to clear the error state which is a reasonable workaround at present.

This seems to me like the error message is different to the error that is actually occurring if I have understood the code correctly? Is it possible to change the message to reflect its too many attempts on that URL without success, and then make the max count a value

[2020-06-24 11:28] bnfinet commented on #282
What would be a better error message?

On Wed, Jun 24, 2020, 1:20 AM Rich Y <notifications@github.com> wrote:

[2020-06-24 12:03] richjyoung commented on #282
Have I understood correctly that the error scenario I have seen is unrelated to redirects?

[2020-06-24 12:12] bnfinet commented on #282
I'm asking honestly, what should the error message be?  What is a better
error message in your mind?

On Wed, Jun 24, 2020, 5:03 AM Rich Y <notifications@github.com> wrote:

[2020-06-24 12:17] artagel commented on #284
I'm not clear why the Set isn't working for you.  I'd turn on syntax logging to see what the error might be.
Sets are documented here: https://www.lua.org/pil/11.5.html

[2020-06-24 12:21] richjyoung commented on #282
I presume something related to attempts exceeded within a timeframe? I didn't write the code so I am not sure what the error is here, but it seems unrelated to redirects?

[2020-06-24 17:14] bnfinet commented on #282
The common case which results in "too many redirects" is..
* visit http://protected.example.com
* redirected to http://vouch.example.com/login?url=http://protected.example.com
* redirected to IdP (OIDC login provider)
* user logs in (perhaps not successfully)
* redirected to the callback_url... http://vouch.example.com/auth
* but something is wrong, then end user is not issued a token by Vouch Pro

[2020-06-24 22:31] kosplay commented on #285
Thank you for the prompt response! Sorry for not being clear. Read #157 and it is irrelevant.
I got stuck on auth.go redirect to the 'requestedURL' after successfully issuing jwt, as shown below:
`responses.Redirect302(w, r, requestedURL)`

As lots of JavaScript libraries implement different ways to do call /auth, some expect a JSON response (if a JavaScript library in authorization code grant flo

[2020-06-24 23:36] bnfinet commented on #285
Can you please provide an example/mock of a request to Vouch Proxy and what
you'd like to get as a response for both success and failure?

On Wed, Jun 24, 2020, 3:31 PM Yumeng Sun <notifications@github.com> wrote:

[2020-06-25 04:51] schristm opened #286 "How to install/run without Docker"
Hey guys, could you provide instructions for how to install outside of the ~/go/src/github.com/vouch/vouch-proxy directory? I saw that the systemd file provided references /opt, but I'm not sure how much of ~/go/src/github.com/vouch/vouch-proxy should be copied to /opt.

Is this how to do it?

[code]

[2020-06-25 19:50] bnfinet commented on #286
Ironically  the `Dockerfile` might be the best guide for what needs to be put in place...

You'll need to move the `.defaults.yml` file and the directories `templates` and `static` into the directory which contains the `vouch-proxy` binary.

You may also need to set `$VOUCH_ROOT`

Regarding build instructions please see the README.

The longer term solution is to build all these assets into the st

[2020-06-25 19:50] #286 closed

[2020-06-25 20:37] bnfinet commented on #281
@airbornemint thanks much for the contribution!

[2020-06-25 20:37] #281 closed

[2020-06-25 20:46] bnfinet commented on #266
thanks @yaws-k for the documentation fix

[2020-06-25 20:46] #266 closed

[2020-07-01 18:19] bnfinet commented on #282
@richjyoung the error is now triggered after six failures

I'd still love to get your opinion on what a better error would be, but if you have no opinion on that would you please close the issue.

[2020-07-02 12:07] richjyoung commented on #282
This would be great in my opinion.

[2020-07-02 18:11] bnfinet commented on #285
@kosplay I'm thinking something like if the `Content-Type: application/json` header is present, then return the user information usually contained in the headers in a json blob of some sort.

How is angular-oauth-oidc expecting the access_token?  How else will the token be used in the app?  I'd expect you'd really want the user's information, not the access token.

WDYT?

[2020-07-02 23:25] #282 closed

[2020-07-02 23:28] bnfinet commented on #282
thanks @richjyoung I've made that adjustment in `v0.16.3`

[2020-07-03 10:53] richjyoung commented on #282
Great, thank you. When I have a chance, would you be open to a pull request that exposes this setting in the configuration file? I think 6 is a good number for now, but as you mentioned it's dependent on the session variable timeout. Is the session variable timeout exposed in the configuration as well or is that fixed?

[2020-07-03 20:46] martindb opened #287 "Do not collect IdP tokens unless configured to do so"
Hi,
I'm using vouch with ADFS and it's great.

I have a concern about vouch cookie size (if the jwt is big, it's splitted in multiple cookies)... There is any way to avoid including in vouch jwt the originals jwt tokens? Any risk doing this? (I'm not validating the idp jwt, only validating vouch jwt).

Thanks, Martin

[2020-07-07 09:25] salmanisd opened #288 "Support for ory hydra oauth2"
Hello,

I am using the ory hydra as oauth provider (https://www.ory.sh/hydra/docs/). While its oauth flow works fine with my nodejs apps,I want to integrate it with nginx.

I am guessing vouch-proxy is not going to work out of the box with it? Can anyone tell me what I can do to maybe add support for hydra?

[2020-07-07 12:31] zheker opened #289 "Stray param in login request (rd) when using nginx-ingress"
Configuration setup: `nginx-ingress` (0.30.0) + `vouch-proxy` (latest) + `google auth`.
Ingress annotations are defined according to documentation.

When I call protected location vouch-proxy returns 400 error:
`Not a valid login URL: requested destination URL appears to be invalid login request included unrecognized parameters`

vouch-proxy logs:
`"Stray param in login request (rd)"`
`Not a valid

[2020-07-07 21:37] bnfinet commented on #287
@martindb it looks like the code for ADFS and for some of the other providers is not testing to see if `vouch.headers.idtoken` is set before storing the IdP token in the VP token.  Same for `vouch.headers.accesstoken`.

That's a bug.

[2020-07-07 21:52] bnfinet commented on #288
@salmanisd Assuming that they are OIDC compliant (and it would appear that they are), the only thing necessary to add to VP would be a `provider/ory/ory.go` pkg with a `GetUserInfo` function that manages the call and response to the configured (ORY's) `oauth.user_info_url`

A quick review of their docs makes it seem fairly straight forward.  There would need to be a little work around retrieving a

[2020-07-07 22:07] bnfinet commented on #289
@zheker #281 / #283 added more robust and tighter parsing and tracking of parameters passed to the `/login` endpoint. We did not account for the `rd` parameter used by `nginx-ingress`.  That's definitely a bug as `nginx-ingress` is documented as a supported platform.

@airbornemint FYI ^^

[2020-07-07 22:21] bnfinet commented on #289
@zheker would you be in a position to test that branch ^^ against your Nginx Ingress env?

[2020-07-07 22:27] bnfinet commented on #282
@richjyoung The session timeout is fixed at five minutes.

I think the defaults are fine as is, I'd prefer to not add another knob to VP if necessary.  Lets see if anyone else chimes in on this issue over the coming months before adding an additional configuration option.

[2020-07-07 22:30] bnfinet commented on #257
@tangel0v have you had any opportunity to work on this?  If you will not be pursuing this issue at this time would you please close it?

[2020-07-07 22:33] bnfinet commented on #175
FYI - wrt to naming we would like to use `allow` and `deny` in place of `whitelist` and `blacklist` going forward

[2020-07-08 08:54] zheker commented on #289
@bnfinet it works! Thank you!

[2020-07-08 14:28] salmanisd commented on #288
I would be definitely interested. Let me first try with the default openid provider and see how far I can go with that.

[2020-07-08 15:57] tomsmyers opened #290 "Azure AD support"
i'm working on an integration with azure AD. after a successful login, vouch unpacks the body of the OIDC `/userinfo` response into a `structs.User` object, which takes values from fields `username`, `email` etc.
https://github.com/vouch/vouch-proxy/blob/531fc6f980a0ca5eacf689f21153c51ff327e7fc/pkg/providers/openid/openid.go#L55

when constructing the jwt to store, the claims are constructed using

[2020-07-08 16:27] #289 closed

[2020-07-08 16:29] bnfinet commented on #288
@salmanisd Thanks much!

Lets keep this one open until ORY hydra support is implemented as part of your work or otherwise.

[2020-07-08 16:30] airbornemint commented on #289
Out of curiosity, do we know why this is even a thing? `rd` is not passed to auth provider nor is is used by vouch, so… why is anyone sending it along to begin with?

[2020-07-08 16:35] bnfinet commented on #290
@tomsmyers have you tried using the `adfs` provider? IIRC it uses the same interfaces as Azure AD.  A quick view of the `adfs.go` code shows it falling back to using the `UPN` if an email isn't present.

https://github.com/vouch/vouch-proxy/blob/master/config/config.yml_example_adfs

[2020-07-08 16:51] bnfinet commented on #289
@zheker thanks for the report and for checking that the fix works.  Do let us know if you run into any other issues with Nginx Ingress + Vouch Proxy.

@airbornemint looks like `rd` is tacked on by Nginx Ingress in Kubernetes to handle redirection issues...

https://github.com/kubernetes/ingress-nginx/issues/1314
https://github.com/kubernetes/ingress-nginx/commit/51248f87f3892721cb76b00da98b8e6c2bf

[2020-07-08 16:57] airbornemint commented on #289
Ugh, if layers above vouch are expecting that the can put random params in a vouch URL and have vouch just drop them on the floor, then maybe my initial approach here was too conservative and we should generate a warning (rather than error) if unexpected params appear in `login` URL query.

[2020-07-08 17:26] bnfinet commented on #289
@airbornemint yeah that seems prudent.  Though I conceptually see how allowing stray params could create vectors for attack, however it feels like the admin should be allowed to daisy chain services which might rely on additional params.

Would you be in a position to cut a PR to change these failures (`responses.error401`) to `log.warn`?

[2020-07-08 17:28] airbornemint commented on #289
Can do.

[2020-07-09 08:25] tomsmyers commented on #290
unfortunately using the `adfs` provider does not work with azure AD; you get the error `The 'resource' request parameter is not supported.` when redirecting to the login page.

[2020-07-09 11:26] stagging18 opened #291 "configuring Vouch Proxy to use an outgoing proxy for access to the internet and IdP"
Hi Team,
I am getting the below error after successful authentication.

{"level":"error","ts"1594280010.3651514,"msg":"/auth Error while retreiving user info after successful login at the OAuth provider: Post \"https://dev-813551.okta.com...\": dial tcp: lookup dev-813551.okta.com on 10.65.0.33:67: no such host"}

dev-813551.okta.com is not reachable from my vouch-proxy server. if i have to access

[2020-07-09 17:32] bnfinet commented on #290
@simongottschlag do you have any insight into Azure AD setups? ^^

@tomsmyers if you'd care to add a new provider at `providers/azure/azure.go` I'd be happy to accept a PR.  I'm not a user of Azure so I'm not in a position to test/support Azure AD at this time.

[2020-07-09 17:38] bnfinet commented on #291
@stagging18 this sounds like a firewall problem.  That error indicates a dns lookup failure.  You should check your dns settings and and firewall settings and confirm that you can resolve your okta domain from the same environment that VP is running in.

[2020-07-09 17:45] stagging18 commented on #291
Hi Benjamin,

I am using apache mod_oidc also in the same environment and from apache i
am able to access the url by using the proxy settings. Similar things i am
looking around for VP also. Means is there any way i can set the proxy in
VP and the request will  go through that proxy.

Regards,
Rajesh

On Thu, 9 Jul 2020, 23:08 Benjamin Foote, <notifications@github.com> wrote:

[2020-07-09 17:52] bnfinet commented on #291
@stagging18 are you saying you're using SOCKS proxy or another outgoing proxy for all tcp including DNS?

[2020-07-09 17:56] bnfinet commented on #291
@stagging18 I think this should work...

`export HTTP_PROXY="http://proxyIp:proxyPort"`

https://stackoverflow.com/questions/14661511/setting-up-proxy-for-http-client

[2020-07-09 18:20] stagging18 commented on #291
Thanks Benjamin,

The given solution works for me. We can close this issue.

Regards,
Rajesh

On Thu, 9 Jul 2020, 23:26 Benjamin Foote, <notifications@github.com> wrote:

[2020-07-09 18:23] simongottschlag commented on #290
@bnfinet Azure AD has their own quirks compared to ADFS. The resource query parameter is required with ADFS to populate the claims correctly while causing issues with Azure AD.

There are also differences with using Azure AD with a single tenant and using the “multi-tenant” endpoints and may require additional configuration to get both working.

[2020-07-09 18:43] bnfinet commented on #291
@stagging18 so glad to hear that!

[2020-07-09 18:43] #291 closed