[2021-07-31 13:59] bnfinet commented on #406
@Herbrant Docker Hub no longer builds containers triggered by a push to GitHub on their free tier.

I've established service at quay.io..
https://quay.io/repository/vouch/vouch-proxy

these all work...

`docker pull quay.io/vouch/vouch-proxy:latest`
`docker pull quay.io/vouch/vouch-proxy:v0.28.0`
`docker pull quay.io/vouch/vouch-proxy:alpine-latest`
`ocker pull quay.io/vouch/vouch-proxy:alpine-v0.

[2021-07-31 14:41] Herbrant commented on #406
Thank you! @bnfinet

[2021-07-31 18:58] bnfinet commented on #405
Yes we have.  That would impact scalability. Search the tickets for related discussion.

@ShyLionTjmn please provide your entire nginx config's server block

Have you read this?  Specifically the nginx config parts.
https://github.com/vouch/vouch-proxy#scopes-and-claims

@ShyLionTjmn please adjust your VP config and produce logs in the manner described in the README.
https://github.com/vouch/vouch

[2021-08-03 00:58] #394 closed

[2021-08-03 22:27] bnfinet commented on #406
Now we're getting a build error on quay...

"Could not pull base image: API error (500): toomanyrequests: You have reached your pull rate limit. You may increase the limit by authenticating and upgrading: https://www.docker.com/increase-rate-limit"

https://quay.io/repository/vouch/vouch-proxy/build/9b4f2d79-2d30-4572-ba1c-4ad2ef201b1e

[2021-08-03 22:40] Herbrant commented on #406
I think we can use Github actions and Github packages, it should be free for public repositories.

https://docs.github.com/en/actions/guides/publishing-docker-images
Pricing: https://github.com/features/packages#pricing

[2021-08-04 21:52] bnfinet commented on #406
this is looking much better..
https://quay.io/repository/vouch/vouch-proxy?tab=tags

[2021-08-05 23:30] #304 closed

[2021-08-05 23:32] bnfinet commented on #304
@phlummox @tmatilai the change you desire has come to pass :)

[2021-08-05 23:33] bnfinet commented on #396
@manthena81 any progress?  If you're no longer working this issue would you please close it.

[2021-08-06 09:00] manthena81 commented on #396
@bnfinet Apologies for the delay. I will try to fix the configuration errors. meanwhile can you help with below.
1. Is there any documentation on how to set secret for JWT in the vouch config?
2. I am guessing that the vouch cookie includes the JWT in an encrypted format. Is it correct? Will I be able to decode if I manually set secret ?
3.Is there any good guidance documentation on passing & cons

[2021-08-06 21:51] jblang opened #408 "Missing semicolon in example configuration files"
This commented line is missing a semicolon: https://github.com/vouch/vouch-proxy/blob/master/examples/nginx/single-file/nginx_with_vouch_single_server.conf#L84

I uncommented it because I wasn't seeing `X-Vouch-User` in my headers but then nginx refused to start with a very unhelpful error message:

[code]

It took me a lot of head scratching before I noticed the semicolon was missing.  It's actua

[2021-08-07 07:12] #408 closed

[2021-08-07 07:13] bnfinet commented on #408
@jblang thanks!

[2021-08-07 13:39] jblang commented on #408
Thanks for fixing, but you missed the one on line 144 the readme.

[2021-08-07 18:28] bnfinet commented on #396
@manthena81 ...

1. please take a look at the config example describing `vouch.jwt.secret` https://github.com/vouch/vouch-proxy/blob/master/config/config.yml_example
2. yes though you'll want to turn compression off
3. have you looked at the README's "Scope's and Claim's section? https://github.com/vouch/vouch-proxy#scopes-and-claims

[2021-08-08 17:07] darkphoenix opened #409 "400 Bad Request when redirected from URL with another URL in its parameters"
Occasionally (when following links, or reauthenticating after a timeout), there are URLs with parameters in the query string.  Currently nginx just leaves all that as it is when generating the /login URL with the current example config, and that leads to a 400 Bad Request error.  I'm not entirely sure how to fix it, as Vouch also doesn't seem to like it when I try to for example urlencode the ? as

[2021-08-09 12:44] manthena81 commented on #396
@bnfinet

Thank you for your patience. Finally, I managed to pass the user and email to application using claims and nginx. It solved half of my problem. I am wondering if I can have my application access the team of the GIthub user so my application can manage the access level based on team. Is it possible to pass the team of github user? I cant find the reference for the same.
btw, corrected all

[2021-08-09 14:15] bnfinet commented on #409
@darkphoenix thanks for the report.

This is as intended as a security feature.  There's a note in the README regarding URL chaining for `/login`.

See [/login and /logout endpoint redirection](https://github.com/vouch/vouch-proxy#login-and-logout-endpoint-redirection)

[2021-08-09 14:16] #409 closed

[2021-08-09 14:22] darkphoenix commented on #409
Thanks for answering that - it took me a while to figure this out, I initially assumed it was a general issue with arguments in the redirect URL.  I don't suppose there's an option to exempt specific URLs from this or anything?

[2021-08-09 15:11] bnfinet commented on #409
@darkphoenix could you elaborate a bit on your setup?  Is there a specific app you're protecting that is referencing other URLs?  Are you chaining proxies together?

Unfortunately there is not an allow list for `/login` urls.  Perhaps we could add that but you're the first to ask for such a feature.

[2021-08-09 15:23] darkphoenix commented on #409
It's a bit of an odd situation, with a HomeAssistant instance in "trusted networks" mode, where this appears to break the login flow for apps.  I'm trying to get a workaround by stripping out parameters in the 401 request (using $uri instead of $request_uri), authenticating, then retrying the request, but something still isn't quite right.  I realise this is an incredibly specific situation with a

[2021-08-10 16:25] LickABrick opened #410 "Pass (GET) parameters to IDP"
Hi, is it possible to pass variables provided in the URL to the login page? Underneath a example:

**My setup:**
Internet --> Nginx --> Vouch (if not logged in) --> Keycloak
                              |-> Application (if logged in)

**What I want to do:**
When a user who is not authenticated goes to _https://example.com/?username=johndoe_ I want to use the 'username' to prefill the username fie

[2021-08-11 04:36] beingamarnath commented on #373
@bnfinet Since I'm configuring Vouch for the first time, it took me some time to get it working with domain based approach.

Anyhow I picked up this for testing.

App: https://example.com/app
Vouch: https://example.com/vouch
Provider: ADFS

I configured the `X-Original-URI` to be passed on from the Nginx. Since I was using Ingress Nginx, I had to add the setting as mentioned here: https://kubernet

[2021-08-11 05:00] bnfinet commented on #373
@beingamarnath thank you for testing.

To be clear... did you build the branch `fix/373_vouch_in_a_path` and then test the setup with `X-Original-URI`?  Could you offer your Nginx config too?

[2021-08-11 05:03] beingamarnath commented on #373
I just picked up the image with from repository: quay.io/vouch/vouch-proxy and tag: "fix_373_vouch_in_a_path".

My nginx config is the default that comes out when we install Ingress nginx controller via Helm Chart.

[2021-08-11 05:19] bnfinet commented on #373
@beingamarnath thanks, what does the VP log show for the `X-Original-URI`?  Does it look correct?

[2021-08-11 05:35] bnfinet commented on #373
Is this the source that the `ConfigMap` is interacting with?

https://github.com/kubernetes/ingress-nginx/blob/9a9ad4785704ef7ec0f6428e5cfb2a32d9af5cf3/rootfs/etc/nginx/template/nginx.tmpl#L1003

is `if $externalAuth.Method` being triggered?

[2021-08-11 06:24] beingamarnath commented on #373
All the logs from one request - https://gist.github.com/beingamarnath/127a6277e2085cdde744fa9456c330d5
I anonymized the endpoints and auth codes, otherwise it contains the whole info.

The ingress configuration of the app itself is available here https://gist.github.com/beingamarnath/0e1cd213edb4b6eab946099b7a5900af

The external auth is triggered and it redirects to the adfs server and I'm able t

[2021-08-11 20:34] bnfinet commented on #373
@beingamarnath those logs do show `X-Original-URI` is set.  It appears that the session cookie is not being set and read back properly which is usually an issue with the domain which the cookie is being set into.

Could you please offer your VP config and also show the VP startup in your logs.  Pretty much I need the stuff outlined in the README.

[2021-08-11 20:40] bnfinet commented on #410
@LickABrick no there is no mechanism for passing variables to the IdP.  I could see adding such a feature to the `/login` endpoint but it would require some thought.

I'll leave this issue open as a feature request.

[2021-08-11 20:41] bnfinet commented on #405
@ShyLionTjmn are you still working this issue?  Could you please close it if you are not.

[2021-08-11 20:57] bnfinet commented on #396
@manthena81 I'm glad you got it to work.

I don't know of a scope and claim [1] which would have GitHub return the teams but perhaps there is one. VP makes an api call to GitHub to get the team information for `vouch.teamWhitelist`.  The teams cannot currently be added to the downstream HTTP request, but I could see this as a nice feature.

I'll close this issue.  If you'd care to propose such a f

[2021-08-11 20:57] #396 closed

[2021-08-12 02:04] beingamarnath commented on #373
@bnfinet  Thanks for looking into it. Here is the requested info
Vouch Config - https://gist.github.com/beingamarnath/3d9a9ac222c3b111a32d6ec05aaedb85
Logs - https://gist.github.com/beingamarnath/1d8be6355229dd3877f4b230631ba66b

[2021-08-13 04:29] #405 closed

[2021-08-13 17:40] jskrzypek commented on #373
I tried using the above-mentioned setup with the image tag for that branch, (only with `/sso/` as the prefix) but only got a series of redirected back to `/sso/auth/$STATE?code=$CODE&state=$STATE`, which gave me a 400 error. I also tried this with versions of this fix rebased against both `master` and `v0.32.0`, but neither of them worked.

[2021-08-13 18:47] jskrzypek commented on #373
On the other hand I've found a partial workaround with the `alpine-0.32` image. I set up my ingress like this (the `PLACEHOLDER` gets patched by kustomize later):
[code]

When I do this I get redirected back to `/sso/auth/$STATE/?code=$CODE&state=$STATE` and then to `/auth/$STATE/?code=$CODE&state=$STATE` which shows me a 400, but then if I manually change the url to `/auth/$STATE?code=$CODE&state

[2021-08-13 19:53] bnfinet commented on #373
@jskrzypek thanks for testing and hacking on this a bit

@jskrzypek @beingamarnath and all, could you please try with the latest updates to `fix/373_vouch_in_a_path`.

FYI - the docker images are not currently getting built for branches (see #406)

[2021-08-13 20:36] jskrzypek commented on #373
@bnfinet I'll try to test that next week as I'm already nearing EoD. Fwiw my coworkers on Chrome are not having that issue with needing to reload to get the configuration snippet to work

[2021-08-18 01:10] erdemozor commented on #305
I've just transitioned from oauth2proxy o vouch proxy to secure an octoprint server.
Working great right now! It was easy to set up thanks to the nginx examples :).
One question tho,  Can I create a separate file for the email whitelist instead of listing allowed emails in the config?

[2021-08-18 16:05] ryanblackmore commented on #305
I'm an intranet web developer for an NGO. We're migrating from apache2 to nginx and vouch-proxy seems like an appropriate solution for keeping our internal Drupal sites behind single sign on.

[2021-08-18 19:38] bnfinet commented on #359
@dionjwa thanks again for the fine work!  I've linked to this issue from the README under "advanced configurations"

There's talk of integration with Caddy and other http servers.  If that gets built and documented I could see breaking this out into its own section in the docs as well.

Cheers!

[2021-08-18 19:38] #359 closed

[2021-08-18 19:47] bnfinet commented on #305
@erdemozor thanks for the kind words.  It'd be easier to address that question from a new issue.  I do see a couple ways it could be done.

[2021-08-19 01:05] erdemozor opened #412 "Whitelist file for Allowed email addresses"
Hello there,
I was wondering if there is a way to have a seperate file for writing the email whitelist to?
I'm using google as a provider.
Just a file instead of editing the config file to add allowed emails (someone@example.com).

Happily waiting replies :).

[2021-08-19 15:19] bnfinet commented on #412
@erdemozor thanks for opening this issue

There is not a way to do that out of the box but it shouldn't be too difficult to build a configuration and restart VP...

Take a look at this gist for one example...
https://gist.github.com/bnfinet/f77f4ff1cc48b88897e524c05f136fbd

[2021-08-19 18:18] cpatel-secureauth opened #413 "How to authorize user using username OR sub claim instead of email address"
I have tested authentication successfully as Email which is within a Vouch Proxy managed domain.

To avoid below error , I was looking for something which I can authorize user using Username OR Sub claim.

{"level":"warn","ts":1629395919.9066803,"msg":"/auth User is not authorized: verifyUser: Email  is not within a Vouch Proxy managed domain

Is it possible?

[2021-08-20 00:21] erdemozor commented on #412
This is really helpful, Thanks.

Perhaps this could be implemented natively in the future? Definitely possible to do it this way but I think if there was a config argument for setting a path to a whitelist file it would be a nice quality of life feature.

Vouch could also periodically check this file for any changes but I think a manual restart is enough.
Thanks for considering this feature.

[2021-08-20 00:21] bnfinet commented on #413
@cpatel-secureauth that level of access control is not currently natively supported in Vouch Proxy.

There are some examples in #107 and other issues in the repository which show how to do it on the Nginx side with openresty.

[2021-08-20 00:22] #413 closed

[2021-08-20 00:23] bnfinet commented on #413
@cpatel-secureauth feel free to continue the conversation here.  If it becomes evident there's more to discuss I'm happy to reopen the issue.

[2021-08-20 00:32] bnfinet commented on #413
#175 is a very similar request

[2021-08-20 00:40] bnfinet commented on #412
You're very welcome.

How many email addresses are you managing?  Are you using Ansible or any other configuration management tool?  Is this developer convenience you're addressing?  What problem are you experiencing?

I'm expecting at some point we'll be moving away from `WhiteList/AllowList` for something fancier which accommodates other claims and maybe something along the lines of ACL or RBAC.

[2021-08-22 01:52] bnfinet commented on #370
closing in favor of #377

[2021-08-22 01:52] #370 closed

[2021-08-24 22:36] vallahaye opened #414 "Add support for the ClaimsParameter in the OIDC provider to support Twitch OIDC as IdP"
Hello,

I recently started using Vouch Proxy for a small side project that involves authenticating through Twitch with OIDC.
Unfortunately, Twitch doesn't support [requesting claims using scope values](https://openid.net/specs/openid-connect-core-1_0.html#ScopeClaims):

- The `email` and `profile` scopes are not supported
- At the moment, [the `user:read:email` scope does not set the `email` and `

[2021-08-28 02:54] bnfinet commented on #373
@balee thanks for testing

I've added a config option for `vouch.document_root: /vouch` to VP in the following branch:

https://github.com/vouch/vouch-proxy/tree/fix/373_vouch_in_a_path_document_root

If you (or @jskrzypek or anyone else) was able to test and to check the README for clarity it would be much appreciated.

Really I'm on the fence about this.  I'm always hesitant to add new knobs to

[2021-08-28 16:20] balee commented on #373
@bnfinet I can confirm that `vouch.document_root` config is working fine.

I use it in k8s with nginx ingress, so it is a bit different, but I`d raise up a few things:

1. In `config.yml_example`, maybe there is a missing reference for something?
[code]
2. There is a difference in `location @error401 {` part compared to the "original" config, see the missig `&X-Vouch-Token=$auth_resp_jwt&error=$au

[2021-08-30 21:36] bnfinet commented on #373
released in `v0.33.0`

Thanks again to @balee @jskrzypek  @beingamarnath @MCOfficer and @pommedeterresautee for the testing and debugging support.  Very pleased to get this fix into VP.

[2021-08-30 21:36] #373 closed

[2021-08-30 22:52] bnfinet commented on #414
#415 is merged in `v0.34.0`.  Thanks again @vallahaye !

[2021-08-30 22:52] #414 closed

[2021-08-31 03:03] bnfinet commented on #412
@erdemozor if you care to continue the conversation then please do chime in.  I'm going to close this and assume that the prior solution is worthwhile.

[2021-08-31 03:03] #412 closed

[2021-09-01 19:04] cpatel-secureauth commented on #413
@bnfinet It is working as expected. I didn't see #367 before and I am glad that I was able to figure out my self.
Yes I did checked and #367 and and similar thing I was trying in structs.go by define Username as Sub claim as per below.

// PrepareUserData implement PersonalData interface
func (u *User) PrepareUserData() {
	if u.Username == "" {
		u.Username = u.Sub
	}
}

[2021-09-07 10:26] Choo57 opened #416 "How to use an api behind vouch proxy during SPA development from localhost"
hi friends, quick question if anyone has any experience with this.

We are building a single page app (SPA) that will communicate with an api behind vouch proxy. The finished SPA will run on the same domain as the API so no issues once it is deployed.

During development though, we spin up a local webserver to test the SPA and it runs it on http://localhost:8080. We have the API running on https:/

[2021-09-07 13:16] bnfinet commented on #416
@Choo57 welcome back!

You could create a DNS record (or an entry in `/etc/hosts) for `127.0.0.1 localhost.mydomain.com` and then test from https://localhost.mydomain.com.  You may need to do some wrangling of certs (letsencrypt) for the local webserver.

[2021-09-07 16:14] fkelava opened #417 "Azure AD doesn't seem to autodiscover UserInfoURL."
**Describe the problem**

The Azure AD provider does not seem to autodetect the UserInfoURL, although there is a known way to do this. The default config for Azure AD does not contain a ``user_info_url`` field, further making me believe it's intended for it to automatically find out. However, I haven't found a configuration in which that succeeds.

Nginx configs, Vouch ``bug_report`` output here.

[2021-09-07 19:52] bnfinet commented on #417
You're very right, `provider: azure` does not seem to provide a default `oauth.user_info_url` and the code does seem to want it to be configured.

VP does not currently have OIDC discovery facilities: #41

There is this note, which would imply that the `oauth.user_info_url` is not used.
https://github.com/vouch/vouch-proxy/blob/master/pkg/providers/azure/azure.go#L44-L46

Perhaps this block should

[2021-09-07 19:53] bnfinet commented on #417
@fkelava does it work if you add a dummy entry (anything) to `oauth.user_info_url`?

[2021-09-07 20:01] fkelava commented on #417
@bnfinet Bafflingly enough, yes, I am getting a functional result by simply including ``user_info_url = anything`` in the configuration. Even if it's not the correct URL as of the time of writing (that would be https://graph.microsoft.com/oidc/userinfo), it functions.

However, if the entry is commented out, Vouch will fail to start.

I do not see the point in actually determining the proper URI a

[2021-09-07 20:36] bnfinet commented on #417
@fkelava thanks for the PR, I'm not in a position to merge but will do so in the coming days

If they were to become OIDC compliant I'd hope we could just use `oauth.provider: oidc`

[2021-09-08 11:19] Choo57 commented on #416
hi @bnfinet thanks again for the fast response and for the guidance!

got it working as you mentioned, sharing some details in case it might help someone else.

- added "127.0.0.1 localhost.mydomain.com" to /etc/hosts, so when I type https://localhost.mydomain.com to the browser, I can lunch the SPA wihen the dev server is running.
- to prevent https certificate errors on the browser, installed a

[2021-09-08 11:19] #416 closed

[2021-09-08 20:20] rml596 opened #419 "Restricting access based on userinfo parameter"
[config file](https://paste.gg/p/anonymous/ed96b92f263a450fb7b285ed4ea8ceb7)

I am using a company hosted OIDC system. In the userinfo body, the issuer sends a list of group names. I'd like to restrict login to a specific group. For example, `site1-admin`.
[userinfo example](https://paste.gg/p/anonymous/77db633a1c6a45199411a2948c1b4dee)

**Expected behavior**
If users are not a member of x group,

[2021-09-09 14:33] sp-manuel-jurado opened #420 "[question] Customize templates in case of error"
Hi,
congratulations on the vouch proxy, it is a very useful tool.

I would have a question.
I would like to be able to customize the templates in case of error:

- /templates/auth.tmpl
- /templates/index.tmpl
- /templates/error.tmpl

I have the vouch proxy running in Kubernetes. Using your image from `quay.io/vouch/vouch-proxy`.
So I had thought to overwrite the custom templates in the filesystem,

[2021-09-09 14:59] sp-manuel-jurado commented on #362
Hi @bnfinet @bselu-cso @aaronpk

I would really be interested in this feature.
For issues of securing server-to-server API calls using okta (openid) `client_credentials` and vouch-proxy.

Currently, I understand that vouch proxy is only intended for use with a browser with openid grant type `Authorization Code` (associated with a named user).

But it was to ask if you plan to develop it. And if so

[2021-09-09 15:41] mamcx opened #421 "Howto integrate Vouch Proxy into a server side application for User Identification, Authentication and Authorization"
I'm looking for a way to secure my tenants APIs/Web Stores and want something that allow me to use my own tables/bussines logic but offload security elsewhere. A obvious choice is to use Auth0/Keycloak or something similar, but that provide challenging integration issues with my customers/apps (I'm in the enterprise sector).

Is this project something  I can put on front of my apps/sites and gives

[2021-09-09 17:01] bnfinet commented on #420
@sp-manuel-jurado thanks for the kind words

Yes that's correct.  There is no facility to substitute templates at runtime.  Custom templates will require you to modify the templates in the git tree and compile from source.  Or build a docker image from source.

Please run `./do.sh` for information on how to do that.

[2021-09-09 17:01] #420 closed

[2021-09-09 17:43] bnfinet commented on #419
@rml596 yes that's right, the way to do that is to use OpenResty along with the claims http heasds.  See `config/config.yml_example` and the README

If there's any improvements to the documentation that you feel would be helpful I hope you would considering offering a PR.

[2021-09-09 17:47] bnfinet commented on #417
@fkelava merged!  thanks again

[2021-09-09 17:47] #417 closed

[2021-09-10 02:28] bnfinet commented on #421
@mamcx VP does not replace Auth0 or Keycloak, it piggybacks on Authentication/login at those IdPs to provide Authorization / gatekeeper services.  Does that make sense?

In addition some of the information provided by the IdP (Auth0, Keycloak, Google, ...) can be handed to an underlying web application as HTTP headers.

If there were any improvement to the README which would help to clarify that c

[2021-09-10 10:14] sp-manuel-jurado opened #422 "[question] Command line login"
Hi,

Would It be possible to log against the vouch proxy from the command line, making a script like https://developer.okta.com/blog/2018/07/16/oauth-2-command-line and being able to obtain access_token(jwt) (using response headers like X-Vouch-IdP-IdToken, X-Vouch-IdP-AccessToken)?

I see that `/validate` can also validate by access_token or Authentication Bearer header:

- https://github.com/vou

[2021-09-10 14:16] mamcx commented on #421
So, if I wanna get close to them, what exactly do I need to provide? For the link I put above, I need to validate the login myself and provide routes/UI, but I don't know if that is enough or exist some more steps.

So it will be nice to have a tutorial that implements a solution end-to-end.

[2021-09-10 23:37] bnfinet commented on #421
@mamcx for posterity could you outline what you're trying to do in a bit clearer terms?  I'm a little unclear on your architecture.

When you say

it makes me think that you'd be fine with just doing as the README outlines and put your app behind Nginx with `auth_request` and VP.  Your app could consume the `X-Vouch-User` HTTP header or any other claim as the README outlines.

Could you please cla

[2021-09-12 18:48] bnfinet commented on #422
@sp-manuel-jurado that's an interesting use case

Seems feasible to integrate a light client into a cmdline program which just handed off login to VP...

I see you've found #362.  I think that's a better solution overall but lets run with this for just a second..

If you send the user to
http://vouch.yourdomain.com/login?url=https://${CMDLINE_WEBSERVER}

You would get a VP issued JWT in the form o

[2021-09-12 18:52] bnfinet commented on #362
@sp-manuel-jurado thanks for chiming in here.  Yes it seems like this would be a good addition to VP.

Am I hearing that you would have some interest in working on this?  That would be most excellent.

[2021-09-13 16:24] shadow38 opened #423 "Multivalued claims value is not deserialized as expected"
Hello,

I'm using vouch-proxy with Keycloak.

Let's assume that userinfo endpoint returns this kind of value :

[code]

In my HTTP header `grps`, I get the value `"a","b"` (with the quotes). It is not the behaviour I expect; in my case I would like to get `a,b`.

In Keycloak (v14), it is not possible to change the representation of a mulivalued claim. I tried with openresty to "clean" the header v

[2021-09-13 17:29] bnfinet commented on #423
@shadow38 that is expected behavior

See the test `handlers/validate_test.go: TestValidateRequestHandlerWithGroupClaims`

https://github.com/vouch/vouch-proxy/blob/master/handlers/validate_test.go#L134-L149
https://github.com/vouch/vouch-proxy/blob/master/handlers/validate_test.go#L198-L203

As per discussion in #227 some folks have spaces in their group names.

[2021-09-13 17:29] #423 closed

[2021-09-13 19:08] jskrzypek opened #424 "[Troubleshooting] Redirect from okta hits a 400, but has a valid URI"
I just spent an hour writing a thorough issue and github deleted it :cursing_face:. So this time I'm going to be a bit more brief, sorry. I can elaborate as needed.

### Observed behavior
I do the vouch redirect flow through okta and back and get redirected to a Vouch Proxy 400 error page. On this error page I click on the URL box and *without changing anything* hit enter, and then the vouch proxy

[2021-09-13 19:53] bnfinet commented on #424
@jskrzypek Could you please provide your config as described in the README, turn on `testing` and point to any documentation for your ingress setup.  Please also provide full logs as per the README, not just pieces here and there.

I think that you're not being redirected back to your original URL properly.  That could be an Nginx configuration or something else.

What's the URL you try to access

[2021-09-13 20:17] jskrzypek commented on #424
Yeah, sure I'll capture and post those soon. Doesn't `vouch.testing` cause vouch to not actually redirect the browser, just print out the 302 messages?

I didn't cut anything out of the snippet, just inserted the lines with the notes as to what I was doing when. the rest of the logs are just a bunch of `/healthcheck` calls that are part of the normal k8s operation (i.e. k8s is checking that the po

[2021-09-13 20:29] jskrzypek commented on #424
Also these logs specifically seem to indicate where the 400 error is happening (this is from that same logfile I posted above).
[code]

[2021-09-13 20:41] jskrzypek commented on #424
When I enable `VOUCH_TESTING=true`, I am able to click through the 302 redirect pages without errors (the logo also loads correctly but I suspect that's not related), and that message I pasted above doesn't appear (i.e. the `/auth Invalid session state: stored %!s(<nil>), returned [[SANITIZED VOUCH SESSION STATE 1]]`).

When I disable it again with `VOUCH_TESTING=false` that `/auth Invalid session

[2021-09-14 00:59] tjschuler opened #425 "Resiliency Question"
Is it possible to have multiple vouch instances running behind a load balancer for resiliency?

Not sure if the JWT issued in the cookie by the first vouch instance would be valid when the second instance evaluates it.

Is there any documentation covering resiliency for vouch-proxy?

[2021-09-14 04:25] bnfinet commented on #425
Yes, provided they share the same secrets either set in 'vouch.jwt.secret' or '/config/secret'.  May need to share 'vouch.session.secret' as well.

Not specifically, but the intention has been to carry no state information other than the secrets in VP.  All state is stored in the browser's cookies.  It should scale horizontally quite well.

[2021-09-14 04:25] #425 closed

[2021-09-14 04:29] bnfinet commented on #425
@tjschuler if you cared to provide any documentation of your setup I'd be happy to link to it from the README like three others that are there.  If you'd like to offer documentation as a contribution to this repo in '/examples' that would be most welcome.

[2021-09-14 09:11] shadow38 commented on #423
Maybe it is the expected behavior in the test but I'm not sure if this behaviour is correct in an HTTP context point of view.

According to https://datatracker.ietf.org/doc/html/rfc7230#section-3.2.2, field value should be separated with the comma character and not with a space (as you pointed me issue #227)

But, I believe that adding "extra" double quotes when unnecessary seems odd; why a single

[2021-09-14 13:42] bnfinet commented on #423
Section 3.2.6 of rfc7230 which you linked to includes "quoted-string".  It's clearly part of the spec.  That term appears 12 times in the document.

Quotes vs no quotes is somewhat unsettled in the cannon of data stores and line protocols but for this one it feels like we're within the bounds of accepted practice.

[2021-09-14 14:06] bnfinet commented on #423
I'm curious about Nginx's embedded JavaScript.  I'm not sure if it would be a better tool for you than Lua but it might offer a nice facility for manipulating the header and strings at the nginx level.

https://www.nginx.com/blog/harnessing-power-convenience-of-javascript-for-each-request-with-nginx-javascript-module

[2021-09-14 14:48] shadow38 commented on #423
Ok,

You are definitely right.
I finally found a way to get it working properly with openresty. It may be obvious for experienced user but it wasn't for me.

Here a part of my openresty config file; It may help other users who have similar needs as mine.

[code]

Using the javascript facility should also do the trick. I didn't know that nginx embedded this kind of feature. Anyway, my server is run

[2021-09-14 15:03] bnfinet commented on #423
@shadow38 thank you for sharing your solution.  That's very much appreciated.

[2021-09-14 20:43] bnfinet commented on #424
@jskrzypek without seeing your configuration and complete logs (as documented in the README) it's nearly impossible to advise you properly.

[2021-09-14 20:43] bnfinet commented on #421
@mamcx if you're no longer working this issue could you please close it

[2021-09-14 20:54] mamcx commented on #421
I mean, how and if this software is close to having Auth0 and how to make it so. I think what is not clear is the high-level example like "add auth to you API/blog/whatever" and see what extra steps I need to complete to connect to my backend/tables.

For example:

https://auth0.com/blog/build-an-api-in-rust-with-jwt-authentication-using-actix-web/

[2021-09-14 21:18] bnfinet commented on #421
@mamcx unfortunately that isn't documented but it's pretty simple...

The `/validate` endpoint includes these headers by default with a successful response..
[code]
And these headers for `401 Unauthorized`

[code]

Those headers would need to be passed to your app in an Nginx `location` block..

[code]

And then you would build logic into your app to key off the user, or forward back to `/login`,

[2021-09-14 21:41] jskrzypek commented on #424
@bnfinet sorry maybe I should have called it out separately.

I asked before: what is more useful for you to see? The kubernetes yaml configs, or the resultant nginx.conf file that gets produced by those configs?

[2021-09-14 23:21] bnfinet commented on #424
@jskrzypek my apologies I missed that ask.  Is it difficult to offer both?

[2021-09-17 03:38] #419 closed

[2021-09-17 03:44] bnfinet commented on #419
@rml596 I should have offered that `oauth.provider: github` does currently offer restriction by group as configured by [vouch.teamWhitelist](https://github.com/vouch/vouch-proxy/blob/master/config/config.yml_example#L57-L60) however this has not been developed for any other provider such as OIDC.

[2021-09-17 03:46] rml596 commented on #419
Yeah, unfortunately I was not using Github. I was able to get it successfully working using OpenResty using your documentation. This is an awesome project. Thanks for all the work!

[2021-09-17 03:58] bnfinet commented on #419
@rml596 thanks for the kind words, I'm glad that it's working well for you!

[2021-09-17 13:47] ShyLionTjmn opened #426 "nginx problem with really big tokens"
Just run into trouble when one user works just fine and another user get 501 error after successful login.
nginx puts "upstream sent too big header while reading response header from upstream" into error log.

After hours of debugging, i found the reason - my keycloak returns "groups" claim with tokens and for one user list is short, and for another user this list is pretty large - about 30 groups

[2021-09-17 14:11] bnfinet commented on #426
Did you set proxy_buffer_size?

http://nginx.org/en/docs/http/ngx_http_proxy_module.html#proxy_buffer_size

If that doesn't work, please provide all logs and config as per the README.

[2021-09-17 14:12] bnfinet commented on #426
This is similar to your original issue #405

[2021-09-20 06:15] ShyLionTjmn commented on #426
Thanks, that's what i needed!

[2021-09-20 06:15] #426 closed

[2021-09-21 13:40] masoncashews commented on #305
Right now I'm testing it on a few we applications that don't have native SSO functionality.  A big draw of Vouch-Proxy was the addition of ADFS since that's the oAuth provider of choice in certain situations.

[2021-09-22 20:32] masoncashews opened #427 "Feature Request: Allow custom qualifier and delimiter characters for claims value collections"
## Describe the problem

When VP is returning a collection of claims values in a claim header, allow for the configuration of the text qualifier and separator.  Default is double quote qualified with comma separated.

**_Example_**
X-Vouch-IdP-Claims-group: [group1 group2]  by default is output as `"group1","group2"` in a header.

## Expected behavior
Have the separator and qualifier be configurab

[2021-09-30 09:16] jessetandor commented on #196
Hi @bnfinet, could you please replace your second post with 'company.okta-emea' and 'https://company.okta-emea/oauth2/default/v1/authorize'. Thanks.

[2021-09-30 20:13] shlomo-kallner-HS opened #430 "getting "/auth Invalid session state: stored %!s(<nil>), returned ..." only when testing is false and only for a specific single user"
**Describe the problem**
We at Help Systems have deployed an internal web app in a docker-compose on an AWS EC2 VM.
It has 2 nginx reverse proxies, the first for signing in with Vouch-Proxy, and the second for more elaborate Access-Control via the Web Application's Backend and it's database.
Every so often a specific User has issues when attempting to access the Web App; getting "stuck" at the /au

[2021-10-01 06:39] bnfinet commented on #430
@shlomo-kallner-HS it looks like you're passing quite a few claims.  That will make the cookie large and you'll need to open up the Nginx buffers.  Could you please consult the README for the Nginx settings, adjust your config and then see if that solves your problem?

https://github.com/vouch/vouch-proxy#scopes-and-claims

[2021-10-01 11:58] shlomo-kallner-HS commented on #430
@bnfinet I thought I did that when i set it up.
I have in both vouch-nginx.conf and app-nginx.conf  the following block:
[code]
that's buffers of 4MB!
Do you think I need to expand them to 16MB?

[2021-10-01 12:01] shlomo-kallner-HS commented on #430
@bnfinet Also, Please Note: this problem **disappears** on reload/restart of Vouch-Proxy, via reloading (down && up) the docker-compose.yml!
And once we turned on "testing" mode the problem again disappears!
Only to reappear sporadically while the "testing" Mode is once again turned off.

[2021-10-02 09:47] bnfinet commented on #430
Sorry to have missed the nginx config in my initial view.  When you changed it to 16M what happened?  What else have you tried?

@shlomo-kallner-HS could you provide a smaller log file as a `gist` which only includes VP.  A smaller log which shows the startup and then the problems for this user with `/auth` would be helpful.  Anything that makes it easy to hone in on the problem while being able t

[2021-10-03 09:41] shlomo-kallner-HS commented on #430
1. The vpn solution is [ananda](https://www.ananda.net/) a kind of VLAN on top of vpn for businesses to use to work remotely. (PS. they only just now released a beta for Android smartphones, so my previous assertion of smartphone access being irrelevant is still applicable.)
2. I updated the gist to include a file called `dumpDoorKeeperVoucherLogs1-with-doorkeeper-removed5.txt` which is a skimmed

[2021-10-03 10:53] bnfinet commented on #430
@shlomo-kallner-HS  could you please upgrade to the latest VP `v0.34.1` and submit new logs.  There are some changes to `vouch-in-a-path` which might be at play here.

[2021-10-03 11:04] shlomo-kallner-HS commented on #430
even though vouch is not deployed on a subpath?

[2021-10-03 12:22] bnfinet commented on #430
yes please

[2021-10-03 13:06] shlomo-kallner-HS commented on #430
new gist with the new output: https://gist.github.com/shlomo-kallner-HS/60fcdc66ea7540b087589855c8ca4b26
Please note: the Issue pops up again in one of theses logs, but it was because I restarted my browsing session and forgot to click through the testing pages.

[2021-10-03 13:09] shlomo-kallner-HS commented on #430
NOTE: of the Nginx Configuration, I ONLY pasted the modified section of the proxy buffers.

[2021-10-04 14:55] tahuk opened #432 "accessing a Vouch Proxy domain using Google App Script?"
I am trying to programmatically access a vouch domain using Google App Script.

I would normally be able to do something like:

[code]

Following the oAuth flow, I am trying to understand how I can access the cookie or state in order to progress. I was hoping I might be able to do something like:

[code]

What further do I need to do in order to effectively authenticate using GAS?

[2021-10-04 21:46] bnfinet commented on #432
@tahuk I'm not familiar with Google App Scripts.

Could you please clarify your use case and describe in plain terms what you're trying to do?  Are you trying to use javascript to access Google Docs?  I would love to understand what you're doing.

[2021-10-04 22:19] tahuk commented on #432
Yes, partially. I'd like to use Google App Script (essentially JavaScript) to access a domain protected with Vouch. The use case here is that we have a 3rd party web app I was previously able to access using the API.

https://developers.google.com/apps-script/reference/url-fetch/url-fetch-app

The app in question is Zabbix, API docs link: https://www.zabbix.com/documentation/current/manual/api/ref

[2021-10-05 23:56] #427 closed

[2021-10-06 00:25] bnfinet commented on #432
@tahuk thanks for sharing a bit more about what's going on

The user information from VP can be passed down to an application (such as Zabbix) via HTTP headers.  It's a bit of a hack but by making an fetch request to `document.location` (the same Zabbix URL) [1] or possibly to https://vouch.oursites.com/validate you could gain access to the headers and then pass the user information from `X-Vouch-

[2021-10-06 00:31] masoncashews commented on #427
Thanks for the link @bnfinet I totally missed that issue when researching.

I'll take a look at the solutions in that conversation.  Worst case I'll maintain my fork.

Have a great day.

[2021-10-06 01:32] bnfinet commented on #430
@shlomo-kallner-HS Thank you for upgrading to `v0.34.1`

VP appears to be behaving normally.

What did you find for the size of all the cookies in the domain?

In looking at this
https://gist.github.com/shlomo-kallner-HS/60fcdc66ea7540b087589855c8ca4b26#file-dumplogs1-txt-L774-L825
I notice multiple calls to `/auth/5k8QGMMwvgrbcWjf8IC2ufcmDg6fjAA`  Why would that occur?

Is VP is running on a sepa

[2021-10-06 01:48] bnfinet commented on #427
@masoncashews I see your clone here...
https://github.com/masoncashews/vouch-proxy-rundeck

I'd love to hear more about your Rundeck integration.  Are you Authing to the password api or the token api?  That glue could be really useful to other users.

Do you think Rundeck could be modified to accept quoted strings?

[2021-10-06 18:43] tahuk commented on #432
@bnfinet Thanks. I'm not needing to pass anything to Zabbix in this instance, but do want to get enough to login to Google. Another example would be if I had mydomain.com/file.csv, I want to be able to view file.csv programmatically.

I can't see any `x-Vouch-User`, but did see both `Set-Cookie` and `x-auto-login`. Additionally, note that as part of `location` I am also able to obtain a `state` bu

[2021-10-06 18:49] bnfinet commented on #432
just use https://vouch.oursites.com/validate for the time being

try `credentials: 'include'` as per
https://stackoverflow.com/questions/34558264/fetch-api-with-cookie

[2021-10-06 19:55] bnfinet commented on #432
@tahuk excellent, now we're getting somewhere.

Try it with `document.location` as the URL as well please.

My suspicion is that the VP cookies (multiple as per #109) are being sent but are not recombined into a working JWT.

Could you please use developer tools to look at the cookies?  You're going to have to ferret out how to proceed and try some things.

Can you please post your fetch code to a

[2021-10-07 03:08] deadbeef-development opened #433 "infinite redirect, cookie not stored, domain issue"
✔️ **First read the README**
Specifically ***[Troubleshooting, Support and Feature Requests](https://github.com/vouch/vouch-proxy#troubleshooting-support-and-feature-requests)***.

And turn on `vouch.testing` before you ask for support.

✔️ **Use a Paste Service**
https://gist.github.com/deadbeef-development/3e6aad3efbf8d71b6e752c7df02148c9

✔️ **Describe the problem**
While going through a flow,

[2021-10-07 17:34] bnfinet commented on #433
@deadbeef-development please do post fresh logs in the manner described by the README (two round trips and the other requests) and ensure that your configs are up to date

[2021-10-07 18:59] deadbeef-development commented on #433
I pruned all my docker containers and even images (so it uses the latest `config.yml`). I ran it with the updated validate block to set the host header.

I made two trips this time and it seems for sure that it is an infinite redirect since it restarts the process/flow on the second try.

The log: https://gist.github.com/deadbeef-development/e6c21d22653d588308b6d01513152a1d

You may notice that th

[2021-10-07 21:27] bnfinet commented on #433
@deadbeef-development glad to hear it's working

There's some CORS related documentation linked to from the README or and info in the issues here.

Happy Vouching!

[2021-10-07 21:27] #433 closed

[2021-10-08 07:55] felixgeyer commented on #284
Sure! I just created a PR: #435

[2021-10-08 14:49] #318 closed

[2021-10-08 14:58] bnfinet commented on #432
@tahuk there's two problems I see in the fetch code and a few things we could try out as well.  As soon as it's in a gist I'll be happy to highlight them :)

[2021-10-08 21:21] bnfinet commented on #432
Are you saying that your script is running *outside* of a VP protected domain?

I was assuming that Zabbix was protected by VP and that you were logging into Google via VP and then getting access to Zabbix where your script is running.

But I think I'm hearing that that's not what you're attempting, your trying to access Zabbix which is protected by VP without first logging into Zabbix and from a

[2021-10-08 21:44] bnfinet commented on #432
@tahuk that's not how VP works

VP forwards a user to the IdP (google).  After the user authenticates with the IdP (with username and password or otherwise) the user is forwaded back to VP at which point VP issues its own token.  VP does not ever receive the login credentials (username and password).

The VP token is (almost always) carried in a cookie.  That cookie is only available within the sh

[2021-10-08 21:44] #432 closed

[2021-10-12 06:32] robincher opened #437 "Setting up Vouch Proxy with Cloud-based Level 7 Load Balancer and ingress-nginx controller"
**Describe the problem**

Recently we have decided to update our infrastructure to include a Level 7 LoadBalancer, which means in general the flow is like this

**Current Set-Up**
App/Client -- HTTPS --> LB ---> Nginx Ingress Controller ---> Vouch Proxy --> Services

**Previous Set-Up**
App/Client -- HTTPS -->  Nginx Ingress Controller---> Vouch Proxy --> Services

The main differences is that we

[2021-10-12 13:34] robincher commented on #437
Hi @bgehman !

Thanks for the reply

_which LB? Is there anything about the config and setup which was different than your prior ingress setup?_

Currently using Azure Application Gateway (L7 LB), thus tls terminate at its end.

_did anything else change? Is Nginx still serving https?_

Yes, NGINX is serving only http traffic right now, since external ingress traffic tls/ssl are offloaded by the

[2021-10-12 14:35] OksanaH opened #438 "Nginx reverse proxy + OKTA auth + OpenSearch/Kibana"
Hi,
I'm trying to configure OKTA authentication for Kibana. The ElasticSearch domain is in the VPC (on AWS). The nginx proxy and the vouch proxy are on the same server.

Kibana is on the url my-example.io/_plugin/kibana.

I would like to be able to enforce OKTA authentication when users navigate to any page under my-example.io.

I've configured an OKTA app, with the sign-in redirect URl : http://m

[2021-10-12 14:47] #437 closed

[2021-10-13 08:15] Shogobg commented on #420
Are there any plans to make these page customizable?

[2021-10-13 19:13] OksanaH commented on #438
Hello, sorry to reopen it again, I have come across another issue.
I can reach OKTA now, it lets me enter credentials and authenticates OK, however, when loading Kibana there is an error "OpenSearch did not load properly". And also the url in the browser starts with https but it needs to be http - where do I need to make the appropriate change so that it does to "http://my-example.io"? Thanks.

[2021-10-14 02:09] bnfinet commented on #430
@bohui I need more data

@bohui please upload your logs and confs as per the README

how big are your headers and cookies for the domain?

[2021-10-14 03:52] bohui commented on #430
hi @bnfinet

Thanks very much for your swift reply. The relevant logs is just attached above. Sorry I just came across this issue and didn't follow the readme requirements to submit an reply. I will try with `testing: true`. And I will try to get client side cookie size for that failed user, which I don't have right now. For a normal and successful login,  `vouchsession` cookies size is 456 byte a

[2021-10-14 09:59] sp-manuel-jurado commented on #422
Hi, @bnfinet excuse me for the delay, I've been out for a few weeks.

IMHO both features should coexist:
- Server-to-server (no user): **The Client Credentials flow** is recommended for server-side (AKA confidential) client applications with no end-user, which normally describes machine-to-machine communication. Your application needs to securely store its Client ID and secret and pass those to Ok

[2021-10-14 21:56] bnfinet commented on #421
@mamcx does that clarify things for you?  If you have no further questions would you please close the issue.

[2021-10-14 22:53] #421 closed

[2021-10-15 18:21] Sharpz7 opened #441 "*FIXED: new google update means that callback urls must be https"
Hi,

As of 15/10/2021, I received an error from Google when trying to sign in with vouch saying that there was a class 400 error to do with the redirect uri.

Inspecting the credentials page, it was clear that http is no longer allowed:

![](https://files.mcaq.me/cqqx.png)

By changing it to https with google and with my environmental variables, it was a simple fix.

However, this is different to

[2021-10-16 00:54] fakhrulraharjo commented on #305
Im working at a boarding school that have 5 web apps from different providers. Because of the pandemic many teachers asking to accesing those webapp from home. VP really help to securing all those web app in public access.

[2021-10-16 01:21] #441 closed

[2021-10-19 15:09] bnfinet commented on #309
@plachor no I can't provide you with an estimate at this time.  Thanks or you patience.

Everything else you say seems correct.

[2021-10-19 15:39] plachor commented on #309
Thnx for clarification.

[2021-10-23 22:29] mjobst-necls opened #442 "Containerized processes should not run as root"
**Describe the problem**
The process _vouch-proxy_ currently runs as user _root_ which is not recommended from a security perspective.
It is expected that vouch-proxy can run as a non-root user without limitations

**Expected behavior**
Run vouch-proxy as a non-root user

[2021-11-03 00:16] apanzerj commented on #442
taking a stab myself https://github.com/vouch/vouch-proxy/pull/444

[2021-11-03 17:34] bnfinet commented on #442
@apanzerj nice stuff!

We should consider the upgrade path.  I'd expect this change to require changes to the config permissions...

If someone has an existing `/config/secret` which was created by VP as  `root:root 0600` VP will bail  This may also be the case for `config/config.yml`

We should probably offer at least a `log.Warn()` which includes the URL of this issue along with an explanation.

[2021-11-04 16:58] apanzerj commented on #442
Ooop! Just saw this comment. Reading

[2021-11-04 17:01] apanzerj commented on #442
I'm not familiar with Go at all. I can leave this work here for somebody else to add to but I don't know where to toss the log.Warn.

[2021-11-11 14:22] swhitman0 opened #446 "Authenticating a python script"
Hello,

We use vouch-proxy to authenticate a web application. However, besides running the web application in a browser, we need to access some API endpoints programmatically from a Jupyter notebook. How can a python script authenticate a user to an API protected with vouch-proxy?

Thanks

[2021-11-11 19:02] bnfinet commented on #446
@swhitman0 ...

if the script will run from within the network local to your protected API you could use `satisfy any` as per https://github.com/vouch/vouch-proxy/issues/378#issuecomment-814423460

Otherwise it's going to have to wait for either #362 or perhaps #422 to be implemented.

If you do need a user to be specified you may want to populate the `X-Vouch-User` header to mimic the header that

[2021-11-11 22:03] swhitman0 commented on #446
@bnfinet ...

Thanks for the response.

We were wondering if the device code flow could be used? (https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-oauth2-device-code) We have successfully used the MSAL python library to authenticate using the device code flow, but we are at a loss as to what to do with the token returned by the flow.

[2021-11-11 23:53] bnfinet commented on #446
@swhitman0 VP does not support the device code flow

[2021-11-18 12:35] afiestas commented on #374
Hey, is there any update on this?

[2021-11-22 01:23] rhansen commented on #309
@bnfinet I'm not using vouch anymore and I don't really have the time to invest in fixing this issue. I rebased PR #310 onto latest `master` and cleaned up the commits bit in case someone wants to pick up where I left off. The changes are untested (other than GitHub actions).

[2021-12-06 05:34] mig5 commented on #288
Hi,

I just wanted to note for the record that I tried Vouch today with an Ory Hydra installation, and it Just Worked with the native oidc provider configuration in Vouch!

This was my config:

[code]

The only 'gotcha' was that last note. I was using an oAuth2.0 client that had another callback URL registered to it along with the Vouch one above, and I'm using the 'pairwise' subject identifier al

[2021-12-07 00:14] bnfinet commented on #442
@apanzerj thanks for your work on this PR!  It has been merged in `v0.36.0`

[2021-12-07 00:14] #442 closed

[2021-12-07 00:19] bnfinet commented on #374
@afiestas no update beyond "it's on the list", but thank you for your interest in supporting VP.

[2021-12-07 00:22] bnfinet commented on #288
@mig5 thanks for that note.  I've gone ahead and added `Ory Hydra` to the list of supported providers in the README.

[2021-12-07 00:22] #288 closed

[2021-12-08 18:11] isomc-stone opened #447 "do.sh build requires a git repository"
pulled a zip from the [releases tags](https://github.com/vouch/vouch-proxy/tags)

when I ran `./do.sh build` I got

workaround:

make a git repo

[code]

[2021-12-08 18:37] bnfinet commented on #447
thanks @isomc-stone thanks for the report and documenting this work around.  I think I'm willing to live with that limitation.

Another option is to run `go build .` instead of `./do.sh build`, essentially just removing the `-ldflags` directives.
https://github.com/vouch/vouch-proxy/blob/master/do.sh#L32

For bug reports and other support aspects I like to have the tag and build information includ

[2021-12-08 18:37] #447 closed

[2021-12-12 13:35] tomer-amir opened #448 "Why no new docker image since 0.27.1?"
I've been using vouch-proxy for a while now using the docker image `alpine-0.27.1`.
I wanted to upgrade now to get some of the latest features (like session `maxAge`) but it seems like there aren't no newer docker images on docker hub except for `latest`.

Is there a reason for it?

[2021-12-12 15:57] bnfinet commented on #448
See #406 the README and the CHANGELOG.

Images have been moved to quay.io

[2021-12-12 15:57] #448 closed

[2021-12-16 22:44] temrix commented on #305
I use vouch-proxy to give specific users on Discord access to the web application I am building. Currently I have whitelisted only names but would like to whitelist `id:discriminator` from Discord since the names can be changed arbitrarily.

[2021-12-22 09:26] kasbst opened #449 "Azure: Is it possible to use certificate as client credential?"
We are not allowed to use Azure SPN secret credential due to internal company policies. We can use only Azure SPN certificate credential.

Currently, it seems that vouch-proxy only suppport secret credential for Azure oauth2 provider.

Is there any plan / chance that certificate credential support will be implemented?

Thank you!

[2021-12-22 23:17] skaravad commented on #305
Using at my org to provide simple SSO solution for various backend apps which support header authentication/authorization, like Jenkins , Grafana, etc. Did some research with other solutions but I feel this is probably the best solution if you can do some lua coding and if the actual backend supports header auth (looks like many apps do provide as this is probably the most st forward way vs trying

[2022-01-02 01:27] bnfinet commented on #449
@kasbst yes that's correct, VP does not currently support Azure SPN certificate credential.  I'll mark it here as a feature request.

[2022-01-11 21:49] bnfinet commented on #319
@badstreff @shabe @kthare10 at this point we're leaning against including the passing of Refresh Tokens to protected sites/apps, though we're willing to be convinced.

The thinking is, if you're app is at the point of needing the refresh token, why not allow the end user to go through a whole auth cycle for your app.  If you're already going to be interacting with the IdP, why not start from the b

[2022-01-11 21:53] bnfinet commented on #319
FWIW I'm more interested in #149 having VP do the refresh, but then there's the question of "where to keep the refresh token" and various other aspects of triggering the refresh event.

[2022-01-21 02:44] mig5 commented on #348
Reproducing this error with a MediaWiki installation. MediaWiki has some very long URLs that load static assets, such as

https://mediawiki.xxxxxx.com/load.php?lang=en&modules=diffMatchPatch%2Cdompurify%2Cmoment%2Coojs%2Coojs-ui%2Coojs-ui-core%2Coojs-ui-toolbars%2Coojs-ui-widgets%2Coojs-ui-windows%2Cpapaparse%2Crangefix%2Cspark-md5%2CtreeDiffer%2Cunicodejs%7Cext.visualEditor.data%2CmoduleIcons%2Cm

[2022-01-24 16:10] PfisterAn opened #451 "Misleading explanation"
It appears like the following is a misleading explanation, these domains are actually referring to Email-Domains, so instead of whitelisting individual users its for whitelisting a full domain of a specific user-base. This is not clear when looking at the explanation.

https://github.com/vouch/vouch-proxy/blob/a901c3f927d0cd1b07e2937bda98c6af57137b82/config/config.yml_example#L27

[2022-01-24 21:04] bnfinet commented on #451
@PfisterAn for whitelisting, you should add email addresses to `vouch.whitelist`...

https://github.com/vouch/vouch-proxy/blob/a901c3f927d0cd1b07e2937bda98c6af57137b82/config/config.yml_example#L48

If you'd like to offer an improvement to `domains` to improve the clarity or any aspect of the VP docs (which could always use some polish) we'd love to see it and I'm always happy to review doc focuse

[2022-01-24 21:04] #451 closed

[2022-01-24 21:19] PfisterAn commented on #451
Hi,

i think that’s the misunderstanding I also had … so I protected a specific domain with Vouch Proxy, say sub.mycompany.com and for that I added mycompany.com to vouch.domains. So far so good, when I logged in with mymail@mycompany.com I was able to get onto the site successfully, permitted by my IDP as well, obviously.
I am using Azure AD … there we also allow guest users to access the site, s

[2022-01-25 18:25] nichogenius opened #452 "Support or documentation for custom error pages (eg. 400, 401) instead of vouch-proxy rendered pages"
I have a working setup utilizing nginx as a reverse proxy, vouch-proxy in a docker container, and keycloak in a docker container using OIDC.  When a user follows the normal login path, everything behaves as expected.  If the user does something unexpected, they land on the rendered Vouch Proxy error page instead of a custom error page or being redirected to the correct location.

Scenario 1 -

A u

[2022-01-25 18:39] nichogenius commented on #452
I feel like this could be solved by adding config options - something like
IDP_ACCESS_DENIED_REDIRECT_URL=https://myapp/login
BAD_REQUEST_REDIRECT_URL=https://myapp/login

[2022-01-25 20:01] bnfinet commented on #452
see discussion in #420

The preferred method for customizing the error page is to fork the project and then build from source.

My thinking is that if you're at the point of wanting to customize the template and error page, why not fork?  `git` is a fantastic tool for managing bespoke changes.  This saves us from adding knobs to VP for templates or outside redirects.

[2022-01-25 20:01] #452 closed

[2022-01-25 20:57] nichogenius commented on #452
Thanks for your help and quick response!

Given your advice, I think I can mount the templates via docker-compose  - though I might have to write my own Dockerfile so that it compiles the static content every time the VP container is started.  That would give me the flexibility I need.

Forking via version control isn't ideal for project maintenance - usually I reserve project forks for submitting

[2022-01-25 21:13] bnfinet commented on #253
fixed in `v0.33.0`, see #373

[2022-01-25 21:13] #253 closed

[2022-01-27 09:24] paulojmdias opened #453 "Users with emails in domains not listed in vouch.domains can login"
**Config**

https://pastebin.com/PHxt9riF

**Describe the problem**

Issues and PR Related:
#199
#198

I'm using the provider Google and I have the following values in `vouch.domains`:
- dummy.com
- sub1.dummy.com
- sub2.dummy.com
- sub3.dummy.com
- sub4.dummy.com

However, isn't expected but a user with email `user@sub5.dummy.com` could log in without any issues since the main domain `dummy.com`

[2022-01-27 22:26] bnfinet commented on #453
@paulojmdias that is the expected behavior

`user@sub5.dummy.com` is in the domain `dummy.com`  If you'd like to not serve those users, then you'll need to drop `dummy.com` from you list of domains, or use `vouch.whitelist` to be explicit about who can come through.

[2022-01-27 22:26] #453 closed

[2022-02-01 16:39] ajknv opened #454 "Intermittent HTTP 400 errors"
I am running vouch-proxy to provide authentication to a service in an active-active highly available configuration. The service runs behind an AWS application load balancer which is providing the SSL termination. This basically works for the most part, but users are intermittently getting HTTP 400 error responses from vouch-proxy -- typically this seems to happen when they are already logged in bu

[2022-02-01 19:30] bnfinet commented on #454
@ajknv it's likely that your users are getting forwarded through the VP flow, are forwarded to your IdP for login but they don't login immediately.  After five minutes or so they actually login but the session cookie has timed out so VP has no idea how to complete the login process and forward them along to the originally requested URL.

You can try setting `vouch.session.maxAge` to be something h

[2022-02-01 19:30] #454 closed

[2022-02-02 16:43] SohMahmood opened #455 "Possible to retreieve profile information such as profile picture after logging in?"
I have got vouch working with Google Auth and would like to show the profile picture of the client on the top right after they login. Would there be any way for JavaScript to get this information?

[2022-02-08 17:10] wasweisic opened #456 "configuration file not found: While parsing config: yaml: line 19: did not find expected key"
Hey, I am using vouch-proxy via docker with following command:
[code]
The /etc/vouch/config directory contains the config.yml file with following content:
[code]

Here's the log files i get once running **"docker start vouch-proxy"**:
[code]
What I tried so far:
-using chown 777 on the config.yml
-created a vouch user with 999:999 and using chown on the file
-using docker run --user $UID:$GID with

[2022-02-08 19:35] bnfinet commented on #456
There's something wrong with the nineteenth line of the config.

For further support, please read the README and adjust your post
accordingly.

On Tue, Feb 8, 2022, 9:10 AM pave ***@***.***> wrote:

[2022-02-08 21:33] bnfinet commented on #455
@SohMahmood it can be done with some setup.

You'll need to look at custom claims and how to get the picture returned by Google into an HTTP header.  I don't have enough time today to look up the specifics.

After you pass the header to your app you'll need to use [fetch](https://developer.mozilla.org/en-US/docs/Web/API/Fetch_API/Using_Fetch) to make another request to the webserver so that you ca

[2022-02-08 21:33] #455 closed

[2022-02-08 21:34] #446 closed

[2022-02-11 04:39] halkeye opened #457 "transfer/fork vouch helm chart (Thank you Gavin for your years of support!!)"
👋 I think i'm shutting down my home k8s server and as such, kinda want to find owners for my helm charts. Are you willing to take it over? there's lots of github actions for publishing helm charts. Its been essentially no maintaince for a while now, but probably could get the version number updated more often.

[2022-02-11 17:03] martina-if commented on #457
Hi 👋 , if no one else claims this @punkle and myself can keep an eye on it.

[2022-02-11 17:32] halkeye commented on #457
👍 Its not like i'd abandon ya'll, but i don't want to be the responsible maintainer for something I'm not actively using

[2022-02-11 17:34] halkeye commented on #457
https://github.com/halkeye-helm-charts/vouch/

Then something like https://helm.sh/docs/howto/chart_releaser_action/

That way vouch could also be a verified publisher on artifacthub.io

[2022-02-11 18:05] bnfinet commented on #457
@halkeye thanks for holding down the VP helm chart these past years!  I hope I'll get a chance to buy you a beverage in person next time I'm in Vancouver.

I myself am not an active k8s user and only have a smattering of skill with charts and chart maintenance and as such am (still) not in a position to support a helm chart.

@martina-if thank you for such a kind offer. If you and @punkle and your

[2022-02-11 18:55] halkeye commented on #457
typically I've seen the repo called "helm-charts" with a directory called charts.

ex https://github.com/jenkinsci/helm-charts/

[2022-02-11 22:52] ajknv commented on #423
I would like to re-raise this issue and argue against the principle rationale that has been cited ("some folks have spaces in their group names"). The problem with the current approach is that it violates the principle of "return it as you received it" -- if the claim value reported by my IdP is 'claim-value', then I should expect that my auth handler forwards it downstream as such, not as '"claim

[2022-02-14 19:32] bnfinet commented on #423
@ajknv I agree that it may seem clunky to receive quoted values but it's been that way for several years.  There's no security related reason to change it (you could almost argue quoted is more secure) and folks have designed their systems to accommodate the quotes.  I don't want to break anyone's setup.

[2022-02-14 20:20] ajknv commented on #423
Is there a reason to reject giving users control over this via simple config directives, as per #427? (The default can remain as-is.) It seems as if the person making the feature request even had working code for it that just needed to be accepted.

I have a downstream dependency that is not within my control that isn't designed to accommodate them. It seems as if I am not the first user to run in

[2022-02-14 20:40] bnfinet commented on #423
@ajknv will the solution documented in #423 work for you?

I'd rather not add more knobs unless necessary.

[2022-02-14 21:11] ajknv commented on #423
So the solution requires one of:
- Switch webserver to openresty (become decoupled from standard nginx maintenance and releases, pick up a bunch of features and attack surface I don't otherwise need)
- Switch webserver to nginx plus (paid product)
- Compile and load an additional module into nginx for javascript (complicate build and deployment workflows)

Then write code (which is not documented

[2022-02-14 21:29] bnfinet commented on #423
@ajknv I think of openresty as fairly safe

https://stack.watch/product/openresty/openresty/

There's a documented solution that works well.  If you're administering VP you're already into advanced configuration of Nginx.

I'm sorry this one just isn't a priority for me right now.  Maybe someday.  I can see a point where it may make sense to throw away claims and headers in pursuit of something cl

[2022-02-14 21:31] shadow38 commented on #423
Actually openresty is not really needed. In my case we use debian and the packaged nginx by the distro (not sure but you may need to install nginx-extras) supports the configuration I posted few months ago.

[2022-02-17 21:18] bnfinet commented on #457
@martina-if @punkle How's that all sound to you?

[2022-02-17 21:33] punkle commented on #457
Yes that all sounds good. Would you like to setup the repo and we can take care of the rest of how would you like to take care of it?

[2022-02-17 22:25] halkeye commented on #457
Do you want to add me the org and I just transfer the repo? that will mean that if anyone comes to the repo (old link or something) it'll get auto redirected?

Otherwise ya'll can fork and I can update the readme.

Also, i'm looking into renovate to automate updates to my matrix helm charts, so I should be able to have that ready soon if you want to wait a day or two.

[2022-02-19 08:50] ShyLionTjmn opened #460 "Multiple providers?"
Am i missing something, or there is no support for multiple providers?

[2022-02-19 10:59] ShyLionTjmn commented on #460
iss claim should be available if there is multiple providers support.

unique user id is sub and iss combination

[2022-02-19 20:21] bnfinet commented on #460
@ShyLionTjmn correct!

[2022-02-19 20:21] #460 closed

[2022-02-21 11:13] ShyLionTjmn commented on #460
I've chained vouch-proxy with Keycloak.
Now i can connect many Social networks, AD, or even local database.

[2022-02-22 00:14] bedaronco opened #461 "Vouch in a path with keycloak initial login error"
[Log and config files](https://gist.github.com/bedaronco/aa429fd003f3ff91abf91672945d1c44)

I currently have vouch configured in a path and using keycloak as my OIDC.  Nginx is correctly protecting certain paths of my site and redirecting to login.  The issue is that the initial login doesn't seem to be correctly setting the cookie for some reason.

If I turn testing on it doesn't have this proble

[2022-02-22 09:06] martina-if commented on #457
Hi @bnfinet, @halkeye , asking for 2 years of commitment is a very reasonable thing to do but we discussed this internally and we believe it wouldn't be fair to commit to more than 1 year since since we are a startup and things change quickly for us (including changing our architecture). What do you think about that?

We are also happy if someone else wants to take this and we help out sometimes.

[2022-02-22 17:08] bedaronco commented on #461
Since my authentication server is running in a different domain, setting `cookie: sameSite: none` seems to have fixed this problem.

[2022-02-22 21:17] bnfinet commented on #461
@bedaronco that's great, I'm going to close this but do let me know if there's anything further to resolve

[2022-02-22 21:17] #461 closed

[2022-02-22 21:19] bnfinet commented on #456
@wasweisic I'm going to close this but please let me know if you're still working this issue

[2022-02-22 21:19] #456 closed

[2022-02-22 21:29] bnfinet commented on #457
@martina-if sure that's fine.  Thanks for taking it on.

@halkeye @punkle @martina-if I've invited you all to to a new team `helm-charts`
https://github.com/orgs/vouch/teams/helm-charts/member

[2022-02-22 21:48] bnfinet commented on #457
@halkeye do let me know if you need additional permissions or some other change in order to transfer the repo

[2022-02-22 21:57] halkeye commented on #457
https://github.com/vouch/vouch-helm-chart is moved over
(anyone in an org can transfer things into an org)
I had to rename it because I didn't want it to be called vouch/vouch
Its up to you now, permissions, nameing, etc

I'm working on a renovate.json for helm charts, but not having super luck yet, but I should have enough to open a bug with them now.

[2022-02-22 22:02] bnfinet commented on #457
@halkeye thanks!

as per previous discussion I think next steps are to..
* rename the repo to `vouch/helm-charts` and then
* move everything into  `charts/vouch-proxy` similar to https://github.com/jenkinsci/helm-charts/

does that sound right?

[2022-02-22 22:11] halkeye commented on #457
Assuming that's required for the github actions? I've never used them so can't say.

Probably worth submitting to https://artifacthub.io/ once the action is all setup

[2022-02-25 08:03] martina-if commented on #313
@bnfinet Hi, we are seeing this issue recently with okta where if someone logs in to okta and then clicks in our okta app they get a redirect with a query param that looks like `?iss=<companyname>.okta.com` and this is considered dangerous by vouch but we cannot change that behaviour in okta. Is there a way to allow-list these query parameters or somehow mitigate this issue?

[2022-02-25 13:20] punkle commented on #457
I have a bit of time this after noon so I am going to see what I can do around

- renaming the repo
- moving the code under the charts directory
- and publish it to artifact hub

[2022-02-25 14:15] punkle commented on #457
Ive started doing those bits: https://github.com/vouch/vouch-helm-chart/pull/18, and https://github.com/vouch/vouch-proxy/pull/463

Working on the publish step.

[2022-02-25 14:15] punkle commented on #457
I do not have the ability to rename the repo @bnfinet, would you mind taking care of the repo rename?

[2022-02-25 19:13] bnfinet commented on #313
@martina-if Hey there!

Is that error at the redirection from okta to the `/auth` endpoint?  If you set `oauth.callback_url` to `https://${VPURL}/auth?iss=yourbiz.okta.com` does that fix it?

[2022-02-25 19:45] bnfinet commented on #457
@punkle done!

https://github.com/vouch/helm-charts

Let me know if there's anything else I can help with.

[2022-02-25 19:51] punkle commented on #457
@bnfinet there are a couple of other bits I will need.

- The GitHub actions do not appear to be running on the helm-charts repo.
- Would it be possible to configure GitHub pages on a branch called gh-pages on the helm-charts repo?
- Also I am unsure if myself and Martina have the ability to merge changes to the repository.

[2022-02-25 20:14] bnfinet commented on #457
@punkle see this comment WRT membership..
https://github.com/vouch/helm-charts/pull/18#issuecomment-1051186723

I hope that resolves the access issues.

[2022-02-25 23:18] punkle commented on #457
I was able to do everything I needed to do. Thanks @bnfinet

[2022-02-25 23:55] bnfinet commented on #457
glad it worked @punkle

Thanks again!

[2022-02-25 23:55] #457 closed

[2022-03-01 19:25] bnfinet commented on #457
@punkle @martina-if (and @halkeye too) I adjusted the portion of the README a few days back that links to `vouch/helm-charts`. (in #457)

https://github.com/vouch/vouch-proxy#kubernetes-nginx-ingress

If there's any change you'd like there (perhaps mentioning / linking to @roadieHQ ??) please do feel free to adjust to your liking.

And same of course with the README for https://github.com/vouch/he

[2022-03-02 13:39] Anefu commented on #461
I'm trying to use vouch with keycloak using the same config as above, but anytime I try to reach the application endpoint, I get redirected to vouch endpoint, and that throws a 400 error

[2022-03-02 18:04] bnfinet commented on #461
@Anefu please do consult the README and open a new issue as described..
https://github.com/vouch/vouch-proxy#troubleshooting-support-and-feature-requests-read-this-before-submitting-an-issue-at-github

I'm happy to help but it's impossible to understand what's going on without that information

[2022-03-08 18:01] prawnsalad opened #464 "Multiple providers"
**First read the README**
- The link in the issue template no longer works. But I have read the readme.

Are there any plans to support multiple providers? My app has multiple tenants and I would need to support different providers for each tenant. Running multiple instances of vouch would technically be possible but not really feasible when there are many providers to be used (100+ in this case).

[2022-03-08 19:16] bnfinet commented on #464
@prawnsalad no there is no plan at this point to support multiple providers.  When we've visited this in the past we always point at the fact that running multiple vouch-proxy instances is pretty cheap resource wise, though usually that's with just a handful of providers.

I'm curious what service you're providing that requires such a broad identity domain.  Could you expand on your use case a bit

[2022-03-16 09:24] ridvankaratas opened #465 "cannot load embed while compiling"
hi,

I wanted to compile the source via ./do.sh goget and I got this error:

when I want to ./do.sh build, it doesn't just run and it gives some flags to use

is it possible to get a compiled binary?

[2022-03-16 18:01] dco5000 commented on #465
I also am unable to install and config on ubuntu.  I get same message about the malformed "embed". Please suggest a work around.

[2022-03-16 18:59] bnfinet commented on #465
a quick search reveals this.. https://github.com/pjvds/tunl/issues/5#issuecomment-784894010

[2022-03-16 19:32] ridvankaratas commented on #465
hello. thank you for the quick response. using go 1.16 solved goget issue. on the other hand, as I explained in the initial post, build command is not running as expected (I think)

` ./do.sh build
error: unknown option `sort=v:refname'
usage: git tag [-a|-s|-u <key-id>] [-f] [-m <msg>|-F <file>] <tagname> [<head>]
   or: git tag -d <tagname>...
   or: git tag -l [-n[<num>]] [--contains <commit>]

[2022-03-16 21:23] bnfinet commented on #465
@ridvankaratas what operating environment are you using?

Did you search for that error?  What did you find?

Try `go build .`

[2022-03-17 12:01] ridvankaratas commented on #465
I found this that I thought might be relevant https://github.com/golang/go/issues/34266
I'm on Centos7 with go version go1.16.13 linux/amd64

[2022-03-17 12:11] bnfinet commented on #465
@ridvankaratas did you try..

`go build .`

What happened?

[2022-03-17 12:16] ridvankaratas commented on #465
hi, adding output from go build command

[2022-03-17 12:26] bnfinet commented on #465
This one seems a bit closer when searching for

"exit status 128: fatal: git fetch-pack: expected shallow list"

https://github.com/golang/go/issues/38373

There appears to be something wrong with the setup of either go or git or both in your operating environment.  Are you able to build other golang programs?

[2022-03-17 13:26] ridvankaratas commented on #465
I removed go1.16 and installed go1.18
goget and build worked without any issue. also vouch-proxy is running (at least it shows running I haven't tested anything yet)

we won't know whether it was related to go1.16 or go1.16 setup itself. bu we do know go1.18 works at least for the compile.ü

again thank you for the quick response.

[2022-03-17 13:37] bnfinet commented on #465
@ridvankaratas glad to hear VP is working.  Thanks for the kind words.

@dco5000 I'm going to close this but feel free to continue the thread if you're still having problems

[2022-03-17 13:37] #465 closed

[2022-03-23 22:35] prawnsalad commented on #464
@bnfinet in my case each tenant can use an idp of their choosing, so tenant1 may use okta while tenant2 may use azure, etc. If each tenant uses iodc/okta for example, then as far as I understand I would need a vouch instance for each tenant to support different client id/secrets.

[2022-03-23 22:42] bnfinet commented on #464
@prawnsalad thanks for offering a bit more info.

Yes that's correct, each would need to be separate.

For that specific use case you'd want to make sure to use a separate secret for each "tenant" as well.  That's best handled with a separate instance of VP.

I'm going to close this but feel free to continue the thread.  By my reckoning for most users a separate VP instance per IdP is the way to g

[2022-03-23 22:42] #464 closed

[2022-03-27 15:06] paul-young-topa opened #467 "Integrating AWS Amplify"
I have a legacy react- app that uses aws amplify authentication with aws cognito.

I want to change the backend API to sit behind vouch proxy for authentication.

Is it possible for the react app to pass the token it got from cognito via amplify  to vouch proxy to gain access to the  API?

Any advice appreciated

[2022-03-27 15:26] bnfinet commented on #467
@paul-young-topa should be possible to use fetch 'with credentials ' to send the VP cookie along with the request

https://developer.mozilla.org/en-US/docs/Web/API/XMLHttpRequest/withCredentials

Would love to hear back if you get it working.

[2022-03-28 15:22] bnfinet commented on #467
Here's the typical flow of an end user's browser with a VP protected service.  Could you improve this diagram to include your interaction with Amplify?  I think it would help clarify the situation.

[code]

This was built with https://textart.io/sequence with the following script but feel free to use another UML sequence modeler..

[code]

[2022-03-29 23:29] mig5 commented on #317
I recently launched 3 vouch containers at AWS ECS (where the AWS loadbalancer passes directly to the Vouch port - there is no Nginx middleware between the two).

It would be great for this to be configurable. My AWS ALB has an idle_timeout of 60s (that's the default) and all my other non-Vouch apps, which use Nginx, have a keepalive_timeout of 65s. This combination works great, so I would love to

[2022-04-01 12:15] paul-young-topa commented on #467
Hi
I think what I want to do is described as follows.

1. Assume the browser in the diagram has already logged in directly to cognito using AWS Amplify and has a token from cognito
2. What do I need to send to nginx in the request to allow the rest of the process to remain unchanged? Do I need to create a VP cookie?

[2022-04-01 12:29] bnfinet commented on #467
@paul-young-topa I think it should work assuming that all of your domains are aligned properly but I have no experience with this setup

I'm going to close this but feel free to continue the conversation after you have something running.

[2022-04-01 12:29] #467 closed

[2022-04-08 23:59] #317 closed

[2022-04-13 10:11] simonwgill opened #470 "Add explanations about use of SameSite=strict to documentation"
**Describe the problem**
I had a setup using the GitHub provider which would return a 400 Bad Request after the redirect from github to `/auth/{state}`. This did not happen when using the links provided by the testing mode.

I eventually narrowed this down to the fact I was using a server level `proxy_cookie_flags ~ httponly secure samesite=strict;` in my nginx config to prevent XSS attacks. Unfor

[2022-04-14 14:20] simonwgill commented on #470
I have been trying to set up a failing version of this today.

However, over http, the setup works flawlessly even when I would expect it to fail. Unfortunately, I've run out of time to try it over https before the long weekend.

What I can give you for now is the specific log message I was getting hit with from https://github.com/vouch/vouch-proxy/blob/5e819a06b26a0683d01440bb1e4b34a506a29f60/han

[2022-04-14 16:31] bnfinet commented on #470
Thanks @simonwgill

It'll be helpful to see your configurations and having a better understanding of the domains you're protecting with VP and how the session and VP cookies are held.

Enjoy the weekend!  It may take a moment to respond next week as I will be engaged to another project.

[2022-04-19 09:49] nrukavkov opened #471 "Allow wildcard usage in whiteList param"
Hello. How can I allow to be authenticated for all users from one domain and some users for another?

I think it whould be nice to use construction in config file like:

whiteList:
 - *@onedomain.com
 - user1@seconddomain.com
 - user2@seconddomain.com

 Or allow to use regexp?

[2022-04-19 12:11] Amcinox commented on #467
I’ve read the issue and I think I am facing the same problem  ! But I haven’t  found a solution yet

I’m using **amplify** ( Cognito ) for auth on my app ( react native )
[code]
I’ve  used to send token in header as authorizer
[code]

But with vp I don’t know how to get cookies while using amplify for auth
Is there a way I can generate cookies myself and send with request ?
`axios.defaults.withCre

[2022-05-04 21:36] mig5 opened #472 "Special characters in URL throw "Not a valid login URL: requested destination URL appears to be invalid parse" / invalid URL escape"
**Describe the problem**

A user clicked a link to a website that is behind Vouch.

The URL was

[code]

The entire https://wiki.example.com site is behind Vouch (e.g not just this URL), but the link was to a specific page on the site. The user was not already authenticated via Vouch/the IDP.

The Vouch auth flow began but the user experienced a 400 HTTP error from Vouch. The underlying log entrie

[2022-05-04 22:08] bnfinet commented on #472
@mig5 thanks for the report

This is essentially a style choice of GoLang, enforcing a strict interpretation of special character encoding using '%'
https://github.com/golang/go/issues/29808

This explanation is succinct..
https://github.com/golang/go/issues/29808#issuecomment-455592457

Which wiki software is it?  Technically the error is theirs.

[2022-05-04 22:13] mig5 commented on #472
@bnfinet ahh, thanks for the explanation. That makes perfect sense.

The software is Mediawiki, same as that that runs Wikipedia. Indeed I guess it ought to encode `%` as `%25`.

Sorry for the noise!

[2022-05-04 22:13] #472 closed

[2022-05-04 22:26] bnfinet commented on #472
@mig5 that's not noise, that's a problem you're facing :)

There may be some way to handle it at the nginx level as that URL gets passed to the `/login?url=$URL` endpoint

As a bit of a hack for https://wiki.example.com/ you could set the `302` directive for VP to always point at one URL.  I know that means your users lose where they were trying to go but it will clean up the login flow.  You may

[2022-05-04 22:50] mig5 commented on #472
@bnfinet thanks! That's a good idea.

Actually it's interesting as I just realized that the same problem still occurs even if the param was encoded in the browser request:

https://vouch.example.com/login?url=https://wiki.example.com/wiki/%25@!_people_say&vouch-failcount=&X-Vouch-Token=&error=

^ still threw a 400 with the same message, but the message shows the `%25` has become `%` again. Presuma

[2022-05-09 20:05] Aspersat opened #473 "Cookie settings in config file ignored"
`Im` a noob but i got Vouch running andf working with Google Authentication. Using together with nginxit to Protect my Openhab Site.

Just the cookie expires after 4hours but i want it to live a little bit longer than the session Cookies of the Openhab Site.
Because if the Vouch Cookie expires before the Openhab Cookie i got reload issues. However...

I tried to configure the Cookie to last 7 days

[2022-05-09 20:18] Aspersat commented on #471
if i figured it out correctly the following config should have exactly this effect.. but... im very new to vouch and i could missinterpret what i experienced:;
[code]

[2022-05-09 20:54] Aspersat commented on #473
Stupid my it was just a configfile error.
i not obeyed that cookie and jwt are below Vouch.
So I Wrongly indented the code
Now its working.

[2022-05-09 20:54] #473 closed

[2022-05-11 00:09] SimonLemaireT2 opened #474 "Allow setting allowAllUsers: true without forcing cookie domain"
**Describe the problem**
We (Take Two) have hundreds of domains users authenticate to Okta with.  Including all of these under Domains makes the cookie far too large, so right now we're forced to only allow a subset of users to authenticate with Vouch.  Since we're only protecting an app that utilizes three domains, we really need to be able to set allowAllUsers: true while still having the cookie

[2022-05-11 14:39] nrukavkov commented on #471
[code]

[2022-05-12 08:33] Radiergummi opened #475 "Add _FILE environment variable variants to read sensitive configuration from files"
We're running Vouch in our Swarm cluster. All applications are configured from the CI deployment pipeline, and Vouch is no exception here. Currently, the JWT secret and OAuth provider configuration have to be passed as environment variables, which provides no protection for the values, so they are visible from internal monitoring dashboards which are accessible to all developers. We would like to

[2022-05-18 12:55] hbjydev commented on #108
@bnfinet You potentially could distribute the static assets separately and require the administrator to define the location to those assets?

[2022-05-18 17:21] bnfinet commented on #470
@simonwgill are you still working this issue?  I'd love to get a look at your configs and setup.

[2022-05-18 17:22] bnfinet commented on #471
dup #251

[2022-05-18 17:22] #471 closed

[2022-05-18 17:40] bnfinet commented on #475
@Radiergummi that seems like a pretty easy workaround and nice solution that covers any and all secrets held in the config both today and tomorrow.

I think using a template or `sed` to build the config and then setting `VOUCH_CONFIG` is a fine approach.

As per https://docs.docker.com/engine/swarm/secrets/ ...
"You can store any file as a secret as long as it is smaller than 500 KB"

Most VP conf

[2022-05-19 05:38] Radiergummi commented on #475
@bnfinet Yep, sure. It works fine this way :)

[2022-05-22 14:05] lolgab commented on #305
I want to use vouch-proxy as a language agnostic authentication layer since I'm trying to bootstrap a web stack for [Scala Native](https://scala-native.readthedocs.io/en/latest) which doesn't have any library for JWT or any OAuth web framework yet. Delegating this work to a sidecar running vouch-proxy seems like a great idea.

[2022-06-06 15:15] brokeDude2901 opened #476 "how to get the email stored in the x-vouch-user header as a variable in my app?"
My case:
mysite.com:9090/vouch_proxy_path
mysite.com:8443 (java 8 dropwizard backend)

Expected flow:
step1. vouch-proxy Google login success
step2. send POST request to mysite.com:8443/register
 to create a new $username as vouch-proxy Google email and generate $password, then store in server file user.json
step3. user now able to speak to server via HTTP authorization header

Problem is i dont k

[2022-06-06 23:02] bnfinet commented on #476
Here's how to pass the `x-vouch-user` from NGINX which in the case of Google will hold the email..
https://github.com/vouch/vouch-proxy/issues/421#issuecomment-919520144

And this shows how to use it from a SPA / browser based request (XHR)..
https://github.com/vouch/vouch-proxy/issues/421#issuecomment-919520144

[2022-06-07 20:29] #476 closed

[2022-06-07 22:23] bahamat opened #477 "Build-time hostname detection fails on platforms other than Linux and FreeBSD"
Hello, first time contributor here.

Building on various platforms will result in `error: Could determine the fully qualified domain name using command hostname --fqdn`

The reason for this is that the `-s` flag isn't supported. There's already an exception for FreeBSD. Notably, SunOS (illumos, Solaris), and macOS (Darwin) both don't support the `-s` flag.

I propose (and am willing to do the work

[2022-06-09 13:36] mattya802 commented on #91
In regards to `cookie: secure: false`, is that only traffic only from nginx/vouch to your application? Not traffic from your oidc provider back to vouch, right?

[2022-06-09 18:13] bnfinet commented on #91
@mattya802 yes that's correct.  Only config values under 'oauth' concern providers.  Anything under 'vouch' is about VP's interaction with nginx  or the browser.

[2022-06-13 23:23] tylerfontaine commented on #305
I used it to roll out a small python-based internal tool at my org. VP + NGINX allowed us to get this going without having to do any fiddly auth in the app itself, and plugged right in to our existing Google stuff.

Thank you!

[2022-06-13 23:42] Glowsome commented on #305
I am curious as to how the implementation was done by all, and in this the additional information if you have setup an approach via  subdomain or in-a-path ?
Would be helpfull to have this additional piece of information.

[2022-06-14 09:17] zakiharis commented on #180
anyone successfully integrate with traefik forwardauth ?

https://doc.traefik.io/traefik/v2.6/middlewares/http/forwardauth/

[2022-06-14 17:27] bnfinet commented on #477
@bahamat that'd be excellent!  PR welcome!

[2022-06-14 17:29] bahamat commented on #477
Great. I’ll submit it today.

[2022-06-14 17:32] bnfinet commented on #305
@Glowsome thanks for your interest in VP.  I'd like to keep this issue/thread really on point.

Could you please open an issue with that question.  I'm happy to point you in the right direction.

The `/examples` directory does have some items but certainly there's room for quite a bit more.

I'm going to delete you comment (and this one too).

[2022-06-15 00:49] Glowsome commented on #305
@bnfinet as my above comment in the past i mentioned i was working on an implementation regarding Microfocus/ (former NetIQ) IDP.
In this regardring behaviour i am happy to report that vouch works without any issues regarding authentication in a path-based-setup.

I must add the comment on the fact that my experience with nginx is poor , so facing some issues after authentication which i still nee

[2022-06-30 09:10] stlorenz opened #480 "Login in a shell session"
I am not sure if this is a specific vouch problem. Feel free to close if the following approach is just plain wrong.

I am using vouch in front of various applications and everything works as expected  in the browser.

But when I want to use `git clone https://our.gitserver.com/repo.git` I get a 301 redirect, which is basically expected because the session does not have a valid token.

But how wou

[2022-07-04 17:11] vumdao opened #482 "invalid syntax at converting 'tcp://172.20.247.10:9090' to type int"
I used AWS cognito with [config](https://gist.github.com/vumdao/1ca6066e12ead7d3f408541b587ab286)

[code]

`image: quay.io/vouch/vouch-proxy`

No idea what's wrong here

[2022-07-04 21:17] bnfinet commented on #482
Hi @vumdao

I'm guessing you've configured the port with a full URL but it's really hard to tell without more information.

Please read the README and supply the requested information in the manner described there.  Once we have that it'll be much easier to provide support.

Cheers!

[2022-07-06 16:23] vumdao commented on #482
Adding env to container fixed the issue
[code]

[2022-07-06 23:29] bnfinet commented on #482
@vumdao I'm so glad you were able to get it working.  Please do let me know if you have any further questions

[2022-07-07 06:31] vumdao opened #483 "Need help using vouch with EKS, AWS cognito and ALB ingress"
I got 302 redirect when accessing app domain

![image](https://user-images.githubusercontent.com/37215642/177705252-2bf4e2ac-2069-44ea-9fa1-f52efe5ec907.png)

Logs, nginx config, vouch config and services [here](https://gist.github.com/vumdao/92405b282c05182d29be0c191fa2552e#file-eks-cognito-vouch-md)

[2022-07-07 11:03] bnfinet commented on #483
That's the correct behavior in testing mode.  You should click on the last link to continue.

[2022-07-07 11:26] vumdao commented on #483
@bnfinet I click the last link which is the login page of cognito. After login, it redirect to callback URL which is `https://dev-vouch.cloudopz.co/auth` but not yet go to my app page. What should I do next?

Thanks.

[2022-07-07 11:31] bnfinet commented on #483
That's another 302, yes?  Click the last link again to go to your app.

[2022-07-07 11:40] vumdao commented on #483
@bnfinet
it's another 302 and if I click the last link again, it just double the line
![image](https://user-images.githubusercontent.com/37215642/177764952-4936df1a-6047-4719-b2aa-898eacb65e0a.png)

[2022-07-07 11:50] bnfinet commented on #483
Please update your logs and config in the gist.  Please provide complete logs from startup through all the click throughs.  Do not put them in an md file.  Please make sure that line numbers are displayed.

[2022-07-07 12:37] bnfinet commented on #483
Use 'cloudopz.co' as your domain.
https://gist.github.com/vumdao/0a788b4ff24279dc03462028ae68a10e#file-config-yml-L6

Remove 'cookie.secure: false' since you're using https.
https://gist.github.com/vumdao/0a788b4ff24279dc03462028ae68a10e#file-config-yml-L12

Remove any config item which is set to a default value.

Keep your config as simple as possible.

Those logs don't show the redirects through

[2022-07-07 16:59] vumdao commented on #483
@bnfinet I passed the validate and can go to the app URL, but the app domain just redirect to `dev-solr.cloudopz.co:8080/solr`
Is there any wrong in my app location at nginx.conf ?

New [vouch.log](https://gist.github.com/vumdao/63cd3c636705bb421b7d881ad1f5b4b6)

[nginx.conf](https://gist.github.com/vumdao/44cee1dcffee4d0af7485caeca63a115)

Thanks

[2022-07-07 17:16] bnfinet commented on #483
@vumdao it's really hard to follow your setup.  It appears that your domain names are different now and your VP config has changed.  That nginx config does not correspond to the logs you're offering.

VP is meant to protect one or more domains.  The VP cookie is set into one domain.  The cookie domain, the domain that VP is served from and the protected app must all be the same domain, such as clo

[2022-07-07 17:22] vumdao commented on #483
@bnfinet My domain is not changed, it is still `cloudopz.co` as you see in the log.

The log and the nginx.conf was what I used to test it, why do you see they are not related to each other? Please help to get the latest one, I had to change nginx.conf to fixed the validate flow

New [vouch.log](https://gist.github.com/vumdao/63cd3c636705bb421b7d881ad1f5b4b6)
[nginx.conf](https://gist.github.com/v

[2022-07-07 17:48] bnfinet commented on #483
In your prior gist you showed two different domain..

This line shows the domain `vincere.io`
https://gist.github.com/vumdao/44cee1dcffee4d0af7485caeca63a115#file-nginx-conf-L30

But the log shows `cloudopz.co`
https://gist.github.com/vumdao/63cd3c636705bb421b7d881ad1f5b4b6#file-vouch-log-L21-L22

The new logs and nginx config show VP working correctly and your app passing validation.

Is it worki

[2022-07-07 17:58] vumdao commented on #483
@bnfinet oops! sorry I forgot to obfuscate the nginx.conf, just tried to hide the real domain.

Yep, I change from http to https, maybe I will add back the `cookie.secure: false`, but for now as you see the validation works well, it just got stuck at https://gist.github.com/vumdao/44cee1dcffee4d0af7485caeca63a115#file-nginx-conf-L37

After login, I open `https://dev-solr.cloudopz.co` but it redire

[2022-07-07 21:30] jamesnicholls04 opened #484 "Beginner's troubles!"
Hi everyone,

I do not have a problem but rather a question as to whether vouch would be appropriate for my particular use case.

I am authenticating users on the client via Auth0, then wish to gate access to my API server to those users only. I would like the users to authenticate only the first time they use the app, and never again - certainly not each time they make a request to my server.

I

[2022-07-08 04:35] vumdao commented on #483
@bnfinet the issue was fixed after I add more config to app location
[code]

[2022-07-08 04:35] #483 closed

[2022-07-08 13:22] bnfinet commented on #483
@vumdao I'm glad that you did get it working

By not passing the request body to your app HTTP POST requests will usually not work.

https://developer.mozilla.org/en-US/docs/Web/HTTP/Methods/POST

Those last three items in that stanza are extraneous.  In general, I would suggest that you try to remove as much config as possible.

Best of luck!

[2022-07-08 17:35] bnfinet commented on #480
@stlorenz I do have this issue myself with a server which is on a specific local network.  I use the nginx directive `satisfy any` to allow traffic from the local subnet.

This example describes that strategy...
https://github.com/vouch/vouch-proxy/issues/378#issuecomment-814423460

Without doing backfilps, yes.

We have discussed enhancements such as  #362 client credentials which might be an opt

[2022-07-08 19:04] #470 closed

[2022-07-08 19:04] bnfinet commented on #470
@simonwgill I've closed the issue but feel free to continue the thread if you like

[2022-07-11 15:36] jamesnicholls04 commented on #484
Ah, I'm with you - thanks.

Of course this is beyond the scope now, but do you have any guess about how I might approach this problem?

Again, thanks for your help! Much appreciated.

[2022-07-11 16:27] stlorenz commented on #480
Thx a lot for the explanation.
I will follow your reccomendation then.

[2022-07-11 16:27] #480 closed

[2022-07-14 11:31] pulecp opened #485 "Domains are case sensitive"
Hello dear developers,

**Describe the problem**
I use Azure as a provider but I suppose that this issue affects all providers. The following log line should be self-explaining.

[code]
The domain comparison (I guess in [this part](https://github.com/vouch/vouch-proxy/blob/master/pkg/domains/domains.go#L39) of code for example) is case sensitive and does not allow to use just one variation like:

[2022-07-15 15:01] bnfinet commented on #420
@nicornk thanks for the kind offer but that's already been discussed here.  If you'd like to customize those templates your best bet is to carry a fork.

[2022-07-18 21:53] bnfinet commented on #484
@jamesnicholls04 there are many options out there.  I wish I could advise you but without a bunch more information it's hard to judge what would be best for you and your organization.

[2022-07-18 21:53] #484 closed

[2022-07-25 01:15] inklesspen commented on #312
It would be nice to have a way to configure the username extraction out of the user info response via the config file, perhaps using a [Go template](https://pkg.go.dev/text/template).

By default, Discord does not return the email address. It can be asked to do so, with an additional scope, but most Discord users are accustomed to identifying users by their username and discriminator, which are us

[2022-07-31 02:43] inklesspen opened #489 "How does the failure counter even work?"
I've been reading [login.go](https://github.com/vouch/vouch-proxy/blob/master/handlers/login.go) and I think the failure counter logic might not be working properly since #350.

The session is locked to the path `/auth/{state}/`, so the failure counter set in line 84 will surely not be available to the login handler, right?

[2022-07-31 03:14] squalus opened #490 "Support unix domain sockets"
I would like vouch-proxy to support listening on unix domain sockets. Currently, it only supports listening on TCP sockets.

The `listen` configuration item could support addresses like this: `unix:/path/to/socket`.

Proposed implementation in #488

[2022-07-31 03:19] squalus opened #491 "Support passing secrets using systemd LoadCredential directive"
I would like vouch-proxy to support the systemd LoadCredential directive for passing secrets. `OAUTH_CLIENT_SECRET` and `OAUTH_CLIENT_ID` are good candidates for this.

vouch-proxy could read the files at `$CREDENTIALS_DIRECTORY/<secret_name>` as a lower priority item than the environment variables.

Proposed implementation in #487

Systemd credentials documentation: https://systemd.io/CREDENTIALS

[2022-07-31 07:55] bnfinet commented on #491
@squalus thanks for your PRa and thank you for opening this issue and for bringing the conversation here.  I very much appreciate you taking the time to look at VP's code and implementing this improvement.

I'm not familiar with systemd credentials, but I'm curious..

There are several items including the OAuth credentials in the configuration which are secrets.  Could we hold the entire VP config

[2022-07-31 14:20] squalus commented on #491
I think the main purpose of this is to be able to manage the config file and the secrets in a different place. For example, your config file can be committed to git, or generated with helm or nix. And if you use systemd credentials, you can still manage your configuration in a nice way but leave the secrets out of it.

So I wouldn't want to move the entire configuration file to the secrets managem

[2022-07-31 15:58] bnfinet commented on #491
Yes thanks, but just humor me for a minute and help me explore a bit.. Is it possible to put the entire configuration into the $CREDENTIALS_DIRECTORY?

[2022-07-31 16:03] squalus commented on #491
Yes, you could do something like this:

[code]

And at runtime, vouch-proxy will be able to read the config file from `$CREDENTIALS_DIRECTORY/config`

[2022-08-05 23:51] bnfinet commented on #491
@squalus thanks for the clarification.  Sorry for the delay in response.  FYI - The next few weeks are going to be like this due to summer travel plans.

I like this idea.  By my reckoning it would be straight forward to implement, it is future proof and it allows other sources of config to be added in a similar fashion.

I'm uncertain of how to handle config elements being set by one config and t

[2022-08-06 00:08] bnfinet commented on #489
Yeah I think you're right.

Failure counter is meant to be path specific.  It's meant to check if the current path being accessed is in an infinite loop.  It may be broken, I don't recall triggering it personally in some time.

I've been thinking for a while that the failure counter and possibly error items being passed back to NGINX should go away and be replaced by something like a struct that g

[2022-08-06 00:16] bnfinet commented on #485
@pulecp yep, you're right, that's how it should work

All domains should be `string.toLower()`'d before compar.on.  Need to make sure that doesn't screw up unicode domains in any way.  Perhaps there's a comparison library that should be used but I haven't gone searching for one.

issue #324 and PR #325 are similar and relevant

[2022-08-06 01:21] inklesspen commented on #489
Best not to reuse secrets for multiple purposes, especially if there's a chance an attacker could introduce their chosen plaintext.

[2022-08-06 01:28] bnfinet commented on #489
@inklesspen could you please clarify, what's the problem with using a secret for the same purpose (signing) in multiple places?

[2022-08-06 01:32] inklesspen commented on #489
I'm not really an expert myself, but my understanding is that if you use the same key for your signin state and for the jwt, and there is some way an attacker can control the signin state, this could enable the attacker to plug arbitrary data into the signed JWT.

[2022-08-07 23:32] squalus commented on #491
Updated the PR to support a full config file overlay. It can either come through a new env var, or through CREDENTIALS_DIRECTORY. Other secrets management systems, like Docker secrets, could use the env var approach.

[2022-08-12 15:12] p-l- opened #492 "Docker version 0.37.0 won't build anymore"
Hi there,

The docker image for the latest released version (0.37.0) won't build anymore, because the `Dockerfile` forces the use of `golang:1.16` as base version and you need to use at least `:1.18`. I suppose one of your dependency, whose version was not fixed, now requires this version.

It builds by replacing `:1.16` with `:1:18`.

I suppose (not tested) that the problem also exists with the c

[2022-08-12 19:59] #492 closed

[2022-08-12 20:00] mend-bolt-for-github[bot] opened #493 "CVE-2021-38561 (High) detected in github.com/golang/text-v0.3.6"
## CVE-2021-38561 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>github.com/golang/text-v0.3.6</b></p></summary>

<p>[mirror] Go text processing support</p>
<p>

Dependency Hierarchy:
  - github.com/golang/net/go.mod-4163338589ed626ba11276b63facaef1f55349d4 (Root

[2022-08-12 20:05] bnfinet commented on #492
@p-l- thanks for the report and the kind words.

I've fixed this with a small adjustment to `go.mod` to specify `go.uber.org/atomic@v1.9.0`.  It now builds properly both locally and via the Dockerfile in a golang `1.16` environment.

I'm not quite ready to leave `1.16`.  IMHO the addition of generics in 1.18 is still working it's way through the golang community and core codebases.  Indeed it appe

[2022-08-12 20:39] #493 closed

[2022-08-13 14:40] nivekithan opened #494 "How to set up local environment for contributing"
Just as title says, I am interested in contributing to this project. But I am stuck on how to set up the local environment for testing and developing it.

If you have time, any help would be appreciated 😃 🙏🏿

[2022-08-13 20:07] Manca commented on #432
Hi @bnfinet -- I'll quickly reopen this one to clarify one thing.

Are you saying that protected domain such as: https://api.domain.com can't be accessed from anywhere else other than the local apps that are running under the same scope/server (such as: https://app.domain.com, https://www.domain.com, etc), basically the ones that share the VouchCookie? So if I wanted to Authenticate/Authorize usin

[2022-08-16 14:01] arun-898 opened #495 "Azure AD : Too many redirects because of unsuccessful authentication."
I am trying to set up vouch  proxy with Azure AD B2C with Drupal app using the following [example ](https://github.com/vouch/vouch-proxy/blob/master/examples/nginx/single-file/nginx_with_vouch_ssl.conf)

I have tried the following two providers.
**Azure provider:**
This fails immediately at `/auth` request because of the missing access token, so I decided to use ADFS
Error: `/auth Error while retr

[2022-08-16 17:26] bnfinet commented on #495
@arun-898 thanks for the detailed report.

It may be related to #445, that appears to be the same behavior.

I'm not an ADFS or Azure user and I'm not in a good position to assess this bug.

Are you able to populate the `Username` field as per the following?  I'm wondering if that would change the behavior.

`2022-08-16T13:14:52.481Z	DEBUG	User Obj: &{Username: Name: Email:test_user.test@gmail.com

[2022-08-17 06:27] arun-898 commented on #495
Thanks @bnfinet  for the quick response, I am trying to populate Username with available attributes.

[2022-08-17 13:00] arun-898 commented on #495
I was not able to populate the username but I noticed some issues with claims.
After removing claims from the vouch config and Nginx config  I was able to navigate to my app URL with `testing: true`.
but when I keep `testing: false` it results in too many redirects

[2022-08-17 13:41] bnfinet commented on #495
@arun-898 I notice you're using
v0.27.1 of Vouch Proxy.  Could you please update your version of VP

If you still have problems after upgrade, please do offer logs and config.

[2022-08-17 17:52] arun-898 commented on #495
Thanks @bnfinet for the info, I have updated the latest VP tag `v0.37.3`, I will share the latest logs.

[2022-08-17 19:15] arun-898 commented on #495
@bnfinet In the latest logs also I am getting the same error.
`2022-08-17T19:00:06.452Z	WARN	no User found in jwt`
is it possible to override other files in the vouch proxy repository, I am able to override  config.yml only
`  image: quay.io/vouch/vouch-proxy:alpine-latest
    volumes:
      - ./vouch/config/config.yml:/config/config.yml`

Can you please suggest how I can override the required fil

[2022-08-17 19:26] bnfinet commented on #495
@arun-898 could you please publish those logs and the current config you're using to a gist as before?

The best way to do that is to download the vouch-proxy source code from this git repo and then run `/do.sh dbuildalpine` which will build a new alpine docker image which you can use.

[2022-08-18 03:25] arun-898 commented on #495
@bnfinet I have updated the logs and config for Vouch Proxy v0.37.3 in the ticket description, please have a look at the logs.

[2022-08-18 19:23] bnfinet commented on #495
@arun-898 I'm glad it's working for you with those changes.  I think that confirms what we already know from #445.

I'd be very curious to understand why it was working with `testing: true` but not with `testing: false`.

[2022-08-19 04:01] arun-898 commented on #495
@bnfinet yes Changes added here #445 will be required for ADFS user object as well until we move to `sub` logic  #310

Please ignore this, I misunderstood this with `testing: false` I was able to redirect to app URL but when I click on the app URL, it was again redirecting me to the IDP. This is fixed now with latest config.

[2022-08-19 09:56] addich commented on #406
the ARM builds are still on docker hub, only with the tag "latest-arm". Would it be possible to add version tag too?

[2022-08-19 14:28] zoriax opened #496 "Azure / Nginx : Multiple sites, one vouch"
Hi everyone,

I read some issue about this feature but I can't find any correct solution. So maybe you can help me to find the best way to achieve what I'm looking for :-)

How can I use different client_id based on my nginx server for the same domain name ? For exemple I have :
- App1 : financial.domain.com -> Azure App 1 with specific access rights
- App2 : support.domain.com -> Azure App 2 with

[2022-08-19 18:40] bnfinet commented on #496
@zoriax yes that's correct.  Spin up one vouch proxy per access rights.  VP is pretty efficient memory wise.  There's further discussion in other closed issues.

[2022-08-19 18:40] #496 closed

[2022-08-20 08:03] zoriax commented on #496
Ok thanks for your return ! I assume I need to copy/paste my compiled vouch-proxy in separate directories to have one VP per app ?

[2022-08-20 16:04] bnfinet commented on #496
No, you should be able to keep the binary in one place and use the environmental variables to configure VP.

[2022-08-21 07:20] zoriax commented on #496
Nice ;-) ! Sorry for my lack of knowledge but do you have a simple example for that ? I think it could be a really plus to have this kind of configuration in default doc :-)

Many thanks

[2022-08-21 14:05] bnfinet commented on #496
I support the effort but I'm short on time.  Can you show me what you've tried so far?

[2022-08-21 14:47] zoriax commented on #496
For now I just copy paste 2 times vouch, in 2 different directories with 2 different config files :
- Folder A : vouch and config
- Folder B : vouch and config
I tried with a vouch in parent folder and config in folders A and B then I "ln" vouch in each folder. But impossible to target different config file. I don't know if it is possible to launch for exemple a command with something like : vouch

[2022-08-21 16:34] bnfinet commented on #496
please read the README and consult the config.yml_example.

Keep your configs in different directories.  Use a different $VOUCH_CONFIG to reference each config.

[2022-08-22 10:56] zoriax commented on #496
Thanks for your return. I read the doc but there as I can see there is noting about $VOUCH_CONFIG in config.yml_example. Sorry :-(

So know, how can I set different config files and where ? I I understant the logic, I suppose I can set something like that :
[code]
Many thanks !

[2022-08-22 11:32] bnfinet commented on #496
When I do a Google search for $VOUCH_CONFIG, the first hit is what you say you can't find.  It's from the README of this repo.

@zoriax I'm so sorry, I just don't have the capacity at this time to guide you further.  If you figure it out, please do post your solution here.  I agree, that could be useful to others.

[2022-08-22 14:55] zoriax commented on #496
Ok thanks @bnfinet I understand you are busy !

But unfortunatelly, without a good example it will be complicated to do it mayself. It's a pity because it's a feature that seems essential. I think if you can "update" vouch to be "multiple instances" by design it will be a more awesome app ! And if you found time to add a little point in README about it I think it could be very very usefull for all

[2022-08-22 15:43] zoriax commented on #496
Ok, so don't waste your time :-), I've got it ! Let me explain here and give you a basic example (hope it will help) :

### Prepare Vouch

1. Compile vouch and move it to /opt/vouch-proxy (or where you want)
2. Create your multiple config files, for exemple, config_file_App1.yml, config_file_App2.yml
3. Add your different parameters here. **Be carefull,** if you want to run multiple vouch, you nee

[2022-08-22 17:03] bnfinet commented on #496
@zoriax thanks for sharing your solution.  I'm so glad you got it working.  Cheers.

[2022-08-26 13:38] zoriax opened #498 "Azure and 400 Bad Request"
Hi everyone,

After a few days of success with vouch-proxy (in a path). I restarded it today and suddently, I have this kind of error

[code]

And in my proxied app I have :

![image](https://user-images.githubusercontent.com/12936546/186913475-76a04ee6-4f4e-405f-a399-b9eba302900b.png)

I don't exactely what happends. I tried to stop, edit config change my NGINX config but no change :-(

Can you h

[2022-08-28 06:54] zoriax commented on #498
Effectivley after some search it is regarding to Azure configuration. I closed this issue :-)

[2022-08-28 06:54] #498 closed

[2022-08-29 09:37] zoriax opened #499 "Vouch and CORS"
Hi everyone !

After a week of search and debug, I can't find the way to solve CORS issue when my app is authenticated with vouch and Azure.

I have in my debug log this behavior :
[code]
Related to this error in my browser console :
[code]

I have the OPTION setting in NGINX (regarding to other issues), and I have ```    add_header                          Access-Control-Allow-Origin "*" always;`

[2022-08-29 11:03] zoriax commented on #499
Ok I think I have a solution here. As I can see there is a difference betweend
[code]

And

[code]

So for you what is the correct config ?

[2022-08-29 11:09] bnfinet commented on #499
@zoriax welcome back

Could you please read the README on how to post a support issue.  A gist with full logs and complete configs connected to line numbers would help me considerably.

[2022-08-29 11:46] zoriax commented on #499
@bnfinet sorry for that. I've missed this part in issue description. I will try to reproduce a complete example in lab and give you here more informations. But as I can see it's related to the difference betweend domains or allowAllUsers: true

[2022-09-01 08:27] zoriax commented on #499
After some search in lab, it was due to cookie MaxAge. After 240 minutes, my xhr request failed due to cookie expiration.
I have a question about cookie maxAge. In config example, you says :  _Must not be longer than jwt.maxAge_ but what should I put in jwt.maxage if cookie.maxage is 0 ?

Thanks

[2022-09-01 17:20] bnfinet commented on #499
Hi @zoriax

TBH I'm not sure what would happen with `cookie.maxage: 0`  Did you try it?  What did happen?  My recollection is that an error is logged when one exceeds the other.

I'm going to close this as it has veered away from it's original intention but feel free to continue posting here and I'll provide answers as I can

[2022-09-01 17:20] #499 closed

[2022-09-05 06:17] zoriax commented on #499
HI @bnfinet,

With ```cookie.maxage: 0```, the cookie stay active unitl you close and restart browser. It's why I need to know what value I had to set in ```jwt.maxage```

[2022-09-05 06:26] bnfinet commented on #499
@zoriax how long would you like to have the jwt be valid for?  The default is 240 minutes.  When the jwt is invalid, a user will need to login again.

[2022-09-05 06:49] zoriax commented on #499
Ok thanks ! I'm not sure it's related to vouch but when my token expire and I run an "ajax" query, I'm not redirected to login page. I need to refresh my browser to do that. Do you think I can act directly on this behaviour with NIGNX and Vouch ?

[2022-09-08 14:24] zoriax opened #500 "Customize error page / Redirect to custom page"
Hi !

I just have a questoin, is it possible tu customize Vouch error page ? For example, it should be nice to have a way to redirect http 400 or 403 to a custom page. Is it possible to do that ?

For example, I need to change language beacause my dosen't seek english :-)

Thanks

[2022-09-08 14:41] zoriax commented on #232
Hi !

I think the best way here is to add something in vouch auth URL, for example ```/authenticate/auth?blablabla&http=403``` and the triggering this parameter with NGINX, like that :

[code]

[2022-09-08 17:19] bnfinet commented on #500
please see #420 and #452

`il8n` multi language translation of the existing templates certainly makes sense, perhaps in a manner similar to https://golangexample.com/i18n-for-golang/

Please fee free to open an issue specific to that effort

[2022-09-08 17:19] #500 closed

[2022-09-09 12:37] iercan opened #501 "Using vouch with http basic authentication"
Hi. I'm trying to configure vouch proxy with `auth_basic` module. But because of 401 redirection, I'm ending up infinite redirection. I've tried `satisfy all` but didn't work. #390 is also opened about this without any solution. I'd be happy if anyone share a workaround for this.

[2022-09-09 13:18] iercan commented on #501
I've managed to do that by adding a dummy proxy server and configured basic_auth on that server. Here is how my config look like. Hope it helps someone else.

[code]

[2022-09-09 13:18] #501 closed

[2022-09-09 16:17] bnfinet commented on #501
@iercan thanks for sharing this solution!  Much appreciated.

[2022-09-17 07:11] onlookor commented on #145
I have the same requirement, and the log reports the same quoted above.

[2022-09-17 08:20] onlookor commented on #145
I copied out the ca-certificates.crt from container, appended my ca.crt, then copied back to container. It works for me.
Could you ease the restriction of CA, provide some convenient way for this case?

[2022-09-17 10:28] bnfinet commented on #145
@onlookor I'm glad you got it working.  Could you please document your full fix including paths?  I'm sure others would appreciate it.

I think @aaronpk has it right, we don't want to have a knob that allows VP to be less secure.  That error is a good error.  If you're using a self signed CA then you'll need to manipulate the container manually as you have.  IMHO VP/golang http request is doing th

[2022-09-19 08:10] onlookor commented on #145
The full fix:

1. In CLI, run `docker cp vouch:/etc/ssl/certs/ca-certificates.crt .` - replace the `vouch` with your container name.
2. Open local ca-certificates.crt in text editor, append the content of your self-signed CA.
3. In CLI, run `docker cp ca-certificates.crt vouch:/etc/ssl/certs/ca-certificates.crt` - replace the `vouch` with your container name.

However, it's common to use self-sign

[2022-09-22 08:22] maxdd opened #502 "Is Office365/LDAP supported?"
Hello,
As per the title is LDAP supported or will it be supported?

[2022-09-22 10:33] bnfinet commented on #502
@maxdd not likely, VP is very much on the OAuth side of life.  Though never say never.

[2022-09-22 10:33] #502 closed

[2022-10-05 23:47] Sharpz7 opened #503 "Subdomain and parent-domain on different servers with vouch on each."
**Describe the problem**
Hey, so I am using version 0.19.2 (Have there been any breaking changes since then?)

I have got two servers, both with a protected app. The issue is that they both share a common base domain.

The first server is just on mcaq.me, and the protected app is vs.mcaq.me
The second server is compute.mcaq.me, and its protected app is vs.compute.mcaq.me.

Both servers generate a

[2022-10-06 00:26] bnfinet commented on #503
Are you using two instances of Vouch Proxy? You may be able to use a distinct `VOUCH_COOKIE_NAME` for each system.

@Sharpz7 VP is currently at `v0.37.0`.  That version is a bit "long in the tooth". Could you please upgrade and then see if you're still having problems.

If you are indeed still experiencing this issue I'd ask that you please read the README with regard to how to best offer your log

[2022-10-06 00:36] Sharpz7 commented on #503
@bnfinet It is two instances of vouch-proxy. I should have made that clear, sorry. Would I use `VOUCH_COOKIE_NAME` instead of `VOUCH_COOKIE_DOMAIN`??

Also, I will upgrade now :)

[2022-10-06 05:47] bnfinet commented on #503
@Sharpz7 so glad it was that simple.  Cheers!

[2022-10-08 22:04] sambernet commented on #406
How exactly could we help to get the ARM images back?
I have some PIs available and I would be willing to support this effort, as I'm using `vouch-proxy` on my home network on arm as well.

If I understand correctly, the clean way here would be to migrate to a multi-arch image, which means building the manifest or using `buildx` to build the image? Or what exactly is missing, and how could I help

[2022-10-08 22:39] bnfinet commented on #406
@sambernet pretty sure the arm image here is current...

https://hub.docker.com/r/voucher/vouch-proxy/tags

The broader effort of completing the full migration to quay.io is still needed, including proper tagging and versioning.  Help would be appreciated.  If you're up for reviewing the relevant items in the '.github' directory and offering some suggestions or a PR that'd be much appreciated.

[2022-10-24 08:46] tboerger opened #504 "Limit access with Keycloak based on role/group?"
**Describe the problem**

Is it possible to limit the access based on Vouch and Keycloak as an IdP on roles or groups similar to orgs and teams with the GitHub provider?

**Expected behavior**

Limiting access based on Keycloak roles or groups

[2022-10-26 13:42] ShyLionTjmn commented on #309
I have allowAllUsers: true, but still, user gets redirect loop, if it does not have email.

[2022-10-27 05:57] ShyLionTjmn commented on #504
You may request groups claim and put it into headers. Then read them in HTTP request in your app and do whatever you like, based on group membership.

[2022-10-27 10:02] tboerger commented on #504
The app does not provide any option like that. I thought hopefully Vouch supports limitung access based on groups like it's oauth2-proxy doing.

[2022-10-27 10:05] ShyLionTjmn commented on #504
Well, it is not what vouch were designed for, i guess.
But, if you are using Keycloak, you may just fine-tune your realm, i think.

[2022-10-27 17:35] bnfinet commented on #504
@tboerger Hell there!

The suggested method for doing such is currently to use the `lua` enabled version of Nginx called "open resty".  Please see the `/examples` directory in this repo for detailed documentation.

I'd like to add additional functionality for groups facilities (or really RBAC on any claim) to VP but there are a few other items ahead of this one and I'm currently buried in other pr

[2022-10-27 17:35] #504 closed

[2022-10-27 17:49] tboerger commented on #504
Thanks for the feedback. Sadly open resty wouldn't work for me as I want to avoid switching my ingress controller.

But since you are open for such a feature I will dig through the code and see if I can contribute something similar to the suggestions mentioned eighth the linked issue.

[2022-10-27 18:00] bnfinet commented on #504
@tboerger that would be wonderful!  I'll leave a few more notes in #175

[2022-10-27 18:10] bnfinet commented on #175
(follow on discussion from #504)

@tboerger when I think of this feature it probably...

* lives in `pkg/rbac/rbac.go`
* follows most of the design that @phibos lays out above
* allows us to rename `vouch.whitelist` to `vouch.allow` (with backward compatibility for now)
* is subordinate to the existing `vouch.whitelist` (`vouch.allow`) list (must clear that first if present)
   * perhaps that logi

[2022-11-11 19:35] lerminou commented on #145
In a kubernetes environment, the full fix doesn't look good.
It may be better to have a initContainer to perform this merge.

I'm starting using Vouch proxy in our cluster and I have the same error as above

[2022-11-14 23:36] nichogenius commented on #149
@bnfinet

I would like to argue for refresh token support.

There is value in short-lived access tokens.  If an access token is only valid for 5 minutes, a user's access can be revoked without having to wait for longer than 5 minutes.

There is value in long-lived tokens.  If a token only lasts 5 minutes, a user must login again every 5 minutes.  This isn't too bad if your IdP allows cookie based

[2022-11-14 23:41] aaronpk commented on #149
Refresh tokens are not meant to be used to indicate session lifetime of consuming applications. Both access tokens and refresh tokens are used when a client accesses protected resources. Vouch uses OAuth only as an SSO mechanism, and does not make use of access tokens other than when an IdP doesn't support OIDC but has its own mechanism for retrieving user info after login. Refresh tokens don't ma

[2022-11-15 00:48] nichogenius commented on #149
I guess the functionality that I am missing is I don't have a way for my IdP to revoke access to a resource without having a very short Vouch session duration and forcing a redirect to the IdP.  The use case I am describing is more of an authorization concept than an authentication concept as you pointed out, so it falls outside of the scope of what Vouch is designed to do.

For my application, I

[2022-11-20 13:40] davegaulke opened #505 "docker image inaccessible"
Here’s what I see when trying to pull the image from quay.io. I can pull other images from quay.io without problem.

Trying to pull quay.io/voucher/vouch-proxy:latest...
Error: initializing source docker://quay.io/voucher/vouch-proxy:latest: reading manifest latest in quay.io/voucher/vouch-proxy: unauthorized: access to the requested resource is not authorized

[2022-11-20 18:23] bnfinet commented on #505
@davegaulke 'voucher' in those image names should by 'vouch'...

quay.io/vouch/vouch-proxy

 Did you see that URL on the documentation?  Do let me know if there's a docu-bug.

[2022-11-20 18:23] #505 closed

[2022-11-21 10:42] avishayil commented on #219
I just got here from google searching since I tried to find an easy way to investigate the token.
I wrote a simple python parser tool: https://gist.github.com/avishayil/c6972d7c573032998b753128f2485c66
@bnfinet if you think that's inappropriate (since you sent the OP to do some homework) you can edit / delete my comment.

Thanks

[2022-11-21 10:49] avishayil commented on #219
I just got here from google searching since I tried to find an easy way to investigate the token.
I wrote a simple python parser tool for vouch-proxy cookie: https://gist.github.com/avishayil/68a410e47aba108509a424f46506ce4d
@bnfinet if you think that's inappropriate (since you sent the OP to do some homework) you can edit / delete my comment.

Thanks

[2022-11-21 14:19] bnfinet commented on #219
@avishayil not inappropriate at all!  Thanks for the contribution.  Would you mind if I linked to it from the README?

[2022-11-21 14:22] avishayil commented on #219
Of course! Feel free :)

[2022-11-29 07:30] avishayil opened #507 "Cognito: /auth Invalid session state: stored %!s(<nil>) on first login"
**Describe the problem**
I'm trying to utilize vouch proxy in order to secure Kuberentes Dashboard (blog post coming soon btw)
Vouch proxy returns response code 400 on first login using Cognito user pool OAuth provider
Deployed on EKS with helm chart, route53 domain points to ingress-nginx alb, then route to vouch-proxy to perform auth. Cognito provides the JWT, then vouch-proxy instructs ingress-

[2022-11-30 01:34] flipsed opened #508 "Bypass vouch for IP range with k8s ingress"
**Describe the problem**
I have vouch configured on a k8s ingress and I would like to add a bypass rule based on an IP range. This is a similar question to https://github.com/vouch/vouch-proxy/issues/378 but specific to k8s ingress. I'm using okta as an IdP.

**Expected behavior**
When using the annotations below I would expect the following behaviour from the k8s ingress: if a request comes from

[2022-11-30 04:06] bnfinet commented on #508
@flipsed I'm not currently a k8s user so I may not be the best resources to help here.

Could you please add a bit more context?  The README describes the preffered method of submitting an issue, please do that.  But also I'm curious about where your k8s is hosted and anything else about that operating environment.

This is an interesting discussion which may be relevant...
https://github.com/kube

[2022-11-30 04:10] bnfinet commented on #507
@avishayil happy to help but I need more info.  please consult the README for what to provide when submitting an issue.

[2022-11-30 17:03] airpaio opened #509 "help to get vouch-proxy working with Okta"
I'm looking for help to get vouch-proxy working with Okta on a simple web app. The app is a python Dash (flask) application, and I am running the dash app, nginx, and vouch with docker-compose on an AWS EC2 right now. I'm not running the app with SSL right now, just trying to get it working first with vouch.

When navigating to the app from Okta, I only ever get a Vouch Proxy 400 Bad Request page.

[2022-11-30 17:54] airpaio commented on #509
I finally figured out my problem. Turns out it was an overlooked Okta setting. Here's what I did in case anyone else comes across this issue.

I came across the log message

`{"level":"warn","ts":1669830268.1314,"msg":"/auth Error from IdP: access_denied - Policy evaluation failed for this request, please check the policy configurations."}`

In Okta I had to go to Security -> API -> default Author

[2022-11-30 17:54] #509 closed

[2022-11-30 21:31] airpaio opened #510 "not setting vouch cookie when navigating to app from okta chicklet"
I have a basic python Dash (flask) application running with vouch and nginx configured, and Okta as my SSO provider.

The issue I am facing is when there is not currently any vouch cookie set, and I try to reach my application from the Okta chicklet, I get a vouch 400 Bad Request with `no jwt found in request` in the logs (I am already signed in to okta). If I navigate to the app's url directly in