[2020-07-10 15:42] tomsmyers commented on #290
thanks for the comments, i opened a PR to add support for my azure ad config by simply mapping `upn` claim to username and email (based on the docs, `upn` is an email address), unless the fields already exist in the token.

https://github.com/vouch/vouch-proxy/pull/292

[2020-07-10 18:45] #290 closed

[2020-07-10 19:22] bnfinet commented on #290
@tomsmyers thanks much for the addition to VP!

[2020-07-10 20:06] bnfinet commented on #114
We'd like to transition away from `whitelist` to `allow`

[2020-07-13 02:08] martindb commented on #287
Ok, that’s sounds good. I don’t have any experience with go and very little with github, but I can try to fix it and send a PR.

[2020-07-13 17:30] bnfinet commented on #284
@trasba were you able to resolve your problem?  If you're no longer working on this could you please close the issue?

[2020-07-13 17:31] bnfinet commented on #257
@tangel0v I'm going to close this, please do let me know if you'd prefer to re-open to work on the issue further.

[2020-07-13 17:31] #257 closed

[2020-07-13 22:09] martindb commented on #287
I was reviewing the code and didn’t found the root cause.... it seems that the voucher headers configs  values only apply to the header and not if the original jwts are embedded in vouch jwt.... is this correct?

[2020-07-14 17:29] Choo57 opened #293 "renderError is not picked up in /validate, so default nginx error page is displayed"
**Describe the problem**
We added the following code block to handlers/validate.go, just above the "if !claims.SiteInClaims(r.Host)" check:
[code]
Here is the "send403or200PublicAccess" method:
[code]

**Expected behavior**
Whenever this code is executed (i.e. the Okta group user is assigned to is not found in the URL they are trying to access), we were expecting to see the responses.Error403 page

[2020-07-14 17:29] bnfinet commented on #287
@martindb I'm sure it's a bit convoluted to follow but essentially the `Ptokens.PAccessToken` and `Ptokens.PIdToken` which are populated by the ADFS `user_info_url` response are added to the `jwt` here:
https://github.com/vouch/vouch-proxy/blob/master/pkg/jwtmanager/jwtmanager.go#L76-L110

I'd suggest adding logic there which checks if `Cfg.Headers.AccessToken` or `Cfg.Headers.IDToken` is set.  If

[2020-07-14 17:45] bnfinet commented on #293
@Choo57 This is related to how the Ngixn `auth_request` module works.
https://nginx.org/en/docs/http/ngx_http_auth_request_module.html

for `responses.Error403` you'll need to accommodate the return with `error_page 403 = @error403;` similar to the README's `401` setup with an associated `@error401` block.

However you won't be able to render the VP response without some additional Nginx setup.

I

[2020-07-14 18:53] Choo57 commented on #293
Hi @bnfinet many thanks for the very fast response.

What would work very well for us would be to render the VP error page in case of a 403 Forbidden error that is captured in the /validate endpoint (i.e. be able to use "responses.Error403(w, r, e)" call inside handlers/validate.go). This would save us from configuring a separate `error_page 403 = @error403` in nginx.

In the bigger picture, we ha

[2020-07-14 19:41] bnfinet commented on #293
@Choo57 that's interesting functionality which would be a nice addition to VP.

Unfortunately architecturally that's not going to work to add it to `/validate`.  The `/validate` endpoint is evaluated once and then the response headers are cached for the jwt (see `/main.go`).  If that `/jwt` is offered once against a valid endpoint and then against an invalid endpoint (under your criteria) then the

[2020-07-15 12:56] jaken551 opened #294 "Slow load times after successful auth"
**Describe the problem**
When putting services behind the vouch proxy, everything is working as expected. Without a cookie, I get redirected to the OpenID provider. Login is successful and I am redirected to the service.

While the vouch proxy annotations set on my service's ingress, load times are incredibly slow (45-120sec). There are occasional `upstream timed out` logs on the nginx-ingress as

[2020-07-15 13:22] bnfinet commented on #294
Please post  your logs and config in the manner described in the README.

On Wed, Jul 15, 2020, 5:56 AM jaken551 <notifications@github.com> wrote:

[2020-07-16 20:51] nishthas opened #295 "token contains an invalid number of segments"
logs: https://hastebin.com/uqewodetop.js
nginx.conf: https://hastebin.com/uzegikepay.pl
vouch.conf: https://hastebin.com/ugevuyonuj.cpp

We have a requirement where we want multiple auth_request directives and hence used this approach. The auth_request is directed to vouch if the first server fails.

All was working when it was straight forward like https://developer.okta.com/blog/2018/08/28/nginx

[2020-07-16 21:54] bnfinet commented on #295
@nishthas those hastebin.com links are empty.  :(

hastebin.com was down for a while, I'm not even certain if it's working properly.  https://hasteb.in/ seems to work fine, or a gist is fine too or another paste service of you're choosing.

[2020-07-16 23:25] martindb commented on #287
Great. That’s sounds good. Right now I’m figuring how to configure the go dev environment.

[2020-07-17 00:52] martindb commented on #287
I can compile go!

@bnfinet what do you think about doing this to avoid changing the VouchClaims struct:

[code]
Also, for this to work I have to comment out the header default in .defaults.yml file:
[code]

The decoded JWT will be like this:
[code]

[2020-07-17 05:06] nishthas commented on #295
@bnfinet here [gist](https://gist.github.com/nishthas/72d1f75acfb034f3b5af634788c8e767)

[2020-07-17 05:53] Choo57 commented on #293
many thanks @bnfinet for the hints. Here is what we ended up making:

in the nginx conf file, right under README's error401 block, added the following error403 as you mentioned and redirected to the /auth endpoint with a state=forbidden parameter

[code]

to capture the forbidden state, added the following conditional check in auth.go just above the line where query state is validated against the

[2020-07-17 05:58] #293 closed

[2020-07-17 12:35] rickdonato opened #297 "native TLS / SSL / https support (instead of relying on Nginx)"
Is there a way to enable SSL on the Vouch Proxy. i.e Rather then just performing SSL up to NGINX and then sending it on as HTTP to Vouch?

Thanks,

[2020-07-18 21:00] nishthas commented on #295
Hi @bnfinet, Team

Did you get a chance to look at the issue?

[2020-07-20 11:07] nishthas commented on #295
got it working. the issue was having the error 401 page inside the upstream server and not the actual app server. Once taken to the correct location, it worked fine :)

[2020-07-20 11:07] #295 closed

[2020-07-22 17:47] bnfinet commented on #294
@jaken551 are you still working this issue?  If not would you please close it.

[2020-07-22 17:53] bnfinet commented on #295
@nishthas I'm so glad to hear it.  Sorry I wasn't in a position to offer support during these past days as I was away.

[2020-07-22 18:07] bnfinet commented on #287
@martindb Welcome to `go`!

That all seems like a fine approach.

Please do run `./do.sh gofmt` and `./do.sh test` before you submit the PR.  If the perf test is failing you can run `ISTRAVIS=true ./do.sh test`

Thanks for the contribution!

[2020-07-22 18:27] bnfinet commented on #297
@rickdonato there is no direct TLS/SSL/https support in VP at this time, however it shouldn't be too hard to add to VP with some minor modifications to `main.go` and `cfg.go`

This looks like a nice setup to mimic....
https://github.com/denji/golang-tls#perfect-ssl-labs-score-with-go

I'd suggest new config params `vouch.tls.cert` and `vouch.tls.key`

@rickdonato do let me know if this something y

[2020-07-23 12:08] martindb commented on #287
Great @bnfinet
I've sent the PR, I hope all it's OK (sorry, It's my firt PR in github)

[2020-07-24 22:42] #294 closed

[2020-07-24 22:42] #284 closed

[2020-07-28 12:14] nishthas opened #299 "return username and not useremail"
I want to return username to my django app behind nginx(by setting up REMOTE_USER variable)

I tried using `$upstream_http_x_vouch_idp_claims_preferred_username` but it looks to be setting the header
`2020-07-28T11:58:39.891Z	DEBUG	Adding header for claim preferred_username - X-Vouch-IdP-Claims-Preferred-Username: xyz.abc@domain.com`
i.e again the email and not the username
Is it possible to retur

[2020-07-28 20:18] bnfinet commented on #299
@nishthas could you either post your config in the manner described in the README or at least describe your `idp`, operating environment and setup.  Which `claim` contains the `username` from your `IdP`?  Have you looked at the custom claims documentation in [config.yml_example](https://github.com/vouch/vouch-proxy/blob/master/config/config.yml_example#L122-L137)?

[2020-07-28 20:50] nishthas commented on #299
@bnfinet apologies for not sharing the configs.
Here- [gist](https://gist.github.com/nishthas/092f93d01a61662f31d4b630359fb320)

I have looked at custom claim and it looks to be setting the header, just not to username.

[2020-07-29 09:03] nishthas commented on #299
It was a missing claim. Thanks for the help!

[2020-07-29 09:03] #299 closed

[2020-07-29 18:32] bnfinet commented on #299
@nishthas so glad to hear it.  For future reference, what was the missing claim that corresponded to `username`?

[2020-07-30 08:34] stagging18 opened #300 "Auth Request unexpected status: 302 while using proxy_intercept_errors on; in Nginx config file"
In Nginx while i am Enabling the proxy_intercept_errors /login request is failed due to the below errors.
*926 auth request unexpected status : 302 while sending to client, client: client address, server: server address, request: "GET /portal/ HTTP/1.1" host:"host name"

While disabling the proxy_intercept_errors it is working fine.

[2020-07-30 08:43] stagging18 opened #301 "400 bad request: too many unsuccessful authorization attempts"
Some times i am getting 400 bad request error in my browser due to the below logs.

{"level":"debug","ts":1596090718.2467093,"msg":"saving session with failcount 12"}
{"level":"error","ts":1596090718.2467723,"msg":"/login Too many unsuccessful authorization attempts for the requested URL scheme://host/uri"}

Please let me know on which case i can see these errors and how prevent this in vouch.

[2020-07-30 15:03] bnfinet commented on #301
Please read the README regarding posting an issue.

On Thu, Jul 30, 2020, 1:43 AM stagging18 <notifications@github.com> wrote:

[2020-07-30 15:05] bnfinet commented on #300
Please read the README regarding submitting an issue.

On Thu, Jul 30, 2020, 1:34 AM stagging18 <notifications@github.com> wrote:

[2020-07-30 17:06] bnfinet commented on #300
@stagging18 lets work one issue at a time til you're up and running

closing in favor of #301

[2020-07-30 17:06] #300 closed

[2020-07-30 18:23] nishthas commented on #299
@bnfinet It was `samAccountName - X-Vouch-IdP-Claims-Samaccountname` for us

[2020-07-30 19:41] bnfinet commented on #287
fixed in #298

thanks @martindb !

[2020-07-30 19:41] #287 closed

[2020-08-04 07:46] rickdonato commented on #297
Thanks. Unfortunately, as it stands I've not developed in Go.

[2020-08-04 08:15] bobyin opened #302 "multiple redirects"
Hi, I'm a still learner for this, hit a problem that

We have a site with multiple domains, for example "tools.com" and "mysite.com",

When I goto dev.tools.com works fine with okta oauth, but dev.mysite.com not, keep looping redirect, don't know why.

Here is my config files and logs

dev.tools.com nginx config: [https://hasteb.in/ahaconox.nginx](https://hasteb.in/ahaconox.nginx)
dev.mysite.com n

[2020-08-04 12:59] bnfinet commented on #302
in order for `mysite.com`and  `world.com` you will need to setup multiple `callback_urls`.  VP relies on setting a cookie during the call to `/auth`

[code]

in this configuration you will need to remove `cookie.domain: mysite.com` which will only allow VP to service `mysite.com`

If you require more support please do turn on testing and submit full logs including startup.

[2020-08-05 03:07] bobyin commented on #302
Thanks @bnfinet !!

It works based on your response and one more change in the mysite.com nginx config file,

    location @error401 {
        # redirect to Vouch Proxy for login
        return 302 https://login.tools.com/login?url=$scheme://$http_host$request_uri&vouch-failcount=$auth_resp_failcount&X-Vouch-Token=$auth_resp_jwt&error=$auth_resp_err;
    }

 which change login.tools.com to login.m

[2020-08-05 06:54] bobyin commented on #302
Hi @bgehman

Also found a bug I think, in the login.go

		// this checks the multiple redirect case for multiple matching domains
		if len(cfg.GenOAuth.RedirectURLs) > 0 {
			found := false
			domain := domains.Matches(r.Host)
			log.Debugf("/login looking for callback_url matching %s", domain)
			for _, v := range cfg.GenOAuth.RedirectURLs {
				**if strings.Contains(v, domain) {**
					found = t

[2020-08-05 10:29] zenojll opened #303 "PKCE support"
Waiting for PKCE support (code challenge) to work with [IdentityServer4](https://identityserver4.readthedocs.io/en/latest/)

[2020-08-05 11:49] phlummox opened #304 "Add a Changelog"
A [Changelog](https://keepachangelog.com/en/1.0.0/) would be nice. So that people using Vouch proxy can tell why, for instance, v0.17.3 was released and what changed in it, rather than just seeing "Merge branch 'pr/martindb/298'" under that release.

**Describe the problem**

Difficult to work out what has changed between versions.

**Expected behavior**

It would be nice if it were possible to ea

[2020-08-05 12:47] bnfinet commented on #304
@phlummox thanks for the suggestion.  Is this something you'd like to support?  I think it would be a wonderful addition to VP.

[2020-08-05 13:08] bnfinet commented on #303
@zenojll thanks, is this something you'd be interested in working?  PRs welcome!

[2020-08-05 13:10] bnfinet commented on #303
https://www.oauth.com/oauth2-servers/pkce/

https://pkg.go.dev/golang.org/x/oauth2?tab=doc#Config.Exchange

[2020-08-05 13:18] bnfinet commented on #302
@bobyin hmm, yeah that's probably a bug.

Instead of improving that check, how about creating a map at startup for domain to callback_url.  They should be directly correlated.  That would also offer a natural check for misconfiguration.

Would you be interested in working on a fix?

[2020-08-05 13:22] #301 closed

[2020-08-05 14:11] phlummox commented on #304
I am not familiar with what has happened to VP over previous versions, unfortunately, as I have only just started using it - but I can certainly provide a template for a standard changelog.

[2020-08-05 14:26] zenojll commented on #303
Hey! Thanks for your prompt answer!
I wish I could help but, unfortunately, I am not into programming.
Hope someone will find this issue and help.

[2020-08-06 07:22] bobyin commented on #302
Sorry, can't promise it, but I'll try to learn to write something. Thanks

[2020-08-07 16:32] bnfinet opened #305 "Who is using Vouch Proxy? What are you using it for?"
As we work to improve Vouch Proxy and work on the Vouch project overall we'd like to hear from you about your usage of VP.

Please take a moment to chime in here about how you're using VP and anything else you'd like to share about your setup and your organization.

If you have a particularly interesting setup we may add it to the list of (advanced configurartions)[https://github.com/vouch/vouch-p

[2020-08-07 16:53] aaronpk commented on #305
I run two instances of Vouch Proxy in very different configurations:

## Home
I have Vouch on my home nginx server and it sits in front of a few different applications and other internal servers which either don't have their own authentication or I don't trust their authentication.

Vouch is configured to use my Gitea instance for authentication, and I am the only allowed user.

## IndieWeb
I run

[2020-08-09 10:38] Husseinfo commented on #303
#306

[2020-08-11 11:18] phlummox commented on #180
I've written a small Haskell binary which can be used instead of Nginx. I had trouble getting `auth_request_set` directives to reliably work on Nginx (which seems silly, as the equivalent in web frameworks like Flask, say, is trivial. But that's by the by), didn't fancy delving into its innards, so wrote a replacement. If anyone is interested, I can look at getting the source code hosted publicly

[2020-08-11 19:55] rhansen commented on #41
Also: https://gitlab.com/.well-known/openid-configuration
([documentation](https://docs.gitlab.com/ee/integration/openid_connect_provider.html))

[2020-08-12 06:02] rhansen opened #309 "oidc provider assumes username or email claim exists and is stable"
When `oauth.provider` is set to `oidc`, Vouch assumes that either `username` or `email` exists in the UserInfo response. If neither exists (as is the case with GitLab when `scope=openid`), `structs.User.Username` [is the empty string](https://github.com/vouch/vouch-proxy/blob/7f2d675241d14fe6e60749ee16dab44f89af6a2c/pkg/structs/structs.go#L40-L45) and the `/validate` endpoint [fails with "no User

[2020-08-12 11:08] bnfinet commented on #309
@rhansen Thanks for opening this issue.

There has been talk from time to time of moving to `sub` and it's clearly the right choice.

I know you've tested the PR against `gitlab`, have you had an opportunity to test any other providers?

[2020-08-12 12:16] bnfinet commented on #302
thanks for the PR #308 @bobyin !

[2020-08-12 18:43] rhansen commented on #309
No, I have not.

[2020-08-22 15:16] eltariel opened #312 "Add a provider for Discord"
I've used the `oidc` provider to authenticate with [Discord](https://discord.com/developers/docs/topics/oauth2), but discord isn't properly OIDC compliant, in particular it's missing the required `sub` claim on the [user endpoint](https://discord.com/developers/docs/resources/user#get-current-user), and the fields that are most useful for identifying a user in discord aren't exposed by default.

I

[2020-08-24 22:13] bnfinet commented on #312
@eltariel thanks for bringing the conversation here

Just to clarify, your Discord setup is able to capture the user info and

[2020-08-24 22:22] bnfinet commented on #312
Here's the Reddit thread regarding using Vouch Proxy + Discord to log into Foundry VTT where we began this conversation.  I find that use case quite compelling.

https://www.reddit.com/r/FoundryVTT/comments/hw14rr/anyone_else_using_container/fz5jocz/?context=3

@eltariel thanks again for offering your configs!

[2020-08-25 05:21] mr-rick opened #313 "requested destination URL has a dangerous query string looks bad: https://xyz.com/ includes https://"
I get this error with more recent releases of vouch-proxy:

requested destination URL has a dangerous query string looks bad: https://xyz.com/ includes https://

but the redirect urls have https in them... which is how we redirect back to the origin.  Unless I'm missing something here.

[2020-08-25 13:18] eltariel commented on #312
Yes, that’s correct.

Some extra context: I’ve built a small asp.net app to manage authorisation based on these headers: [https://github.com/eltariel/FoundryLanding]. This uses a bunch of metadata inserted into the Foundry VTT data files to determine what a given discord user has access to for each foundry instance. This is referenced as the top level domain but also gets injected into each of the

[2020-08-25 19:50] bnfinet commented on #313
@mr-rick that's a security related change in `v0.11.0`

https://github.com/vouch/vouch-proxy#login-and-logout-endpoint-redirection

If you feel that there's a problem, please post your configs and logs to a gist as per the README.

[2020-08-27 17:05] bnfinet commented on #313
@mr-rick if there's no problem to be worked here would you please close this issue?

[2020-08-29 01:32] #313 closed

[2020-09-01 13:37] evankellogg commented on #215
@sahuguet it appears that the code sample that you have provided are no longer present.  Are you able to re-upload your examples to hastebin or another code sandbox for reference in this issue?

[2020-09-01 14:05] sahuguet commented on #215
Let me do some digging.

Arnaud

On Tue, Sep 1, 2020 at 9:37 AM Evan Kellogg <notifications@github.com>
wrote:

--
Arnaud Sahuguet

[2020-09-02 05:55] sahuguet commented on #215
@evankellogg, here is a copy of the deployed config files that work for me.

Nginx config for service protected by SSO
[code]

Nginx config for SSO service
[code]

Vouch config
[code]

[2020-09-02 05:56] sahuguet commented on #215
I have pasted the config files in the conversation.
I hope this may help some users.

Arnaud

On Tue, Sep 1, 2020 at 10:05 AM Arnaud Sahuguet <arnaud.sahuguet@gmail.com>
wrote:

--
Arnaud Sahuguet

[2020-09-05 18:08] AKTheKnight commented on #305
Currently running 3 instances of Vouch personally, while also pushing towards usage at work for various cloud webapps.

### Personal
Three different servers (one at home) with Vouch and Nginx running within docker. All set to auth against AzureAD.

Used so I can make any service accessible across the internet without worrying about security. I would much rather have nginx as the web facing service

[2020-09-11 15:31] ReneHezser opened #314 "Azure Active Directory - External users"
**AAD external users cannot be authenticated**
An AAD user can authenticate, an external user within the same AAD is not able to autenticate.

I've identified the behavior being an empty username/UserPrincipalName of external users in AAD.

This is the log from vouch:

    azure GetUserInfo: User: &{Username:rene@---.de Name:René Hézser Email:rene@---.de CreatedOn:0 LastUpdate:0 ID:0 TeamMembershi

[2020-09-11 15:50] ReneHezser commented on #305
**Home**
Vouch and Nginx will allow a single sign on to all services on my homeserver.

- First thing using vouch will be [Home Assistant](http://homeassistant.io/) (a pull request already exists).
- Then I need to figure out if Node-RED, and the other services I use support external authentication

[2020-09-19 22:02] jimcheetham commented on #305
Right now it's used to provide authentication to a family tree app that doesn't have a robust auth layer of its own; I don't want to manage new user accounts for family, and have more passwords for them to remember/forget, so it authenticates from google and I handle authorization in vouch by whitelisting email addresses.

I want to be able to use this with Discord as both authn and authz, so I ca

[2020-09-24 13:13] DeLoWaN opened #315 "400 Bad request / auth Invalid session state"
Hello, I encouter a strange issue:

I configured multiple domains with Vouch with Google auth. It works... partially. I'm on the 0.17.3 version of Vouch.

I am testing in a browser with private mode.

First scenario, If I go directly to my protected page, it presents me a Google login page. I login with MFA, then I can see in dev bar that it cycles between my protected page / vouch-login / google-

[2020-09-25 08:55] vagharsh opened #316 "enable X-Vouch-IdP-AccessToken and X-Vouch-User on vouch which is sitting behind NGINX"
i have a setup on AWS which has this flow
user request -> app ( nginx built-in ) -> forward the request to domain.com/vouch1/validate

i have enabled the following lines in the Nginx conf of the application. in the /validate location
[code]

and the below in the / location
[code]

domain.com/vouch1/ : consists of the following
ALB : to perform ssl termination ( passes everything as is to nginx )
N

[2020-09-25 21:29] bnfinet commented on #316
@vagharsh have you enabled those features in your config?

For further support please post your config and logs in the manner described in the README

[2020-09-25 22:30] bnfinet commented on #315
hello @kalumkalac

Those `hasteb.in` links are empty :(.  Not sure if they timed out, could you please re-post with a `gist`?

What browser are you using?  Do you see the same behavior if you are not using the browser in Private Mode?

[2020-09-29 08:17] betagan opened #317 "Add IdleTimeout configuration to support use with (more) loadbalancers"
I'd like to propose that the following feature be added:

### Proposal
Vouch Proxy should have a configuration parameter to set the IdleTimeout (and potentially Read/Write Timeout) that is passed to http.Server.

### Background
Currently, that parameter is not set and thus defaults to ReadTimeout which is set to 15s as of now (in main.go).
This is problematic with some loadbalancers (like AWS ELB)

[2020-09-29 15:18] richjyoung opened #318 "Allow configuration of how long the user has to complete IdP login, rather than hard coded 5 minutes"
https://github.com/vouch/vouch-proxy/blob/67cce8abdcb01574cf79edfe048cbf3bb6f62ec1/handlers/handlers.go#L60

I am trying to diagnose issues with a 400 Bad Request error, with a log message like this (actual session ID removed):

`/auth Invalid session state: stored %!s(<nil>), returned ******`

I can only produce a 400 Bad Request error manually if the VouchSession cookie is not sent to the /auth

[2020-09-29 15:38] richjyoung commented on #318
I see this was introduced in https://github.com/vouch/vouch-proxy/pull/270.

I've been seeing Bad Request errors since upgrading from 0.11.3 to 0.17.3. It's not clear why users are taking longer than 5 minutes to login, perhaps because they have 2FA to deal with as well, but at the moment I need to be able to set this to be much longer to eliminate it as a possibility. I suspect this means the num

[2020-10-01 20:24] kthare10 opened #319 "Support for passing Refresh Tokens"
Vouch Proxy currently allows passing in provider Id and Access Tokens.
We need Refresh Token as well to be passed.
Could you please consider adding support for passing provider Refresh Tokens in Header?

[2020-10-02 01:02] DeLoWaN commented on #315
Hi @bnfinet , thank you for your interest. I edited my post, the links are working now.

[2020-10-02 23:05] bnfinet commented on #318
thanks @richjyoung. That makes sense.

PR welcome!

It shouldn't be too hard to add.  Please set `.defaults.yml` to `300` and add a clear description to `config/config.yml_example` for `vouch.session.maxAge`.  And please test with both an env var as well as the config entry.

[2020-10-02 23:24] bnfinet commented on #317
@betagan that's exciting that you're able to integrate VP with AWS ELB.  Is NGINX still involved?  Would you care to provide any documentation related to that?  I'd love to add that to the "Advanced Configurations" section of the README.

related: #180

PR welcome!

It shouldn't be too hard to add. Please set .defaults.yml to 15 and add a clear description to `config/config.yml_example` for `vouch

[2020-10-02 23:31] bnfinet commented on #314
thanks @ReneHezser.  Sorry for the delay in responding to your issue.

@simongottschlag @artagel do either of you have an opinion on this?

@ReneHezser just to be clear, you're suggesting plucking the `email` field for an external user, is that correct?  Is there a clear indicator in the response that the user is an external user?

[2020-10-02 23:45] bnfinet commented on #319
@kthare10 could you clarify your usage of the refresh token?  Are you hoping to use the refresh token to directly access the IdP to get a new access token?  Should VP do something with that new access token, or the refresh token?  Are you using VP for access control or merely as a convenience for getting the tokens?

[2020-10-03 07:58] simongottschlag commented on #314
@ReneHezser @bnfinet if we change anything, it should be based on Azure AD v2 access token and not v1 - to future proof the solution. I think we get a claim called preferred_username in the v2 token which should be correct for both internal users and guests. (Important to remember that the value is mutable)

@ReneHezser can you change the AAD app to issue v2 tokens and verify that it looks correct

[2020-10-03 08:40] ReneHezser commented on #314
Hi @simongottschlag. To be honest I need to check again, as I am not 100% certain it was not a configuration issue.
Next thing I try is to get the container running locally to do some debugging. (Never worked with golang before...)

But you should be able to quickly reproduce this by adding a live/hotmail/whatever account as external account to your AAD and use that user to login.

[2020-10-03 10:13] ReneHezser commented on #314
The app registration should be set to V2 (from the manifest ```"accessTokenAcceptedVersion": 2,```).

Here is my config.yaml:
[code]
With the user info url I am not sure what to put in. I also tried ```https://graph.microsoft.com/oidc/userinfo```. Both results look the same in the log.
The ```"ver":"1.0"``` is always 1 and not 2 in the access token.

Hmm. I don't get it. Where does the UPN come fr

[2020-10-05 17:08] kthare10 commented on #319
My application is planning to use the refresh token to directly access the IdP to get new access token. I am using Proxy for authentication and then pass tokens to my underlying application which can refresh tokens on its own by talking to IdP.

[2020-10-05 19:50] simongottschlag commented on #314
Hi @bnfinet @ReneHezser,

I've created a PR to see if this helps you: https://github.com/vouch/vouch-proxy/pull/320

If you add oauth.azure_token = id_token and see if it works.

I'm really bad at Golang and programming overall, please excuse any rookie mistakes. :) Any changes to the PR are appreciated.

[2020-10-06 07:45] ReneHezser commented on #314
The PR is working. 🥳
[code]
And when I add rene.hezser_....com#EXT#@....onmicrosoft.com to the whitelist, I can access the protected website.
I also tested a normal AAD user, and it still works.

[2020-10-06 17:08] vagharsh commented on #316
Sorry for taking this long. I am trying execute that command inside the container but i can't get into the container to start with.. can you please assist me on how can i `exec` into the vouch container first ?

[2020-10-06 21:24] bnfinet commented on #314
Simon you're a champ!  Thanks so much for the contribution and for
continuing to support the MS/AD/AAD side of VP.

And thanks for testing the PR Rene.

 I'll take a look in the next few days.

Cheers

On Tue, Oct 6, 2020, 12:45 AM René Hézser <notifications@github.com> wrote:

[2020-10-07 09:38] vagharsh commented on #316
the issue has been resolved ..
so my application ( frontend ) is hosted on the same nginx container .. which means i needed `add_header` and not `proxy_pass` once i replaced those i now get the headers. .
my application nginx blocks is like this

[code]

[2020-10-07 09:38] #316 closed

[2020-10-08 03:17] dariusk commented on #305
I run a Mastodon social media server and I want to be able to provide secondary services to my users. Prior to discovering Vouch, I was writing custom code into every new application to make the Mastodon OAuth dance happen but now I can just shove the simpler ones behind `vouch-proxy` and call it a day. Makes my life so much easier.

[2020-10-14 15:27] samarjoe commented on #315
I'm having the exact same intermittency of 400 Bad Request with
session state: stored %!s(<nil>)
also.

I do notice that if I use some test page that is super lightweight, I don't get this though. Does anyone think it could be related to the size of the request?

[2020-10-14 22:22] bnfinet commented on #315
@DeLoWaN Could you please post your logs in the manner described in the README.

What happens when you just use one domain, perhaps `preprod.MYDOMAIN.fr` in your VP config?

@samarjoe Could you please post your logs and config in the manner described in the README.  Have you tried increasing the size of your Nginx bufferes?

[2020-10-15 14:58] DeLoWaN commented on #315
Ok, with further tests, I finally get it to work.

In my nginx config of the protected page (my php application), I had this instruction with was causing the issue:

[code]

Why ? I have no idea. But I soon as I disabled it, I had no longer these cycles and the scenario that was failing (2nd one) failed no more.

[2020-10-15 17:32] bnfinet commented on #315
@DeLoWaN I'm glad that it's working now.

I don't see why the inclusion of that cache header would have bearing on the VP `/login` --> `/auth` cycle.  Did you change anything else?

Does your app include a path `/login` or `/auth`

Are you using CloudFlare or another proxy in front of your domain by any chance?  `s-maxage=2592000'` would affect the intermediary cache.

[2020-10-15 17:32] #315 closed

[2020-10-20 13:26] DeLoWaN commented on #315
Yes, there was a bunch of others instructions, but, trying disabling them one by one, only this one lead to the bugs I encountered.

My app does not include these paths.

The app is a PHP-FPM and I linked earlier the conf at [this link](https://pastebin.com/FNv5Pv8r).

Was was missing from that conf though was an include of a conf file which contains (among others) headers instructions including t

[2020-10-21 19:30] alexkleinfig opened #322 "302 loop when Vouch is accessed through nginx using upstream"
Hello !

I am struggling about something: I want my vouch proxy server to be on his own, behing nginx and accessed only throught https.

I configured my nginx like this:
protected page:  https://hasteb.in/oheyojaz.nginx
vouch: https://hasteb.in/emusiwac.nginx

I now have a 302 loop based on the fact that my cookie domain is vouch.example.com https://hasteb.in/pexajuro.pl

If i adress vouch proxy d

[2020-10-21 20:13] bnfinet commented on #322
@alexkleinfig here are some thoughts..

You're using bitbucket, is that right?  I haven't heard of another VP setup with BitBucket yet.  Is it working well otherwise?  It appears to have a working `userInfo` response and otherwise OIDC compliant.

Off the top I see you'll need a `callback_urls` entry for each domain.  What happens when you just limit it to the domain that the user is in (`exple.fr

[2020-10-21 20:40] bnfinet commented on #322
I wonder if it's something about the host header with upstream...
https://stackoverflow.com/questions/40206688/nginx-host-header-for-upstream

[2020-10-21 21:49] alexkleinfig commented on #322
I am using Auth0 with bitbucket as a social connection (waiting for the dedicated team to configure ADFS).

I added the OIDC to make it works in a auth0 rule but it works when the /validate proxy_pass hit directly the vouch...:9090

If i force the cookie in the cookie.domain everything is working fine. But i want to be able dev.exple.fr, exple.dev; exple.fr to be able to use the same vouch-proxy s

[2020-10-22 08:54] alexkleinfig commented on #322
Hum if don't force the original header it works for protected.example.com

if i add callback_urls with dev.exple.fr and copy/paste my nginx configuration to add vouch.dev.exple.fr and protected.dev.exple.fr changing only the /validate proxy_pass and the 302 redirect:
It stills working works for protected.example.com
I have a 302 loop for protected.dev.exple.fr (cookie domain is set to vouch.dev.ex

[2020-10-23 11:47] dansjackson opened #323 "Invalid session state: stored %!s(<nil>) on iOS Safari"
I'm having an issue whereby I keep getting 400 Bad Request on iOS Safari - iOS Chrome works normally as do desktop browsers (most of the time)

I've had to disable testing mode because the issue does not happen on testing mode. Once I click through the links on testing mode, my application loads normally.

Basically the error is:

`Invalid session state: stored %!s(<nil>)`

This happens after my O

[2020-10-23 20:19] davmanu opened #324 "Case Sensitivity of Email Addresses in Whitelist"
## Contributors

*This issue and any associated commits/PRs are contributions are made on behalf of the following individuals while employed on contract with IBM Canada. Contact [David Manu](https://github.com/davmanu) for any clarifications.*
- [Darius Asri Rezaei](https://github.com/dasrirez)
- [Chris Staykov](https://github.com/cstaykov)
- [Omar Alashqar](https://github.com/omaralashqar)

## Pr

[2020-10-23 20:29] bnfinet commented on #324
Thanks for the suggestion and contribution.

Since you have code ready to go (and tests! Thank you), please feel free to
open a PR and we can continue the conversation mostly here.

FYI - I'm running behind on reviews but hope to have time next week.

On Fri, Oct 23, 2020, 1:19 PM David Manu <notifications@github.com> wrote:

[2020-10-25 12:53] alexkleinfig commented on #322
Problem solved. It seems i didn't need to replace the Host Value by the X-Original-Host when calling my external vouch server, i still don't get it but it works, the good cookie is set.

I noticed one weird thing but maybe it will be better in another question ? my $auth_resp_x_vouch_idp_claims_groups get escaped quoted groups: \"mygroup1\", \"mygroup2\"  (Some applications don't realy like it, li

[2020-10-25 12:53] #322 closed

[2020-10-27 17:36] FirefoxMetzger opened #326 "logout?url=[...] does not redirect (maybe caused by URL query params?)"
I'm setting up vouch-proxy with Auth0. Login and validation are functional. I can call vouch-proxy's `/logout` endpoint, which will (as far as I understand) invalidate and remove the cookie vouch-proxy manages. All of this is works like a charm.

On top of this behavior, I want to also log out the user at Auth0. For this, Auth0 has the endpoint

[code]

I have verified that the URL itself works (i

[2020-10-28 04:08] bnfinet commented on #326
Please supply logs and config in the manner described in the README

On Tue, Oct 27, 2020, 1:37 PM Sebastian Wallkötter <notifications@github.com>
wrote:

[2020-10-28 16:15] #326 closed

[2020-10-28 16:23] bnfinet commented on #323
@dansjackson please provide logs as described in the README with `debug` and `testing`.

[2020-10-28 16:31] bnfinet commented on #326
@FirefoxMetzger I'm so glad you were able to get it to work, and I'm glad to hear that `X-Vouch-Error` was informative!

[2020-10-28 17:03] dansjackson commented on #323
Hey @bnfinet,

Thanks for getting back to me. As requested, here are the complete docker logs from container startup to the 400 Error.

Interestingly when trying testing mode a second time, I am also now getting the 400 error on this too.

Debug:

https://gist.github.com/dansjackson/172b3f69f6632d8709a5697b81a81055

Debug with Testing Mode enabled:

https://gist.github.com/dansjackson/2fddd5320abe

[2020-10-28 17:26] bnfinet commented on #323
@dansjackson those show `LogLevel:info`  Could you please try again with `debug`

and please post your yaml config

[2020-10-28 20:20] dansjackson commented on #323
@bnfinet  Apologies, you are right. I didn't realise I had to set an additional docker env variable. Here you go!

Actual Debug Log:
https://gist.github.com/dansjackson/dce10cc795f15e91aa5abc2d2aab8300

Actual Debug Log with Testing:
https://gist.github.com/dansjackson/4e120db1ce48a6528f35866bc8090d74

I've copied the contents of the container out into a folder on my system using docker cp:

`dock

[2020-11-03 13:35] dansjackson commented on #323
@bnfinet Thanks for getting back to me. It appears to be intermittent more than anything so I think the fact its Safari might be a red herring. I think that it worked on Safari in testing mode the first time however other tests in testing mode afterwards, it didn't work. The issue also sometimes happens on Chrome desktop, though again this intermittent and certainly way less frequent than Safari w

[2020-11-03 13:49] bnfinet commented on #323
@dansjackson also try..
* removing domain and using `VOUCH_ALLOWALLUSERS=true`

[2020-11-04 22:23] yannh opened #327 "Support for ECDSA (or RSA) signing of vouch JWT instead of HMAC"
This is a stretch - *eventually* I could drive an implementation if this makes sense at all...
Let me start with the use case - I would like to secure an HTML website using Nginx + Vouch Proxy. This website is currently hosted on AWS S3 with Cloudfront in front of it. The workflow would be:.

user > Vouch Proxy > Cloudfront > S3
                 |
               IdP

I have configured Vouch Proxy

[2020-11-05 06:44] ibotheperfect commented on #323
I have same issue. I'm using docker image 0.17.3 and chrome

[2020-11-06 17:40] xcabur1 opened #328 "Okta logout "invalid_client" error"
**Describe the problem**
If I call the `vouch-proxy` `/logout?url=${end_session_endpoint}` endpoint with the `okta` idp `end_session_endpoint` url, I get a "invalid_client" error

**Expected behavior**
If I call `/logout?url=https://dev-1234.okta.com/oauth2/default/v1/logout` I should be logged off from `vouch-proxy` and `okta`

**Desktop (please complete the following information):**
 - OS: Windo

[2020-11-06 17:46] bnfinet commented on #328
@xcabur1 please provide logs in the manner described in the README

[2020-11-06 17:47] bnfinet commented on #323
@ibotheperfect please provide logs and config in the manner described in the README

@dansjackson any updates?

[2020-11-06 18:04] dansjackson commented on #323
Literally just started testing about 20 mins ago. I'll provide an update shortly.

[2020-11-06 18:07] dansjackson commented on #323
Ok something has fixed somewhere:

[code]

Seems to be working. Let me try and narrow down which option it was

[2020-11-06 18:12] xcabur1 commented on #328
@bnfinet if you miss the bug_report, can you tell me, where the output is located on windows (do.sh window automatically closed). That's the reason, why I uploaded and obfuscated the conifg files manually

[2020-11-06 18:30] dansjackson commented on #323
OK, this may highlight the intermittent nature of the problem. I've reapplied all of the settings that I removed and the issue appears to be fully resolved. I'm not able to replicate the error any more.

Could be that it re-ordered the variables in Docker (not sure if that makes a difference)
or
Could be just that the issue is not happening right now (though previously I was always able to replica

[2020-11-06 18:46] ibotheperfect commented on #323
I don't face this issue too much. It occurs especially when I open chrome and it restores tabs from previous session. If It occurs again I will try to get more information

[2020-11-06 19:35] bnfinet commented on #323
@dansjackson I'm glad that it's working for you

feel free to post again if you think you have a problem

[2020-11-06 19:35] #323 closed

[2020-11-06 19:37] bnfinet commented on #328
@xcabur1 I see the config, but I need full logs as per the README

[2020-11-06 20:13] xcabur1 commented on #328
@bnfinet Sorry, I have no linux system. I can't find any log files. But I added the debug output of the logout request, hope that helps. Let me now if you need more.

[2020-11-06 20:15] khorwood commented on #305
Using it as a zero-trust edge for my home server with nginx.
Google OAuth with a restricted allow-list of users.

[2020-11-07 09:18] xcabur1 commented on #328
@bnfinet I also provided the nginx log. It looks like the `id_token_hint` is not provided in the `/logout` request as descriped in #258

[2020-11-09 19:02] Glowsome opened #329 "json: cannot unmarshal array into Go struct field User.email of type string"
In trying to get my Microfocus AccessManager IdP to work with vouch i am encountering issues on the 'vouch' end.

log of the operation is filed at :
[https://hasteb.in/raw/uzopizug](https://hasteb.in/raw/uzopizug)

My vouch config :
[https://hasteb.in/raw/uzeromic](https://hasteb.in/raw/uzeromic)

'mydomain' is a replacement of the domain i run it under .. so yes its correctly configured :)

Am i

[2020-11-09 22:32] Glowsome commented on #329
Seems i have stumbled upon a product ( Microfocus AccessManager 4.5.3.0-117) bug ... the userinfo endpoint doesnt seem to return valid json

[2020-11-10 16:33] yannh commented on #327
To clarify my request - is vouch only signing the JWT, as in - is the information contained in the JWT not secret? Or is the information contained in the jWT secret, should only ever be read by vouch, and needs to be encrypted as well?

This request only makes sense in the case of signing, which is what the documentation refers to :)

[2020-11-10 23:46] Glowsome commented on #305
(trying to) Use it in combo with Microfocus AccesManager (previously NetIQ) for my small company ant testing lab.

[2020-11-11 13:16] paul-young-topa opened #330 "Logout using okta provider does not work"
Following the instructions here https://github.com/vouch/vouch-proxy/issues/56

On logout the user gets redirected to the home page and gets access rather than being redirected to login.
I guess the auth tokens are still valid.

[2020-11-11 18:29] bnfinet commented on #330
Please submit logs and config as per the README

On Wed, Nov 11, 2020, 8:16 AM paul-young-topa <notifications@github.com>
wrote:

[2020-11-13 12:47] tmatilai commented on #328
Seems that the token is not stored after #298 (#287). Works after configuring a header for it with the `vouch.headers.idtoken`.

[2020-11-13 14:32] bnfinet commented on #329
@Glowsome those logs and config are now gone from `hasteb.in`.  Could you please repost as a gist in the manner described in the README

I suspect we may need to add Microfocus AccessManager as a new `provider`

[2020-11-13 14:34] bnfinet commented on #330
@paul-young-topa this is a dup of #328

[2020-11-13 14:34] #330 closed

[2020-11-13 14:52] bnfinet commented on #328
@tmatilai nice catch!  Can you please post a working config here?

@martindb FYI ^^

I think this a documentation bug that could be handled with a note in `config.yml_example` that links to this issue, perhaps along with a log message during config if either `oauth.end_session_endpoint` or `post_logout_redirect_uris` is set.

Otherwise we get into something like...  If `oauth.end_session_endpoint`

[2020-11-13 15:24] tmatilai commented on #328
The example config for Okta seems correct (except you have to drop `default/` part from the URLs unless using  [API Access Management](https://www.okta.com/products/api-access-management/)), and then just uncomment the [idtoken line](https://github.com/vouch/vouch-proxy/blob/dc39f8882a4e6d3fced84fb4266e5e3881f16af5/config/config.yml_example#L144).

I actually played with Docker and env vars:
[code

[2020-11-13 17:20] Glowsome commented on #329
@bnfinet i will have to regenerate them, seem to not have saved them on the testbox - will do so this weekend

In the mean time i have obtained a product-patch which reverses the seen effect ( better said the old behavior of email being sent as string is restored, and have an option to flip this behavior.

regarding this there is a dicussion going on about this change at the [Microfocus community]

[2020-11-13 21:18] Glowsome commented on #329
Also after some research this change on the AccessManager seems to violate [OIDC ](https://openid.net/specs/openid-connect-core-1_0.html#StandardClaims )standard, so until there's more clarity i would suggest parking this.

[2020-11-17 19:51] bnfinet commented on #297
@dafaizer thanks so much for the contribution!

Could you please add
 * test coverage
 * a check in `cfg.basicTest` that if `vouch.tls.cert` or `vouch.tls.key` is set, then so is the other one
 * modification of startup log messages related to indicate that TLS is enabled and that VP is available at https://0.0.0.0:9090

I'll add a few quick notes to the PR for a couple things as well

FYI - I'm n

[2020-11-17 20:02] bnfinet commented on #297
@danfaizer ^^

[2020-11-17 21:57] rkamradt opened #333 "running authenticated services on multiple hosts"
I have a vouch proxy running on a cloud VM, and it is able to authenticate services on that VM. I have another VM with other services that I would like to authenticate via vouch. Should I configure vouch to run on both VMs? The 401 redirect specifies the FQDN of the first vouch host, is vouch stateless so that validate calls can take place on one VM, and login calls can take place on another?

[2020-11-17 22:47] bnfinet commented on #333
@rkamradt yes, VP is stateless for all host names within the same domain.  `app1.yourdomain.com` and `app2.yourdomain.com` can both be protected by `vouch.yourdomain.com` regardless of which VM they each run on.

`vouch1.yourdomain.com/login` and `vouch2.yourdomain.com/validate` can each support `*.yourdomain.com` provided they share a common configuration.

Does that answer your question?

[2020-11-18 02:01] rkamradt commented on #333
It's encouraging, but I'm still trying to get the configuration just right to make it happen. I'll try a few more tweaks to how it's configured to get it to work.

[2020-11-18 02:08] bnfinet commented on #333
@rkamradt feel free to post your configs and logs to a gist in the manner described in the README

[2020-11-18 03:08] rkamradt commented on #333
My use case is a little complicated. VM1 has a PHP app, database, Jupyter, vouch, and Nginx and everything works perfectly. I wanted to move the Jupyter server to a different VM which has a database, Nginx, Jupyter, and now a Vouch instance as suggested by your previous post. All of the configuration files that aren't sensitive are in GitHub. Here is the configuration for the original VM1 which is

[2020-11-18 03:41] bnfinet commented on #333
@rkamradt please provide the VP logs for both instances.  One full round trip from startup.

What is the problem you are having?  I think I can surmise but I don't see it clearly stated here.

If you are using multiple VP configs then please read these carefully...
https://github.com/vouch/vouch-proxy/blob/master/config/config.yml_example#L58-L67
https://github.com/vouch/vouch-proxy/blob/master/co

[2020-11-18 03:43] bnfinet commented on #329
@Glowsome closing,

do repost here if you want it re-opened

[2020-11-18 03:43] #329 closed

[2020-11-18 14:45] RishabhAsthana opened #334 "Reconnect clearing valid cookies"
First of all, this is a great product! It has been working like a charm for its intended use case. Pretty easy to setup in a HA fashion as well. The issue I am posing is more of a question than an issue.

**Describe the problem**
I was curious about the reasoning behind [clearing cookies](https://github.com/vouch/vouch-proxy/blob/master/handlers/login.go#L39) on any login attempt. In our setup, th

[2020-11-18 16:39] rkamradt commented on #333
Setting the vouch.jwt.secret to be the same in both config.yml files worked! Thanks for pointing this out to me.

[2020-11-18 16:39] #333 closed

[2020-11-21 17:58] billfor commented on #305
I use it with Okta to front openhab for my Tesla, whose browser does not support BasicAuth.

[2020-11-23 18:40] xtra-be commented on #314
any luck this can be merged to master?
or update the docker image for this

[2020-11-23 20:02] bnfinet commented on #69
@simongottschlag I'm going to reopen this one.  I'm pushing on #41 OIDC discovery right now and hope to tackle some aspect of this at the same time.

[2020-11-23 20:08] simongottschlag commented on #69
@bnfinet great! 😁👍

[2020-11-25 19:15] bnfinet commented on #326
@FirefoxMetzger Nice blog post on your Auth0 setup btw!  Thanks for sharing and showing the love for VP!

SSO for your App via Auth0 + Nginx + Docker + Vouch-Proxy
https://sebastianwallkoetter.wordpress.com/2020/11/01/sso-for-your-app/

[2020-11-28 23:18] bnfinet commented on #327
@yannh that's correct, the VP JWT is signed, not fully encrypted

The token is also encoded and compressed..
https://github.com/vouch/vouch-proxy/blob/master/pkg/jwtmanager/jwtmanager.go#L113

[2020-11-28 23:23] yannh commented on #327
@bnfinet  Great! Let me know if you have any thoughts with regards to https://github.com/vouch/vouch-proxy/pull/331 - I'm happy to move this forward. Thanks!

[2020-11-28 23:59] bnfinet commented on #334
@RishabhAsthana that's an interesting scenario.  I kind of see it both ways...

The general goal of clearing the cookie was to begin with a clean slate before forwarding to the IdP....

In the scenario of `/validate` --> 302 `/login` --> 302 IdP login --> 302 `/auth` --> original destination

The assumption is that the role of `./login` is to prepare for.

wrt..

I'd be curious how that would turn

[2020-11-29 00:19] bnfinet commented on #327
@yannh thanks much for the contribution, I've left a few comments for minor issues.  I'm happy to review it again after you're reined in the tests and it is able to pass Travis CI.

[2020-11-29 10:12] bnfinet commented on #334
@RishabhAsthana perhaps proxy_hide_header could be used for the /login Set-cookie

http://nginx.org/en/docs/http/ngx_http_proxy_module.html#proxy_hide_header

[2020-11-29 17:26] RishabhAsthana commented on #334
@bnfinet Thanks for getting back to me!
Tbh I haven't been able to reproduce this 100%. I ran some tests and chrome seemed to use the most recent cookies in all cases. The race condition is non-trivial to produce. That said, I removed the logic for clearing cookies (I think the proxy_hide_header you mentioned will achieve the same effect as well without having to touch the code at all) and everyth

[2020-11-30 00:33] bnfinet commented on #334
It's like if you show up at a bar with an expired ID, the protocol is for the bartender or bouncer to take the ID away in order to get the bad info off the street.  If your jwt/cookie doesn't pass `/validate` then lets clear it out.

I must be misunderstanding the behavior you're describing. If the most recent cookies are presented, why aren't they passing through `/validate` ?

[2020-12-03 03:39] flawedworld opened #336 "RPM and DEB packaging"
Hiya, I see #108 has not yet been accomplished and it would be great to see a repository for this project being setup following that. Perhaps a JFrog Bintray setup would help to achieve this? As an example, the below is what RabbitMQ uses.

https://bintray.com/rabbitmq/rpm/rabbitmq-server
https://bintray.com/rabbitmq/debian/rabbitmq-server

Would be nice to see targets for common operating systems

[2020-12-03 20:00] cbruscato opened #337 "SSL handshake failed, alert for TLS v1?"
I'm a new user to Vouch Proxy, and I need some assistance getting started. I reviewed all the documentation that is available, and I don't see anything specifically related to what I am experiencing. I also searched for any related issues. I'm afraid I don't know anywhere else to seek help for this issue. I would really appreciate it, if anyone could assist.

My scenario is a typical use case, I b

[2020-12-03 21:04] bnfinet commented on #337
@cbruscato please post your Vouch Proxy logs in the manner described in the README

[2020-12-03 22:39] bnfinet commented on #336
perhaps there are github actions that might be helpful
https://github.com/marketplace/actions/build-deb-action
https://github.com/jiro4989/build-rpm-action

@flawedworld do let me know if you'd like to take this on

[2020-12-03 23:02] punkle opened #338 "Add the ability to customise the error page on IDP Error"
**Describe the problem**
Where email verification is enabled on auth0, vouch shows the error: "/auth Error from IdP: unauthorized - Please verify your email before logging in.". It is formatted as text/plain.

**Expected behavior**
 It would be nice if this error page could be customised and formatted similar to the other failure pages.

[2020-12-03 23:06] cbruscato commented on #337
@bnfinet  So I'm having trouble following those instructions. It says to run ./do.sh bug_report yourdomain.com [yourotherdomain.com] which will create a redacted version of your config and logs and follow the instructions at the end to redact your Nginx config. That's why I grabbed as many relevant logs as I could and linked them.

Sorry, I've tried to provide what I can, but that command cannot b

[2020-12-04 00:10] bnfinet commented on #337
@cbruscato Vouch Proxy logs are sent to `stdout` of the `./vouch-proxy` process.  In the case of the docker containers you should be able to access the logs with `docker logs -f $VP_CONTAINER_NAME`  You may not be able to use `./do.sh bug_report` in this case.  If you look at the `./do.sh` script it might offer you some guidance on how you can use `sed` to redact the information before posting it

[2020-12-04 00:27] bnfinet commented on #338
@punkle I think this call to `responses.Error401()` should probably be a call to `responses.Error403()`.  Or perhaps there should be an `responses.Error401HTTP()` version which doesn't call `http.Error` which apparently sets `context-type: text`.

Would you care to submit a PR?

https://github.com/vouch/vouch-proxy/blob/master/handlers/auth.go#L56

[2020-12-04 00:33] punkle commented on #338
Hey. I will certainly try submit a request. Thinking out loud, I wonder would swapping the comment on line 103 and 102 of responses.go fix this.

[2020-12-04 00:45] bnfinet commented on #338
@punkle  The `responses.Error401()` call is the main response from `./validate` back to Nginx.  Since that's the hot path it's preferential to keep it fairly light as a text document.  I agree `401` is the right status.  A new method for `responses.Error401HTTP()` feels like the best way forward.

[2020-12-04 14:40] #337 closed

[2020-12-06 23:27] bnfinet commented on #303
Thanks @Husseinfo for the PR!  Sorry for the delay in reviewing.

This has been merged in `v0.18.0`

`oauth.code_challenge_method: S256` is enabled by default for the providers `google`, `github`, `azure`, and `indieauth`.

I'm tempted to enable it for `adfs` but they have only enabled PKCE in 2019.  I'd suspect there might be folks running VP against ADFS which doesn't have PKCE.

[2020-12-06 23:27] #303 closed

[2020-12-07 02:36] bnfinet commented on #309
@rhansen sorry for the delay in reviewing this PR

Unfortunately #310 breaks `github` support.  All of the `GetUserInfo` calls should be audited for each provider to ensure that `User.Sub` is populated.  Are you able to support such an effort?

[2020-12-07 02:46] bnfinet commented on #309
@rhansen I've added the Sub adjustment for `github` and a rudimentary fix in `structs.PrepareUserData` but it should still be looked at a bit closer IMHO.

[2020-12-07 03:02] bnfinet commented on #314
@xtra-be I'm looking at this now and would like to merge to master in the coming days.  Would you be in a position to help test?

[2020-12-07 08:05] FirefoxMetzger opened #339 "add "Working with claims in vouch-proxy" to the README"
I spend a few hours yesterday working out how to get scopes and claims going in vouch proxy. While all the documentation is there, it is a bit spread through multiple config files and issues. As I ended up taking bits and pieces from everywhere to eventually make it work, I thought I create a more concise list of steps to get it running. Maybe it's useful to some :)

1. Set the necessary `scope`s

[2020-12-07 11:03] kazigk commented on #339
And once again, someone did my job for me. You're a star!

[2020-12-07 11:24] kazigk commented on #339
Had you any luck with `groups` claim?

Everything else works for me, it's just the groups claim. I checked with jwt.io and `groups` are there.

[2020-12-07 16:08] xtra-be commented on #314
yes happy to test

we have a use case with external guests where this is a blocker

[2020-12-07 16:47] kazigk opened #340 "Vouch isn't passing groups claim downstream"
**Use a Paste Service**
Here's a [log](https://hasteb.in/dadevazi.log). I had to strip some sensitive data, but I left what's relevant.

**Describe the problem**
I have Vouch Proxy configured to forward the groups claim downstream.
The groups are in the JWT token, but for some reason Vouch Proxy is not forwarding them.

**Desktop (please complete the following information):**
not relevant, but
 -

[2020-12-07 16:50] flawedworld commented on #336
@bnfinet Currently I am experimenting this in my environment, should it be deemed to be fitting, I can most likely ensure this gets done.

[2020-12-07 22:42] bnfinet commented on #340
I suspect this is azure specific

@kazigk could you please post your config and logs in the manner described in the README to a gist

[2020-12-07 22:44] bnfinet commented on #339
@FirefoxMetzger awesome stuff!  Thanks for sharing.  Would you be interested in reformatting this to be a new section of the README?

[2020-12-08 00:59] kazigk commented on #340
Sure, however bug_report doesn't work for me. I can create a fresh test environment and post full logs if this would help. Right now I'm testing with my company's AAD, so I have to redact everything.

[Output of bug_report](https://hasteb.in/qudisuhu.yaml)
(I had to redact tenant id from URLs, everything else is left intact)

[Nginx config for my test app](https://hasteb.in/icavuyek.nginx)
[Nginx

[2020-12-08 01:06] bnfinet commented on #340
@kazigk without a complete log, full roundtrip w/ debug and testing I'm not able to see where the problem is or any of VP's behavior

[2020-12-08 01:13] kazigk commented on #340
I will update you with complete log today or tomorrow. Thank you for your help!

[2020-12-08 01:44] bnfinet commented on #340
@kazigk thanks that'll very helpful

If you're in a position to improve `./do.sh bug_report`'s  `_redact()` routine, I'm happy to have additional patterns or full `sed` calls for better and easier bug reporting

[2020-12-08 03:49] bnfinet commented on #297
@danfaizer excellent stuff.  Thanks again for the contribution.

[2020-12-08 03:49] #297 closed

[2020-12-08 05:42] UberKitten commented on #309
I noticed this issue today when playing around with authenticating guest users in Azure AD through OIDC. In AAD guest users are not in the directory themselves, just authorized to log in to the directory with an external email. The user info has sub and email but no username so it fails.

[2020-12-08 09:35] tmatilai commented on #304
To be fair, maintaining the changelog is quite difficult unless you are also maintaining the project and know what is going on.

But I would also find it valuable. Maybe at least an automated one with PR titles and links, if adding the bullets manually feels too much?

[2020-12-08 11:07] FirefoxMetzger commented on #339
@kazigk I have not used the `groups` claim yet. There is an example for them in the config files on `master` though.

https://github.com/vouch/vouch-proxy/blob/master/config/config.yml_example#L128-L140

Maybe that can help :)

@bnfinet Sure, what would that entail and where would it go? Would I edit my post and link the issue from `Readme.md` (similar to other things there) or would we make a new

[2020-12-08 12:09] bnfinet commented on #339
@FirefoxMetzger I think its enough of a feature that it deserves it's own section.

It's apparent that as new features are added to `config.yml` that `config.yml_example` is starting to feel like a messy place to document features.

It could be a hybrid where your example files for `config.yml` and `nginx.conf` live in `/examples`, linked to from relevant snippets in the README.

This disclaimer i

[2020-12-08 12:15] bnfinet commented on #309
@UberKitten that sounds like #314

[2020-12-08 20:42] FirefoxMetzger commented on #339
@bnfinet Alright. I will be busy until Friday, unfortunately. I will fork the repo then and create documentation for you to review.

[2020-12-08 22:44] bnfinet commented on #339
@FirefoxMetzger thank you!  That's very much appreciated.

[2020-12-09 03:24] frisson commented on #305
As an alternative to [bitly/oauth2_proxy](https://github.com/bitly/oauth2_proxy) to provide SSO for in-house applications. We deploy to k8s and needed a way to authenticate services. We already use okta and this provides the easiest integration. One big benefit is one can deploy a single instance of vouch instead of a proxy per service.

[2020-12-09 05:55] UberKitten commented on #309
@bnfinet Ah yes, it is. I've been getting the "no User found in jwt" error but that's the root cause. Thanks!

[2020-12-10 08:55] kazigk commented on #340
@bnfinet I could work on this in the future, but I'm not promising anything.

I hope [this gist](https://gist.github.com/kazigk/ad55cc74bcc022f839183d128ade8a35) is everything you need. Full log, configs and some useful things. This is my test environment, so I don't need to care about any sensitive data.

[2020-12-11 15:03] RishabhAsthana commented on #334
Actually, I am not sure if it is only invalid jwt causing. It happens sometimes, the logs indicate either a malformed token was received (gzip errors), and that ends up unsettling the cookies because of re-login.

I ended up removing that logic for clearing cookies and it has been working fine so far.

Thanks for the help @bnfinet !

[2020-12-11 15:03] #334 closed

[2020-12-11 15:06] RishabhAsthana commented on #340
@kazigk are the groups in the id_token or access_token?
In my case, they were always in id_token so I had to change some logic around to make Vouch get group claims from user id_token instead. This was after getting frustrated with the Azure AD documentation and several days of trial and error, so this may very well be unorthodox in terms of OAuth

[2020-12-11 15:30] bnfinet commented on #334
gzip errors seems particularly odd.  I wonder if the nginx buffers should
be opened up a bit.

I'm glad that it's working for you now

On Fri, Dec 11, 2020, 7:03 AM Rishabh Asthana <notifications@github.com>
wrote:

[2020-12-11 17:40] RishabhAsthana commented on #334
The cookie size is within the 4kb limit. Did a lot of whitelisting on the Azure end to keep the tokens small, but that's a good idea. I shall give it a go. Ended up increasing the expiration time of credentials as well so maybe that's why I am just getting fewer reports.

[2020-12-12 19:24] kazigk commented on #340
I got the groups from `X-Vouch-IdP-IdToken` header after using jwt.io tool. If there's anything else I can do, please let me know. Unfortunately Golang isn't on my list of languages I speak, so I can't do much by myself

[2020-12-15 07:50] Gourds opened #342 "/auth Invalid session state: stored %!s(<nil>), returned"
### Problem:
In the process of testing vouch-proxy, I encountered the following problem

###  vouch  proxy config
[code]
### Nginx protect site config
[code]
### Nginx vouch config
[code]

### Nginx vouch error log

[code]

[2020-12-15 11:37] bnfinet commented on #342
Please supply full logs, one full roundtrip, in a gist, as per the README.
Do not post logs or config to the issue

On Mon, Dec 14, 2020, 11:51 PM Guo YaFeng <notifications@github.com> wrote:

[2020-12-16 01:37] Gourds commented on #342
[code]

[2020-12-16 02:58] #342 closed

[2020-12-16 06:57] xtra-be commented on #314
has this allready been commit to the main branch?

[2020-12-16 09:32] Gourds opened #344 "new provider to support Aliyun iDaas / Alibaba OIDC (userInfo fix, should be easy)"
here is my vouch proxy config
https://gist.github.com/Gourds/354df4f711d1f394c925a3ddaf8e7754

nginx vouch config: https://gist.github.com/Gourds/ae0fde3ecc24b6e0afd9165eac7e8874
nginx protect app config: https://gist.github.com/Gourds/915f2ddd96c6f6d4729165108d603ee3
here is vouch-proxy debug log
https://gist.github.com/Gourds/844b7c5ed53c8790d7b151733ce4267f

In debug mode,
when i go to my prote

[2020-12-16 15:44] bnfinet commented on #344
Try adding the host header to your protected app config /validate block.

Which IdP is the provider?

Please supply a full log that includes startup of VP.

On Wed, Dec 16, 2020, 1:32 AM Guo YaFeng <notifications@github.com> wrote:

[2020-12-16 15:53] bnfinet commented on #314
@xtra-be no I was waiting for you to test the PR with the additional code.  My apologies if that was not clear.

[2020-12-17 01:52] Gourds commented on #344
Now I use Aliyun iDaas service ,Here is Oauth2 Document
https://help.aliyun.com/document_detail/193871.html?spm=a2c4g.11186623.6.613.71b546cbIKBKgs

[2020-12-17 05:47] xtra-be commented on #314
can you provide me with a build to test?
i'm not that good in compiling go code :-(

[2020-12-17 06:50] bnfinet commented on #314
Look at do.sh, it includes a build command

On Wed, Dec 16, 2020, 9:47 PM xtra-be <notifications@github.com> wrote:

[2020-12-17 07:40] phibos commented on #175
I think having more options to verify access directly with VP is a great idea.

Implementing an access list like feature might be a very flexible way. Please have a look at the example below.
[code]

The rules are processed from top to bottom and first match wins. If no rule matches the access is denied. In the future this could also replace the whitelist, teamWhitelist and #251

We could replace

[2020-12-17 07:51] xtra-be commented on #314
as i say not realy good at go

when i try to build i get following error:

./do.sh build
go.uber.org/multierr
# go.uber.org/multierr
../go.uber.org/multierr/error.go:197:6: undefined: errors.As
../go.uber.org/multierr/error.go:210:6: undefined: errors.Is

[2020-12-17 16:19] RishabhAsthana commented on #340
<img width="1878" alt="Screen Shot 2020-12-17 at 10 16 22 AM" src="https://user-images.githubusercontent.com/22674480/102513686-24459280-4051-11eb-81de-d5b1bee1f686.png">

This is all I did to get groups from the id_token instead

[2020-12-18 04:52] chiefbrain commented on #114
If client_id/client_secret would be configurable per (sub)domain, different clients for each sites can be configured at the IdP.
Perhaps with the help of the map proposed in #302.

Another option would be to make the auth provider configurable per subdomain and allow multiple entries in oauth. This would be a clean solution regarding #302.

[2020-12-18 10:08] kazigk commented on #340
Thank you @RishabhAsthana! I will test it and let you know if it works

[2020-12-18 10:28] jdavid5815 commented on #314
Hi,

I just performed a new build and tried the patch in our testing evironment. Unfortunately, it seems to be completely broken:

`{"level":"debug","ts":1608286784.6549444,"msg":"/validate"}
{"level":"error","ts":1608286784.65498,"msg":"no jwt found in request"}
{"level":"debug","ts":1608286784.6549952,"msg":"setting the cookie domain to ********************"}
{"level":"debug","ts":1608286784.655

[2020-12-18 21:14] bnfinet commented on #344
@Gourds

Yes

The log you supplied is not a full round trip including startup.

What's there shows a successful authentication and issuing a VP token/cookie.

[2020-12-18 22:03] bnfinet commented on #314
@jdavid5815 thank you for testing the PR

With that log I can't rule out that this error (panic) is configuration related.  `login.go:100` is not within the scope of this PR.

Could you please upload config and logs (full round trip) to a gist in the manner described in the README.

Thanks again.

[2020-12-18 22:28] bnfinet commented on #314
@xtra-be the README includes instructions on how to build VP.  If those instructions do not work for you, could you please work to improve them

[2020-12-18 23:26] #339 closed

[2020-12-21 06:49] Gourds commented on #344
I see the following log in the vouch-proxy log, it should be successfully authenticated with idP ?

the vouch-proxy full log is there: https://gist.github.com/5f220728c6829ce8e520d95e0dc68565#file-vouch_log_2-log

[2020-12-21 22:38] bnfinet commented on #344
@Gourds that log appears to show VP working normally

Are you able to navigate to your protected site after logging in at your IdP?  Instead of `/logout` you should click the link at the bottom to your original destination

[2020-12-22 02:20] Gourds commented on #344
when i click the the link at the bottom

http://test_sso_nginx_a.taiheops.com:2081/

the vouch-proxy page will be show `302 redirect to: http://test_sso_nginx_a.taiheops.com:2081/`
this is right address but  the response is `400 Bad Request`

My service start URL is

`https://ynfyvjwiaw.login.aliyunidaas.com/api/bff/v1.2/enduser/portal/sso/go_d501aa5d2d3f30b7b4dd35e44fbe72bap3rsFb9dlFs?access_toke

[2020-12-22 02:23] aaronpk commented on #344
That's funny, I was fighting the same issue this evening. Can you check your nginx access logs to see if the browser is making a request to `favicon.ico` that's getting caught by vouch?

[2020-12-22 02:28] Gourds commented on #344
`2020/12/22 02:18:26 [warn] 3231#0: *202 an upstream response is buffered to a temporary file /var/lib/nginx/tmp/proxy/5/00/0000000005 while reading upstream, client: 123.126.87.108, server: vouch.taiheops.com, request: "GET /static/img/favicon.ico HTTP/1.1", upstream: "http://127.0.0.1:9090/static/img/favicon.ico", host: "vouch.taiheops.com:2081", referrer: "http://vouch.taiheops.com:2081/auth?co

[2020-12-23 23:25] layanto opened #346 "vouch-proxy with Gitea working on v0.17.4 but stops working on v0.18.0+"
**Describe the problem**
Getting 400 Bad Request after successful login to Gitea. Using exactly the same nginx, Gitea and vouch config, all working with vouch v0.17.4 (or earlier) but with vouch v0.18.0 (or later), I get 400 Bad Request. I have tried testing: true and all the redirects worked as expected, though still getting 400 Bad Request. It appears that the change between vouch v0.18.0 and v0

[2020-12-24 00:48] bnfinet commented on #346
@layanto thanks for the report.  Can you please use the latest version of VP and post a full log to a gist as per the README?

[2020-12-27 01:34] vkopio commented on #249
I had this exact problem and adding the above iptables rule solved it for me. Even though this is not directly related to the project it would be beneficial to have a mention about this in the documentation as Docker is the main way of using the proxy.

[2020-12-27 01:44] bnfinet commented on #249
@vkopio where in the documentation would you suggest this be mentioned?  In the `Docker` section?

Would you care to submit a PR to update the PR with a note that links to this issue?

[2020-12-27 08:39] kazigk commented on #340
@RishabhAsthana First of all, your code works and you are my hero!

I also tried to get it working with access token. Just out of curiosity. And...
You're right. Groups are not in access token. After reading [this](https://social.msdn.microsoft.com/Forums/sqlserver/en-US/a211126f-dff3-416c-a568-46f9a863d282/groups-not-in-access-token?forum=WindowsAzureAD) and [this](https://docs.microsoft.com/en-u

[2020-12-27 08:57] kazigk commented on #340
Oh, I just noticed there is PR #320 allowing to use preferred token. The mentioned PR solves this issue.

[2020-12-27 21:22] RishabhAsthana commented on #340
Nice find! Hope that gets merged soon

[2020-12-28 04:37] bnfinet commented on #340
@RishabhAsthana and @kazigk could you please join the discussion on #314

I would like to merge #320 but I haven't had anyone post a successful test.  If you could please post a full working log to that thread it would be much appreciated.

I am not an Azure user.

[2020-12-28 06:59] kazigk commented on #340
@bnfinet I need to prepare multi-tenant environment to test this. I will update you with a comment on the issue you mentioned. Happy New Year everyone! 🍾

[2020-12-28 08:21] bnfinet commented on #340
@kazigk thank you!  That would be very helpful.

Happy New Year to you and yours as well!

[2020-12-28 15:42] eldondev commented on #346
I am also seeing this. I will try to get the requested logs. For the record, I am using the latest tag from docker hub for both gitea/gitea and voucher/vouch. Also, if I create a brand new oauth app, and update the vouch config to use that oauth client id/secret it works for a little while. I have the provider configured as "github" in the vouch config, as per a previous issue on gitea/vouch.

[2020-12-29 00:44] layanto commented on #346
I was also using gitea and vouch latest docker image. As workaround, I now use 0.17.4 tag for vouch docker image.

Trying to figure out how to use the ./do.sh with vouch docker image.

[2020-12-29 01:00] bnfinet commented on #346
@layanto any chance you could supply that log for the most recent version?  I'm happy to help work the issue.

wrt to `./do.sh` for `0.17.4` you should be able to adjust the `IMAGE` variable.

https://github.com/vouch/vouch-proxy/blob/master/do.sh#L12

[2020-12-29 01:35] layanto commented on #346
Will try tonight. I am presently only using the vouch docker image. To use the do.sh, do I need to git checkout this repo and then run the do.sh? Maybe easier just to take the log as is and then change my oauth key in gitea?

[2020-12-29 11:06] layanto commented on #346
Couldn't figure out how to use the do.sh so I ended up manually sanitizing the debug log. Gists below:
vouch 0.17.4 (working): https://gist.github.com/layanto/13d921fe303bf094cf606d11ce2f268f
vouch 0.19.1 (not working): https://gist.github.com/layanto/7598de4cb54fbb0bd578ae9d5de908ec

I changed my domain to domain.com, gitea URL to gitea.domain.com, vouch URL to vouch.domain.com, application URL p

[2020-12-29 11:13] layanto commented on #346
Would be a great feature if via config option, vouch can generate sanitized debug.log as a file in /data. This way the log file can be access in docker's host machine. Vouch already knows all the sensitive information (already in config or environment variables) so should be able to sanitize them without additional info from user (such as via do.sh which I couldn't figure out how to use).

[2020-12-29 17:42] bdruth opened #347 "Support for pre-signed URL of some sort?"
Hello! I've been searching around the docs & issues & Google and my search-fu isn't coming up with anything. I have been using Vouch Proxy + Okta OIDC for some time now with great success. I have a new use-case, however, that I haven't had any luck supporting, and I may just not understand how some of the moving parts ... move.

What I'm trying to do is generate a URL to a protected resource that

[2020-12-30 23:26] bnfinet commented on #347
@bdruth  thanks for the kind words!  I don't think this is going to be feasible with VP but I'll offer some thoughts..

VP does look for the issued token in the URL query string value of  `access_token`...

https://vouch.yourdomain.com/validate?access_token=$VP_JWT

However that's practically an undocumented feature.  Its intended use was for protected apps to validate a VP token with a call back

[2020-12-31 01:48] bdruth commented on #347
Thanks for taking the time to respond! My use case is maybe odd ... I'm generating a file (video recording) and then sending a notification to a device (my phone) ... in general, that file is "protected", but I'd like to be able to open the notification and just view the file, if it's within a few minutes.

Your idea is definitely doable, I think - my head was starting to meander in that direction

[2021-01-09 00:43] alirazeen opened #348 "Supporting larger session states through the `MaxLength` property in `securecookie`?"
Hello! First, I'd like to thank the authors of this very useful project!

I have a suggestion. I have noticed that when a user visits a vouch-protected site, and the URL is very long, completing the oauth flow will result in a `400 Bad Request`. I suspect it's because the initial session state is not saved correctly. I see the following log lines from vouch:

[code]

Digging through the code and t

[2021-01-09 01:07] bnfinet commented on #348
@alirazeen thanks for the kind words

To clarify the URL is saved in a session cookie, not on the server.

please review #109 and other items in the issues related to "cookie size"

[2021-01-10 02:34] rissson commented on #309
I ran against this problem too. I need this fix, because I need to have multiple domains in `vouch.domains`. Unfortunately not all my users have an email address in those domains and thus get denied login.

[2021-01-11 14:26] alirazeen commented on #348
Ah, got it. I overlooked something while I was looking at which browser cookies were being set by Vouch and didn't see the session cookie.

In #109, you made an offhand remark that there might not be a need to set the domain on the session cookie. Why is it being done this way now? Isn't it enough for the session cookie to be set to the vouch domain? Are there situations where it's better to have

[2021-01-12 08:06] xtra-be commented on #314
hello @bnfinet
seems to be working on my private install

[2021-01-12 08:33] bnfinet commented on #314
@xtra-be If you could please supply a log that shows it working to a gist that would be very helpful.

[2021-01-12 13:22] gsx95 opened #349 "When opening the protected site in multiple tabs, login only works for the latest tab"
Hi,
we are working with vouch and we face a problem when opening multiple tabs of our protected domain at the same time.
In all tabs, vouch is correctly redirecting to the login page of our OIDC provider. When logging in in any Tab **but the latest one** the user is presented with an vouch error page and the logs are stating `Invalid session state: stored chQloRMDHm5ZYLphOV6t399uBrrXImhR, returned

[2021-01-12 14:14] aaronpk commented on #349
@bnfinet this is closely related to the bug I experienced with the favicon loading too, and i had an idea of how we might be able to handle this.

[2021-01-12 15:30] bnfinet commented on #309
@rissson have you tried 'allowAllUsers' config item?

[2021-01-12 17:27] bnfinet commented on #349
@gsx95 thank you so much for the detailed report!

And thanks for reaching out on IRC @fbuchmeier

Yes this is expected behavior.  I agree it is annoying behavior.  The common case is that someone has put their machine to sleep overnight and comes back in the morning, puts down the coffee and wants to get back to work.  All of the sudden their tabs are a mess.  I struggle with this myself.

My fir

[2021-01-12 17:34] bnfinet commented on #349
Oh I'm not thinking what else the IdP returns.  The $STATE nonce!

okay, this solution could work.  after `/auth` we would 302 bounce to `/login/authcycle/$STATE?recover=yes` and that 302 bounces back to the intended destination.

@gsx95 would you be interested in supporting a PR for this effort?

[2021-01-12 17:44] bnfinet commented on #349
there are several related issues ..
#348 session variable size
#109 overall cookie size
#334 each `/login` request clears existing cookies (`/login` is considered declarative and authoritative for "I am logging in")

[2021-01-12 22:30] gsx95 commented on #349
Hi @bnfinet,
thanks so much for your quick insight and ideas. I would be glad to help fix this issue.
I followed your suggestion above and that worked great. I created a PR for this which we can use for further discussions. There are still things that need to be done, and I am not so sure about some things, but at least we can speak about specific code now.

[2021-01-13 07:03] dionjwa commented on #305
I have a complete cloud stack template (app + ci + deploy in cloud providers with oauth). There are other oauth systems, but for a flexible simple single oauth service vouch is reliable and simple. I use `node.js` instead of `nginx` as the router of requests (maybe that config could be useful to others, idk it feels a pretty rare case). In a sense it replaces using Auth0, Okta, etc, or an integrat

[2021-01-13 20:51] bnfinet commented on #349
@gsx95 awesome stuff!  Thanks for the quick turn around.

I'm expecting to take a closer look at this tomorrow.

It occurred to me yesterday that this will require modification to any setups which use the "single-file" manner where VP is served from the same domain as the protected app...

https://github.com/vouch/vouch-proxy/blob/master/examples/nginx/single-file/nginx_with_vouch_single_server.co

[2021-01-13 21:16] gsx95 commented on #349
Oh shoot, hadn't thought of that.
Although if the nginx config in those setups are exactly as in the example you linked, this should work by not using a completely new endpoint but rather something like `/login/userauth` like you suggested yesterday, which would still be matched by the `location ~ ^/(auth|login|logout|static)`.
Will commit a fix for this in the PR tomorrow.

[2021-01-14 07:57] Gourds commented on #344
I haven't solved this problem.@aaronpk @bnfinet

[2021-01-14 11:41] bnfinet commented on #344
@Gourds Could you please confirm that your nginx and VP configs have not changed and then upload a full circle log again.

After that, please adjust your 'oauth.scopes' to be similar to the OIDC example config and then upload a full cycle VP log.

[2021-01-14 12:21] gsx95 commented on #349
I updated the PR, let me know what you think. I'm relatively sure this does not break existing setups :)

[2021-01-15 02:26] bnfinet commented on #349
@gsx95 that all looks really straight forward.  I'm so glad to hear it's working.

I'm OOO and (mostly) AFK for a few days here, back at it on Wednesday next week.  I want to take a moment to test this.  It's unlikely to get merged before late next week.

Which browsers & platforms have you tested this on at this point?

Thank you for the code and the time.  This is a wonderful improvement of VP.

[2021-01-15 02:49] bnfinet commented on #305
@dionjwa thanks for offering your setup and the kind words for VP.

I'm very curious about your usage of `node.js` in front of VP.  I'm sure it would be of value to other users if you cared to share more about how you're interacting with VP from node.  On occasion I've thought to myself that we should host language specific libraries to support interaction with VP.  If you were at all interested i

[2021-01-15 02:56] Gourds commented on #344
The log of the previous configuration unchanged：https://gist.github.com/Gourds/6e48dd3af121cb44399bbeb7619bfb7a
Looks the same as before.

I tested before that changing the `oauth.scopes` parameter does not take effect, because according to [Aliyun's documentation](https://www.alibabacloud.com/help/doc-detail/147465.htm?spm=a2c63.l28256.b99.19.507514fc5yig2G), only the `read` parameter should be s

[2021-01-15 02:57] Gourds commented on #344
I tested before that changing the `oauth.scopes` parameter does not take effect, because according to [Aliyun's documentation](https://www.alibabacloud.com/help/doc-detail/147465.htm?spm=a2c63.l28256.b99.19.507514fc5yig2G), only the `read` parameter should be supported.
when i change the vp `scopes` config to
[code]
log file is below
https://gist.github.com/ef955e8d60c13c493650a0e6c43cbf64

[2021-01-18 10:17] rissson commented on #309
Yes, that works, but then I can't use vouch proxy under different domains.

[2021-01-18 18:34] gsx95 commented on #349
I tested on

MacOS 11.1:
 - Firefox 84.0.2
 - Safari 14.0.2
 - Chrome 87.0.4280.141

iOS 14.3:
- Safari

 Windows 10:
 - Firefox 84.0.2
 - Chrome 87.0.4280.141
 - Internet Explorer
 - Edge 87.0.664.75

 Works fine for all of them, should maybe test on a linux distro too.

[2021-01-20 23:29] bnfinet commented on #309
@rissson If your users are not all within the same domain you may need to run multiple VPs, one for each domain, each with `allowAllUsers` and its own callback URL.

 `domains` is meant for orgs in which all users have email addresses within the specified domain.

[2021-01-21 01:18] phi1ipp opened #351 "Does Vouch support JWT token validation?"
Sorry, if it's a duplicate, I tried to find anything w/o any luck, hence asking.

Does Vouch support validation of JWT tokens passed as `Authorization: Bearer ...` based on issuer's JWKS? It looks like no, but maybe I just missed it.

Thank you

[2021-01-21 03:08] bnfinet commented on #349
@gsx95 thanks for the good code.  This feels like a big win for VP!

[2021-01-21 03:08] #349 closed

[2021-01-21 03:12] bnfinet commented on #344
@Gourds those logs continue to show VP working as expected.  It does appear that multiple requests are coming in at once.  There's a fix in the recent `v0.20.0` which may be helpful.  Could you please pull the most recent code (or Docker image) and see if that improves thing?

[2021-01-21 03:16] bnfinet commented on #351
@phi1ipp Vouch Proxy (VP) is the issuer.  If a token is passed to VP's `/validate` in an `Authorization: Bearer ...` header it will be validated.

With regard to validation of the origin token, this is a dup of #69

[2021-01-21 03:16] #351 closed

[2021-01-21 03:18] bnfinet commented on #347
@bdruth I'm going to close this though feel free to continue the discussion here if it would be of service to your concept.

[2021-01-21 03:18] #347 closed

[2021-01-21 03:22] bnfinet commented on #349
and I should add...

Tested on Linux with KDE neon 5.20 (Ubuntu Focal based)
* Firefox 83.0
* Chromium 87.0.4280.141

[2021-01-22 02:02] Gourds commented on #344
I upgraded the version to 0.20.0, the following is the log of the current VP

https://gist.github.com/Gourds/a9bffa692e9f5c16853d492314682082

In addition, I want to know whether the `auth, login, and validata` interfaces should be ok in debug mode

[2021-01-22 02:38] bnfinet commented on #344
@Gourds that log seems odd.  The typical pattern is..
* go to the protected URL
* nginx hits `/validate`
* redirect to `/login`
* redirect to the IdP (oidc endpoint for alibaba)
* successful IdP login redirects to `/auth`
* `/auth` makes a requests of the `oauth.userinfo_url`
* issues a VP token
* redirects the user to the original protected URL

But these logs are much more haphazard.  Why?  What

[2021-01-22 03:47] Gourds commented on #344
@bnfinet
Sorry,My operation may not be standardized before

Now vp config is https://gist.github.com/Gourds/7f3bedc07f20ab7d6eaa147ff5b9ffee
Nginx vouch config is also https://gist.github.com/Gourds/ae0fde3ecc24b6e0afd9165eac7e8874
Nginx protect app config is https://gist.github.com/Gourds/915f2ddd96c6f6d4729165108d603ee3

My step is as follow`in debug mode`
- go to protected url: `http://test_sso

[2021-01-26 03:28] bnfinet commented on #344
@Gourds Okay, now we're getting somewhere...

`2021-01-22T03:39:11.502Z	ERROR	no User found in jwt`

That's good to see in this case if only because it tells us that the cookie is missing the user information.

Upon further inspection I don't think that the `use_rinfo_url` is returning the proper information...

[this](https://gist.github.com/Gourds/cc426999accf50ec29c8a0797548c162#file-vp-log-5-l

[2021-01-26 19:49] whitesource-bolt-for-github[bot] opened #354 "CVE-2020-26160 (High) detected in github.com/dgrijalva/jwt-go-v3.2.0"
## CVE-2020-26160 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>github.com/dgrijalva/jwt-go-v3.2.0</b></p></summary>

<p>Golang implementation of JSON Web Tokens (JWT)</p>
<p>

Dependency Hierarchy:
  - :x: **github.com/dgrijalva/jwt-go-v3.2.0** (Vulnerable Libra

[2021-01-26 20:07] bnfinet commented on #354
My initial take is that we're not effected...

"This is a security problem if the JWT token is presented to a service that lacks its own audience check."

`/validate` does include `verifyUser()`

I'll investigate further and confirm.

[2021-01-27 11:17] Gourds commented on #344
@bnfinet
thank. I added alibaba's provider and it works now. But there are other problems.
when i go to `http://test_sso_nginx_a.taiheops.com:2081`  is successful.
in Aibaba‘IDaas service.The normal step is to jump from `Alibaba'IDaas` to `http://test_sso_nginx_a.taiheops.com:2081`,now
it will be jump to `http://vouch.taiheops.com:2081/auth?code=FHL9L9&state=9b436bc41865d4cee67563c60825b226RO05YDd

[2021-01-27 16:53] bnfinet commented on #344
@Gourds ...

That's great to hear.  Please submit a PR with the working code.  It'd be great to bring `ali` support to VP.

yes there is...
https://github.com/vouch/vouch-proxy/tree/master/examples/nginx/multi-file

WRT the error you are seeing please post full logs and configs in the manner described in the README.

[code]

That is evading security, that is not what you want.  The `vouch.taiheops

[2021-01-27 21:20] bnfinet commented on #327
@yannh I've left comments in #331

Cheers!

[2021-01-28 00:46] bnfinet commented on #324
@davmanu hi there, sorry for leaving this fallow for so long.  I've been poking at it a bit today and I have a few questions..

which IdP are you receiving inconsistent results from?  What's the specific setup that you're working with?

It's curious to me that there would be a mix of domains that your IdP would manage with some of them case sensitive and other's insensitive.  Would it be enough to

[2021-01-28 00:56] bnfinet commented on #314
@ReneHezser @simongottschlag @jdavid5815

Would any of you be in a position to test this PR, and if there is an error could you please upload your config and log as per the README.  I would like to merge this work but given the inconsistent results I'm not comfortable doing so quite yet.

Thanks to @simongottschlag for the code and all for the help and support of VP.

[2021-01-28 01:15] bnfinet commented on #346
@eldondev @layanto could you please try setting in your `oauth` config...

`code_challenge_method: ` (blank)
and then
`code_challenge_method:  plain`

I suspect that `gitea` does not support PKCE which was added to `v0.18.0` via #307

[2021-01-28 01:39] layanto commented on #346
Still not working - exactly the same error. I tried both (blank) and plain for code_challenge_method under oauth config.

[2021-01-28 03:11] Gourds commented on #344
@bnfinet
Yesterday may be the browser cache problem. Now I have tested that two protected apps can log in normally. However, the problem of ali redirection still exists. Alibaba Cloud has an IDaas console. From this console, there is a navigation page to jump to the address, This address should be the `Redirect URL: http://vouch.taiheops.com:2081/auth` what i configured on aliyun
`http://vouch.tai

[2021-01-28 03:29] Gourds commented on #344
@bnfinet
Aliabab/Aliyun provider support is there  #356

[2021-01-28 16:23] ex0nuss opened #357 "Does Vouch-proxy offers true SSO (Single Sign On)"
Hey there,

I love the Idea of vouch-proxy! But I am kinda confused about it's SSO capabilities.

My homelab is currently running a lot of service with builtin authentication (nextcloud, jellyfin, grafana, ...). My goal is to just login into vouch-proxy and the credentials are piped to the service I wanna access.
--> So true SSO: One Login, that's it.

Is this somehow possible with VP?

[2021-01-28 16:31] aaronpk commented on #357
It depends on the application's ability to accept outside authentication. I use it for basically this, where the backend applications all look for the presence of the HTTP header that Vouch sets to determine the user that is logged in. I'm not sure if NextCloud has a plugin for that, but it'd definitely be possible to create one.

[2021-01-28 16:35] ex0nuss commented on #357
Thanks for the quick reply!
I have heard that Nextcloud has an plugin called "social login" for this. I'll take a look at it when I have more spare time :)
Is this also possible with basic auth for legacy services?

[2021-01-28 16:43] aaronpk commented on #357
Vouch isn't a traditional IdP itself, although it would certainly be interesting to explore that idea. The backend applications that Vouch protects typically either don't have a concept of users (protect some sort of otherwise public dashboard), or can be configured to look for an HTTP header from the proxy and use that to sort of "force" the logged-in state in the application, e.g. the [remoteuse

[2021-01-28 16:52] ex0nuss commented on #357
Thanks so much for all the ideas!
I am already using the protecting public dashboards concept and it works great so far. I'll dig the internet to find something like that! :D

[2021-01-28 18:56] bnfinet commented on #357
@ex0nuss Thanks for the kind words.  I'm going to close this but feel free to ask more questions here if there's anything else we can help with.

[2021-01-28 18:56] #357 closed

[2021-01-28 18:59] bnfinet commented on #357
@aaronpk I hadn't seen the MediaWiki plugin before!  Are there other's that you know of?  Is it worth carrying a list in the README?

[2021-01-28 19:03] aaronpk commented on #357
a list in the readme is definitely a good idea!

[2021-01-28 19:31] bnfinet commented on #346
@layanto looks like gitea supports OIDC, what happens if you try `oauth.provider: oidc` (with and without `code_challenge`).

https://docs.gitea.io/en-us/oauth2-provider/

[2021-01-28 19:56] bnfinet commented on #354
`jwt-go` has gone fallow.  This discussion is trying to find the way forward...

https://github.com/dgrijalva/jwt-go/issues/428

This fork has a fix
https://github.com/form3tech-oss/jwt-go

[2021-01-28 22:57] bnfinet commented on #357
@aaronpk do you have any others?  A list of three seems more appealing than a list of one :)

[2021-01-29 01:32] layanto commented on #346
using oidc as oauth provider, Gitea works with v0.17.4 and latest. I didn't need to add the code_challenge_method. With github as oauth provider, Gitea only works with v0.17.4 or earlier and doesn't work with v0.18.0 or later.

@eldondev Can you check if you observe the same behaviour as above?

[2021-01-30 23:18] bnfinet commented on #82
There has been a clear log.warn in for 9 months...

`log.Warn("verifyUser: no domains, whitelist, teamWhitelist or AllowAllUsers configured, any successful auth to the IdP authorizes access")`

https://github.com/vouch/vouch-proxy/blob/master/handlers/auth.go#L166

I feel like that's a good compromise.  closing

[2021-01-30 23:18] #82 closed

[2021-01-31 01:29] bnfinet commented on #354
The VP side `aud` check was there, though I've cleaned up the check to make it more apparent.

[2021-01-31 19:27] mvivaldi commented on #346
Hi, with gitea 1.13.1 vouch latest and provider oidc everything is working again.

[2021-02-02 22:21] bnfinet commented on #354
merged in `v0.21.0`

[2021-02-02 22:21] #354 closed

[2021-02-02 22:55] bnfinet commented on #309
@rhansen are you still interested in supporting PR #310 ?  I'd love to work with you to get it merged.

[2021-02-02 23:11] bnfinet commented on #344
@Gourds thank you for submitting #356!

http://vouch.taiheops.com:2081/auth/0141cb0a0d5b4ebaf5db923e0ff17afaO2sY4djk8Xn_idp/?code=lsuiyp&state=0141cb0a0d5b4ebaf5db923e0ff17afaO2sY4djk8Xn_idp it will be return 400 and vp log is there

I'm not certain that I understand correctly but aliyun should be configured for the `callback_url`
http://vouch.taiheops.com:2081/auth
see #349

This [VP log](https:/

[2021-02-03 05:21] dionjwa opened #359 "Example using node.js instead of nginx to route requests"
Responding to https://github.com/vouch/vouch-proxy/issues/305#issuecomment-760609623 as an issue so as not to derail that discussion.

"I have a complete cloud stack template (app + ci + deploy in cloud providers with oauth). There are other oauth systems, but for a flexible simple single oauth service vouch is reliable and simple. I use node.js instead of nginx as the router of requests (maybe th

[2021-02-03 05:23] dionjwa commented on #305
@bnfinet See the issue linked above (I don't want to pollute this issue). I hope it's useful, happy to answer any questions about it, hopefully it makes sense. There may be some parts of the API I'm not doing properly, that I don't understand, like the vouch error handling possibly.

[2021-02-03 18:24] bnfinet commented on #359
@dionjwa wow!  That's fantastic stuff.  Thank you for the clear explanation.

@aaronpk and I have been discussing adding a new section to the README for integrations such as this one.  I'm going to open a PR for that.

[2021-02-03 18:36] bnfinet commented on #340
@kazigk friendly reminder of #314 and #320.  I'm hoping someone can post a working config and log (or a non-working log). I would love to move that along in either direction.  I hope that wouldn't take more than a half hour or so.  Cheers!

[2021-02-03 18:42] bnfinet commented on #346
@mvivaldi @layanto thanks for testing that out.

In your opinion should we consider this a docu-fix as "always use `oauth.provider: oidc` for Gitea"?  OIDC does not currently support the group features that are in the `github` provider.  Are those important?

My suspicion is that if this line were commented out it might work for Gitea as `provider: github`
https://github.com/vouch/vouch-proxy/blob

[2021-02-03 20:35] layanto commented on #346
I am using vouch docker from dockerhub. Not sure how to test commenting out a line in vouch's go code.
I am not sure if Gitea is using or supporting the group features.

[2021-02-03 20:42] bnfinet commented on #346
@layanto understood...

If you cared to build the container locally `./do.sh dbuild` would do it.

[2021-02-03 23:05] eldondev commented on #346
Just followed up here. The switch to OIDC also seems to work for me. One alternative might be to see if gitea would support  that code challenge method (if that is indeed the issue).

[2021-02-04 01:50] Gourds commented on #344
My test result is that the `redirect url` configured on Aliyun must be consistent with the `callback_url` configured in vp. If it is inconsistent, it will throw a URL mismatch error and cannot be redirected.

If I don't use Alibaba Cloud's navigation jump, there is no problem now.
Because vp protects multiple addresses, I think it is unreasonable to jump from a single link on the Alibaba Cloud nav

[2021-02-04 01:50] #344 closed

[2021-02-04 02:11] bnfinet commented on #344
@Gourds that all sounds favorable, but just to be clear you're saying it's working or you now?  :)

[2021-02-04 02:21] Gourds commented on #344
Now it can work normally. If I directly access the VP protected URLs, it can jump to login page then redirect normally.

[2021-02-04 03:11] eldondev commented on #346
@bnfinet Hey, I dug into the gitea source/docs a little bit, [it looks like they expect PKCE support to work](https://docs.gitea.io/en-us/oauth2-provider/) Also, they mention S256 in [the source of the oauth provider](https://github.com/go-gitea/gitea/blob/a07e67d9cc39506c149cfadcf0d6f2ab234cf7f6/models/oauth2_application.go#L340) , so, while frankly I don't expect them to be critical for my use c

[2021-02-04 03:22] bnfinet commented on #346
Thanks @eldondev  ...

If you could provide conf and logs as described in the README and then take that line out and do it again that would be a solid start towards trying to diagnose the issue.

[2021-02-09 12:04] sloonz commented on #305
Feedback from a non-user here. I have developed a custom solution very similar to vouch-proxy, and have looked at vouch-proxy to see if it can replace my own code. On its current state, it can’t. Here are the main differences, by order of importance :

- Stateful session vs stateless session : Vouch store the whole session in the cookie ; my solution just store an session ID, session data being st

[2021-02-09 14:01] bnfinet commented on #305
@sloonz that's interesting but that is off topic for this thread.

If you'd care to provide suggestions for how to improve VP please do so in a new issue.

I have moved your comment to this gist if you would care to do so....
https://gist.github.com/bnfinet/da814ceaf9d3a3334601fa48b55bc616

I will delete your comment and this one.

[2021-02-10 02:23] manavkapoor opened #360 "Passing a Basic Auth or other `Authorization` header to a backend service (Kibana and Elastic Search) after clearing Vouch Proxy"
I'm fronting Kibana (Elasticsearch UI) with Vouch and it's working just fine getting to the Kibana login page. Issue is I'm try to bypass the login page and the known way to do that is to pass a basic authorization header to Kibana. I've had issues trying to send an authorization header in addition to the Vouch cookie. I receive 403 Forbidden errors. The logs show that Vouch was able to authentica

[2021-02-10 18:14] datsabk commented on #145
@bnfinet are there plans to implement this flag? If not, can we add certificate to trust store somehow as a parameter in docker image or so?

[2021-02-10 18:15] bnfinet commented on #360
@manavkapoor thanks for the kind words

I think you're on the right track but I don't see a clear path to putting an `Authorization: Basic ...` header in place.

The RFC[1] of course specifes that the `id:password` portion of `Authorization: Basic realm="backend" bnfinet:supersecret` should be base64 encoded.

Nginx does not include a facility for base64 encoding.  There is a module which might he

[2021-02-10 18:17] aaronpk commented on #145
Please do not add a flag to disable cert verification. In practice this just ends up with people enabling this flag in production environments when they really shouldn't. Being able to add a custom root cert would be a much better solution.

[2021-02-10 18:21] bnfinet commented on #145
@datsabk can you please describe your problem in further detail?  `https/ssl` certs are not required by Vouch Proxy

[2021-02-10 18:26] aaronpk commented on #145
I'm assuming they mean the request Vouch Proxy makes to the OIDC token endpoint. If that endpoint is not one of the major providers but instead some custom service with a self-signed certificate the request would fail.

[2021-02-10 18:26] bnfinet commented on #145
Oh this is the client request to the OIDC provider.

@datsabk Which provider are you struggling with?

Yyou should be able to manipulate the cets in the Alpine docker image by extending image in a new Dockerfile with `FROM`.

[2021-02-11 06:00] datsabk commented on #145
@bnfinet This is the specific error I am talking about
{"level":"error","ts":1612979528.4830308,"msg":"/auth Error while retreiving user info after successful login at the OAuth provider: Post \"https://authorize.xyz.com/oauth2/token\": x509: certificate signed by unknown authority"}

It is an internal URL using certificate signed by our organisation - Hence, we need to explicit provide the CA cer

[2021-02-11 16:56] afreeman28 commented on #145
I am also having a similar issue with the ": x509: certificate signed by unknown authority" message.

Although, I don't believe my issue is the same as OP, but rather an issue with the ca-certificates.crt mapping in the docker container. My URL is signed correctly but still not being trusted by Vouch. Is there something additional that needs to be mapped to the Docker container other than mounting

[2021-02-11 19:16] bnfinet commented on #145
@datsabk what OIDC provider are you using?  Would it be workable to extend the Docker image as I suggested?

[2021-02-11 19:17] bnfinet commented on #145
@afreeman28 could you please be more specific and provide a config and log in the manner described in the README.  Please do open a new issue if you feel it is distinct.

What URL?  Which `oauth.provider`?  Which CA is not trusted?

I'm not really sure. Have you tried that? I bet it would work.

[2021-02-11 20:24] o0laxkilla0o opened #361 "build error: go get cannot find package"
running ./do.sh get the following error package github.com/hashicorp/hcl/hcl/printer: cannot find package

[2021-02-11 21:53] bnfinet commented on #361
@o0laxkilla0o thanks for the report

This is the underlying issue.
https://github.com/spf13/viper/issues/1076

The fix is to use [Golang modules](https://golang.org/ref/mod) which I have been remiss to do (I am a jilted lover).  Golang modules can be problematic when forking and building the software, has been an unstable api having changed significantly twice in three years and just generally sti

[2021-02-12 01:02] o0laxkilla0o commented on #361
I don't mean to be a bother but I am assuming I have to wait till you make a change on your end before I can build this correct?

[2021-02-12 04:32] bnfinet commented on #361
Well, you could download a Docker container which includes the prebuilt
binary and then 'docker cp /path/to/vouch/proxy ./'

But I'm not in a position to look at that closely at the moment.  :)

Otherwise yes, this will need to wait til early next week.

On Thu, Feb 11, 2021, 5:02 PM o0laxkilla0o <notifications@github.com> wrote:

[2021-02-15 14:39] bselu-cso opened #362 "Client credentials grant"
I figured that VouchProxy currently supports the regular "authorization code grant" only.

I'm looking for a possibility to get the "client credentials grant" working, like described here https://tools.ietf.org/html/rfc6749#section-4.4. I am thinking about extending VP so that it supports this kind of authorization flow.

Does this make sense anyway? Where in the code would it be a good idea to in

[2021-02-15 18:38] bnfinet commented on #362
@bselu-cso I think I know where you're headed but for posterity could you clarify and expand your use case a bit?  What problem are you trying to solve?  Is this about api access using bearer tokens?  Would this bypass Nginx?

VP is currently very focused on humans interacting with browsers but if this for could be accommodated with reasonable expansion and you'd be willing to support the work for

[2021-02-15 19:35] bselu-cso commented on #362
My use-case is indeed not the typical human-browser interaction. Instead, I have a client app which needs to talk to some service. Nginx would not be bypassed. The service itself is not secured in any way, security would be provided by nginx / VP by verifying the client-id and client-secret against an oauth-server. As the client app doesn't have any means of interaction with a user, the client cre

[2021-02-15 19:41] aaronpk commented on #362
I have wanted to do something similar as well, I have nginx+Vouch sitting in front of a MediaWiki install, and I want to write a script that uses the MediaWiki API, but it needs to get through Vouch first. Because it's a script, it would be a lot easier to use something like the client credentials grant to get through Vouch instead of trying to emulate an OAuth flow in a browser.

[2021-02-16 03:46] rajendrarusmana commented on #361
Hi, I tried just adding one line in do.sh `export GO111MODULES=on` and that seems to do the trick. Would this be acceptable as a pull request or just in a branch in this repo? Because one of our applications has a broken build due to this and if possible we would try to avoid forking.

[2021-02-16 10:39] bnfinet commented on #361
Unfortunately while that is a quick fix that's kicking the can down the
road.

It's time for 'go mod init' and 'go mod tidy'.  Might as well jump in with
both feet.

Thanks nonetheless, that's a good data point.

(And it's casein point of the warts of the go modules system.)

On Mon, Feb 15, 2021, 7:46 PM rajendrarusmana <notifications@github.com>
wrote:

[2021-02-16 15:45] afreeman28 commented on #145
@bnfinet, I am utilizing the ODIC provider with OKTA.

I have had Vouch successfully authenticating with the auto generated okta domain (i.e. dev-xxx.okta.com), however when I try to use a custom domain for OKTA (i.e sso.domain.com) with a properly sign CA, I receive  `400 Bad Request` `x509: certificate signed by unknown authority`

My custom OKTA domain is signed with Starfield Secure Certificat

[2021-02-16 15:49] rleal124 opened #363 "Install on ubuntu 18.04 without docker."
Hi

Is possible install Vouch-proxy without docker on Ubuntu 18.04.
I following the issue: https://github.com/vouch/vouch-proxy/issues/286

But I still don't understand how I can install.

Can please help how can install without docker or more simple way?

[2021-02-16 15:56] sloonz opened #364 "ansible playbook for Vouch Proxy"
Right now, Vouch works by sharing a cookie between the Vouch instance (vouch.example.com) and the protected domain (protected.example.com). This requires the two subdomains to be on the same main domain (example.com). The cookie directly contains the session data.

I propose to support a setup where a single Vouch instance can protect subdomains not sharing the same domain. This requires the sessi

[2021-02-16 17:52] bnfinet commented on #145
@afreeman28 is your file CA file at  `/etc/ssl/certs/ca-certificates.crt` ??

https://github.com/vouch/vouch-proxy/blob/master/Dockerfile#L22

Could you please upload your failing log to `gist` along with config and other items as per the README

[2021-02-16 18:07] bnfinet commented on #362
@bgehman that sounds reasonable

As a first step towards integration and design could you outline how you'd like to trigger/request and manage this flow with the existing endpoints `/validate`, `/login`, `/auth`, `/logout` and any new endpoints that might be required.  Just a quick outline would suffice.

[2021-02-16 18:16] bnfinet commented on #363
@rleal124 #unfortunately with #361 VP won't currently build properly.  The quick fixes listed there should work for a build.

As for installation of the software you'll need go installed.  There are several good tutorials out there for how to download and build go programs.

This is the preferred way to build... (once #361 is fixed).  As you found in #286 they are the same steps listed in the `Doc

[2021-02-16 18:16] #363 closed

[2021-02-16 18:23] bnfinet commented on #364
@sloonz how many separate domains are you trying to protect?

The great thing about VP currently is that is scales very easily.  As long as each instance carries the same secrets the VP Cookie/JWT can be validated anywhere.

I'd like to avoid adding this feature if possible as it effects scalability and increases complexity.  Feels like the kind of thing that could trigger a bunch of support reque

[2021-02-16 18:50] afreeman28 commented on #145
@bnfinet, Yes CA public CA files are at `/etc/ssl/certs/ca-certificates.crt`

logs: https://gist.github.com/afreeman28/18fccc8f346501448e8c603038731874

Vouch Config: https://gist.github.com/afreeman28/d52671a20e3e8191af3135502f4f4862

Vouch Docker commands: `docker run -d -p 9090:9090 --name vouch-proxy -v /etc/vouch/config:/config voucher/vouch-proxy`

[2021-02-16 20:03] sloonz commented on #364
My issue with running multiple instances of VP is not system resources, it is deployment simplicity.

My use case is protecting (many different) small backoffices that don't have an authentication logic programmed in it, and instead rely on the reverse proxy. All have their own domains, sometimes not under my direct control. Having one instance per domain is perfectly fine resources-wise, but havi

[2021-02-16 20:10] bnfinet commented on #364
Have you considered ansible, puppet, chef or those options?  If you're
going to have the setup on the nginx end you're already into templates and
boilerplates.

On Tue, Feb 16, 2021, 12:04 PM Simon Lipp <notifications@github.com> wrote:

[2021-02-16 20:13] sloonz commented on #364
I’m already using Ansible

[2021-02-16 20:28] bnfinet commented on #364
Oh that's awesome!  Are you able to share your vouch procedure?   I'd love
to add it to the '/examples'

On Tue, Feb 16, 2021, 12:13 PM Simon Lipp <notifications@github.com> wrote:

[2021-02-16 20:48] sloonz commented on #364
As of now I’m not using Vouch, I’m using a custom-developed solution, and I’m currently exploring what to do of it (replace it with Vouch ? something else ? open source it ?)

I have one global nginx instance on each server ; each "project" has its own Linux user with its own nginx instance. I have three ansible roles :

- Configure letsencrypt/global nginx (just add a vhost that will point to the

[2021-02-17 00:07] manavkapoor commented on #360
I appreciate the suggestions! Turns out it was a bug with our nginx configuration. You can totally pass base64 headers via nginx without the base64 specific module as seen below:

[code]
I love the proxy and I'm so happy it worked. Cheers!

[2021-02-17 00:07] #360 closed

[2021-02-17 04:52] bnfinet commented on #360
@manavkapoor I'm so glad to hear that!

Just to clarify, in that snippet you're passing a preconfigured (dummy) `user:pass` in `${es_kibana_basic_auth}`, is that right?  `${es_kibana_basic_auth}` isn't user specific?

[2021-02-17 09:57] bselu-cso commented on #362
I thought about this and figured that we'd just need `/validate` and `/auth` for this. Maybe `/logout` would make sense as well for revocation. This could be called when the client terminates itself or closes the connection deliberately.

I created a sequence diagram using PlantUML. Not sure, whether it is complete / correct. Please check it out. I use `Addressbook` as the service in my example:

[2021-02-17 14:16] aaronpk commented on #362
hmm this doesn't really map to the client credentials grant in OAuth, this is more of its own thing. I would not recommend sending the client secret in a GET request, that goes against the spec and all best practices. I'll try to come up with an alternative flow that I think would map better to existing specs.

[2021-02-17 15:00] bselu-cso commented on #362
@aaronpk IMHO this pretty much corresponds to the OAuth spec in https://tools.ietf.org/html/rfc6749#section-4.4. Where do you think does it deviate?

[2021-02-17 15:59] aaronpk commented on #362
Places where your diagram deviates from OAuth:

* You have a GET instead of POST for sending the client credentials, that is not allowed in OAuth and is also not a good idea
* The GET request to the auth endpoint contains a `url` parameter describing the resource it's asking for. This is fine, but is not part of OAuth at all
* The response to the request using the credentials is a redirect with a

[2021-02-17 16:44] bselu-cso commented on #362
Thanks a lot for your post. I see your points. I think I looked at it from a different perspective. For me, the client app including nginx and vouch would be what is depicted as "Client" in RFC6749:

     +---------+                                  +---------------+
     |         |                                  |               |
     |         |>--(A)- Client Authentication --->| Authorizatio

[2021-02-18 00:11] djcrabhat commented on #309
We designed a custom OIDC system where that's all UserInfo is giving back (and checking token's validity).  Per https://openid.net/specs/openid-connect-core-1_0.html#UserInfoResponse

VouchCookie gets set, when /validate is called, it's errors "no User found in jwt", because the Username field is blank https://github.com/vouch/vouch-proxy/blob/master/handlers/validate.go#L48
Would love if we could

[2021-02-18 20:59] bnfinet commented on #364
@sloonz thanks for clarifying and sharing your setup.

That all seems favorable for integration with an Ansible playbook for Vouch Proxy.  Would you be interested in working on such a playbook?  That would be a big win for the project IMHO and seems like it would satisfy your need as well.

[2021-02-18 21:15] bnfinet commented on #309
@djcrabhat thanks for the kind words and for taking a look at this.

Have you tested #310 against your OIDC setup?  Does it work?

from Dec 6th to @rhansen ..

Would you be in a position to perform such an audit and/or add tests for such?

[2021-02-18 21:16] bnfinet commented on #145
@afreeman28 need the logs with debug and testing please as per the README

[2021-02-18 21:30] bnfinet commented on #145
this is how Go looks for the certs...
https://golang.org/src/crypto/x509/root_linux.go

[2021-02-18 21:38] bnfinet commented on #145
@afreeman28 have you tested/verified `ca-certificates.crt` using `openssl` or in some other manner?  Is the signing chain sound?

[2021-02-18 22:03] djcrabhat commented on #309
@bnfinet will compile and test locally tomorrow (hopefully).  Once I get that going I'd be happy to take a whack at getting it well exercised in the tests.

[2021-02-18 22:44] #361 closed

[2021-02-18 23:07] bnfinet commented on #324
@davmanu are you still interested in furthering this work?  If not would you please close the PR and issue.

[2021-02-19 21:50] bnfinet commented on #344
@Gourds this has been merged in `v0.23.0`

Thanks again for working through that and the fine contribution to VP!

[2021-02-20 13:42] YetAnotherBugHunter opened #368 "Building on FreeBSD"
Ran into 2 minor issue with the do.sh script on FreeBSD.

[code]

1) The do.sh script uses a shebang of #!/bin/bash, but on FreeBSD bash is found at /usr/local/bin/bash. To get around this problem I change the shebang to:

  `$!/usr/bin/env bash`

2) The hostname command on FreeBSD does not support the -fqdn switch. The same results can be achieved by simply calling hostname without switches.

I a

[2021-02-20 17:55] bnfinet commented on #368
@YetAnotherBugHunter interesting!

Would you care to submit a PR for your changes? It would be most welcome!

I'd also suggest adding an `OS` field to this list and passing the OS as a param to the build.
https://github.com/vouch/vouch-proxy/blob/master/main.go#L51-L68

This block should also be modified to report the OS.
https://github.com/vouch/vouch-proxy/blob/master/main.go#L121-L130

Cheers!

[2021-02-21 13:57] YetAnotherBugHunter commented on #368
I submitted a PR for the two changes I made. Note that I created a new function, Hostname(), to hide the details since how to query for the FQDN can vary from OS to OS.

I'm assuming that the suggested changes to main.go were intended for someone else since I have not yet to passed GO nor collected ... :)

[2021-02-21 20:38] #368 closed

[2021-02-21 20:40] bnfinet commented on #368
@YetAnotherBugHunter thanks much!

[2021-02-24 00:50] jaredzhang opened #370 "Get claims from id token?"
for oidc provider, is it possible to make user info optional and get the claims from id token instead?

[2021-02-24 02:43] bnfinet commented on #370
@jaredzhang there is no current ability to gather claims from an IdToken via OIDC but I'd be open to considering offering the facility

[2021-02-24 22:59] bnfinet commented on #324
@davmanu I'm going to close the issue and PR, if you'd like to continue work on this we can reopen them both

[2021-02-24 23:05] bnfinet commented on #362
@aaronpk wrt to...

Would love to hear your thoughts if you're in a position to flesh out some design thinking.  VP is definitely an odd hybrid of client and server.  Should rename the product "Janus" :)

[2021-02-24 23:08] bnfinet commented on #364
@sloonz I'm going to leave this here as Ansible Playbook focused.  If you'd care to put effort towards that I'd love to have the conversation.

Otherwise I hope that someone else might be interested in improving VP in this manner.

[2021-03-01 22:23] aaronpk commented on #362
The way I was thinking about it is Vouch is actually already its own authorization server by the fact that it is issuing its own JWTs and validating them. The current method of issuing them is to redirect the browser to some other authorization server to figure out who the user is, and then it sets the JWT cookie down to the browser. This is a pretty typical flow where one AS delegates user authen

[2021-03-02 03:18] bnfinet commented on #362
@aaronpk fantastic stuff!  Thanks for fleshing that out and for the diagram.

wrt..

IMHO it'd be preferable for Vouch Proxy to delegate that authority to the upstream OAuth provider _if possible_.  The more VP can glean from the IdP the better.

@bselu-cso how does that strike you?  That would seem to provide what you're looking for, yeah?

[2021-03-03 00:06] YetAnotherBugHunter opened #371 "Configuring Vouch Proxy with self hosted GitLab on FreeBSD (including SSL via LetsEncrypt)"
Server OS: FreeBSD dev.ccr.net 12.2-RELEASE-p2 FreeBSD 12.2-RELEASE-p2 663e6b09467(HEAD) TRUENAS  amd64
Nginx: nginx version: nginx/1.18.0
vouch-proxy:

[gist](https://gist.github.com/YetAnotherBugHunter/cb6e0262e6bf19f6ecdb1ac4a74cc7e5) with the config.yaml, vouch-proxy.log and nginx.conf

**Describe the problem**

Setup two FreeBSD jail, csserver.ccr.net and gitlab.ccr.net (this is an instance o

[2021-03-03 00:55] bnfinet commented on #371
the VP config shows `vouch.domains` as...
`  - ccr.net.net`

I'm guessing that's a typo.  If you set `domain` you shouldn't need to set `cookie.domain`.

Your log never shows a request returning the `/auth` endpoint.  Why not?

Without the call to `/auth` there will never be a VP token/cookie issued.

[2021-03-03 00:56] bnfinet commented on #371
p.s. @YetAnotherBugHunter welcome back :)

Glad to see it running on FreeBSD.  Let's get you up and running.

[2021-03-03 13:38] YetAnotherBugHunter commented on #371
Thanks for the prompt reply.

[code]
Yes that is a typo that was introduced when I sanitized the configuration file.

`If you set domain you shouldn't need to set cookie.domain.`

Removed it from the VP config.yaml and retested with no noticeable difference.

`Your log never shows a request returning the /auth endpoint. Why not?`

That is the $64K question!
Could it be with the nginx configuration

[2021-03-03 17:41] bnfinet commented on #371
You're going to run into #309 until #367 is merged.

The Nginx conf looks pretty straight forward.

Is Gitlab setup to return to `vouch.ccr.net/auth`?  Usually that's established when you register Vouch Proxy to get the `clientid` and `clientsecret` issued.

If gitlab is just returning you to gitlab without ever forwarding you to VP then it seems like it's probably a gitlab issue.

[2021-03-03 21:53] YetAnotherBugHunter commented on #371
Do I need to enter a /auth location in the vouch server block?

Gitlab is configure as shown below. The Application ID and Secret have been redacted.
`
Application ID |  
-- | --
Secret |  
Callback URL | https://vouch.cidercreekranch.net/auth
Confidential | Yes
Scopes | openid (Authenticate using OpenID Connect)profile (Allows read-only access to the user's personal information using OpenID Conne

[2021-03-03 21:59] bnfinet commented on #371
no, it appears that all requests are being proxied to VP

Are you able to reach https://vouch.cidercreekranch.net/auth in your browser?

It looks like the VP service is running on `:80` but your `/auth` endpoint is https

[2021-03-03 22:52] YetAnotherBugHunter commented on #371
Yes. When I enter that url I'm redirected to the GitLab sign in page.

I changed the listen port to 443 and add the requisite cert/key entries and tried again in non-test mode. There is subtle difference in that the authorize button is now grayed-out after clicking on it.

Looking at the VP log I see the following:

`{"level":"debug","ts":1614810869.9698768,"msg":"/auth/{state}/"}
{"level":"error"

[2021-03-04 00:49] YetAnotherBugHunter commented on #371
`{"level":"debug","ts":1614810869.9698768,"msg":"/auth/{state}/"} {"level":"error","ts":1614810875.5880113,"msg":"/auth Error while retreiving user info after successful login at the OAuth provider: Post \"https://gitlab.ccr.net/oauth/token\": x509: certificate signed by unknown authority"}`

The above error maybe an issue with how FreeBSD manages the CA certificates. I checked the bundle that is

[2021-03-04 02:19] arionl commented on #314
Hello. Complete newbie here but I have a similar use case: AzureAD with both native and guest users. Not sure if any of this will be helpful, but here is some info about what guests vs. normal users look like in my AzureAD tenant. For guest users, they don't have a UPN  in `accessToken` as described above. However, both a native and a guest user seems to have a field called `unique_name` for me (I

[2021-03-04 17:33] bnfinet commented on #371
Thanks for documenting your progress.

this is how Go looks for the certs...
https://golang.org/src/crypto/x509/root_linux.go

[2021-03-04 18:56] YetAnotherBugHunter commented on #371
`{"level":"debug","ts":1614810869.9698768,"msg":"/auth/{state}/"} {"level":"error","ts":1614810875.5880113,"msg":"/auth Error while retreiving user info after successful login at the OAuth provider: Post \"https://gitlab.ccr.net/oauth/token\": x509: certificate signed by unknown authority"}`

Fixed the above error by install the Let's Encrypt intermediate certificates.

I wrote a script to install

[2021-03-04 20:09] bnfinet commented on #371
@YetAnotherBugHunter that's great to hear!

Are you running into any of the #309 / #367 problems with the user?  Perhaps they don't apply to your use case.

That's popped up a couple times with folks.  If you felt that it might be a worthy addition to `./do.sh` please do consider submitting a PR.  Some other peasant would likely rejoice to have that facility :)

[2021-03-04 23:20] YetAnotherBugHunter commented on #371
@bnfinet

No, I've has no further issues with vouch-proxy.

At the moment the script is FreeBSD centric. I would need to do some research on how the various flavours of Linux and other UNIX variants handle adding trusted certificates.

A quick check on an Ubuntu 18.04.5 VM instance I have shows that they do it in a similar way as FreeBSD. Which hopefully means that all Debian based distributions f

[2021-03-04 23:57] bnfinet commented on #371
@YetAnotherBugHunter glad to hear it's working.

I have a cert concatenation routine which takes certs from LetsEncrypt and joins them..

`cat ${DOMAIN}.key fullchain.cer > complete.pem`

This is used for a non-VP related item but it should work for VP too IIUC.

Good luck with the orchard. I just finished pollarding our mulberry and I've just put the first tray of starts out for the season.

[2021-03-05 07:34] iamareuben commented on #340
I tried to run #320 authenticating against an Azure AD with guest users, and had a bunch of errors.  I'm fairly new to Go, and I want to strip my project down to a minimum working example so will aim to post logs tomorrow, and potentially have a look at the code to see if I can figure out what's going on.

[2021-03-05 18:13] nswarnkar opened #372 "use custom AWS Cognito Login Page"
Hello,

We are using vouch proxy with AWS Cognito. When we open the backend site, protected by Vouch, it takes us to AWS Cognito login page. But we want to land this on our own Login Page, which is already using AWS Cognito SDK to user same Cognito User Pool.

Can you please let me know how can I have my own login page?

[2021-03-05 18:21] bnfinet commented on #372
@nswarnkar unfortunately I am not an AWS Cognito user and I'm not familiar with it's features.

Are you talking about this stuff... ?
https://docs.aws.amazon.com/cognito/latest/developerguide/cognito-user-pools-app-ui-customization.html

[2021-03-06 04:01] iamareuben commented on #340
@bnfinet I've posted a working config and log to #320 with a small change to the code.

[2021-03-08 02:52] sintaxx commented on #290
Has anyone any documentation on how to setup Vouch with Azure AD sitting behind an nginx reverse proxy ? This would be amazing.

[2021-03-08 16:51] nicholac commented on #348
Hi,

I'm also getting this error trying to use the `azure` provider and cant get it to redirect to protectedapp.

As a test setup I'm just using NGINX and Vouch in docker-compose on localhost, which a simple echo server as the protectedapp.

Each time I try the login it appears to succeed but then goes into a redirect loop:

Vouch Log:

[code]

NGINX Config:

[code]

Vouch Config:

[code]

Any poi

[2021-03-08 17:29] bnfinet commented on #348
@nicholac could you please edit your post in the manner described in the README

[2021-03-09 16:33] #364 closed

[2021-03-09 17:11] bnfinet commented on #348
@nicholac thanks for doing that

`session requestedURL set to https://+++++++++/`

How long is the URL you're trying to store?  I just want to confirm that we're running into this same issue.

[2021-03-10 08:35] nicholac commented on #348
Full URL at [line 76](https://gist.github.com/nicholac/e980beefcfa9bde0bc54eb6f93513ab6#file-vouch_azure_cookie_value_too_long-L76) is 18 chars: `https://localhost/`

Full URL at [line 90](https://gist.github.com/nicholac/e980beefcfa9bde0bc54eb6f93513ab6#file-vouch_azure_cookie_value_too_long-L90) is 1677 chars: https://localhost/auth?code=<**1561 chars**>&state=O9RuclIZi44VvoSUzPECXnO6fW2wYG&sess

[2021-03-11 14:43] pommedeterresautee opened #373 "redirection from `/auth` to `/auth/$STATE` fails when VP is hosted at a path such as `/vouch` (redirects to `/auth/$STATE` instead of `/vouch/auth/$STATE`)"
**Use a Paste Service**

[Link](https://gist.github.com/pommedeterresautee/83d01e70f9de35f9e84de26ec0260eaa) to logs with `vouch.testing` set to true

**Describe the problem**

Vouch has been configured to work with Okta and nginx.
With all version up to 0.19.2 it works well.
When we update to 0.20.0 or newer versions, the process works until the last redirection after being correctly logged.
The

[2021-03-11 15:33] bnfinet commented on #373
@pommedeterresautee interesting.  I can't reproduce the behavior.

Could you please provide your nginx config in a gist as described in the README.  Please move your VP config there to.  Line numbers really help for this stuff.

Why do you have the rewrite?  What does that help you accomplish?

[2021-03-11 15:44] bnfinet commented on #373
@pommedeterresautee your VP log only shows calls to a healthz endpoint

Where are the errant requests with the URL you've described?  Why is there no return call to /auth from Okta

[2021-03-11 15:49] pommedeterresautee commented on #373
I will recapture and repost, obviously I failed in my copy pasting tentative.
Regarding the config, VP config, you want me to remove it from the issue, even if secrets have been redacted, right?

[2021-03-11 15:54] bnfinet commented on #373
Your cookie.secure is false but your auth endpoint is https.  Usually they should align. Probably should be removed to default secure: true.

[2021-03-11 15:57] svrooij opened #374 "Financial support for Vouch"
We really like Vouch proxy and would like to sponsor you guys in making this even better, since there is no mention of any sponsoring in the Readme or in the issues. And there is not [sponsor button](https://docs.github.com/en/github/administering-a-repository/displaying-a-sponsor-button-in-your-repository) for this repository, I was wondering how to make this happen.

Personally I'm using it to s

[2021-03-11 21:37] pommedeterresautee commented on #373
I have updated the log and moved the config to gist.
There is no more the many health check calls.
That time, secure is set to `true`

[2021-03-11 23:16] bnfinet commented on #374
@svrooij Thank you so much for the kind sentiment and the offer of support.  That brings a smile to my face.

We've talked about turning on the sponsorship features via GitHub or using Open Source Collective.  It is something I would like to get up and running in the near future.

I'll be sure to let you and all of the VP community know when that's available.

[2021-03-11 23:18] bnfinet commented on #374
For now, the best way to support VP is..
* Star the repo on GitHub
* add code and features if you need an improvement
* provide good bug reports when something breaks
* tell your friends and associates, particularly via social media

Cheers!

[2021-03-12 12:39] punkle commented on #338
@bnfinet I have pushed something up there. Let me know if you have any feed back.

[2021-03-16 12:10] nicholac commented on #348
@bnfinet - Any pointers on the above & how we can get it to work with Azure OIDC?

[2021-03-17 16:57] bselu-cso commented on #362
Thanks for the nice diagram, @aaronpk. That would be working for my use-case, I guess.

One note: From my point of view it would make more sense to have the client send its POST authentication not to vouch directly but rather over ngnix forwarding it to vouch. Reasons:
1. Minimize the number of entities talking to vouch (simpler firewall rules).
2. Increase security by not exposing vouch endpoints

[2021-03-17 17:49] bnfinet commented on #362
@bselu-cso thanks for those...

VP doesn't really care where a request originates.  It tries to be as dumb a service as possible.

For VP development there's always a few common setups that I consider to be the ones which *must* be accommodated in order to not break existing setups in the field...

Everything behind nginx....
* nginx
  * secureapp.yourdomain.com/validate
     * auth_request --> VP

[2021-03-17 17:57] bnfinet commented on #373
sorry for the delay

I now see the call the `/auth` but then what happens?  Why are there no more logs after that?

Please offer at least two full roundtrips including all errors and failures `validate`, `login`, okta, `auth`, `auth/state`.

Thanks

[2021-03-17 18:03] bnfinet commented on #373
@gsx95 I'm wondering if this might be related to #349

If `/auth` is run at https://protectedapp.mydomain.com/vouch-in-a-path/auth

would the 302 redirect at
https://github.com/vouch/vouch-proxy/blob/master/handlers/auth.go#L46-L47

push the request to `/auth/$STATE` instead of `/vouch-in-a-path/auth/$STATE`

hmm.  That's an nginx/VP alignment issue I think.

[2021-03-17 20:01] pommedeterresautee commented on #373
Hi I have made several run login, validate. When I get to auth, because it misses a part of the path I get a 404 and it's not captured in VP log because it never sees it. However in the last log I entered /auth and /auth/state manually (with the right path), got error too but it's captured. Logs have been updated in the link present in the first message.

[2021-03-19 21:42] cdurepo opened #376 "Configuration of Vouch Proxy and Nginx with OpenAM IdP"
Hello.  I am trying to get VP to work with OpenAM.
It seems that OpenAM returns the JWT as a url parameter called code.
So in nginx I try to tell VP that by doing this in my /validate location:
 auth_request_set $auth_resp_jwt $arg_code;

but I keep getting these errors and a redirect loop
{"level":"error","ts":1616189394.1838589,"msg":"no jwt found in request"}

The question is how do I set the t

[2021-03-19 22:47] bnfinet commented on #376
Please post your config and logs in the manner described in the README.

On Fri, Mar 19, 2021, 2:42 PM cdurepo ***@***.***> wrote:

[2021-03-22 13:39] cdurepo commented on #376
I am working on doing that but I get an error when I try to run the bug report.

#
# redacted Vouch Proxy config/config.yml
# 2021-03-22
#

sed: -e expression #1, char 24: unknown option to `s'

[2021-03-22 14:23] bnfinet commented on #376
Could you please elaborate on your operating environment. Please cut and
paste commands you run and errors you receive and post them to a gist.

On Mon, Mar 22, 2021, 6:40 AM cdurepo ***@***.***> wrote:

[2021-03-22 14:43] cdurepo commented on #376
I was putting the secret in the command line and the special chars must have been breaking it.  It looks like it redacts it anyway so once I remove that it worked.  I am cleaning up my nginx now so I can post it.  Thank you for the help so far!  :-)

[2021-03-22 15:59] cdurepo commented on #376
Here is my gist: https://gist.github.com/cdurepo/eff8858a259f468052cc226e2e804a98

When I go to /protected I get my 302 to login via openAM.  Once I do that I get a 302 sending me back to my nginx at /protected,  nginx logs show me hitting /protected with the JWT in the url as ?code=JWT
that is why I have the entry in my nginx trying to grab that and set the header for vouch-proxy.

[2021-03-22 16:41] bnfinet commented on #376
Where are the VP logs?

Could you please post as per the README.

On Mon, Mar 22, 2021, 8:59 AM cdurepo ***@***.***> wrote:

[2021-03-22 16:48] bnfinet commented on #376
Oh they're there!  You'll need to fix that error and repost.

On Mon, Mar 22, 2021, 9:41 AM Benjamin Foote ***@***.***> wrote:

[2021-03-22 17:36] cdurepo commented on #376
I saw that error to but it not accurate.  Obviously vouch is finding the config file as it is running and sending me to the redirect.  I run it and I see that I hit it and I see output from where I ran, ./vouch-proxy.
When I don't start it I get 500 errors, if that error was correct I would only ever get a 500 error right?

I don't get why I see more output to my screen than the logs show.  Not su

[2021-03-22 17:39] cdurepo commented on #376
on the screen, after I start vouch I get this output:
2021-03-22T17:38:04.327Z	DEBUG	/validate
2021-03-22T17:38:04.327Z	ERROR	no jwt found in request
2021-03-22T17:38:04.327Z	DEBUG	domain IP.ADDR matched array value at [0]=IP.ADDR
2021-03-22T17:38:04.327Z	DEBUG	CaptureWriter.Write set w.StatusCode 401
2021-03-22T17:38:04.327Z	INFO	|401|  151.138µs /validate	{"statusCode": 401, "request": 21, "late

[2021-03-22 18:39] bnfinet commented on #376
@cdurepo could you please re-read the README and post you information to a gist in that manner.

If the README is unclear, could you please suggest improvements.

[2021-03-22 19:05] cdurepo commented on #376
I read it many times in the process of setting up my gist.  I don't understand what you are not seeing that I missed.  I don't see logs in my vouch directory.  I created the gist because of the read me.  I ran the do.sh bug_report because the readme told me too.  I included the nginx config as the readme said to do.  I don't see any logs, my last post was the standard out after starting vouch via

[2021-03-22 19:16] bnfinet commented on #376
the VP logs are sent to standard out.  Please copy and paste them into the
gist.  If `./do.sh bug_report` isn't working for you then please do find
another way.

We need logs from a "full roundtrip"...
/validate
/login
login at your IdP
/auth
/auth/$STATE

do not post logs to the issue please.

On Mon, Mar 22, 2021 at 12:05 PM cdurepo ***@***.***> wrote:

[2021-03-22 19:58] cdurepo commented on #376
I am sorry to be a pain, but I don't even understand what I am getting wrong. I put the logs that were in the ticket into the gist. https://gist.github.com/cdurepo/eff8858a259f468052cc226e2e804a98. is that all that was missing?  I have done everything else that has been asked.
"Round trip"
I hit my nginx, I get the redirect to my authentication, I authenticate, I get the redirect back to my nginx

[2021-03-22 20:27] bnfinet commented on #376
These are not logs related to the problem that you are experiencing.
https://gist.github.com/cdurepo/eff8858a259f468052cc226e2e804a98#file-gistfile1-txt-L60-L61

Without logs I can't understand what VP is doing and what you're asking VP to do.   Please take the logs which you are seeing and put them in the gist.

[2021-03-22 20:37] cdurepo commented on #376
I put them at the end of the file.  They report that it received no JWT token.
https://gist.github.com/cdurepo/eff8858a259f468052cc226e2e804a98#file-gistfile1-txt-L194-L199

[2021-03-22 20:43] bnfinet commented on #376
This is not going to work...
https://gist.github.com/cdurepo/eff8858a259f468052cc226e2e804a98#file-gistfile1-txt-L143-L150

The `error401` should 302 redirect to VP, not your IdP.

Why are you using IP addresses instead of hostnames?

[2021-03-23 19:08] cdurepo commented on #376
I was using IP address because I am just testing and did not want to run into issues with the proxy.  I moved to hostnames and the proxy does not seem to be an issue so I will test with those.  I have made the changes that you suggested but I have to wait on changes need from the OpenAM to add the redirect to /auth.

If I could ask another question while I wait for that, is VP expecting the connec

[2021-03-23 20:15] bnfinet commented on #376
Look for "third leg" here..
https://github.com/vouch/vouch-proxy#the-flow-of-login-and-authentication-using-google-oauth

VP issues it's own tokens.  The token from the IdP is used only during authentication with a direct server to server request.

[2021-03-26 18:27] gsx95 commented on #373
You are right @bnfinet, this is caused by VP's hard redirect to `/auth/state`, which doesn't account for vouch running on its own context path as in this case.
A possible fix could be to redirect to `./auth/state` instead to keep the context path. One would have to test this of course, but I think this could be a valid solution. Let me know what you think.

[2021-03-29 19:02] cdurepo commented on #376
Looks like that biggest issue was that /auth redirect that I had wrong.
I figured out what I had wrong with the bug_report.

Thank you for your help.

[2021-03-29 19:02] #376 closed

[2021-03-29 19:41] pommedeterresautee commented on #373
I would be happy to test that version when ready and report here for results.

[2021-03-30 10:19] bonnydeal opened #377 "Header X-Vouch-IdP-Claims-Cognito-Groups not set."
I have set up  a claim for "cognito:groups" in the config.
The vouch log reports:
`{"level":"info","ts":1617014646.7303452,"msg":"Vouch.header.claims cognito:groups will be forwarded downstream in the Header X-Vouch-IdP-Claims-Cognito-Groups"}`
However the header is not being set.
The value for "cognito:groups" is present and correct in the JWT.
All the other claims are being set correctly.

The [

[2021-03-31 15:38] davmanu commented on #324
Hi! I'm not sure why I didn't get a notification to your reply. Apologies for being late to the party here...

Internal SAML within IBM intranet.

For our use case, yes I believe so.

It has been so long that I forget whether we encountered this, or whether it was just that we looked up the spec for the technologies involved, primarily email, and thought it prudent to add that. I think it's the la

[2021-04-02 16:06] bnfinet commented on #377
I believe it should work, but I am not a cognito user and I have not tested that fix.

@bonnydeal could you please post logs and config in the manner described in the README?  Without those it's difficult to advise.

[2021-04-03 15:01] bonnydeal commented on #377
Trying to generate logs and config as per README, but when I set vouch.testing: true and logLevel: debug, when i run it i get 400 error on login. When i remove testing setting, it works again.

[2021-04-03 15:30] bonnydeal commented on #377
I have got the logs and the nginx conf into the gist here.

https://gist.github.com/bonnydeal/2b9a57f37d930194ea730e94f9752838

[2021-04-04 01:54] bnfinet commented on #377
I think you want to get rid of the `add_header` directives.
https://gist.github.com/bonnydeal/2b9a57f37d930194ea730e94f9752838#file-nginx-conf-L47-L51

But the bigger problem is that it appears that `cognito:group` is not being passed to VP
https://gist.github.com/bonnydeal/2b9a57f37d930194ea730e94f9752838#file-nginx-conf-L47-L51

Is there something else which needs to be configured on the Cognito

[2021-04-04 13:25] bonnydeal commented on #377
Hi
Thanks for the response.

I created a new gist of the vouch log with testing on (sorry, I forgot that in the earlier gist).
https://gist.github.com/bonnydeal/7e7b5dce99363ce81bbfe46b1cd01fe2

If i get rid of the add_header directives, I don't get any of the claims forwarded.
With the add_header in place I get them all apart from cognito groups.

I have checked the jwt token, and it does contain

[2021-04-04 17:04] bnfinet commented on #377
@bonnydeal if testing isn't working that may point at the problem with your setup

Please upload the log and config associated with `testing: true`.  If you're getting an error, lets troubleshoot that first.

Could you please re-read these and follow the instructions.  You may need to logout first.
https://github.com/vouch/vouch-proxy#okay-i-looked-at-the-issues-and-have-tried-some-things-with-my-

[2021-04-05 11:21] bonnydeal commented on #377
Hi

I have created a new gist with testing:true and attempted to log in.
https://gist.github.com/bonnydeal/091fd87199550a7839ba25147654ad66

I am using the docker method described here: https://github.com/vouch/vouch-proxy#okay-i-looked-at-the-issues-and-have-tried-some-things-with-my-configs-but-its-still-not-working:

docker run --name vouch_proxy -v $PWD/config:/config -v $PWD/certs:/certs -it

[2021-04-05 16:11] bnfinet commented on #377
@bonnydeal when you are redirected to the testing mode `/login` screen after accessing your protected website, do you click on the link to AWS Cognito (the 302 redirect)?  What happens then?

[2021-04-06 08:43] nrukavkov opened #378 "Feature request: validation by ip"
I want to suggest you add a feature for validation by IP before validation by a provider (google for example).

Here is a real case... We have a private web resource, which should be protected by vouch-proxy. But we have web requests from the internal network and also external. I suppose it would be very useful to not disturb users from the internal network.

Unfortunately, it is not possible to r

[2021-04-06 12:34] aaronpk commented on #378
I am strongly opposed to any sort of IP-based filtering as that violates the principle of zero trust. I would recommend accomplishing this with the future client credentials grant described in #362

[2021-04-06 13:02] nrukavkov commented on #378
I understand. But it is not about browser clients. I have build agent(teamcity) and I do not know how to use vouch-proxy for external clients and build agents together without tricks like creating a mirror of server section, etc.

[2021-04-06 13:33] bonnydeal commented on #377
OK,
my bad i didn't realise you had to click all the links in the testing page!

Now I have managed to login and get to my protected page and all works properly in testing mode as well.
I have created a new gist with the vouch log.
https://gist.github.com/bonnydeal/df33895b0ed02bfb49f11be2154b8855

[2021-04-06 20:25] bnfinet commented on #377
It does not appear that Cognito is passing the group array in the Userinfo call

https://gist.github.com/bonnydeal/df33895b0ed02bfb49f11be2154b8855#file-vouch-testing-log-L109-L110

This seems similar to what @rogerscuall was seeing in #221

@bonnydeal where did the JWT you decoded come from?  How are you seeing it from Cognito?

[2021-04-06 20:38] bnfinet commented on #378
@nrukavkov you can use Nginx's `satisfy any;` directive to achieve that...
http://nginx.org/en/docs/http/ngx_http_core_module.html#satisfy

Here's a setup I use to accommodate services on a network that I don't want to go through VP

in the `server {}` block..

[code]

[2021-04-06 20:38] #378 closed

[2021-04-06 20:54] bnfinet commented on #373
thanks @gsx95 would you be able to publish a fix and confirm it works for the common (VP at `vouch.mydomain.com/auth`) case and then we can ask @pommedeterresautee to build and test on his end?

Otherwise it will have to wait for me to get to it :)

[2021-04-06 22:18] bonnydeal commented on #377
I use the jwt token from  X-Vouch-IdP-IdToken from the /validate call
as described in the scopes and claims section here
https://github.com/vouch/vouch-proxy

On Tue, 6 Apr 2021, 21:25 Benjamin Foote, ***@***.***> wrote:

[2021-04-07 00:44] bnfinet commented on #377
upon further inspection #221 went fallow and was closed without resolution by the OP.  So I was mistaken when I said that it should work.

The issue is that the `IdToken` returned from the IdP is not inspected for claims.

OIDC looks at `userinfo`
https://github.com/vouch/vouch-proxy/blob/09a72cab24380c955179ca46d35392dcb25203d8/pkg/providers/openid/openid.go#L52

It could be improved to do someth

[2021-04-07 08:26] nrukavkov commented on #378
Thank you

[2021-04-07 08:30] nrukavkov opened #379 "cross domain support"
Hello guys. Is it possible to use your solution for cross-domains?

I mean I created an OAuth key(google) in domain example.com. But I want to use your solution for domains in zone dev: *.example.dev. I just get 400 errors. And maybe it is not possible to do.

[2021-04-07 08:33] dmueller1607 commented on #326
@FirefoxMetzger: It seems that you encoded the `?` instead of the `&` in the URL, right? Can you please provide your final URL? I'm getting a similar error in my logs when running the logout routine. Thank you.

[2021-04-07 09:15] FirefoxMetzger commented on #326
@dmueller1607  This was my nginx config.

[code]

In the comment above, I may have replaced the wrong character in the link. Also, the return URL itself should be fully encoded iirc (not just the `&`, but all special characters).

[2021-04-07 10:10] dmueller1607 commented on #326
@FirefoxMetzger I started your tutorial (https://sebastianwallkoetter.wordpress.com/2020/11/01/sso-for-your-app/), which is very interesting!

I haven't reached out to the "nginx" parts yet, I try to make a login (seems to work) and logout (here's the issue) using only a vouch instance on Docker compose, as described in your blog post.

Here are my settings (let's say my client id is 1234):

- Aut

[2021-04-07 10:59] FirefoxMetzger commented on #326
It looks like your vouch proxy instance disagrees 😆

What do your logs in Chrome say? The request to `/logout?...` should produce some kind of error in the header that might be insightful. In addition, you can check if you are actually forwarded to Auth0 or and (if so) if it forwards to the correct address or a truncated one (which could give you further insight).

Do basic redirects (not involvin

[2021-04-07 11:11] dmueller1607 commented on #326
All redirects (even if they don't involve Auth0) won't work:

- vouch config.yml:
[code]

Both URLs fail with the error `X-Vouch-Error: /logout The requested url is not present in `vouch.post_logout_redirect_uris`: https://google.com`:

* http://localhost:9090/logout?url=https://google.com
* http://localhost:9090/logout?url=https%3A%2F%2Fgoogle.com

[2021-04-07 11:22] FirefoxMetzger commented on #326
Then your problem is not related to the substitution of characters. Potentially, it is due to the fact that `post_logout_redirect_uris` is not parsed correctly. Maybe it is in the wrong section (indentation level) of your vouch.conf?

[2021-04-07 11:26] dmueller1607 commented on #326
I also checked this :-/ Everything looks fine...

The vouch log also prints the correct values for the `post_logout_redirect_uris` URIs:

[code]

[2021-04-07 11:50] dmueller1607 commented on #326
Finally, it worked for me! I guess the problem was a mixture of the points above. Seems like one of the URLs I provided in the `post_logout_redirect_uris` was somehow malformed.

Here my final configuration:

- Auth0 Logout URLs: <see the comments above>
- Vouch config.yml (the URLs must not be encoded here):
[code]

Then, use the Browser to submit the URL, with the part behind **?url=** as encode

[2021-04-07 20:41] bnfinet commented on #324
@davmanu thanks for the response.  Here's hoping you have time to work toward a merge in the coming days.

[2021-04-07 20:42] bnfinet commented on #324
and I should clarify, I think the preferred path forward is `vouch.case_insensitive_emails: boolean`

[2021-04-07 20:57] bnfinet commented on #326
@FirefoxMetzger thanks so much for helping @dmueller1607 to find his way

During startup VP provides some messages which are helpful for Nginx configuration such as these for claims headers..
https://github.com/vouch/vouch-proxy/blob/master/pkg/cfg/cfg.go#L467-L468

I wonder if there's a similar opportunity here for providing a cleaned string which would be able to be cut and pasted into nginx con

[2021-04-07 21:00] bnfinet commented on #379
multiple `vouch.domains` is supported as per the README and `config.yml_example` but it can be tricky.

without seeing your setup I can't really provide support.  Please provide logs and config in the manner described in the README.

[2021-04-08 09:14] bonnydeal commented on #377
I would be interested on working on that, but I have no experience in "Golang". I will try to have a look tonight.

I have also contacted AWS and they confirm it is not in the userInfo response. I have made a feature request for it to be included, but there is no guarantee that it will be or in what time-frame.
Another (AWS specific) idea would be to create a new endpoint for userInfo that calls a

[2021-04-13 07:52] nrukavkov commented on #379
Thank you. I suppose I did it.

[2021-04-13 07:52] #379 closed

[2021-04-13 10:16] rnalrd opened #380 "Packaging for the Alpine Linux distribution"
Hi,

I've packaged vouch-proxy for Alpine [1]. I've run into an issue when running from the packaged version vs built from source. Both running version 0.23.1.

The issue is that the ***packaged version*** does not correctly set the headers **X-Vouch-User** and **X-Vouch-Success** after successful authentication.

Nginx log
https://gist.github.com/rnalrd/2481eff24494595f9da88617683b3ff7

vouch log

[2021-04-13 15:20] rnalrd commented on #380
Sorry for that.

Can't really use do.sh to prepare the bug report, as it should run against the packaged version which place configuration, binary, logs and static files in different locations.

Please let me if you want me to make additional changes to the report or need additional info.

Thanks

[2021-04-13 16:37] bnfinet commented on #380
@rnalrd please provide full VP logs for both instances that you are offering here.  Full round trips as described in the README including the startup and the **version** of the software that is running and all other logs related to startup and each roundtrip.  Without that I can't really tell what VP is doing.

[2021-04-13 16:49] rnalrd commented on #380
ok will do, thanks

[2021-04-13 18:00] bnfinet commented on #380
A similar effort for NixOS and the Nix package manager
https://github.com/NixOS/nixpkgs/pull/118615

[2021-04-14 12:41] rnalrd commented on #380
Add the gists with vouch proxy full debugging logs. Please let me know if anything else is missing.

[2021-04-15 16:44] jmorris644 opened #381 "Is a discussion area available? Discourse?"
I am having difficulty implementing Vouch-proxy. I have looked for a discussion area to get assistance but have not found any. Does one exist?

[2021-04-15 16:48] bnfinet commented on #381
There is an irc channel #vouch on freenode.  There is no discourse.

Your best bet is to post an issue here.  Please read the README with how to post an issue.

[2021-04-15 16:48] #381 closed

[2021-04-16 22:26] bnfinet commented on #380
@rnalrd  Why isn't a `semver` or `version` in the log?  Are you building from a `git clone`??  Are you building with `./do.sh build`?
https://gist.github.com/rnalrd/c374f59d09384aee608e4699a9053576#file-gistfile1-txt-L14

Does your code base include `./.defaults.yml`?

[2021-04-19 07:42] rnalrd commented on #380
This has been very helpful. I missed to copy the .defaults.yml file [1]. Now it's running properly.

I'm building from a tagged version, so I've now included the semver during build [2].

Thanks!

[1] https://gitlab.alpinelinux.org/alpine/aports/-/commit/6db4e2533209bc0bf735ffe859e52ffc35ba2f17
[2] https://gitlab.alpinelinux.org/alpine/aports/-/commit/d45869879fc2af4b1c6838902b72012aab7f3a7d

[2021-04-19 07:42] #380 closed

[2021-04-22 09:28] eayin2 opened #382 "Infinite Redirect"
**Paste**
nginx config https://gist.github.com/eayin2/068b40e9a58e5546b8ffaebe228a177e
vouch log https://gist.github.com/eayin2/7dd5cd4be7e6f7bed4acd53d593b1150
vouch config https://gist.github.com/eayin2/d458d5ebbf2441f6d50f66e4a337bbeb
testing page: https://imgur.com/Z0uHWQV
Okta.com (API) config https://gist.github.com/eayin2/bb7abd111449e74cccb9462b01535fd1

**Problem**
Infinite redirect loop

[2021-04-22 09:56] bnfinet commented on #382
@eayin2 what version of the software are you running?  Could you please offer a VP log from startup?

Things to try..
* A bear bones VP config based on /conf
* Removing the duplicate 'auth_request' in /
* Turning on 'testing'

[2021-04-22 09:59] nrukavkov opened #383 "403 error when account is not logged in."
Hello. We use your amazing solution but we have a small inconvenience. If a user has only 1 google account and this account doesn't belong to our domain(we use google provider) - we got an error like in the screenshot.

![Снимок](https://user-images.githubusercontent.com/54890287/115694965-09ba5780-a36a-11eb-8e5c-3c28cad1520e.PNG)

**Expected behavior**
See a login page - not error.

**Additional

[2021-04-22 14:44] bnfinet commented on #383
Have you tried these solutions..

https://stackoverflow.com/questions/55285369/google-cloud-oauth-authorization-error-this-client-is-restricted-to-users-withi

What else have you tried?

On Thu, Apr 22, 2021, 2:59 AM Nikita Rukavkov ***@***.***>
wrote:

[2021-04-22 16:24] eayin2 commented on #382
**Paste**
Full VP log: https://gist.github.com/eayin2/7b7aa8fe4eb5dd6f21ceccce1560c4f8
nginx conf: https://gist.github.com/eayin2/08d05862cdc9cbfbc2b7ac96455319b9
VP config: https://gist.github.com/eayin2/2da785ea61009d0f5468ae152bde8770

Tried:
- A bear bones VP config based on /conf
- Removing the duplicate 'auth_request' in /
- Turning on 'testing'

How can I find out the version? I installed V

[2021-04-22 16:32] bnfinet commented on #382
version is here..
https://gist.github.com/eayin2/7b7aa8fe4eb5dd6f21ceccce1560c4f8#file-vp-full-log-L11

`v0.23.1` is the current version.

[code]

since you're using https, that should be `true`, which is the default so better yet removed.

[2021-04-22 16:42] eayin2 commented on #382
Removed `secure: false`. In VP log I see two relevant error, but I'm not sure what causes them:
[code]

[2021-04-22 17:11] bnfinet commented on #382
@eayin2 the first is saying you don't have a credential token (the cookie is not present, did not get set)

the second one says there was an error from Okta when it tried to retrieve your user information for the "third leg" server to server request to `https://dev-***.okta.com/oauth2/default/v1/userinfo`

Searching for "The authorization code is invalid or has expired" provides this explanation..

[2021-04-22 17:45] eayin2 commented on #382
Had to reinstall my digitalocean droplet and also create a new Okta account as I reached its rate limit (probably because of the many redirects). I will try the cookie test shortly, I wonder: what links I should click when I'm in `testing: true` mode. _Vouch_ shows me these links
[code]
When I click on the `octa link`: https://****.okta.com/oauth2/default/v1/authorize?client_id=0oamph5wxPWYzjxYI5d

[2021-04-22 17:49] bnfinet commented on #382
in general, you should click the newest link which is added to the bottom

[2021-04-22 18:08] eayin2 commented on #382
Great then I understood the procedure. With testing I can see now that it redirects in circles:
https://gist.github.com/eayin2/0dbe14b0b387b971771f411914c81cdf

**Paste**
VP conf https://gist.github.com/eayin2/79b81a16f1e4805b6a4c0ccdde19d80e
auth request (could produce only once, then it showed no cookie) https://gist.github.com/eayin2/43cee9e5b88bb743dea01ad1a230cc2d
VP logs https://gist.github.

[2021-04-22 18:24] bnfinet commented on #382
You're still configured `secure: false`.
https://gist.github.com/eayin2/79b81a16f1e4805b6a4c0ccdde19d80e#file-gistfile1-txt-L16-L17

[2021-04-22 18:32] eayin2 commented on #382
Removed `secure: false` again. Added it accidently again, when reinstalled my server
**Paste**
log https://gist.github.com/eayin2/7e04f6a06ece2fd5cc3f7422f07ef03f
conf https://gist.github.com/eayin2/581fd06ba7ed2c127a9c7de863f64c3d
nginx https://gist.github.com/eayin2/9f17f23ac8d91b7bee4f795a4dc16186

[2021-04-22 18:41] bnfinet commented on #382
@eayin2 try setting `vouch.cookie.domain: awsmppl.com`

[2021-04-22 18:53] eayin2 commented on #382
When I click on the /auth link only then I see the cookie, once I click on the other links the cookie is not visible anymore (in chrome inspect).
**Paste**
https://gist.github.com/eayin2/7e74edae5ec8daca766b271d30dafba1
https://gist.github.com/eayin2/74aef4e98fb463dbef60765d24dfd3b3

[2021-04-22 19:11] bnfinet commented on #382
do not click on the other links, just click on the new link at the bottom

what happens if you turn `testing` off?

Is the cookie present when you access https://streamasia.awsmppl.com/ ??

Is it getting set by the call to loginasia.awsmppl.com/auth/$STATE ??

[2021-04-22 19:19] bnfinet commented on #382
Is this accurate?
https://gist.github.com/eayin2/9f17f23ac8d91b7bee4f795a4dc16186#file-gistfile1-txt-L36

Is the `host` header being passed properly?

https://gist.github.com/eayin2/7e74edae5ec8daca766b271d30dafba1#file-gistfile1-txt-L13

[2021-04-22 19:31] eayin2 commented on #382
No I see a different request URL
Also I see this error in the response header:
x-vouch-error: /auth Error while retreiving user info after successful login at the OAuth provider: oauth2: cannot fetch token: 400 Bad Request Response: {"error":"invalid_grant","error_description":"The authorization code is invalid or has expired."}

Request URL: https://loginasia.awsmppl.com/auth/CWqvRWMXKb76EJ0h92A7

[2021-04-22 19:37] bnfinet commented on #382
I can't tell what question you are answering.

There's something wrong with the cookie not getting set into your browser.  I would advise you too only change one thing at a time.

I'm going to be afk for a few days.  Best of luck, feel free to update and I'll look again next week.

[2021-04-23 07:50] eayin2 commented on #382
I think maybe this is a bug. You can reproduce like this:
**Create dydns**
- Create a an account on nsupdate.info and create two dyndns subdomains and set the IPv4 of the droplet to it. Delete any IPv6 for the two subdomains
- Disable IPv6 on the droplet. Add to sysctl.conf
[code]
Run `sysctl -p` to apply.
(I tried it also with IPv6, but I wanted to make the test scenario simpler)

**Installation*

[2021-04-23 08:41] nrukavkov commented on #383
I'm not sure that I was understood right. I do not want to grant access to external users. The thing is google chrome doesn't allow add a new account for logging. It just drops this error when only one account is present in google chrome.

But it doesn't look like that is your issue. Thank you

[2021-04-23 08:41] #383 closed

[2021-04-23 15:26] bnfinet commented on #382
Nothing I'm seeing there or in your other offerings indicates a bug in VP.
If there were a problem with using OIDC with Okta there would be quite a
few users having issues.  Occam's Razor suggests a configuration issue on
your end related to the cookie.  It's usually alignment issues between the
domains and that's what the logs are implying.

On Fri, Apr 23, 2021, 12:50 AM eayin2 ***@***.***> wrot

[2021-04-26 17:10] bnfinet commented on #382
@eayin2 if you are no longer pursuing this issue could you please close

[2021-04-26 18:24] #382 closed

[2021-05-02 13:16] bonnydeal commented on #377
Hi i got put on something else.
In the meantime I found an AWS specific solution.
This is to create a pre token generation trigger in the cognito user pool.
This trigger then calls a lamda which adds the group(s) to the userinfo

[2021-05-04 07:41] acm-073 commented on #314
Hello,

I just encountered the issue too, and it's high priority for me because all users in my AD are guest users.

I just built the above PR (https://github.com/simongottschlag/vouch-proxy/commit/6d8b79ac52ccc6f1eaee4151d3e227dcb984be43) and deployed it to our service kubernetes cluster, in conjunction with nginx-ingress it is working like a charm :-)

See config and log files here: https://gist

[2021-05-07 09:24] vstath opened #384 "Multi-provider setup questions"
Hello,

I am playing with VP for a couple days now (setup is openresty, checking /validate on my own) and I would like to verify some assumptions. I understand there's no IRC channel or similar to ask so I hope this is ok.

My setup is working fine with 1 provider (or multiple if I manually mod the nginx setup - so THANK YOU) and now I'm playing around to setup multiple providers. I'm working base

[2021-05-14 22:07] jwomackgsa opened #385 "General OIDC Debug Question"
I am setting up VP and trying to make it work with an Idp called SecureAuth via OIDC.  I have enabled debug and testing, and I am fairly certain the issue resides with on the IDP side because of the error I am getting which is around it being unauthorized to access the user info endpoint, but my question is should I expect to be seeing the token exchange part as part of the testing mode?  Like a u

[2021-05-17 11:41] nrukavkov commented on #76
@simongottschlag am I right? You added only this key?

[2021-05-18 01:18] mig5 opened #386 "Vouch requires the Host header to be that of the sending site which can be problematic for remote site proxying"
**Describe the problem**

The Vouch documentation says that when proxying a `/validate` endpoint in a Client Site (let's call it www.example.com) to the Vouch Site (let's call it https://vouch.example.com), the Host header should be sent to Vouch with a value of the Client Site:

[code]

The above is fine when the Client Site is on the same server as the Vouch instance.

But when the Client Site i

[2021-05-18 21:41] bnfinet commented on #384
Hello there @vstath

There is an IRC channel.  As per the README we hang out in `#vouch` on freenode.  Feel free to ask questions there, or here.

VP is pretty small memory wise and generally efficient.  Running multiple concurrent VP instances is the way to handle multi.  VP does not support multiple providers.

yes, even if they use different providers

The recommended setup is documented in the

[2021-05-18 21:43] bnfinet commented on #385
@jwomackgsa please provide your config and logs as per the README.  It's difficult to understand what you're seeing.  It's much easier if you offer the logs to understand what VP is doing.

[2021-05-18 22:01] bnfinet commented on #386
@mig5 thanks for the info

Nginx offers this documentation regarding securing upstream proxied https connections
https://docs.nginx.com/nginx/admin-guide/security-controls/securing-http-traffic-upstream/

HTTPS/HTTP routing is tricky but we haven't had any problems with having the `$host` header passed.  If you're administering Nginx with an eye towards what inbound requests are offering and downs

[2021-05-18 22:01] #386 closed

[2021-05-18 22:26] mig5 commented on #386
Hmm, thanks @bnfinet  - I don't think I explained it sufficiently, but not to worry.

This is a surprise - are you saying that we could sort of pick a 'reserved' host name to send, not being that of the actual client site? I am assuming, so long as it falls on the same domain as that configured in the `domains:` list in the Vouch config?

In other words, Client Site foo.example.com proxies /valida

[2021-05-18 22:35] mig5 commented on #386
Ahh cancel that, it turns out that doing SNI in the Nginx proxy request is all that's needed. You don't actually need to have your Vouch SSL vhost recognise the incoming 'Host' header at all.

The magic was this bit:

[code]

I had set the host in the server_name of the vhost prior to trying SNI, but it works without it. Thanks again.

[2021-05-19 00:07] mig5 commented on #386
Just tested the above.

For a client site foo.example.com, and a Vouch site vouch.example.com, where foo.example.com proxies /validate to vouch.example.com over *https* (note: not http:// to a local IP/port of the Docker container, but over the internet)... I have found that I can set the Host value to vouch.example.com instead of foo.example.com.

Because I have 'example.com' in my `domains:` all

[2021-05-19 00:13] bnfinet commented on #386
yep, that all seems correct

[2021-05-19 01:09] #314 closed

[2021-05-19 01:40] bnfinet commented on #327
merged in `v0.26.0`

thanks @yannh

[2021-05-19 01:40] #327 closed

[2021-05-19 15:48] jwomackgsa commented on #385
Here is a bug_report output.

https://gist.github.com/jwomackgsa/38e7166672fa067ff300b0db5cd56f30

[2021-05-20 20:07] #338 closed

[2021-05-21 18:15] bnfinet commented on #373
@pommedeterresautee would you be in a position to pull the branch `fix/373_vouch_in_a_path` and test in your setup.

It looks to me like this simple fix is working.

[2021-05-24 18:58] jwomackgsa commented on #385
I built the latest version from code and this time used an updated git version so the build tags populated properly.  I worked through an error with the SecureAuth vendor related to the Access Denied error but now getting a Bad Response.  The idp vendor is asking if I can confirm what token URL I am hitting but the debug log doesn't seem to provide this information which is what my original questi

[2021-05-25 09:47] bnfinet commented on #385
Often that's firewall related.  VP is trying to contact the IdP to exchange
the token for the userinfo.  Can the system make outbound requests?

On Mon, May 24, 2021, 11:58 AM Jason Womack ***@***.***>
wrote:

[2021-05-25 13:46] jwomackgsa commented on #385
Yeah I can confirm that I have connectivity on 80/443 to the idp web endpoint.  Since I can't see the server side token access portion in the logs, we are turning the idp logs up so we can ensure I am hitting the correct endpoint.

[2021-05-25 17:15] bnfinet commented on #385
This is your token URL.  Did you vendor confirm that it's correct?
https://gist.github.com/jwomackgsa/38e7166672fa067ff300b0db5cd56f30#file-gistfile1-txt-L40

The only place where that would be shown in the log is at the very beginning when the entire config is dumped to the log.

[2021-05-25 17:22] jwomackgsa commented on #385
Yes I have confirmed the token url is correct with the vendor and the idp web logs show the go-http-client is reaching the endpoint correctly so that is good.   The vendor is now looking at the idp logs and has found some configuration issues related to the signing certificate on their side.  We are making changes on that end to see if that resolves the issues or presents the next challenge.  At t

[2021-05-26 06:05] pommedeterresautee commented on #373
Tks for the fix.
I have executed the following commands:
[code]
Then I deployed that image on our stack, but I am still redirected to `https://xxx.xxx.eu/auth/abcdef/?code=abcdef&state=abcdef`

[2021-05-26 12:48] rammote opened #388 "vouch proxy on localhost"
As I am new with golang i really want to know that setting vouch proxy with localhost is possible or not?

if possible will you please guide me how should I configure it, as I am getting a "no jwt found in request " error.

thank you

[2021-05-31 08:51] Choo57 opened #389 "Force a specific account to re-login by revoking their vouch cookie"
As far as I understand, best practice at the moment is to change the vouch.jwt.secret to invalidate all tokens for the "firing an employee" case, but wanted to ask if there are any enhancements regarding this.

This would fordce everyone else to login again which is not the ideal scenario most of the time.

Do you think a "blacklist" which is checked at /validate can be used here where the usernam

[2021-06-01 16:25] bnfinet commented on #388
`localhost` can work.  Personally I prefer to setup a host in `/etc/hosts` which points to,,

`127.0.0.1  vouch.ourdomain.com`

or such.  This usually models your deployed environment a bit more closely and allows establishing certs and whatnot.

@rammote for further support, please consult the README for how to submit an issue

[2021-06-01 16:40] bnfinet commented on #389
@Choo57 how many users are you managing?  How frequently are you revoking access?  Is this a problem you have or is this theoretical?

I'm a bit reluctant to give VP more authority, at least in such an incremental fashion.  If there were a full blown project to support RBAC or ACL in VP that might make some sense (after appropriate discussion). At this point the access control is intentionally lig

[2021-06-01 17:28] bnfinet commented on #384
@vstath I'm going to close this, but feel free to chime in if you need more help

[2021-06-01 17:28] #384 closed

[2021-06-01 17:29] bnfinet commented on #372
@nswarnkar I'm going to close this but please chime back in if you need more help

[2021-06-01 17:29] #372 closed

[2021-06-01 17:31] bnfinet commented on #371
@YetAnotherBugHunter how's the orchard?  I hope your fruit has setup nicely and is growing.

Any further progress on the VP script?  Let me know how I can help.

[2021-06-01 17:32] #340 closed

[2021-06-02 14:31] Choo57 commented on #389
@bnfinet many thanks for the fast response really appreciate it. This is a real issue for us at the moment, not a theoretical one, but I would say it does not happen very frequently (e.g. only once every 2-3 months). But when it happens, we usually need to be able to stop the user from accessing the services immediately.

In our case each nginx services multiple independent companies who have a nu

[2021-06-04 01:09] mig5 opened #390 "Can HTTP basic auth (with distinct credentials per 'user') work alongside Vouch?"
Hi,

An organisation I'm implementing Vouch for, would like to *retain* HTTP basic auth over an application (with distinct credentials for separate users), *in addition* to using Vouch (rather than replacing the basic auth with Vouch on its own).

As far as I can tell, this is not possible, because of the design with Vouch: setting `error_page 401` to redirect to Vouch to perform oAuth, means that

[2021-06-04 01:32] bnfinet commented on #390
I haven't done it personally but I don't see a reason why you shouldn't be able to use `auth_basic` and `auth_request` together with `satisfy all;`

Some of these more advanced examples of using Basic Auth with nginx may be of use to you.  Particularly the `satisfy all;` or `satisfy any;` directives.

https://docs.nginx.com/nginx/admin-guide/security-controls/configuring-http-basic-authentication/

[2021-06-04 02:37] mig5 commented on #390
Thanks! But is it not true that by having `error_page 401`, the 401 HTTP response for basic auth (to prompt the user to enter basic auth credentials) will get 'intercepted' by the 302 redirect to Vouch, in the standard Vouch configuration? I can't see how using `satisfy` will work around that - except for the scenario whereby the user has somehow already sent HTTP authentication header in their re

[2021-06-04 05:24] bnfinet commented on #390
Really I'm not sure.  I haven't had a need for that setup so I haven't explored that.

If you put your Basic Auth first does that work?  Is there a reason that Vouch Proxy needs to be first?

[2021-06-04 05:52] mig5 commented on #390
Thanks @bnfinet for your quick responses.

I have `auth_request /validate;` in the 'main' part of my `server` Nginx block (along with the `error_page 401` etc all as per standard Vouch config).

I have auth_basic set in a `location /` block:

[code]

It doesn't seem to make a difference if I move `auth_basic` out of the `location` block and to be 'first' above the `auth_request` line.

Likewise, i

[2021-06-04 05:58] bnfinet commented on #390
I'm not sure I'm following your configuration.  Could you please provide your configs in the manner described in the README?

Have you consulted the nginx documentation for `satisfy all;`?  I feel like you should just try a bunch of stuff and see what works.  I'm not sure I'm the best resource for you to mine for success.

[2021-06-04 06:09] mig5 commented on #390
@bnfinet thanks again - I have put my vhost here https://gist.github.com/mig5/238660e43f3af568adabe8ce329011bb . You'll see it's really very simple and standard. The only unique thing is the `auth_basic` stuff in the location block.

As mentioned above (I had edited my post), `satisfy all` doesn't help. I really suspect that `error_page 401` intercepts the HTTP auth popup box and redirects to Vouc

[2021-06-04 06:54] bnfinet commented on #390
how about stacked instead of flat?

If you put a basic_auth proxy in front of VP would that get you there?

[2021-06-04 17:59] nickshanks347 opened #391 "Can I just allow one user with an environment variable?"
Hi,

I wish to only allow one user to access the services I host behind vouch-proxy.

Is there a way of setting this user with an environment variable?

[2021-06-04 18:04] nickshanks347 commented on #391
Didn't seen the configs! Thanks!

[2021-06-04 18:16] nickshanks347 commented on #391
Actually, I've set VOUCH_WHITELIST to my github username and email address (separate variables) and set VOUCH_ALLOWALLUSERS to false yet I get forbidden on my account which should be authorized

[2021-06-04 18:20] nickshanks347 commented on #391
Found `x-vouch-error: /auth User is not authorized: verifyUser: user.Username not found in WhiteList: nickshanks347 . Please try again or seek support from your administrator` in my response headers. VOUCH_WHITELIST is set to nickshanks347.

[2021-06-04 20:48] bnfinet commented on #391
Please post configs and logs in the manner described in the README

[2021-06-05 17:31] mario-tux commented on #189
@tangel0v Could you explain in details if there is a way to make ADFS works with VP without PR but with a configuration of ADFS where the RPI is not the RedirectURL? We can't change the ADFS configuration (different management). It looks that patching the code of VP to not set the `resource` field (remarking the setting in `setDefaultsADFS` function), as in a oidc-like configuration, it just works

[2021-06-06 09:12] taagholi opened #392 "get error when callback from idp"
Hello
With below configuration, when I enter the address of https://www.fcb.ir
in the browser, I go to the IDP login page. After entering the information and confirmation, when my browser wants to go to the callback URL that I set in vouch,
the browser sends a message as follows and does not go to my indexPage.
"**This site can not be reached**"

My Configuration and logs are as follows

1- [my et

[2021-06-06 11:00] bnfinet commented on #392
Your IdP can't be reached directly by VP.  Check the user_info url and make sure an outbound request to your IdP can traverse the firewall.

https://gist.github.com/taagholi/b67e0e6e2d982feaf0b6725069591d3e#file-log-and-config-yml-of-vouch-L46

[2021-06-06 11:07] bnfinet commented on #391
Read the README please.

[2021-06-06 17:07] taagholi commented on #392
Can you tell me exactly what to do?
If I send a request to user_info_url with the postman and receive the answer, will I understand?

[2021-06-06 17:13] bnfinet commented on #392
Confirm that there url is correct.  Confirm that VP can make requests of your IdP.

What IdP is it?

[2021-06-06 17:32] taagholi commented on #392
OK
I will review the network access and the correctness of the URL of addresses,
But then how do I know that VP can make requests of your IdP?

[2021-06-07 16:35] mario-tux commented on #189
We submitted a PR (https://github.com/vouch/vouch-proxy/pull/393) to cover the OP support request: it should guarantee backward compatibility. It works in our application scenario with a UUID as `relying_party_id`. Please, consider its mainstream inclusion.

@Herbrant

[2021-06-08 04:51] taagholi commented on #392
The user_info_url was incorrect, but after correcting the user_info_url, I got this error again.
To make sure, I used the postman, first I got the authorization code from the browser and then I was able to get the id_token with the postman and by entering the amount of authorization code.
Please help, where is the problem?

[2021-06-08 05:08] taagholi commented on #392
Given that the oidc certificate is self-signed, I think the problem is here. How can I solve the problem?

[2021-06-08 07:22] taagholi commented on #392
i added my *.crt to ca-certificates.crt
But there is still a problem

[2021-06-19 20:21] mpn-peter-smith opened #394 "Redirecting back to IDP"
NGINX Protected Application - https://gist.github.com/mpn-peter-smith/cbe62a67f68b61786901fe706397ad9e
NGINX Vouch Reverse Proxy - https://gist.github.com/mpn-peter-smith/2905805187ccc07f8784bb6e3e113e74
Vouch Config - https://gist.github.com/mpn-peter-smith/c2f29bcf89da8d079d5455a94ce035aa
Log - https://gist.githubusercontent.com/mpn-peter-smith/56e040972831967b8ef2b7a518c701a4/raw/31f1e09582ff7d

[2021-06-20 03:57] tom342178 opened #395 "Is the form vouch.mysubdomain.corpdomain.com supported"
Question: is the format vouch.mysubdomain.corpdomain.com supported?

[2021-06-21 23:24] bnfinet commented on #395
Yes that's right.

[2021-06-21 23:24] #395 closed

[2021-06-21 23:26] bnfinet commented on #391
@nickshanks347 are you still working this issue?  If not, please close the issue.

[2021-06-21 23:29] bnfinet commented on #390
@mig5 any progress?  What if you put a basic auth reverse proxy in front of your vouch protected app (also rev proxy)?

[2021-06-21 23:29] #388 closed

[2021-06-21 23:34] mig5 commented on #390
@bnfinet sorry for the lack of reply, managed to type a response and failed to submit it..

That would indeed work for having HTTP auth *somewhere* in the layout. We considered that after your suggestion, but in the end, we decided that what we were trying to mitigate was any risk that the actual `auth_request` call that redirects to Vouch in the first place, might fail for some unknown reason.

I

[2021-06-21 23:34] #390 closed

[2021-06-21 23:46] bnfinet commented on #385
@jwomackgsa were you able to make any progress?

[2021-06-22 14:40] jwomackgsa commented on #385
Yes, sorry for the delay of the update.  I was successfully able to use the OIDC configuration with VP to get it working with SecureAuth idp.  The problem ended up being a cert configuration issue related to the private key not being exportable (it runs on Windows using pfx).  I am not using any complex use cases but I am getting all my scope data as expected.  Let me know if there is any further

[2021-06-23 01:22] #391 closed

[2021-06-24 13:54] manthena81 opened #396 "Passing the email address from IdP to application (answer: use scopes & claims)"
I am using Vouch to use Github enterprise Oath app for authentication into my app via nginx (standard flow). I can see the vouch cookie passed on to my application http header. But I cant find the email id/user name in the header. I am trying to configure that in vouch config and nginx config. somehow its not working. Can you provide any reference on how to pass emailid/user name via http header?

[2021-06-24 17:04] mindfuucker commented on #346
Hi, I seem to have the same problem and thought the problem originated from Gitea itself.
I therefore [opened an issue on their repository](https://github.com/go-gitea/gitea/issues/16241).  After reading this thread I think I might be wrong with my assumption.

I will try the OIDC route and keep you updated.

[2021-06-24 18:23] mindfuucker commented on #346
I got Vouch Proxy + Gitea working again by changing my Vouch Proxy config to:
[code]

[2021-06-24 19:39] bnfinet commented on #346
@mindfuucker thanks for the info, glad to have another confirmation that it's working with `provider: oidc`

The only reason this is still open and flagged as a `bug` is due to the usage of groups with `vouch.teamWhitelist` when configured with `provider: github`

If anyone wants that feature to work (or to just get the `provider: github` to work with Gitea) I hope they'll take the time to provide

[2021-06-24 19:42] bnfinet commented on #396
@manthena81 please post your configs to a gist as per the README.

[2021-06-24 19:49] bnfinet commented on #394
@mpn-peter-smith what IdP are you using?  Could you please supply full logs in the manner described in the README?  Two full round trips, with `testing`.

that seems odd, is the docker container being run on top of a read only fs?

[2021-06-24 19:51] bnfinet commented on #392
@taagholi are you still working this issue?  Could you please close if you are not.

[2021-06-25 08:17] manthena81 commented on #396
THank you for the response. Here are the links to gist.. Hope this is how you would need it.
nginx-conf: https://gist.github.com/manthena81/c5b9b0c930c9b64255b4de45cc617476
Vouch-conf  https://gist.github.com/manthena81/2426cf5e9aa100c70d4b95d96b128fd9

[2021-06-25 14:08] bnfinet commented on #396
The VP config looks odd (that first item should get flagged as invalid) but generally both configs look fine.

Could you please upload your logs as described in the README.

[2021-06-25 18:06] bnfinet commented on #371
@YetAnotherBugHunter are you still working this issue?  If not would you please close?

[2021-06-25 18:45] mindfuucker opened #397 "returning the username from Gitea in an HTTP header"
**Describe the problem**
I have a working Vouch Proxy + Gitea in oicd mode. I login using a username/password. Somehow this translates into an email-address being put in the nginx header. I cannot seem to figure out how to pick a specific ?claim/scope? and put it into the header.

The music player called [Navidrome ](https://github.com/navidrome/navidrome) just implemented header-based login. So I

[2021-06-25 19:33] bnfinet commented on #397
@mindfuucker please supply the logs as per the README.  We need to look a what the `user_info_url` is returning to VP

[2021-06-25 19:38] bnfinet commented on #397
If you'd like to offer improvement to the "Scopes and Claims" section of the README that would be much appreciated.
https://github.com/vouch/vouch-proxy#scopes-and-claims

[2021-06-25 19:49] mindfuucker commented on #397
The do.sh script was too difficult for my monkey brain to comprehend. I'm running from docker-compose and need to do some docker exec that I don't understand.

I have copied the docker terminal output here: [LINK](https://paste.gg/p/anonymous/d9d04a6df3e44cd982996d8c29b46031)

[2021-06-25 19:51] mindfuucker commented on #397
Ah, I read over that part of the documentation. I was searching with the oicd/openID keywords. Sorry for wasting your time.

[2021-06-25 20:40] bnfinet commented on #397
@mindfuucker please take another look at the README and then update your logs as described.

[2021-07-07 21:53] MCOfficer commented on #373
In the meantime, here's a dirty little workaround, assuming you don't need that `/auth` path for something else.

[code]

[2021-07-07 21:57] MCOfficer commented on #259
For the benefit of any future developer: in my case, it was privacy badger that had blocked okta's cookies. This can probably happen with other privacy addons, and other vouch backends. To be sure, try in a clean browser or in incognito mode.

[2021-07-07 23:23] #392 closed

[2021-07-07 23:23] #385 closed

[2021-07-13 16:39] quaintgondor opened #399 "After redirect to Cognito and login with localhost, Vouch returns `400 Bad Request` on callback to /auth with session ID"
**Use a Paste Service**
[Logs here](https://gist.github.com/quaintgondor/a822e12601bad6b86f52ca87ae53274d)

**Describe the problem**
After redirect to Cognito and login, Vouch returns `400 Bad Request` on callback to /auth with session ID .

**Expected behavior**
I expect to be redirected to my protected application (reverse proxied at '/' in Nginx to simple app running on port 3000 on host) after

[2021-07-13 18:16] bnfinet commented on #399
@quaintgondor the cookie is getting set into `localhost` but all of your requests are for `192.168.1.72`.  The cookie will not be presented back to your browser due to the domain mismatch.  You could add an entry to your hosts file such as..

`192.168.1.72  myapp.ourdomain.com`

and then set the cookie domain as `ourdomain.com`.

[2021-07-13 21:27] mpn-peter-smith commented on #394
@bnfinet
The filesystem is not read only and is running in /etc/vouch/ under a docker container.
I have given docker full access to the folder but am still seeing the error.
I have done multiple testing rounds but with no success.
Cheers

[2021-07-13 21:31] bnfinet commented on #394
@mpn-peter-smith what IdP are you using? Could you please supply full logs in the manner described in the README? Two full round trips, with testing.

[2021-07-13 21:33] mpn-peter-smith commented on #394
My IDP is Keycloak and i am generating the logs now

[2021-07-17 00:24] shadow38 commented on #394
Hello,

I've got the same issue here with keycloak v8.0.2.
My configuration is very closed to the configuration of @mpn-peter-smith ; in the logs we can see that the referer is set to the IdP at the end. I've got the same error message too : "no jwt found in request"

Logs : https://gist.github.com/shadow38/6c4ffccab942b1260fb8dfc048799f83

FYI I could'nt get vouch-proxy working properly with an o

[2021-07-17 03:07] bnfinet commented on #394
@shadow38 please read the README and post your conf and logs accordingly.

[2021-07-22 11:12] manthena81 commented on #396
@bnfinet
I couldn't quite understood on how to collect logs from README guidance. I run Vouch in a seperate cointainer and I cant access shell to execute anything.
May be If I ask the question differently and it may lead to quicker solution to what I am trying to solve.
I could see vouchcookie that is passed to application with header and application can read it. But How do I decode the cookie?  I

[2021-07-22 12:57] bnfinet commented on #396
@manthena8 if you're interested in decoding the jwt directly you'll need to use the secret and make sure that you turn compression off.  However you should be able to get the username from the header passed by vouch.  I'm not in a position to support decoding JWTs outside of VP but that's well documented on the internet in various libraries.

Are you working from the VP helm chart?  If you're conf

[2021-07-22 13:01] bnfinet commented on #399
@quaintgondor did that work?  Are you still working this issue?

[2021-07-22 13:02] #397 closed

[2021-07-22 13:06] #371 closed

[2021-07-22 14:09] manthena81 commented on #396
I am not using helm but using K8S deployment yamls. And I am using k8s ingress controller. I have uploaded logs to gist.
https://gist.github.com/manthena81/e890fbf5253533f51115b92a6bed045c.
How do i access jwt secret in order to decode it because all I get in the header is a vouch cookie. Also Does vouch cookie already include jwt?

[2021-07-22 14:20] bnfinet commented on #396
The VP log is reporting configuration errors.  Your configuration is not getting loaded properly.

You can set the secret in the config.

[2021-07-26 12:38] ShyLionTjmn opened #400 "Empty string instead of (probably X-Vouch-User) header name."
Trying to set is working with Keycloak
Authorization itself WORKS, but i want to pass some user info into my application, and here comes problems.

VP Config:
https://gist.github.com/ShyLionTjmn/a25617e340c61241d38315e7f08329e8

Nginx Config:
https://gist.github.com/ShyLionTjmn/3bac9a18145f362b3e6ff62bdf35b1ba

tcpflow on port 9090
https://gist.github.com/ShyLionTjmn/1c061ace12bf2719fb292437fe5174

[2021-07-27 11:16] shadow38 commented on #394
@bnfinet
Actually it was as a misconfiguration of my VP. VP works perfectly with Keycloak (v3.4.0, v8.0.2, v14.0). My mistake was on the cookie domain configuration :( (I read again the README as you proposed and found out what was wrong).

Thanks a lot for your work on this project!

[2021-07-27 20:29] shadow38 commented on #400
Hello,

In my (working) configuration with Keycloak, I've got this section in my VP configuration :

[code]

And in my nginx configuration

[code]

Hope it helps!

[2021-07-28 06:10] ShyLionTjmn commented on #400
Thanks. That helped.
Still, i couldn't find anywhere that i should set those headers manually. I supposed there had to be some default values, not empty string?

[2021-07-28 06:15] ShyLionTjmn opened #401 "UTF-8 Headers values"
Claim values comes UTF-8 encoded, and directly passed to corresponding headers. Isn't that a violation of standarts? I thought HTTP headers should be ASCII only.

I think that coode should check if text is non ASCII and properly encode header if it is not.

[2021-07-28 06:21] ShyLionTjmn opened #402 "expired access token"
Code does not check expiration time in jwt and does not refresh access token.

There is procedure for refreshing tokens:
https://www.oauth.com/oauth2-servers/making-authenticated-requests/refreshing-an-access-token/

[2021-07-28 06:40] ShyLionTjmn opened #403 "userinfo in header?"
Can we get userinfo json in single header, whole JSON, returned from userinfo request, base64 encoded?

[2021-07-28 21:42] shadow38 commented on #400
Sure there's something odd; .defaults.yml (in rootdir) doesn't seem to be loaded properly in my case. It seems that you've got the same problem and need to define all variables in your config.yml to ensure that VP works properly.

I didn't try to understand what went wrong with the .default.yml.

[2021-07-29 07:04] ShyLionTjmn opened #404 "IP domain, vouch-proxy behind /vouch/*"
I have internal server without name and setting up dns names is too much fuzz for it.
I'm trying to put all vouch-proxy stuff behind /vouch URI:

[code]

[code]

When vouch-proxy gets it /auth?state=.... request, it redirects to /auth/almost_same_stuff, so location /vouch/ not working anymore.
Why?

[code]

[2021-07-29 07:09] ShyLionTjmn commented on #404
Adding location /auth/ helps, but that's a workaround.

[code]

[2021-07-29 17:05] bnfinet commented on #404
dup #373

[2021-07-29 17:05] #404 closed

[2021-07-29 17:16] bnfinet commented on #403
@ShyLionTjmn This info is available in the IDtoken, which can be configured with `vouch.headers.idtoken`.  You'll need to parse and decode the returned values, but the info is there

[2021-07-29 17:16] #403 closed

[2021-07-29 17:21] bnfinet commented on #400
@ShyLionTjmn is `.defaults.yml` present at `/opt/vouch-proxy/vouch-proxy/.defaults.yml`?

Is the `$VOUCH_ROOT` env var set?

[2021-07-29 17:25] bnfinet commented on #401
@ShyLionTjmn could you please point to the standard?

I think technically you are correct.  Are you experiencing a bug?  Is this having impact on your setup?  Could you please offer some details about what you're trying to accomplish and what you're seeing.

[2021-07-29 17:27] bnfinet commented on #402
dup #319

[2021-07-29 17:27] #402 closed

[2021-07-30 00:34] bnfinet commented on #394
@mpn-peter-smith any updates?  If you're no longer working this issue could you please close it.

[2021-07-30 04:30] ShyLionTjmn commented on #400
Ouch. Should it?

[2021-07-30 04:42] ShyLionTjmn commented on #401
Didn't experience any impact in that regard, just noticed.

[2021-07-30 04:54] beingamarnath commented on #373
@bnfinet I'm just new to this project and looking into how to configure it in my k8s cluster. I have all my apps under path context and not as sub domains.  Do you think its possible or this will only work if the apps are under subdomain?
P.S: I can enable subdomain for vouch but not for the apps.

[2021-07-30 05:00] ShyLionTjmn opened #405 "Are groups claim special treated? (ShyLionTjmn questions)"
I try to get groups claim into separate header and nginx complains about too big header.
tcpview shows that there is strange line break or not a header at all in the vouch-proxy output:

https://gist.github.com/ShyLionTjmn/679e8d59c2dcd4758ceb4ebea59aa4b1

Notice Set-Cookie: VouchSession= has a line break!

[2021-07-30 05:04] ShyLionTjmn commented on #405
If i remove grups from headers->claims  - everything returns to normal

[2021-07-30 06:34] MCOfficer commented on #373
I have made it work with all apps being under path behind an nginx reverse proxy. As long as your can configure your kubernetes similar to the workaround above, it should be possible.

[2021-07-30 06:53] beingamarnath commented on #373
Thanks @MCOfficer I would give it a try.

[2021-07-30 10:23] bnfinet commented on #405
@ShyLionTjmn could you please provide your config and logs in the manner described in the README?

@ShyLionTjmn you've opened several issues in the VP repo recently.  Can we contain your issues to this thread for the time being?  Lets get you up and running. using this thread for the time being.

If we do happen to encounter an enhancement or bug along the way we can decide together if it warrants

[2021-07-30 10:25] #401 closed

[2021-07-30 10:25] #400 closed

[2021-07-30 10:28] #399 closed

[2021-07-30 12:39] ShyLionTjmn commented on #405
Ok.

VP config:
https://gist.github.com/ShyLionTjmn/4ee6cef85587a2cff50bdc1016b2a060

nginx:
https://gist.github.com/ShyLionTjmn/be858923d498578ffadeb0b68cc9e711

vouch-proxy debug log:

https://gist.github.com/ShyLionTjmn/a256a651e84fa6c5e3f437eb4e501d81

tcpflow vouch-proxy:

https://gist.github.com/ShyLionTjmn/d8b689677882170689c5481d019aa3fb

notice line starting with YUlRNbEU1YTFCWGQyb - that

[2021-07-30 12:40] ShyLionTjmn commented on #405
Also, have you considered about using redis for session storage and shorter cookies?

[2021-07-30 12:41] ShyLionTjmn commented on #405
If i remove groups claim from headers  in vp config - it works fine

[2021-07-30 19:12] bnfinet commented on #373
@beingamarnath @pommedeterresautee @MCOfficer

I've just published a fix to the `fix/373_vouch_in_a_path` branch.  If any one of you is in a position to test it would much appreciate.

By configuring Nginx to send the `X-Original-Uri` header to VP we can use that as a hint to use the correct path for the session cookie...

[code]

[2021-07-31 07:11] Herbrant opened #406 "migrate docker builds from Docker Hub to quay.io"
Hi! Can you update the Dockerhub's image for amd64? It seems that only the arm version is updated to the latest commit.
Thanks in advance!
![image_2021-07-31_09-02-51](https://user-images.githubusercontent.com/5670917/127731899-d2ec489b-0aba-4679-a4d8-da97320cfad0.png)

@mario-tux